<template>
  <div>
<p>Belgium is a federal State with a bicameral Parliament consisting of a House of Representatives (Chambre des représentants – Kamer van volksvertegenwoordigers) and a Senate (Sénat – Senaat). As a result of the devolution process, Communities (Flemish, French and German-speaking) and Regions (Flanders, Wallonia and Brussels) were established together with the already existing federal, provincial and municipal institutions.</p>

<p>Belgium is one of the six founding members of the European Union.</p>

<p>The House of Representatives consists of 150 members who are directly elected on the basis of the proportional representation system for a five-year term. It convenes in the Palace of the Nation (Palais de la Nation – Paleis der Natie) in Brussels.</p>

<p>The Federal Government is politically accountable solely to the House.</p>

<p>The EU Desk is responsible for the secretariat of the Advisory Committee for European Affairs and for the drafting of the information files on the EU documents considered as relevant for Belgium.</p>

<p>The Advisory Committee for European Affairs was established in 1985. It consists of ten Members of the House and of ten Belgian Members of the European Parliament.</p>

<p>In October 1995, it was decided to set up the Federal Advisory Committee for European Affairs which consists of the Advisory Committee and a delegation of ten members from the Senate. The Federal Advisory Committee for European Affairs represents the Belgian Federal Parliament at COSAC meetings.</p>

<p>Based on the Work Programme of the European Commission, the Conference of Presidents of the House determines the EU documents for which an information file is to be drafted. In case of a legislative EU document, this information file contains a draft opinion on subsidiarity. Subsequently, the file is submitted to the appropriate standing committee(s) for consideration and decision. Normally, this decision is taken by at least one of these committees on behalf of the House, although, if one third of the members of at least one of the standing committees concerned deem it necessary, the issue will be referred to the Plenary.</p>

<p>Remark:
The legislative assemblies of the devolved authorities can formulate subsidiarity opinions on matters that fall under their remits. On 29 March 2017, an agreement holding the division of responsibilities was signed by the federal and devolved legislative assemblies.</p>


  </div>
</template>