<template>
    <div class="branding flex-shrink-0 d-none d-lg-flex">
        <nuxt-link to="/" :alt="alt">
        <img class="ipex-logo" :src="imgsrc" alt="IPEX logo">
        <h6 class="mx-0 p-0 mt-2 mb-2">{{baseline}}</h6>
        </nuxt-link>
    </div>
</template>
<script>
    export default {
        components: {
        },
        props: {
            alt: String,
            imgsrc: String,
            baseline: String
        }
    }
</script>
import PageContent from "~/components/PageContent";