<template>
  <div>
<h2>The House of Representatives and the European Union</h2>
<h3>1.	Examination of bills of law and regulations of a harmonising nature</h3>
<p>During the pre-accession period, the Parliamentary Committee on Foreign and European Affairs (hereinafter “the Committee”) was the competent Committee for the examination of bills of law and regulations aiming at the harmonization of national legislation to the European acquis. Within the framework of the fast track procedure, each harmonizing bill of law/regulation submitted to the House of Representatives for examination would be forwarded by the Plenary of the House to the Committee for examination under simplified procedures, designed to meet the stringent adoption deadlines. Once the examination was completed, the Committee would forward the said bill accompanied by a relevant report to the Plenary of the House for voting.</p>
<p>Following Cyprus’ accession to the EU in May 2004 and particularly in 2005, the fast track-procedure ceased to exist and hence all bills of law and regulations transposing EU law into Cyprus legislation are forwarded to the competent parliamentary committees under the normal procedure.
<h3>2.	Parliamentary control</h3>
<p>In the context of parliamentary scrutiny, the Parliamentary Committee on Foreign and European Affairs, generally examines the policy of the executive in relation to the obligations arising for harmonisation with the acquis communautaire, as well as EU policy in general. In particular, the Committee exercises parliamentary scrutiny through the monitoring of the progress of implementation of harmonization of national legislation with the European acquis and the obligations arising therefrom.</p>
<p>With respect to the new obligations for the adoption of the EU acquis that is regularly enacted at the EU level, a mechanism has been created to record Cyprus’ obligations in relation to the adoption of new EU directives, which, by and large, create an obligation for the executive to submit to the Parliament harmonising bills of law or regulations. In this respect, the Committee endeavours to timely remind the government of these obligations, independently of any other mechanisms adopted by the executive to monitor the said process.</p>
<h3>3.	Communication with the citizens on EU issues</h3>
<p>In the past, the Committee established a special sub-committee entrusted with the task of communicating with and informing the citizens of major EU issues, in view of Cyprus’ accession to the European Union and the Convention on the Future of Europe, in the form of seminars and thematic workshops.</p>
<p>Today, the House of Representatives, either autonomously or in cooperation with the European Parliament Office in Cyprus or other organizations, organises seminars or workshops to discuss important European issues that affect the citizens of Cyprus. In view of the European Commission’s fresh initiative to hold a debate on the Future of Europe, the House of Representatives is expected to intensify its efforts towards the substantive involvement of citizens in European affairs.</p>
<h3>4. Interparliamentary activity at the level of the European Union</h3>
<p>The President of the House of Representatives participates in the EU Speakers Conference. Cypriot parliamentarians represent the Parliament at conferences organised by the rotating Presidency of the Council of the EU and the European Parliament. Parliamentary delegations also take part in the following conferences: Conference of European Affairs Committees of EU Member States (COSAC), Interparliamentary Conference on the Common Foreign and Security Policy and Common Security and Defence Policy (CFSP/CSDP), Interparliamentary Conference on Stability, Economic Coordination and Governance in the EU (SECG) and the Europol Joint Parliamentary Control Group (JPSG on Europol).</p>
<h3>5. The new role of the House of Representatives</h3>
<p>Following the accession of Cyprus to the EU, the role of the House of Representatives has evolved for two basic reasons: (a) the need to monitor the decision-making process at the EU level and to scrutinise the executive within the framework of its participation in the European Council, the Council and the Committee of Permanent Representatives and (b) the enhanced role vested in national parliaments by the Lisbon Treaty, a role that is expected to be exercised, to the largest extent, by the European Affairs Committees of national parliaments. In this respect, taking into account that the Parliament cannot mandate the executive under the Cyprus Constitution, the role of the House of Representatives has actually been reinforced, since the EU Treaties have now vested it with the right to examine legislative proposals and other EU documents and forward its position directly to the EU institutions.</p>
<p>Documents directly forwarded by EU institutions to the House may be examined either by the Committee or any other sectoral committee. This decision depends on the nature of the matter at hand, as well as the workload of each committee at the given time. However, according to the practice followed to date, subsidiarity checks are only conducted by the Standing Parliamentary Committee on Foreign and European Affairs, even though sectoral Parliamentary Committees may also be informed on the proceedings. Therefore, reasoned opinions addressed to the EU institutions in the framework of the Early Warning Mechanism have, to date, only been issued by the said Committee. However, any other opinion in the context of the free political dialogue between the national Parliaments and the EU may be sent to the Union’s institutions either by the Committee on Foreign and European Affairs or any other sectoral committee.</p>

  </div>
</template>