<template>
<div>
    <h2>EU matters</h2>

<p>On the basis of Article 23 (1) to (3) of the Basic Law for the Federal Republic of Germany, and the scrutiny and participation rights enshrined in this article, the German Bundestag influences EU lawmaking via the Federal Government. Before participating in EU legislative acts, the Federal Government shall provide the Bundestag with an opportunity to state its position, and shall take this position into account during the negotiations in the Council of the European Union. In addition, the Treaty of Lisbon enables parliaments to contact the Commission direct and to work together with other national parliaments and the European Parliament.</p>

<p>The Bundestag’s scrutiny and participation rights are fleshed out by the Act on Cooperation between the Federal Government and the German Bundestag in Matters concerning the European Union (EUZBBG) and the Responsibility for Integration Act (IntVG).</p>

<p>The Act on Cooperation between the Federal Government and the German Bundestag in Matters concerning the European Union, which was amended in July 2013, requires the Federal Government to provide the Bundestag with comprehensive information at the earliest possible time. In particular, the government shall transmit to the Bundestag all Commission proposals for EU regulations and directives, reports, communications, green and white papers, and proposals for Council decisions, and inform the Bundestag about plans and discussions concerning these drafts at European level. Before the Federal Government takes action regarding EU projects under Section 5 of the EUZBBG, it shall give the Bundestag the opportunity to deliver an opinion (Section 8 (1), first sentence, of the EUZBBG). If the Bundestag delivers an opinion, the Federal Government shall use it as the basis for its negotiations at European level (Section 8 (2), first sentence, of the EUZBBG). In the case of opinions relating to a legislative act, the Federal Government shall invoke the requirement of prior parliamentary approval in the negotiations if the main interests expressed in the decision of the Bundestag cannot be asserted. Before the final decision, the Federal Government shall endeavor to reach agreement with the Bundestag. The Federal Government has the right, in awareness of the Bundestag’s opinion, to take divergent decisions for good reasons of foreign or integration policy (Section 8 (4) of the EUZBBG).</p>

<p>In the wake of the Federal Constitutional Court’s judgment of June 2009 on the ratification of the Treaty of Lisbon, the Bundestag received additional participatory and decision making rights in EU affairs as a result of the Responsibility for Integration Act adopted in September 2009. Under this Act, the Federal Government can, in the case of specific EU proposals which fall within the scope of the Bundestag’s special responsibility for integration, only take final action in the Council on the basis of a law passed beforehand, or of a decision taken or instructions issued by the Bundestag. The Responsibility for Integration Act also contains provisions relating to the subsidiarity objection and action (Sections 11 and 12). Under the principle of subsidiarity, the EU shall act only if and in so far as the objectives of the proposed action cannot be sufficiently achieved by the Member States but can rather, by reason of the scale or effects of the proposed action, be better achieved at Union level (Article 5 (3) of the Treaty of Lisbon).</p>

<p>The Basic Law, which enshrines fundamental rights and determines the structure of the state, stipulates in Article 45 that the Bundestag shall establish a Committee on the Affairs of the European Union in each electoral term. If empowered to do so by the Bundestag, the Committee exercises Parliament’s rights (Article 23) vis-à-vis the Federal Government as well as rights granted to the Bundestag in EU affairs. The Committee on the Affairs of the European Union deals with all aspects of the primary legislation of the European Union, as well as accession and general EU issues. It must be underlined that European affairs are dealt with by all the Bundestag’s committees in line with their tasks and the specialized area for which they are responsible.</p>

<h2>Putting scrutiny of draft EU legislation into practice</h2>

<p>The Administration of the Bundestag – and in particular its Directorate on European Affairs with offices in Berlin and Brussels – supports Members of Parliament, committees and the parliamentary groups in the parliamentary deliberations on EU proposals and in exercising their right to receive information and participatory rights in EU matters on the basis of the EUZBBG and the IntVG. Further regulations are contained in Rules 93, 93a and 93b of the German Bundestag Rules of Procedure. The Directorate on European Affairs is also involved in the implementation of these laws in its role as a liaison between the Bundestag and the Federal Government.</p>                                                  
<p>Information updated on 12.03.2019</p>
    </div>
</template>