<template>
    <div>
        <h2>EU MATTERS</h2>
<h3>The European Union in the Greek Constitution</h3>
<p>In 1975, the potential integration of our country in the European Union (European Community at the time) had been taken into account by the constitutional legislator, therefore introducing the necessary legal basis (article 28).</p>
<p>Moreover, in 2001, on the occasion of our Constitution’s revision, recognition of our National Parliament’s involvement in the scrutiny of European legislative acts (Article 70, paragraph 8) was introduced.</p>
<h4>According to article 28, paragraphs 2 and 3 of the Greek Constitution:</h4>
<p>“Powers provided by the Constitution may by treaty or agreement be vested to agencies of international organizations, when serving an important national interest and promoting cooperation with other States. A majority of three fifths of the total number of members of Parliament is required to vote the law ratifying the Treaty or agreement.</p>
<p>Greece shall freely proceed by law adopted by the absolute majority of the total number of Members of Parliament to limiting the exercise of national sovereignty, insofar as this is dictated by an important national interest, does not infringe upon the rights of man and the foundations of the democratic government and is effected on the basis of the principles of equality and under the condition of reciprocity”.</p>
<p>At the 2001 revision, an explanatory statement was added in the text, mentioning that “article 28 is the foundation of our country’s participation in European integration procedures”.</p>
<p>Article 70 par. 8 states that “the Standing Orders of the Parliament provide the way in which the Parliament is briefed by the Government and debates on issues regarding legislative regulation, in the context of the European Union”.</p>

<h3>Special Standing Committee for European Affairs</h3>
<h4>1) Establishment-Legal base</h4>
The Committee for European Affairs of the Hellenic Parliament was set up in June 13th,1990 on the basis of the popular call for monitoring the European decision-making process by national Parliaments, as well as the evident need for closer cooperation between the national assembly, the Government, and the Members of the European Parliament, on European issues.</p>
<h4>2) Composition</h4>
<p>According to article 32A of the Standing Orders, the Committee for European Affairs consists of 31 Members of the National Parliament, and its composition has to ensure the proportional representation of all political groups of the Parliament.</p>
<p>It is chaired by one of the Vice Presidents of the Chamber, who is appointed by the Speaker. Two Vice Presidents (one from the governing party and one from the major opposition party) and one Secretary (from the second opposition party) elected by its members, comprise the rest of the bureau.</p>
<p>The Greek European Parliament Members participate in its meetings by right of speech.</p>
<h4>3) Convocation of meetings-Agenda</h4>
<p>The Committee is called to a meeting by its Chairman, or by request of the 1/3 of its members, or by request of the Government. In addition, its Chairman holds the initiative of choosing the agenda items. The Speaker of the Parliament may as well submit to the Committee for examination any issue deemed appropriate or proposed by other Committees of the Parliament or individual members of the National or the European Parliament.</p>
<h4>4) Main tasks</h4>
<p>According to article 32A of the Standing Orders, the Committee deals especially with a) European Union institutional issues, b) issues concerning the relations between the Hellenic Parliament and other European Union national parliaments, the European Parliament and the COSAC, and c) European policies and EU legislative acts. The Committee may express an advisory opinion regarding these issues, by submitting a relevant report to the Parliament and the Government, in which any opinion by the minority is to be mentioned.</p>
<p>The Committee may also express an opinion under the procedure provided by article 41B of the Standing Orders, which regulates the parliamentary scrutiny of European legislation.</p>
<p>In order to fulfill its tasks, the Committee may invite any official representing the government or European Union institutions, in order to contribute to its works.</p>
<p>It should be underlined that unlike the standing committees, this one is not responsible for the elaboration of law proposals.</p>

<h3>SCRUTINY-HOW DOES IT WORK?</h3>
<p>The article 41B of the Standing Orders specifies the constitutional provision of article 70 par. 8. According to article 41B, the Government addresses to the Parliament’s Speaker any draft European legislation, as soon as it is communicated to the Council of Ministers, as well as consultation documents (the aforementioned documents are provided electronically by the European Commission).</p>
<p>The Speaker forwards each text to the competent Standing Committee and/or the European Affairs Committee. In case of joint competence, the Speaker of the Parliament has the right to summon a joint meeting of two standing committees or one standing committee and the Committee for European Affairs.</p>
<p>The Speaker of the Parliament, or the Committee Chairman, or the Committee itself (if requested so by the 1/3 of its members) can invite the competent Minister, or any other expert, to give oral evidence to the Committee regarding the text under scrutiny. The Minister must provide the Committee with any requested document, under a reservation concerning secret documents considered highly significant for reasons of national security.</p>
<p>Finally, the aforementioned committees can deliver their opinion and address it to the Parliament, to the competent Ministers and the EU Institutions. The Committees’ opinions may be submitted for debate and vote in the Plenary upon request by the Speaker or the competent Committees.</p>
<p>(Information updated on 13.3.2019)</p>

    </div>
</template>