<template>
  <div>
    <p>The Chamber of Deputies is the lower house of the Parliament of the Czech Republic. It has 200 deputies elected for 4 years according to a proportional system. The Chamber of Deputies was established on 1 January 1993 by transformation from the current Czech National Council. Every citizen of the Czech Republic over the age of 21 can be elected to the Chamber of Deputies.</p>
<p>The Chamber has a quorum with of one third (at least 67 deputies are present), resolutions are approved by a simple majority (an absolute majority of those present).</p>

<p>In some cases, specified in the Act on the Rules of Procedure of the Chamber of Deputies, the consent of a higher number of deputies is required for the adoption of a resolution. Absolute majority (101 deputies), for example, to outvote the presidential veto or express the distrust of the government. A qualified majority of 120 votes (three-fifths of all deputies) is required for the adoption of constitutional laws, the ratification of certain international treaties and the filing of a constitutional action against the President of the Republic.</p>

<h2>EUROPEAN AGENDA IN THE Chamber of Deputies </h2>
<p>The Committee on European Affairs plays a key role in the Chamber of Deputies in discussing EU documents. It was established by the Chamber of Deputies on 12 May 2004. It is one of the compulsory committees. The Committee discusses proposals and acts of the European Commission, monitors its transposition into the Czech legal order, controls the government before negotiations in the Council and discusses important personnel nominations for the Czech Republic to designated European institutions, deals with current European issues. The Committee also discusses the relevant chapter of the draft law on the state budget and the state final account.</p>

<p>The Committee on European Affairs has 18 members and its meetings are public.</p>

<p>The Committee on European Affairs is also working intensively on interparliamentary cooperation, which is gaining in importance in proportion to the strengthening of the role of national parliaments, relating with the context of "Protocol No 1 on the role of national parliaments in the EU" and with the "Protocol No 2 on the application of the principles of subsidiarity and proportionality” which are part of the Lisbon Treaty. Members of the committee regularly attends COSAC, which is also attended by representatives of the European Parliament and the candidate countries; and the Committee actively cooperates with the partner committees of the Visegrad Four countries.</p>
<p>No. 2 on the application of the principles of subsidiarity and proportionality ", which are part of the Lisbon Treaty.</p>

<h2>SCRUTINY – HOW DOES IT WORK?</h2>

<p>The Committee on European Affairs discusses proposals and documents on the basis of the government's framework position and either adopts a resolution or forwards the document to another competent committee for discussion, or forwards its resolution to another committee for information. The resolution of the Committee on European Affairs has the same value as a resolution of the plenary of the Chamber of Deputies (in the case that the discussion of the document is not forwarded to the plenary of the Chamber of Deputies).</p>

  </div>
</template>