<template>
  <div class="d-flex flex-column flex-grow-1">
    <div class="breadcrumb-container">
      <Breadcrumbs :breadcrumbs="breadcrumbs" :breadcurrent="pagetitle"/>
    </div>
    <ContentHeaderBack/>
    <div class="container-regular flex-grow-1 ipx-content">
        <section>
          <div class="detail-intro d-flex align-items-start flex-wrap">
            <div class="detail-info d-flex flex-column flex-grow-1">
                  <h2 class="detail-title">ICM AFCO on The debate on the Future of Europe</h2>
                  <div class="detail-info-item"><strong>Event type:</strong> Interparliamentary meetings organised by the European Parliament</div>
                  <div class="detail-info-item"><strong>Start date:</strong> 10/10/2020</div>
                  <div class="detail-info-item"><strong>End date:</strong> 12/10/2020</div>
                  <div class="detail-info-item"><strong>Registration deadline:</strong> 03/10/2020</div>
                  <div class="detail-info-item"><strong>Place:</strong> <a href="#">EP, Brussels</a></div>
            </div>
            <div class="detail-buttons w-100">
              <button class="btn btn-action btn-menu d-flex align-items-center">
                  Add to calendar
              </button>
            </div>
          </div>
        </section>
        <section>
          <div class="detail-content"> 
            <p>On 21 March 2019 the German chancellor, Angela Merkel, made a government statement tothe German Bundestag with regard to the upcoming European Council to be held on 21 and 22 March. She argued in favour of an orderly exit of the United Kingdom from the European Union and showed willingness to support an extension of the deadline for Brexit until 30 June 2019 under the condition of a positive vote of the House of Commons for the negotiated withdrawal agreement.</p>
            <p>The minutes of the parliamentary debate in German can be found here: <a href="http://dip21.bundestag.de/dip21/btp/19/19089.pdf" target="_blank">http://dip21.bundestag.de/dip21/btp/19/19089.pdf</a></p>
            <p>In the lively parliamentary debate two motions were tabled by the parliamentary group “Bündnis 90/DIE GRÜNEN” and rejected by the majority. Aim of the motions was to change from unanimity to qualified majority votes in the areas of tax policy (<a href="http://dip21.bundestag.de/dip21/btd/19/086/1908606.pdf" target="_blank">http://dip21.bundestag.de/dip21/btd/19/086/1908606.pdf)</a> and of Common Foreign and Security Policy (<a href="http://dip21.bundestag.de/dip21/btd/19/086/1908605.pdf" target="_blank">http://dip21.bundestag.de/dip21/btd/19/086/1908605.pdf</a>).</p>
          </div>
          <ListFiles/>
          <ListLinks/>
          <div class="previousnext-navigation d-flex justify-content-between align-items-center mt-5">
              <a href="/details/news" class="btn btn-default d-flex align-items-center pl-0" title="Previous">
                  <span class="material-icons md-48 mr-2">keyboard_arrow_left</span><span class="d-none d-sm-flex">Previous</span>
              </a>
              <a href="/details/news2" class="btn btn-default d-flex align-items-center pr-0" title="Next">
                  <span class="d-none d-sm-flex">Next</span><span class="material-icons md-48 ml-2">keyboard_arrow_right</span>
              </a>
          </div>
      </section>
    </div>
  </div>
</template>

<script>
import Breadcrumbs from "~/components/navigation/Breadcrumbs"
import ContentHeaderBack from "~/components/layout/ContentHeaderBack"
import CardBasic from "~/components/cards/CardBasic"
import CardImage from "~/components/cards/CardImage"
import CardNews from "~/components/cards/CardNews"
import LoadMore from "~/components/LoadMore"
import Pagination from "~/components/Pagination"
import InputLarge from "~/components/forms/InputLarge"
import FiltersNews from "~/components/forms/FiltersNews"
import ListFiles from "~/components/ListFiles"
import ListLinks from "~/components/ListLinks"

export default {
  layout: "default",
  components: {
    Breadcrumbs,
    ContentHeaderBack,
    CardBasic,
    CardImage,
    CardNews,
    LoadMore,
    Pagination,
    InputLarge,
    FiltersNews,
    ListFiles,
    ListLinks
  },
  data() {
    return {
      page: "landing",
      pagetitle: "ICM AFCO on The debate on the Future of Europe",
      breadcrumbs: [
        {
          text: "Home",
          link: "/"
        },
        {
          text: "Parliaments",
          link: "/"
        },
        {
          text: "News from parliaments",
          link: "/"
        }
      ]
    }
  }
}
</script>