<template>
  <div class="d-flex flex-column flex-grow-1">
    <div class="breadcrumb-container">
      <Breadcrumbs :breadcrumbs="breadcrumbs" :breadcurrent="pagetitle"/>
    </div>
    <ContentHeaderBack/>
    <div class="container-regular flex-grow-1 ipx-content">
        <section>
          <div class="detail-intro d-flex align-items-start flex-wrap">
            <a data-fancybox="gallery" href="/img/parliaments-materials/img-box-bundestag.jpg" class="featured-image">
                  <img src="/img/parliaments-materials/img-box-bundestag.jpg" alt="Angela Merkel"class="ipx-thumb">
                  <i class="material-icons md-36">
                  zoom_in
                  </i>
            </a>
            <div class="detail-info d-flex flex-column flex-grow-1">
                  <h2 class="detail-title">Government Statement of Chancellor Angela Merkel and lively debate with regard to upcoming European Council</h2>
                  <div class="detail-info-item"><strong>Published on:</strong> 22/03/2019</div>
                  <div class="detail-info-item"><strong>Source:</strong> <a href="#">Deutscher Bundestag</a></div>
                  <small class="ipx-thumb-caption">Image: Deutscher Bundestag logo</small>
            </div>
            <div class="detail-buttons w-100">
              <button class="btn btn-action btn-menu d-flex align-items-center">
                  Print
              </button>
            </div>
          </div>
        </section>
        <section>
          <div class="detail-content"> 
            <p>On 21 March 2019 the German chancellor, Angela Merkel, made a government statement tothe German Bundestag with regard to the upcoming European Council to be held on 21 and 22 March. She argued in favour of an orderly exit of the United Kingdom from the European Union and showed willingness to support an extension of the deadline for Brexit until 30 June 2019 under the condition of a positive vote of the House of Commons for the negotiated withdrawal agreement.</p>
            <p>The minutes of the parliamentary debate in German can be found here: <a href="http://dip21.bundestag.de/dip21/btp/19/19089.pdf" target="_blank">http://dip21.bundestag.de/dip21/btp/19/19089.pdf</a></p>
            <p>In the lively parliamentary debate two motions were tabled by the parliamentary group “Bündnis 90/DIE GRÜNEN” and rejected by the majority. Aim of the motions was to change from unanimity to qualified majority votes in the areas of tax policy (<a href="http://dip21.bundestag.de/dip21/btd/19/086/1908606.pdf" target="_blank">http://dip21.bundestag.de/dip21/btd/19/086/1908606.pdf)</a> and of Common Foreign and Security Policy (<a href="http://dip21.bundestag.de/dip21/btd/19/086/1908605.pdf" target="_blank">http://dip21.bundestag.de/dip21/btd/19/086/1908605.pdf</a>).</p>
          </div>
          <div class="previousnext-navigation d-flex justify-content-between align-items-center mt-5">
              <a href="/details/news" class="btn btn-default d-flex align-items-center pl-0" title="Previous">
                  <span class="material-icons md-48 mr-2">keyboard_arrow_left</span><span class="d-none d-sm-flex">Previous</span>
              </a>
              <a href="/details/news2" class="btn btn-default d-flex align-items-center pr-0" title="Next">
                  <span class="d-none d-sm-flex">Next</span><span class="material-icons md-48 ml-2">keyboard_arrow_right</span>
              </a>
          </div>
      </section>
    </div>
  </div>
</template>

<script>
import Breadcrumbs from "~/components/navigation/Breadcrumbs"
import ContentHeaderBack from "~/components/layout/ContentHeaderBack"
import CardBasic from "~/components/cards/CardBasic"
import CardImage from "~/components/cards/CardImage"
import CardNews from "~/components/cards/CardNews"
import LoadMore from "~/components/LoadMore"
import Pagination from "~/components/Pagination"
import InputLarge from "~/components/forms/InputLarge"
import FiltersNews from "~/components/forms/FiltersNews"

export default {
  layout: "default",
  components: {
    Breadcrumbs,
    ContentHeaderBack,
    CardBasic,
    CardImage,
    CardNews,
    LoadMore,
    Pagination,
    InputLarge,
    FiltersNews
  },
  data() {
    return {
      page: "landing",
      pagetitle: "Government Statement of Chancellor Angela Merkel and lively debate with regard to...",
      breadcrumbs: [
        {
          text: "Home",
          link: "/"
        },
        {
          text: "Parliaments",
          link: "/"
        },
        {
          text: "News from parliaments",
          link: "/"
        }
      ]
    }
  }
}
</script>