<template>
  <div class="d-flex flex-column flex-grow-1">
    <div class="breadcrumb-container">
      <Breadcrumbs :breadcrumbs="breadcrumbs" :breadcurrent="pagetitle"/>
    </div>
    <ContentHeaderBack/>
    <div class="container-regular flex-grow-1 ipx-content">
        <section>
          <div class="detail-intro d-flex align-items-start flex-wrap">
            <div class="detail-info d-flex flex-column w-100">
                  <h2 class="detail-title">Brexit related documents</h2>
                  <div class="detail-info-item"><strong>Stored on:</strong> 23/06/1999</div>
                  <div class="detail-info-item"><strong>Number of results:</strong> 234</div>
            </div>
            <div class="detail-buttons w-100">
            <button class="btn btn-action btn-menu d-flex align-items-center">
                  Edit
              </button>
              <button class="btn btn-action btn-menu d-flex align-items-center dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Open menu">
                  Export
              </button>
              <div class="dropdown-menu dropdown-menu-right shadow-sm">
                  <ul>
                    <li><a class="dropdown-item" href="#">Print</a></li>
                    <li><a class="dropdown-item" href="#">RSS feed</a></li>
                    <li><a class="dropdown-item" href="#">Export XML</a></li>
                    <li><a class="dropdown-item" href="#">Export XLS</a></li>
                  </ul>
              </div>
            </div>
          </div>
        </section>
        <section>
          <div class="detail-content"> 
            <CardDocument/>
            <CardDocument/>
            <CardDocument/>
            <CardDocument/>
            <CardDocument/>
            <CardDocument/>
            <LoadMore/>
          </div>
      </section>
    </div>
  </div>
</template>

<script>
import Breadcrumbs from "~/components/navigation/Breadcrumbs"
import ContentHeaderBack from "~/components/layout/ContentHeaderBack"
import CardDocument from "~/components/cards/CardDocument"
import CardImage from "~/components/cards/CardImage"
import CardNews from "~/components/cards/CardNews"
import LoadMore from "~/components/LoadMore"
import Pagination from "~/components/Pagination"
import InputLarge from "~/components/forms/InputLarge"
import FiltersNews from "~/components/forms/FiltersNews"
import ListFiles from "~/components/ListFiles"
import ListLinks from "~/components/ListLinks"

export default {
  layout: "default",
  components: {
    Breadcrumbs,
    ContentHeaderBack,
    CardDocument,
    CardImage,
    CardNews,
    LoadMore,
    Pagination,
    InputLarge,
    FiltersNews,
    ListFiles,
    ListLinks
  },
  data() {
    return {
      page: "landing",
      pagetitle: "Brexit related documents",
      breadcrumbs: [
        {
          text: "Home",
          link: "/"
        },
        {
          text: "My IPEX",
          link: "/"
        },
        {
          text: "My stored searches",
          link: "/"
        }
      ]
    }
  }
}
</script>