<!DOCTYPE html>
<html {{ HTML_ATTRS }}>

<head>{{ HEAD }}
    <link rel="shortcut icon" href="img/favicons/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="msapplication-TileColor" content="#15293F" />
    <!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="#15293F" />
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#15293F" />
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta property="og:title" content="IPEX.eu" />
    <meta property="og:url" content="https://ipextest.netlify.com" />
    <meta property="og:description" content="IPEX is the platform for EU Interparliamentary Exchange">
    <meta property="og:image" content="/img/sharing-image.jpg">
    <meta property="og:image:alt" content="Plenary Session in European Parliament">
    <meta property="og:image:width" content="600">
    <meta property="og:image:height" content="400">
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="en_GB" />
    <link rel="stylesheet" href="/css/material-icons.css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:100,300,400,400i,600,600i,700,800,900" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
</head>

<body {{ BODY_ATTRS }}>
    {{ APP }}
    <a href="#top" class="back-to-top btn shadow">
        <i class="material-icons">arrow_upward</i>
    </a>


</body>

</html>