<template>
    <div class="accordion accordion-regular" id="accordionFiltersDocs">
        <h3  id="r01" class="filter filter-title"  data-toggle="collapse" data-target="#rcollapseOne" aria-expanded="true" aria-controls="rcollapseOne">
            Event Type
            <span class="material-icons icon-add">add</span>
            <span class="material-icons icon-remove">remove</span>
        </h3>
        <div id="rcollapseOne" class="collapse show" aria-labelledby="r01" data-parent="#accordionFiltersDocs">
            <ul>
                <li>
                    <a href="#">Scrutiny <span class="count">14</span></a>
                </li>
                <li class="selected">
                    <a href="#">Legislative proposals <span class="count">70</span></a>
                </li>
            </ul>
        </div>
        <h3  id="r02" class="filter filter-title"  data-toggle="collapse" data-target="#rcollapseTwo" aria-expanded="false" aria-controls="rcollapseTwo">
            Institutions
            <span class="material-icons icon-add">add</span>
            <span class="material-icons icon-remove">remove</span>
        </h3>
        <div id="rcollapseTwo" class="collapse" aria-labelledby="r02" data-parent="#accordionFiltersDocs">
            <a-input-search placeholder="Filter institutions" style="width: 100%" class="filter-input" @search="onSearch" />
            <ul>
                <li class="filter-subtitle">
                    <a href="#">France <span class="count">84</span></a>
                </li>
                <li>
                    <a href="#">Assemblée Nationale <span class="count">14</span></a>
                </li>
                <li>
                    <a href="#">Sénat <span class="count">70</span></a>
                </li>
                <li class="filter-subtitle">
                    <a href="#">Belgique <span class="count">22</span></a>
                </li>
                <li>
                    <a href="#">Chambre des Représentants <span class="count">4</span></a>
                </li>
                <li>
                    <a href="#">Sénat <span class="count">18</span></a>
                </li>
            </ul>
        </div>
        <h3  id="r03" class="filter filter-title"  data-toggle="collapse" data-target="#rcollapseThree" aria-expanded="true" aria-controls="rcollapseThree">
            Year
            <span class="material-icons icon-add">add</span>
            <span class="material-icons icon-remove">remove</span>
        </h3>
        <div id="rcollapseThree" class="collapse show" aria-labelledby="r03" data-parent="#accordionFiltersDocs">
            <a-input-search placeholder="Filter years" style="width: 100%" class="filter-input" @search="onSearch" />
            <div class="years mt-3">
                <!--<a href="/advanced-search/results-calendar" title="2010">2000<span>5</span></a>
                <a href="/advanced-search/results-calendar" title="2010">2001<span>1</span></a>
                <a href="/advanced-search/results-calendar" title="2010">2002<span>3</span></a>
                <a href="/advanced-search/results-calendar" title="2010">2003<span>2</span></a>
                <a href="/advanced-search/results-calendar" title="2011">2004<span>11</span></a>
                <a href="/advanced-search/results-calendar" title="2012">2005<span>5</span></a>
                <a href="/advanced-search/results-calendar" title="2013">2006<span>2</span></a>
                <a href="/advanced-search/results-calendar" title="2014">2007<span>17</span></a>
                <a href="/advanced-search/results-calendar" title="2015">2008<span>55</span></a>
                <a href="/advanced-search/results-calendar" title="2016">2009<span>12</span></a>-->
                <button id="#" class="year-item" title="2010 (27 results)">2010<span>27</span></button>
                <button id="#" class="year-item" title="2011 (19 results)">2011<span>19</span></button>
                <button id="#" class="year-item" title="2012 (22 results)">2012<span>22</span></button>
                <button id="#" class="year-item disabled" title="2013 (101 results)">2013<span>101</span></button>
                <button id="#" class="year-item" title="2014 (66 results)">2014<span>66</span></button>
                <button id="#" class="year-item" title="2015 (50 results)">2015<span>50</span></button>
                <button id="#" class="year-item" title="2016 (17 results)">2016<span>17</span></button>
                <button id="#" class="year-item" title="2017 (35 results)">2017<span>35</span></button>
                <button id="#" class="year-item disabled" title="2018 (255 results)">2018<span>255</span></button>
                <button id="#" class="year-item" title="2019 (7 results)">2019<span>7</span></button>
                <button id="#" class="year-item" title="2020 (96 results)">2020<span>96</span></button>
                <!--<a href="/advanced-search/results-calendar" title="2020">2020<span>96</span></a>-->
            </div>
        </div>
        <div class="d-flex my-5">
            <a @click="emitDrawer('Calendar')" class="btn btn-action d-flex align-items-center"><i class="material-icons md-18 mr-2">edit</i>Edit search</a>
        </div>
    </div>
</template>

<script>
    export default {
        methods: {
            emitDrawer(searchBy) {
                this.$emit('clickedDrawer', searchBy)
            }
        }
    }
</script>
