<template>
    <div class="accordion accordion-regular" id="accordionFiltersDocs">
        <h3  id="r01" class="filter filter-title"  data-toggle="collapse" data-target="#rcollapseOne" aria-expanded="false" aria-controls="rcollapseOne">
            Document types
            <span class="material-icons icon-add">add</span>
            <span class="material-icons icon-remove">remove</span>
        </h3>
        <div id="rcollapseOne" class="collapse" aria-labelledby="r01" data-parent="#accordionFiltersDocs">
            <ul>
                <li>
                    <a href="#">Minutes <span class="count">14</span></a>
                </li>
                <li class="selected">
                    <a href="#">Conclusions <span class="count">70</span></a>
                </li>
            </ul>
        </div>
        <h3  id="r02" class="filter filter-title"  data-toggle="collapse" data-target="#rcollapseTwo" aria-expanded="true" aria-controls="rcollapseTwo">
            Languages
            <span class="material-icons icon-add">add</span>
            <span class="material-icons icon-remove">remove</span>
        </h3>
        <div id="rcollapseTwo" class="collapse show" aria-labelledby="r02" data-parent="#accordionFiltersDocs">
            <a-input-search placeholder="Filter languages" style="width: 100%" class="filter-input" @search="onSearch" />
            <ul>
                <li>
                    <a href="#">EN <span class="count">27</span></a>
                </li>
                <li>
                    <a href="#">FR <span class="count">8</span></a>
                </li>
                <li>
                    <a href="#">DE <span class="count">4</span></a>
                </li>
            </ul>
        </div>
        <div class="d-flex my-4">
            <a  @click="emitDrawer('Conferences')" class="btn btn-action d-flex align-items-center"><i class="material-icons md-18 mr-2">edit</i>Edit search</a>
        </div>
    </div>
</template>

<script>
    export default {
        methods: {
            emitDrawer(searchBy) {
                this.$emit('clickedDrawer', searchBy)
            }
        }
    }
</script>
