<template>
    <div class="accordion accordion-regular" id="accordionFiltersDocs">
        <h3  id="r01" class="filter filter-title"  data-toggle="collapse" data-target="#rcollapseOne" aria-expanded="true" aria-controls="rcollapseOne">
            Type
            <span class="material-icons icon-add">add</span>
            <span class="material-icons icon-remove">remove</span>
        </h3>
        <div id="rcollapseOne" class="collapse show" aria-labelledby="r01" data-parent="#accordionFiltersDocs">
            <ul>
                <li>
                    <a href="#">Scrutiny <span class="count">14</span></a>
                </li>
                <li class="selected">
                    <a href="#">Legislative proposals <span class="count">70</span></a>
                </li>
            </ul>
        </div>
        <h3  id="r02" class="filter filter-title"  data-toggle="collapse" data-target="#rcollapseTwo" aria-expanded="false" aria-controls="rcollapseTwo">
            Code
            <span class="material-icons icon-add">add</span>
            <span class="material-icons icon-remove">remove</span>
        </h3>
        <div id="rcollapseTwo" class="collapse" aria-labelledby="r02" data-parent="#accordionFiltersDocs">
            <a-input-search placeholder="Filter codes" style="width: 100%" class="filter-input" />
            <ul>
                <li>
                    <a href="#">COM <span class="count">14</span></a>
                </li>
                <li>
                    <a href="#">SWD <span class="count">70</span></a>
                </li>
            </ul>
        </div>
        <h3  id="r03" class="filter filter-title"  data-toggle="collapse" data-target="#rcollapseThree" aria-expanded="false" aria-controls="rcollapseThree">
            Subject matters
            <span class="material-icons icon-add">add</span>
            <span class="material-icons icon-remove">remove</span>
        </h3>
        <div id="rcollapseThree" class="collapse" aria-labelledby="r03" data-parent="#accordionFiltersDocs">
            <ul>
                <li>
                    <a href="#">COM <span class="count">14</span></a>
                </li>
                <li>
                    <a href="#">SWD <span class="count">70</span></a>
                </li>
            </ul>
        </div>
        <h3  id="r04" class="filter filter-title"  data-toggle="collapse" data-target="#rcollapseFour" aria-expanded="false" aria-controls="rcollapseFour">
            Eurovoc
            <span class="material-icons icon-add">add</span>
            <span class="material-icons icon-remove">remove</span>
        </h3>
        <div id="rcollapseFour" class="collapse" aria-labelledby="r04" data-parent="#accordionFiltersDocs">
            <ul>
                <li>
                    <a href="#">COM <span class="count">14</span></a>
                </li>
                <li>
                    <a href="#">SWD <span class="count">70</span></a>
                </li>
            </ul>
        </div>
        <h3  id="r05" class="filter filter-title"  data-toggle="collapse" data-target="#rcollapseFive" aria-expanded="false" aria-controls="rcollapseFive">
            NP threshold reached for card
            <span class="material-icons icon-add">add</span>
            <span class="material-icons icon-remove">remove</span>
        </h3>
        <div id="rcollapseFive" class="collapse" aria-labelledby="r05" data-parent="#accordionFiltersDocs">
            <ul>
                <li>
                    <a href="#">Yellow <span class="count">9</span></a>
                </li>
                <li>
                    <a href="#">Orange <span class="count">2</span></a>
                </li>
            </ul>
        </div>
        <h3  id="r06" class="filter filter-title"  data-toggle="collapse" data-target="#rcollapseSix" aria-expanded="false" aria-controls="rcollapseSix">
            Institutions (example)
            <span class="material-icons icon-add">add</span>
            <span class="material-icons icon-remove">remove</span>
        </h3>
        <div id="rcollapseSix" class="collapse" aria-labelledby="r06" data-parent="#accordionFiltersDocs">
            <a-input-search placeholder="Filter institutions" style="width: 100%" class="filter-input" @search="onSearch" />
            <ul>
                <li class="filter-subtitle">
                    <a href="#">France <span class="count">84</span></a>
                </li>
                <li>
                    <a href="#">Assemblée Nationale <span class="count">14</span></a>
                </li>
                <li>
                    <a href="#">Sénat <span class="count">70</span></a>
                </li>
                <li class="filter-subtitle">
                    <a href="#">Belgique <span class="count">22</span></a>
                </li>
                <li>
                    <a href="#">Chambre des Représentants <span class="count">4</span></a>
                </li>
                <li>
                    <a href="#">Sénat <span class="count">18</span></a>
                </li>
            </ul>
        </div>
        <h3  id="r07" class="filter filter-title"  data-toggle="collapse" data-target="#rcollapseSeven" aria-expanded="false" aria-controls="rcollapseSeven">
            When
            <span class="material-icons icon-add">add</span>
            <span class="material-icons icon-remove">remove</span>
        </h3>
        <div id="rcollapseSeven" class="collapse" aria-labelledby="r07" data-parent="#accordionFiltersDocs">
            <div class="">
                <a-date-picker/>
            </div>
        </div>
        <div class="d-none my-4">
            <a  @click="emitDrawer('Documents')" class="btn btn-action d-flex align-items-center"><i class="material-icons md-18 mr-2">edit</i>Edit search</a>
        </div>
    </div>
</template>

<script>
    export default {
        methods: {
            emitDrawer(searchBy) {
                this.$emit('clickedDrawer', searchBy)
            }
        }
    }
</script>
