<template>
    <div class="ipx-collapse">
        <a-alert :showIcon="false" message="News Filters" banner />
    </div>
</template>

<script>
    export default {
        methods: {
            emitDrawer(searchBy) {
                this.$emit('clickedDrawer', searchBy)
            }
        }
    }
</script>
