<template>
<div>
  <h2>EU MATTERS</h2>

<p>In the pre-accession period the Croatian Parliament participated in the preparations of the Republic of Croatia for the EU membership through the European Integration Committee. The political dialogue between the Republic of Croatia and the European Union was conducted through the Croatia-EU Joint Parliamentary Committee, while monitoring of the accession negotiations was in the scope of the National Committee.</p>

<p>With the accession of the Republic of Croatia to the European Union the European Affairs Committee became the central parliamentary point for EU matters and is in charge of conducting parliamentary scrutiny and subsidiarity checks.</p>

<p>Croatian Parliament participates in European affairs on the basis of the Constitution of the Republic of Croatia, the Law on Co-operation of the Croatian Parliament and the Government of the Republic of Croatia in European Affairs and the Standing Orders of the Croatian Parliament.</p>

<p>European Affairs Committee composes annual parliamentary Work Programme containing draft European acts that are to be scrutinised. Specialised parliamentary Committees are involved in the scrutiny from the beginning of the process, as they may propose draft acts from their scope of work to be included in the Work Programme. Once the draft act in question, along with the corresponding Position of the Republic of Croatia is delivered to the Croatian Parliament, specialised committees may debate them and send their opinions to the European Affairs Committee. The latter, taking into consideration opinion(s) of specialised committees, than draws a Conclusion on the Position of the Republic of Croatia based on which the Government acts in the European institutions.</p>

<p>Subsidiarity checks are conducted in the European Affairs Committee but the process may be initiated my each Member of Parliament, parliamentary committee, parliamentary party group, the Government or on the initiative of the European Affairs Committee.</p>

    </div>

</template>