/* //////////////////////////////////////////// */
/*  ANT REDESIGN */
/* //////////////////////////////////////////// */

.section-ipex {
    .ant-btn-primary:focus, 
    .ant-btn-primary:hover {
        border-color: @baseflash;
        background-color: @baseflash;
        background: @baseflash;
        color: #fff;
    }
    .ant-btn.active, 
    .ant-btn:active, 
    .ant-btn:focus, 
    .ant-btn:hover {
        background: #fff;
        background-color: rgb(255, 255, 255);
        text-decoration: none;
    }

    .ant-btn:focus, .ant-btn:hover {
        border-color: #40a9ff;
        background-color: #fff;
        color: #111111;
    }
    .ant-btn {
        display: inline-flex;
        display: -ms-inline-flexbox !important;
        -ms-flex-align: center !important;
        align-items: center !important;
        position: relative;
        height: auto;
        padding: .4rem 1rem;
        border-radius: 3rem;
        border: none;
        background-color: @gray3;
        color:#111111;
        background-image: none;
        box-shadow: none;
        font-size: .95rem;
        text-transform: uppercase;
        line-height: 1.5;
        text-align: center;
        vertical-align: middle;
        &.ant-btn-primary {
            background-color: @baseflash;
            box-shadow: none;
            color: #fff;
            text-shadow: none;
            &:focus, 
            &:hover {
            border-color: @baseflash;
            background-color: @baseflash;
            color: #fff;
            }
        }
        &:hover {
            background: darken(@gray3, 5%);
            color:#111111;
        }
    }
    .ant-dropdown-menu {
        border-radius:.75rem;
    }
    .ant-dropdown-menu-item, 
    .ant-dropdown-menu-submenu-title {
        display:flex;
        justify-content: space-between;
        align-items:center;
        padding: .55rem .75rem;
        color:#000000;
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
        white-space: nowrap;
        cursor: pointer;
        transition: all .3s;
        &:first-child {
            padding-top:.75rem;
        }
        &:last-child {
            padding-bottom:.75rem;
        }
        &:hover {
            color:@baseflash;
            background:white;
            .count {
                color:@baseflash;
            }
        }
        .count {
            flex-grow:1;
            display:flex;
            justify-content: flex-end;
            margin-left:2rem;
            color:#000000;
        }
    }
    .ant-tag {
        box-sizing: border-box;
        display: inline-flex;
        align-items:center;
        height: 28px;
        margin: 0 .5rem .5rem 0;
        padding: 0 .75rem;
        border: 2px solid @gray3;
        border-radius: 2rem;
        background: #ffffff;
        color:#000000;
        font-size: .85rem;
    }
    .ant-select {
        width:100% !important;
      }
      .ant-select-selection--multiple,
      .ant-select-selection {
          border-radius: 1.5rem;
          padding-right: 1rem;
          padding-left: 1rem;
          
          border: 2px solid #e5e5e5;
          background: #fff;
          box-shadow: none;
          min-height: 44px;
          display:flex;
          align-items:center;
          width:100%;
          font-size: .95rem;
          &:hover {
              border-color: #acd0f1;
          }
          &:focus {
              border-color: @baseflash;
          }
        }
        .ant-select-selection--multiple {
          padding-left: .4rem;
          padding-bottom: .4rem;
        }
      .ant-select-selection--multiple .ant-select-selection__rendered > ul > li, 
      .ant-select-selection--multiple > ul > li {
        height: 34px;
        color:#000;
        display:flex;
        align-items:center;
        margin-top: 3px;
        line-height: 22px;
        border-radius:5rem;
      }
      .ant-select-selection--multiple {
      padding-left:0;
      }
      .ant-select-selection__rendered {
        margin-left:0;
      }
    .ant-popover {
        z-index:1000 !important; 
        max-width:260px;
         
      }
      .ant-popover-content {
      
      }
      .ant-popover-arrow {
        border-radius:.75rem;
      
      }
      .ant-popover-placement-top > .ant-popover-content > .ant-popover-arrow {
        border-color: transparent #006ed0 #006ed0 transparent; 
      }
      .ant-popover-inner {
        border-radius:.75rem;
        box-shadow:none !important;
      }
      .ant-popover-title {
        font-weight:700 !important;
        border-radius:.75rem .75rem 0 0;
        border:2px solid #006ed0; 
        border-bottom:none;
        padding-top: .5rem;
      }
      .ant-popover-inner-content {
        color:#000 !important;
        border-radius: 0 0 .75rem .75rem;
        border:2px solid #006ed0; 
        border-top:none;
        padding-top: 0.25rem;
        padding-bottom: .75rem;
      }
      /* SLIDER MULTI RANGE */
      .ant-slider {
        height: 12px;
        margin: 0;
        padding: 4px 0;
        color: rgba(0,0,0,.65);
        font-size: 1rem;
      }
      .ant-slider-rail {
        height: .35rem;
        border-radius: 1rem;
        background-color: #f1f1f1;
      }
      .ant-slider-track {
        position: absolute;
        height: .35rem;
        border-radius: 1rem;
        background-color: #3ca4ff;// #006ed0
      }
      .ant-slider-handle {
        width: 1.2rem;
        height: 1.2rem;
        margin-top: -.4rem;
        margin-left: -7px;
        border: 2px solid #cccccc;
        border-radius: 50%;
        background-color: #fff;
      }

    .ant-checkbox-inner {
        width: 20px;
        height: 20px;
      }
      .ant-checkbox-wrapper {
        color: #000000;
        //margin-bottom:0 !important;
        + .material-icons {
          margin:0 !important;
          margin-bottom:.5rem !important;
        }
      }
      
      .ant-checkbox-checked .ant-checkbox-inner::after {
        transform: rotate(45deg) scale(1.2) translate(-50%,-50%);
      }
      .ant-checkbox-inner::after {
        left: 25%;
      }
      .ant-checkbox-checked .ant-checkbox-inner {
        border-color: @baseflash;
        background-color:@baseflash;
      }
      .ant-checkbox-wrapper + span {
        padding-left: 0;
      }
      .ant-calendar-cell {
        height: 30px;
        width:30px;
        padding: 0;
        color:#000;
      }
      .ant-calendar-date {
        display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 30px;
      margin:0;
      padding:0;
      color:#000;
      }
      
      .ant-calendar-range .ant-calendar-in-range-cell {
      
        &:before {
          display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      border: 0;
      border-radius: 0;
      background: lighten(@baseflashlight,30%);
      color:#000 !important;
      content: "";
        }
      }
      
      .ant-calendar-selected-start-date {
        .ant-calendar-date {
          border-radius:5rem 0 0 5rem;
        }
      }
      .ant-calendar-selected-end-date {
        .ant-calendar-date {
          border-radius: 0 5rem 5rem 0;
        }
      }
      
      .ant-calendar-range .ant-calendar-input-wrap {
        position: relative;
        height: 48px;
      }
      .ant-calendar-range .ant-calendar-input, 
      .ant-calendar-range .ant-calendar-time-picker-input {
        color:#000;
      
      
        transition: all .3s;
      }
      .ant-calendar {
        position: relative;
      
        border: none;
        border-radius: 1.5rem;
        outline: none;
        background-clip: padding-box;
        background-color: #fff;
       box-shadow: 0 .4rem 1.2rem rgba(0,0,0,.15) !important;
        font-size: 14px;
        line-height: 1.5;
        list-style: none;
        text-align: left;
      }
      .ant-calendar-input-wrap {
        display:none;
      }
      .ant-calendar-header {
      font-size:1rem;
        color:#000;
        height: 48px;
        border-bottom: 1px solid #e8e8e8;
        line-height: 48px;
        text-align: center;
        user-select: none;
        border:none;
      }
      .ant-calendar-header .ant-calendar-next-century-btn, .ant-calendar-header .ant-calendar-next-decade-btn, .ant-calendar-header .ant-calendar-next-month-btn, .ant-calendar-header .ant-calendar-next-year-btn, .ant-calendar-header .ant-calendar-prev-century-btn, .ant-calendar-header .ant-calendar-prev-decade-btn, .ant-calendar-header .ant-calendar-prev-month-btn, .ant-calendar-header .ant-calendar-prev-year-btn {
        padding: 0 10px;
        color: #000;
        line-height: 48px;
      }
      .ant-calendar-body {
        padding: 1rem;
        margin-top:3px;
        margin-left:2px;
      }
      .ant-calendar-header .ant-calendar-century-select, .ant-calendar-header .ant-calendar-decade-select, .ant-calendar-header .ant-calendar-month-select, .ant-calendar-header .ant-calendar-year-select {
        color: #000;
        font-weight: 700;
        line-height: 48px;
      }
    .ant-collapse {
        width:100%;
    }
    .ant-drawer-left.ant-drawer-open .ant-drawer-content-wrapper {
        width:320px !important;
        .accordion {
            width:100%;
        }
    }
}

// ANT-MODAL IS RENDERED OUTSIDE OF SECTION-IPEX

.ant-modal.ant-modal-custom {
    width:700px !important;
    max-width:90vw;
    .ant-modal-header {
        padding: 2rem 2rem 1rem;
        border-bottom: none;
        border-radius: .5rem .5rem 0 0;
        background: #fff;
        color: rgba(0,0,0,.65);
    }
    .ant-modal-title {
        margin: 0;
        color: rgba(0,0,0,.85);
        font-size: 1.2rem;
        font-weight: 700;
        line-height: 22px;
        text-transform: uppercase;
    }
    .ant-modal-body {
        word-wrap: break-word;
        padding: 0.5rem 2rem;
        font-size: 1rem;
        line-height: inherit;
        color:#000;
    }
    .ant-modal-content {
        border-radius: .5rem;
    }
    .ant-modal-footer {
        padding: 2rem;
        font-size: 1rem;
        border-top: none;
        color:#000;
    }
    .ant-btn-primary:focus, 
    .ant-btn-primary:hover {
        border-color: @baseflash;
        background-color: @baseflash;
        background: @baseflash;
        color: #fff;
    }
    .ant-btn.active, 
    .ant-btn:active, 
    .ant-btn:focus, 
    .ant-btn:hover {
        background: #fff;
        background-color: rgb(255, 255, 255);
        text-decoration: none;
    }

    .ant-btn:focus, .ant-btn:hover {
        border-color: #40a9ff;
        background-color: #fff;
        color: #111111;
    }
    .ant-btn {
        display: inline-flex;
        display: -ms-inline-flexbox !important;
        -ms-flex-align: center !important;
        align-items: center !important;
        position: relative;
        height: auto;
        padding: .4rem 1rem;
        border-radius: 3rem;
        border: none;
        background-color: @gray3;
        color:#111111;
        background-image: none;
        box-shadow: none;
        font-size: .95rem;
        text-transform: uppercase;
        line-height: 1.5;
        text-align: center;
        vertical-align: middle;
        &.ant-btn-primary {
            background-color: @baseflash;
            box-shadow: none;
            color: #fff;
            text-shadow: none;
            &:focus, 
            &:hover {
            border-color: @baseflash;
            background-color: @baseflash;
            color: #fff;
            }
        }
        &:hover {
            background: darken(@gray3, 5%);
            color:#111111;
        }
    }
}
