//////////////////////////////////////////////////////
// FLAGS
//////////////////////////////////////////////////////

.flag-list {
    list-style-type: none;
    padding-left: 0;
}

.flag-container {
    display: flex;
    margin-top: 1rem;
    div {
        display: flex;
        flex-direction: column;
        font-size: 0.8em;
        padding: 2px 0.3rem;
        span {
            padding: 0 5px;
        }
    }
}

.flag {
    width: 64px;
    height: 48px;
    flex-shrink: 0;
    display: inline-block;
    background-size: cover;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left center;
    border-radius: 1px;
    border: 1px solid #ddd;
    &.flag-md {
        width: 40px;
        height: 30px;
        border: none;
    }
    &.flag-sm {
        width: 24px;
        height: 18px;
        border: none;
    }
    &.flag-xs {
        width: 16px;
        height: 11px;
        border: none;
    }
}

.flag-eu {
background-image:url(../../assets/img/flags/eu.svg)
}
.flag-at {
background-image:url(../../assets/img/flags/at.svg)
}
.flag-be {
background-image:url(../../assets/img/flags/be.svg)
}
.flag-bg {
background-image:url(../../assets/img/flags/bg.svg)
}
.flag-hr {
background-image:url(../../assets/img/flags/hr.svg)
}
.flag-cy {
background-image:url(../../assets/img/flags/cy.svg)
}
.flag-cz {
background-image:url(../../assets/img/flags/cz.svg)
}
.flag-dk {
background-image:url(../../assets/img/flags/dk.svg)
}
.flag-ee {
background-image:url(../../assets/img/flags/ee.svg)
}
.flag-fi {
background-image:url(../../assets/img/flags/fi.svg)
}
.flag-fr {
background-image:url(../../assets/img/flags/fr.svg)
}
.flag-de {
background-image:url(../../assets/img/flags/de.svg)
}
.flag-gr {
background-image:url(../../assets/img/flags/gr.svg)
}
.flag-hu {
background-image:url(../../assets/img/flags/hu.svg)
}
.flag-ie {
background-image:url(../../assets/img/flags/ie.svg)
}
.flag-it {
background-image:url(../../assets/img/flags/it.svg)
}
.flag-lv {
background-image:url(../../assets/img/flags/lv.svg)
}
.flag-lt {
background-image:url(../../assets/img/flags/lt.svg)
}
.flag-lu {
background-image:url(../../assets/img/flags/lu.svg)
}
.flag-mt {
background-image:url(../../assets/img/flags/mt.svg)
}
.flag-nl {
background-image:url(../../assets/img/flags/nl.svg)
}
.flag-pl {
background-image:url(../../assets/img/flags/pl.svg)
}
.flag-pt {
background-image:url(../../assets/img/flags/pt.svg)
}
.flag-ro {
background-image:url(../../assets/img/flags/ro.svg)
}
.flag-sk {
background-image:url(../../assets/img/flags/sk.svg)
}
.flag-si {
background-image:url(../../assets/img/flags/si.svg)
}
.flag-es {
background-image:url(../../assets/img/flags/es.svg)
}
.flag-se {
background-image:url(../../assets/img/flags/se.svg)
}
.flag-uk {
background-image:url(../../assets/img/flags/uk.svg)
}
.flag-al {
background-image:url(../../assets/img/flags/al.svg)
}
.flag-tr {
background-image:url(../../assets/img/flags/tr.svg)
}
.flag-rs {
background-image:url(../../assets/img/flags/rs.svg)
}
.flag-mk {
background-image:url(../../assets/img/flags/mk.svg)
}
.flag-me {
background-image:url(../../assets/img/flags/me.svg)
}
.flag-is {
background-image:url(../../assets/img/flags/is.svg)
}
/* //////////////////////////////////////////////////// */
/* LANGUAGE TAGS (in document) */
/* //////////////////////////////////////////////////// */

.list-tags {
    display:flex;
    flex-wrap:wrap;
    padding-left:0;
    li {
        display: flex;
        align-items: center;
        text-transform: uppercase;
        font-size: 0.9rem;
        padding: .1rem .4rem;
        border-radius: @border-radius;
        transition: all ease .3s;
        background: @gray3;
        margin:0 1rem 1rem 0;
        &:hover {
            background: @gray2;
        }
        span {
            font-weight: 600;
        }
        a {
            font-size: 0.8rem;
            margin: .2rem;
            margin-right: 0;
            padding: 0 .3rem;
            border-radius: 30px;
            &:hover {
                text-decoration: none;
            }
        }
    }
}

/* //////////////////////////////////////////////////// */
/* FILE */
/* //////////////////////////////////////////////////// */

a {
    &.file {
        display: flex;
        align-items: center;
        &::before {
            background: #999;
            color: white;
            border-radius: @border-radius;
            font-size: 0.65rem;
            display: inline-flex;
            align-items: center;
            padding: 0 .2rem;
            text-transform: uppercase;
            font-weight: 400;
            margin-right: .5rem;
            
        }
        @media @sm-down {
            text-decoration:none;
            &.file-doc {
                &::before {
                    background: @base;
                }
            }
            &.file-pdf {
                &::before {
                    background: @accent;
                }
            }
            }
        &:hover {
            text-decoration:none;
            &.file-doc {
                &::before {
                    background: @base;
                }
            }
            &.file-pdf {
                &::before {
                    background: @accent;
                }
            }
        }
        &.file-doc {
            &::before {
                content: "doc";
            }
        }
        &.file-pdf {
            &::before {
                content: "pdf";
            }
        }
    }
}


/* //////////////////////////////////////////////////// */
/* IPX LISTS  */
/* //////////////////////////////////////////////////// */

.ipx-list {
    padding-left: 1rem;
    margin:1rem 0;
    li {
        width: 100%;
        padding-top: .2rem;
        padding-bottom: .2rem;
        -webkit-column-break-inside: avoid;
        page-break-inside: avoid;
        break-inside: avoid;
        a {
            color: @link;
            &:hover {
                color: @link;
                text-decoration: none;
            }
        }
    }
    &.no-bullet {
        list-style-type: none;
        padding-left: 0;
    }
}

/* //////////////////////////////////////////////////// */
/* IPX LISTS WITH FILES AND LINKS  */
/* //////////////////////////////////////////////////// */

.ipx-list-links,
.ipx-list-files {
    list-style-type:none;
    padding-left:0;
    li {
        display:flex;
        flex-wrap:wrap;
        padding:1rem 0;
        border-bottom:1px dashed #999;
        &:last-child {
            border-bottom:none;
        }
        @media @md-up {
            padding:0;
            padding-bottom:1rem;
            border-bottom:none;
        }
        -webkit-column-break-inside: avoid;
          page-break-inside: avoid;
               break-inside: avoid;
        a {
            width:100%;
        }
    }
    .file-metas {
        margin-top:.1rem;
        font-size:.8rem;
        
        .lang-tags {
            font-weight:600;
            margin-right:.5rem;
        }
    }
    .file-type {
        border-radius: @border-radius;
        font-size: 0.65rem;
        display: inline-flex;
        align-items: center;
        padding: 0 .2rem;
        text-transform: uppercase;
        font-weight: 400;
        margin-right: .5rem;
        color:white;
        &.file-type-doc {
            background: @base;
        }
        &.file-type-pdf {
            background: @accent;
        }
        &:hover {
            text-decoration:none;
        }
    }
    &.ipx-files-space-between {
        li {
            
            a {
                width:auto;
            }
        }
    }
}
.ipx-list-files {
    &.ipx-list-combo {
        .ipx-link {
            //border-bottom:1px dotted #ddd;
            border-bottom: 1px dashed #111;
            margin-bottom:.75rem;
            padding-bottom:.75rem;
           // line-height:1rem;
            &:first-child {
               margin-top:1rem;
            }
            &:last-child {
                border-bottom:none;
            }
        }
        a {
            &:hover {
                text-decoration:none !important;
            }
        }
        .file-type {
            -ms-flex-align: center;
            display: -ms-inline-flexbox;
            display: inline-flex;
            align-items: center;
            margin-right: .5rem;
            padding: .2rem .4rem;
            border-radius: 4px;
            color: #fff;
            font-size: .65rem;
            font-weight: 400;
            text-transform: uppercase;
            opacity:.9; 
            transition:all ease .3s;
            &:hover {
                opacity:1;
            }
        }
    }
}
.ipx-list-links {
    li {
        @media @md-up {
            padding-bottom:.75rem;
        }
    }
}
.ipx-list-2col {
    .ipx-card-link {
        display:flex;
        flex-direction: column;
        .file-metas {
            margin-left:0 !important;
          }
      }
    @media @md-up {
        -webkit-column-count: 2; 
        -moz-column-count: 2; 
        column-count: 2;
    }
}

.ipx-card-link {
    display:flex;
    flex-direction:column;
    a {
        flex-grow:1 !important;
        flex-shrink:1 !important;
        display: block !important;
        width:auto !important;
    }
    .lang-tags {
        width:auto !important;
      }
    .file-type {
    margin-top:.25rem;
    }
    .file-metas {
        flex-shrink:0 !important;
        display:flex;
        align-items:center;
        flex-direction:row !important;
        margin-top:.25rem !important;
        margin-left:0 !important;
    }
    @media @md-up {
        flex-direction:row;
        flex-wrap: nowrap !important;
        align-items: flex-start;
        a {
            display:flex;
            align-items: flex-start;
        }
        .file-metas {
            margin-left:1.5rem !important;
            margin-top:.25rem !important;
            margin-bottom:0;
        }
    }
}

h3 {
    &.list-title {
        font-size: 1.2rem;
        margin-bottom: 1rem;
        line-height: 2rem;
        font-weight: 600;
        border-bottom: 1px solid #000;
        padding-bottom: .75rem;
        margin: 1rem 0 1rem 0;
        margin-top: 1rem;
        &.collapsed {
            color:@baseflash;
        }
        &:hover {
            cursor:pointer;
            color:@base;
        }
    }
}
section {
    .content-subtitle {
        font-weight: 600;
        margin-top: 2rem;
    }
}

/* //////////////////////////////////////////////////// */
/* LANG TAG (used in list of files)  */
/* //////////////////////////////////////////////////// */

.lang-tag {
    span {
        font-weight: 600;
        margin-right: .5rem;
        margin-left: 0 !important;
        color: #000!important;
        padding: 0 .2rem;
        border-radius: 2px;
    }
}

/* //////////////////////////////////////////////////// */
/* IMAGE AND TEXT (used in list of Parliaments)  */
/* //////////////////////////////////////////////////// */

.image-and-text {
    align-items:flex-start;
    @media @md-up {
        align-items:center;
    }
    img {
        border-radius:3px;
        &.small {
            max-width:20vw;
            @media @sm-up {
                max-width:160px;
            }
        }
    }
    p { 
        padding-left:.5rem;
        @media @md-up {
            padding-right:7vw;
            padding-left:1rem;
            border-left:1px solid #999;
        }
    }
}

/* //////////////////////////////////////////////////// */
/* RESULTS SUMMARY AND CRITERIA  */
/* //////////////////////////////////////////////////// */

.results-summary {
    border-bottom:2px solid #ddd;
    padding:1rem 0;
    margin:1rem 0 0 0;
    font-size:2.75rem;
    font-weight:300;
    .results-count {
        span {
            &:first-child {
                color:@baseflash;
                //font-size:3rem;
            }
            &.diplay-nbr {
                color:#666;
                font-size:1rem;
                //margin-left:.5rem;
            }
        }
    }
}
.results-criteria {
    padding-top:1.5rem;
}

/* ////////////////////////////////////////////////////////// */
/* SPECIFIC LIST FOR IPEX BOARD INTRO */
/* ////////////////////////////////////////////////////////// */

.article4 {
    text-align: left;
    ul {
        list-style-type: none;
        padding-left:0;
        li {
            padding: .3rem 0;
            color: #175287;
            font-weight: 600;
        }
        ul {
            li {
                padding: .3rem 0;
                color: #000;
                font-weight: 400;
            }
        }
    }
}

/* ////////////////////////////////////////////////////////// */
/* DOCUMENT */
/* ////////////////////////////////////////////////////////// */

.ipx-intro {
    .ipx-intro-light {
        background:white;
        width:100%;
        border-radius:5px;
        padding:1.5rem;
        .dossier-ref {
            display:flex;
            font-weight:600;
            font-size:1.1rem;
        }
    }
    .related-documents {
        border-top:1px solid #ccc;
        margin-top:1rem;
        padding-top:.5rem;
        .current {
            color:#000;
            cursor:default;
            text-decoration:none;
        }
    }
}

/* //////////////////////////////////////////////////// */
/* IPX TAGS */
/* //////////////////////////////////////////////////// */

.ipx-tag {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 0.8rem;
    padding: 0 .35em;
    margin: 0 .4rem .2rem 0;
    color: white;
    transition: all ease .3s;
    border-radius: .2rem !important;
    &:hover {
        transform: scale(1.2);
    }
    &.disabled {
        -webkit-filter: grayscale(1);
        filter: grayscale(1);
        opacity: 0.2;
        &:hover {
            transform: none;
            -webkit-filter: grayscale(0);
            filter: grayscale(0);
            opacity: 1;
            cursor: pointer;
        }
    }
    &.btn-opinion {
        color: white !important;
        background: #ea3528;
    }
    &.btn-saisine {
        color: white !important;
        background: #954bc7;
    }
    &.btn-dialog {
        background: #d2e4f9;
        color: #3482d8 !important;
    }
    &.btn-exchange {
        background: #d3f7bf;
        color: green !important;
    }
    &.btn-opposition {
        background: white;
        color: #ea3528 !important;
    }
    &.btn-subsidiarity {
        background: black;
        color: white !important;
    }
    &.btn-basket1 {
        background: white;
        color: #a244a2 !important;
        border-radius: 30px;
    }
    &.btn-basket2 {
        background: #903190;
        color: white !important;
        border-radius: 30px;
    }
    &.btn-yellowcard {
        background: @yellow-card;
        color: #111 !important;
        border-radius: 30px !important;
    }
    &.btn-orangecard {
        background: @orange-card;
        color: #111 !important;
        border-radius: 30px !important;
    }
}

/* //////////////////////////////////////////////////// */
/* TIMELINES */
/* //////////////////////////////////////////////////// */

.timeline {
    font-size: .8rem;
    text-transform: uppercase;
    font-size: .7rem;
    @media @md-down {
       margin-top:2.5rem;
       width:100%;
    }
    .adoption-block,
    .deadline-block {
        display:flex;
        align-items: flex-start;
        flex-direction: column;
        .date {
            font-size: 1.2rem;
            line-height: 1.2rem;
            margin-top: .3rem;
            width: 100%;
            text-align: right;
        }
    }
    .adoption-block {
        align-items: flex-end;
    }
}

.progress {
    margin-bottom: 1.5rem;
    border-radius: 50px;
}

.progress-xs {
    height: .25rem;
}
.line {
    margin: 0 1rem !important;
    position: relative;
    .progress {
        margin: 0 !important;
    }
}

.tl-event {
    position: absolute;
    bottom: -30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: .5rem .75rem;
    transition: all ease .3s;
    border-radius: .5rem;
    margin-left:-35px;
    span {
        font-size: .8rem;
        transition:all ease .2s;
        &.timeline-date {
            //color:white;
            color:transparent;
        }
    }
    button {
        transform: rotate(deg);
        margin-bottom: 20px;
    }
    &:before {
        content: "";
        position: absolute;
        left: calc(50% - 5px);
        bottom: 30px;
        background: #fff;
        height: 8px;
        width: 3px;
        display: block;
    }
    &:hover {
        background:rgba(255, 255, 255, 0.75);
        z-index: 2;
        cursor: pointer;
        -webkit-box-shadow: 0px 0px 13px -8px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 13px -8px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 13px -8px rgba(0,0,0,0.75);
        text-decoration:none;
        span {
            &.timeline-date {
                color:#000000;
              }
        }
    }
    &.type-today,
    &.type-deadline {
        margin-left:0;
        &:hover {
            background: none;
            cursor:default;
        }
        &:before {
            display: none;
        }
        span {
            position: absolute;
            right: 23px;
            bottom: 0;
            height: 105px;
            font-size: .6rem;
            font-weight: 700;
            padding-right: .3rem;
            border-right: 1px dashed @darkgray;
            
        }
    }
    &.type-deadline {
        .material-icons {
            position:absolute;
            top:-85px;
            right:-3px;
        }
       /* &::after {
            right: 0;
            top: -85px;
            width:24px;
            height: 24px;
           
position:absolute;
            background:red;
            content:"";
        }*/
    }
}

/* //////////////////////////////////////////////////// */
/* SCRUTINY TIMELINE RWD */
/* //////////////////////////////////////////////////// */

.timeline-tags {
    @media @sm-down {
        width:100%;
        .tl-event {
            display:none;
            &.type-today,
            &.type-deadline {
                display:flex;
                span {
                    height: 60px;
                    bottom:10px;
                }
            }
        }
    }
}

.scrutiny-activity {
    margin-top:1.5rem;
    text-align:left;
    font-size:0.9rem;
    > div {
        margin-bottom: .3rem;
    }
}

.btn-saisine {
    padding:0.06rem 0.1rem !important;
}

/* //////////////////////////////////////////////////// */
/* EXTERNAL CONTENT MODULE */
/* //////////////////////////////////////////////////// */

.external-contents {
    padding:1.5rem 0;
    a {
        padding:1rem 1.5rem;
        border-top:1px solid #ddd;
        height:75px;
        flex-grow:1;
        display:flex;
        justify-content: center;
        &:first-child {
            border-top:none;
        }
        @media @md-up {
           border:none;
            &:first-child {
                padding-left:0;
            }
            &:last-child {
                padding-right:0;
            }
        }
        img {
            flex-shrink:1;
        }
    }
    .oeil-card {
        img {
            max-width:100%;
            @media @sm-up {
                max-width: 400px;
            }
        }
        
    }
    .regpex-card {
        flex-shrink:0;
        .regpex-label {
            font-family: Arial, Helvetica, sans-serif;
            color: #1a4491;
            font-weight: 600;
            text-transform: uppercase;
            font-size: 1.3rem;
        }
        img {
            height: 50px;
            width: auto;
            min-height: 40px;
            max-height: 40px;
            margin-right: .75rem;
        }
    }
    .eurlex-card {
        flex-shrink:0;
        padding-top:1.5rem;
        img {
            max-width:160px;
        }
    }
}

/* //////////////////////////////////////////////////// */
/* LISBON BLOCKS */
/* //////////////////////////////////////////////////// */

.lisbon-block {
    border-top:1px dashed #111;
    padding-top:1.5rem;
  margin-top:1.5rem;
}

.lisbon-block-description {
    font-weight:600;
    margin-top:.25rem;
}

/* //////////////////////////////////////////////////// */
/* IPEX ALERT  */
/* //////////////////////////////////////////////////// */

.alert-ipex{
    border-radius:.5rem;
    background: rgb(241,247,255);
    background: linear-gradient(108deg, rgba(241,247,255,1) 0%, rgba(244,249,255,1) 41%, rgba(248,251,255,1) 100%);
    padding-left:1.5rem;
    margin-bottom:3rem;
}



/* //////////////////////////////////////////////////// */
/* CAROUSEL */
/* //////////////////////////////////////////////////// */


.carousel {
    &.gallery {
        .carousel-inner {
            .carousel-item {
                > div {
                    a {
                        margin-right:1rem;
                        height:11vw;
                        max-height:130px;
                        overflow:hidden;
                        display:flex;
                        align-items:center;
                        border-radius:3px;
                        background:@base;
                        img {
                            border-radius:3px;
                            opacity:.9;
                            transition:all ease .3s;
                            &:hover {
                                border-radius:4px;
                                opacity:1;
                            }
                        }
                        &:last-child {
                            margin-right:0;
                        }
                        @media @lg-down {
                            max-height:13vw;
                        }
                        @media @md-down {
                            max-height:14vw;
                        }
                    }
                    
                }
                
            }
        }
    }
    &.featured-info { /* HOMEPAGE */
        padding:0 2rem;
    }
    &.has-indicators {
        padding-bottom:3rem;
        .carousel-indicators 
        {
            li {
                background-color:@gray1;
                opacity:1;
                /*width:12px;
                height:12px;*/
                border-radius:20px;
                margin-right:8px;
                margin-left:8px;
                border:none;
                &.active {
                    background-color:@base;
                }
            }
        }
    }
}

.carousel {
    &.carousel-3-columns {
        .carousel-inner {
            .carousel-item {
                > div {
                    display: flex;
                    justify-content: space-between;
                    flex-direction: row;
                    flex-wrap: wrap;
                    padding: .75rem 0;
                }
            }
            @media @sm-up {
                .ipx-card {
                    width: calc(33% - .5rem);
                    margin-bottom: 2%;
                    flex-grow: 0;
                }
                
            }
        }
    }
}
.container-large {
    .carousel.gallery {
        .carousel-inner {
            .carousel-item {
                > div {
                    a {
                        height:13vw;
                        max-height:160px;
                        &:last-child {
                            margin-right:0;
                        }
                    }
                }
            }
        }
    }
}

.carousel-control-prev,
.carousel-control-next {
    width: 1rem;
    opacity: 0.8;
    transition: opacity 0.3s ease;
    .btn {
        background: @gray2;
    }
    &:hover {
        .btn {
            background: @gray1;
        }
    }
}

.carousel-control-prev {
    left: -.5rem;
}

.carousel-control-next {
    right: -.5rem;
}

/* //////////////////////////////////////////////////// */
/* STORED SEARCHES */
/* //////////////////////////////////////////////////// */

.stored-search-box {
    position: relative;
    margin: .4rem;
    transition: all ease .2s;
    background: @gray3;
    min-width: calc(25% - .8rem);
    width: calc(25% - .8rem);
    opacity: .8;
    h5 {
        display: flex;
        flex-direction: column;
        color:@base;
        font-weight:400;
        font-size:1.3rem;
        line-height:1.8rem;
        padding-top:0;
    }
    p {
        flex-grow:1;
    }
    &:hover {
        cursor: pointer;
        background: @gray2;
        opacity: 1;
    }
    .material-icons {
        opacity: .3;
        margin: 0 auto;
    }
    &.stored-search-selected {
        background: #e6f2e6;
        border-radius: 3px;
        opacity: 1;
        h5 {}
        .material-icons {
            opacity: 1;
            color: green;
        }
    }
}

/* //////////////////////////////////////////////////// */
/* FAKE DATEPICKER (temporary) */
/* //////////////////////////////////////////////////// */

.ipx-datepicker {
    @media @sm-up {
        width:40%;
        max-width:300px; 
    }
}
.fake-datepicker {
    max-width:260px;
    height:auto;
    @media @sm-up {
        max-width:260px;
        height:auto;
    }
}


/* //////////////////////////////////////////////////// */
/* FANCYBOX, OVERLAY ETC. */
/* //////////////////////////////////////////////////// */

.fancybox-image {
   // border-radius:8px;
}

.fancybox-bg,
.fancybox-is-open .fancybox-bg {
    background:#111;
    opacity:.5;
}

/* //////////////////////////////////////////////////// */
/* PROGRESS BARS */
/* //////////////////////////////////////////////////// */

.progress {
    height:.5rem;
}

/* //////////////////////////////////////////////////// */
/* ALTERNATIVE LIST TO TEST */
/* //////////////////////////////////////////////////// */

.ipx-card-list {
    &.alternative {
    .ipx-card {
        border:none;
        margin-bottom:2rem;
        padding-bottom:2rem;
        border-bottom:2px solid #ccc;
        border-radius:0;
        }
        .ipx-card-title {
            font-size:1.5rem;
        }
        .ipx-card-content {
            padding:1rem 0;
        }
        .ipx-card-thumb {
        }
        &.ipx-card-list-2col,
        &.ipx-card-list-3col,
        &.ipx-card-list-4col {
            .ipx-card {
                border:none !important;
                margin-bottom:0 !important;
            }
            
        }
    }
}