.ipx-drawer {
    div.overlay{
        position:fixed;
        z-index: -999;
        left: 0px;
        top:0px;
        background:rgba(21, 41, 63, 0.85);
        opacity: 0;
        width: 100vw;
        height: 100vh;
        transition: opacity 0.3s ease;
    }
    aside.sidebar{
      display:flex;
    flex-direction:column;
        z-index: 1000;
        position: fixed;
        will-change: transform;
        height: 100vh;
        max-height:100vh;
        min-height:100vh;
        top: 0px;
        transition:transform 0.3s ease;
        background:#fff;
        width: 100vw;
        max-width:100vw;
        overflow-y: hidden;
        overflow-x: hidden;
        word-wrap: break-word;
        @media @md-up {
            width: calc(100%-25vw);
            max-width:960px;
        }
    }
}

.drawer-body {
  background:white;
  padding:1rem 4rem 3rem 4rem;
  min-height: calc(100vh - 14rem);
  max-height: calc(100vh - 14rem);
  overflow-y:scroll;
  padding-bottom:7rem !important;
}
.drawer-bottom {
  background:white;
  //padding:1.5rem 2rem;
  display:flex;
  justify-content:flex-end;
  height:8rem;
  min-height:8rem;
  max-height:8rem;
  align-items:center;
  //border-top:1px solid #000;
  &.inverted {
    background:@base;
    .btn-flash {

    }
    .btn-action {
      &.btn-flash {
        background: white;
        color: @baseflash;
        &:hover {
          background: white;
          color: darken(@baseflash,20%);
          cursor: pointer;
        }
      }
    }
  }
}

.drawer-title {
  display:flex;
  align-items: center;
  font-size:1.1rem;
  height:4.5rem;
  min-height:4.5rem;
  max-height:4.5rem;
  margin-bottom:0;
  z-index:10000;
  @media @sm-up {
    font-size:1.5rem;
    height:6rem;
    min-height:6rem;
  max-height:6rem;
  }
  .material-icons {
    transition:ease all .2s;
    color:#666;
    &:hover {
      color:#000;
      transform:scale(1.2);
      cursor:pointer;
    }
  }
  img {
    width:50px;
    height:50px;
    margin-right:.5rem;
    + span {
      display:none;
      @media @sm-up {
        display:flex;
      }
    }
  }
  span {
    &.drawer-title-text {
      font-weight:700;
      color:@baseflash;
      font-size:1.2rem;
      @media @sm-up {
        font-size:1.65rem;
      }
    }
    margin-right:.5rem;
     font-weight:400;
     color:#000;
   }
}

.drawer-bottom {
  bottom:0;
  display:flex;
  align-items: center;
}


.ipx-form.ipx-search-form {
  padding:1rem .5rem;
  .section-title {
    
    @media @md-down {
      font-size:1.1rem;
    }
  }
  @media @md-up {
    padding:3rem 1rem;
  }
  
}
.ipx-form.ipx-search-form h5,
.ipx-form.ipx-search-form h5 label {
  font-size:1.1rem;
  padding-top:0;
  font-weight:400;
  /*font-weight:300;*/
  .ant-checkbox {
    margin-right:.25rem;
  }
}
.form-block-gray {
  background:#f9f9f9;
  padding:1.5rem 2rem;
  border-radius:.5rem;
}