.section-ipex {

/* //////////////////////////////////////////////////// */
/* LABELS */
/* //////////////////////////////////////////////////// */
.container-regular,
.ipx-form { //overwrites toolkit styles
  label {
    display: inline-block;
    font-weight: 600;
    font-size: .9rem;
    margin-left: .5rem;
    margin-bottom: .5rem;
  }
}

.ipx-form {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    &.section-title {
      padding-top: 1.2rem;
      padding-bottom: 0;
      font-weight: 600;
      font-size: 1.5rem;
      color:@baseflash;
    }
    &.sub-section-title,
    &.form-sub-section {
      font-size: 1.2rem;
      margin-top: 0.5rem;
      font-weight: 700;
      color:#000;
    }
  }
}
.has-help {
  display: flex !important;
  align-items: center !important;
  .popover-help {
    display: inline-flex;
  align-items: center;
  }
}

/* //////////////////////////////////////////////////// */
/* INPUTS (form-control) */
/* //////////////////////////////////////////////////// */

.form-control,
.ant-input {
    border-radius: 5rem;
    padding-right: 1rem;
    padding-left: 1rem;
    border: 2px solid #e5e5e5;
    background: #fff;
    box-shadow: none;
    min-height: 44px;
    font-size:1rem;
    color:#000;
    /*&.ng-untouched {
      border-color: #e5e5e5;
      &:hover {
        border-color: #acd0f1;
    }
    &:focus {
      border-color: @baseflash;
  }
  }*/
    &:hover {
        border-color: #acd0f1 !important;
    }
    &:focus {
        border-color: @baseflash !important;
    }
    &.select-ipex {
        display: block;
        box-shadow: none;
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        background-color: #fff;
        background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'), linear-gradient(to bottom, #fff 0%, #fff 100%);
        background-repeat: no-repeat, repeat;
        background-position: right .7em top 50%, 0 0;
        background-size: .65em auto, 100%;
        &::-ms-expand {
            display: none;
        }
        &:hover {
            border-color: #acd0f1;
        }
        &:focus {
            border-color: @baseflash;
            background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'), linear-gradient(to bottom, #ffffff 0%, #ffffff 100%);
            color: #222;
            outline: none;
        }
        option {
            font-weight: normal;
        }
    }
    &.has-button {
      +.btn {
        border-radius: 0 100px 100px 0;
      }
      &.has-append {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-right: none;
        + .input-group-append {
          .dropdown-toggle {
            border:none;
            border: 2px solid #e5e5e5;
            border-radius: 0;
            border-right: none;
            border-left: none;
            font-size:.95rem;
            display:flex;
            align-items:center;
            padding-right:1.2rem;
            &::before {
              content:"";
              background:#999;
              height:20px;
              width:1px;
              margin-right:1rem;
            }
            &::after {
              margin-left:.5rem;
            }
          }
      } 
      &:hover {
        + .input-group-append {
          .dropdown-toggle {
            border-color: #acd0f1;
          }
        }
      }
      &:focus {
        + .input-group-append {
          .dropdown-toggle {
            border-color: @baseflash;
          }
        }
      }
    } 
  } 
  + small {
    margin-left: .5rem;
  }
}
textarea {
    &.form-control {
        border-radius:10px;
    }
    
}
.ipx-input-container-large {
  display:flex;
  @media @sm-down {
  }
  .form-control,
  .ant-input {
      &.ipx-input-large {
        background: @white;
        height: calc(3.2rem + 2px);
        border-color: lighten(@base, 50%);
        border-right-color: transparent;
        border-width: 2px;
        border-radius: 100px;
        font-size: 1.2rem;
        font-weight: 300;
        padding-left: 1.3rem;
        &:focus {
            border-color: @baseflash;
        }
        &.has-button {
          border-radius: 100px 0 0 100px;
            @media @sm-up {
              
            }
            @media @sm-down {

            }
            +.btn {
                
                
                @media @sm-up {
                  flex-direction:row;
                }
                @media @sm-down {
                 /* border-radius: 100px;
                font-size: 1.2rem;
              
                width: calc(100% - 1.5rem);
                margin:0.5rem .75rem 0;
               
                display:flex;
                justify-content: center;
                align-items: center;*/
                }
            }
        }
    }
  }
  @media @sm-up {
    flex-direction:row;
  }
}
/* //////////////////////////////////////////////////// */
/* FILTERS */
/* //////////////////////////////////////////////////// */
/*
.form-check-inline {
  display: inline-flex;
  align-items: center;
  padding-left: 0; 
  margin-right: .25rem;

  
  .form-check-input {
    display: inline-flex;
  align-items: center;
    position: static;
    margin-top: 0;
    margin-right: .5rem;
    margin-left: 0;
  }
}
*/

.ipx-filters {
    background: white;
    border-radius: 3px;
    &::after {
        display: flex;
        width: 100%;
        height: 3px;
        content: "";
        border-radius: 5px;
        margin-top: .5rem;
        margin-bottom: 3rem;
        background: @darkgray;
    }
}

 /* The switch - the box around the slider */
 .switch {
    position: relative;
    display: inline-block;
    width: 44px;
    height: 26px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .3s;
    transition: .3s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .3s;
    transition: .3s;
  }
  
  input:checked + .slider {
    background-color: @baseflash;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px @baseflash;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(18px);
    -ms-transform: translateX(18px);
    transform: translateX(18px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  } 

  .has-error {
    .form-control {
      border-color:@red;
      background: lighten(@red,45%);//#fff9f9;
    }
    small {
      color:@red;
    }
  }
  .has-success {
    .form-control {
      border-color:@green;
      background: lighten(@green,58%);
    }
    small {
      color:@green;
    }
  }

/* //////////////////////////////////////////////////// */
/* YELLOW AND ORANGE CARDS */
/* //////////////////////////////////////////////////// */

.btn-card-yellow,
.btn-card-orange {
    background: @gray1;
    border-radius: 100px;
    padding: .4rem .8rem;
    font-size: .8rem;
    margin-right: 0 !important;
    text-transform: uppercase;
    display: inline-flex;
    align-items: center;
    //font-weight: 600;
}

.btn-card-yellow {
    &.is-selected {
        background: rgb(255, 226, 60);
    }
}

.btn-card-orange {
    &.is-selected {
        background: rgb(255, 189, 67);
    }
}


/* //////////////////////////////////////////////////// */
/* A RANGER, TRIER, FIX */
/* //////////////////////////////////////////////////// */

.btn-search {
    padding: 0.75rem 1.5rem;
    border-radius: 2rem;
    background: #f5f5f5;
    text-transform: uppercase;
}

.help-icon {
  color: #ddd;
  transition: all .3s ease;
  &:hover {
    color: #333;
    cursor:pointer;
  }
}
.grayedout {
  opacity:.4;
}
.form-block {
  padding: 1rem;
    border-radius: 4px;
    background: #f5f5f5;
}

/* CHECKBOXES */
form input[type="checkbox"], 
form input[type="radio"] {
  width: 20px;
  height: 20px;
}

} // end of .section-ipex