/* //////////////////////////////////////// */
/* LAYOUT */
/* //////////////////////////////////////// */

.main-wrapper {
    min-height: 100vh;
}

.page-content {
    flex-grow: 1;
    padding-bottom: 3rem;
    background: @white;
}

.container-regular {
    max-width: calc(100% - 8vw);
    margin-left: 4vw;
    margin-right: 4vw;
    padding: 0;
    @media @lg-up {
        max-width: 960px;
        padding: 0;
        margin:0 auto;
    }
}

.container-large {
    max-width: 100%;
    width:100%;
    padding-left: 2vw;
    padding-right: 2vw;
    margin-right: 2vw;
    margin-left: 2vw;
    @media @xl-up {
        max-width: 1140px;
        padding: 0;
        margin-left:auto;
        margin-right:auto;
        &.container-home-share {
            max-width: calc(100% - 10vw);
            min-width:1140px;
            .carousel.featured-info {
                padding: 0 calc(2rem + 5vw);
                .carousel-inner {
                    max-width:1140px;
                    margin:0 auto;
                }
            }
        }
    }
}
/*
.container-large {
    max-width: 100%;
    padding-left: 2vw;
    padding-right: 2vw;
    margin-right: auto;
    margin-left: auto;
    @media @xl-up {
        max-width: 1140px;
        padding: 0;
        &.container-home-share {
            max-width: calc(100% - 10vw);
            min-width:1140px;
            .carousel.featured-info {
                padding: 0 calc(2rem + 5vw);
                .carousel-inner {
                    max-width:1140px;
                    margin:0 auto;
                }
            }
        }
    }
}
*/


/* //////////////////////////////////////////////////// */
/* SECTIONS */
/* //////////////////////////////////////////////////// */

section {
    padding-bottom: 2rem;
    &:first-child {
        .section-title {
            &:first-child {
                padding-top: 0;
            }
        }
    }
}

.tab-pane {
    .section-title {
        &:first-child {
            padding-top: 0;
        }
    }
}

/* //////////////////////////////////////////////////// */
/* IPX-INTRO (Content headers) */
/* //////////////////////////////////////////////////// */

.ipx-intro {
    padding: 2rem 0 3.5rem 0;
    background: @gray3;
    >.container-regular,
    >.container-regular {
        align-items: flex-start;
        @media @xs-down {
            flex-direction: column;
            align-items: center;
            >div {
                align-items: center;
                text-align: center;
            }
        }
    }
    h1 {
        font-size: 1.7rem;
        transition: all ease .3s;
        padding-top: 0;
    }
    .lead {
        font-size: 1.15rem;
        font-weight: 400;
    }
    &.ipx-intro-detail {
        padding: 0;
    }
    &.intro-doc {
        padding: 1rem 0 2rem 0;
        &.yellow-card {
            background: lighten(@yellow-card, 20%);
            padding-top: 2rem;
        }
        &.orange-card {
            background: lighten(@orange-card, 20%);
            padding-top: 2rem;
        }
    }
}

/* //////////////////////////////////////////////////// */
/* CONTENT */
/* //////////////////////////////////////////////////// */

.ipx-content {
    margin: 3.25rem auto;
    >section {
        &:first-child {
            >h1,
            >h2,
            >h3 {
                &:first-child {
                    padding-top: 0;
                }
            }
        }
        &:last-child {
            padding-bottom: 3rem;
            margin-bottom: 0;
        }
    }
}

.home-map {
    background: @gray3;
}

/* //////////////////////////////////////////////////// */
/* FLEX COLUMNS (Used in landing pages, 2nd layout) */
/* //////////////////////////////////////////////////// */

.ipx-column-50 {
    width: calc(50% - .5rem);
    margin-right: .35rem;
    &:nth-child(even) {
        margin-right: 0;
        margin-left: .35rem;
    }
    @media @sm-down {
        width: 100% !important;
        margin-right: 0;
        margin-left: 0;
    }
}

/* //////////////////////////////////////////////////// */
/* DETAIL LAYOUT (news detail, event detail, etc..) */
/* //////////////////////////////////////////////////// */

.detail-intro {
    padding-top: .5rem;
    padding-bottom: 1.5rem;
    margin-bottom: 1rem;
    justify-content: center;
    &::after {
        display: flex;
        width: 100%;
        height: 3px;
        content: "";
        border-radius: 5px;
        margin-top: 1.5rem;
        background: #ddd;
        background: linear-gradient(90deg, rgba(21, 41, 63, 1) 0%, rgba(55, 146, 253, 1) 19%, rgba(238, 238, 238, 1) 51%, rgba(255, 255, 255, 1) 79%);
    }
    .detail-info {
        width: 100%;
        .detail-info-item {
            padding: .2rem 0;
            &:last-child {
                padding-bottom: 0;
            }
        }
        @media @sm-up {
            width: calc(100% - 2rem - 130px);
        }
        @media @md-up {
            width: calc(100% - 2rem - 175px);
        }
    }
    .ipx-thumb {
        height: auto;
        margin-right: 0;
    }
    .featured-image {
        position: relative;
        margin-right: 2rem;
        .material-icons {
            position: absolute;
            right: .5rem;
            top: .5rem;
            color: white;
            opacity: .4;
            transition: all ease .3s;
        }
        &:hover {
            .material-icons {
                opacity: 1;
            }
        }
    }
    .detail-title {
        padding-top: 0;
    }
    .detail-buttons {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        @media @sm-down {
            margin-top: 1.25rem;
            justify-content: flex-start;
        }
        .dropdown-menu {
            background: white;
            border: 1px solid @gray3;
            border-radius: @border-radius;
            ul {
                list-style-type: none;
                padding: 0;
                margin: 0;
                li {
                    a {
                        padding: .25rem 1.25rem;
                        &:hover {
                            color: @baseflash;
                        }
                    }
                    &:first-child {
                        a {
                            padding-top: .75rem;
                        }
                    }
                    &:last-child {
                        a {
                            padding-bottom: 1rem;
                        }
                    }
                }
            }
        }
    }
}

/* //////////////////////////////////////////////////// */
/* BTN MENU with DROPDOWN */
/* //////////////////////////////////////////////////// */

.btn-menu {
    +.dropdown-menu {
        margin-top: .25rem;
        background: white;
        border: 1px solid @gray3;
        border-radius: @border-radius;
        ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
            li {
                a.dropdown-item {
                    padding: .25rem 1.25rem;
                    &:hover {
                        color: @baseflash;
                    }
                }
                &:first-child {
                    a.dropdown-item {
                        padding-top: .75rem;
                    }
                }
                &:last-child {
                    a.dropdown-item {
                        padding-bottom: 1rem;
                    }
                }
            }
        }
    }
}

/* //////////////////////////////////////////////////// */
/* MODAL */
/* //////////////////////////////////////////////////// */

.modal-dialog {
    max-width: 600px;
}

.modal-content {
    border-radius: .5rem;
    border: none;
}

.modal-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1.3rem 1rem;
    border-bottom: 1px solid #e9ecef;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    h5 {
        text-align: center;
        flex-grow: 1;
        font-weight: 600;
    }
}

.modal-body {
    padding: 1rem 1.75rem 0;
}

.modal-footer {
    padding: 1rem 1rem 1.75rem;
    border: none;
}

/* //////////////////////////////////////////////////// */
/* GDPR */
/* //////////////////////////////////////////////////// */

.gdpr-box {
    position: fixed;
    background: @accent;
    color: #f1f1f1;
    z-index: 2;
    bottom: 0;
    padding: 2rem 15vw;
    left: 0;
    margin: 0;
    opacity: .85;
    &:hover {
        opacity: .95;
    }
    .material-icons {
        color: white;
        &:hover {
            color: white;
        }
    }
}

.disabled-content {
    position: relative;
}

.disabled-content::after {
    background: rgba(255, 255, 255, .8);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    content: "";
}
