/* //////////////////////////////////////////////////// */
/* TOASTS */
/* //////////////////////////////////////////////////// */

.toasts-container {
    z-index: 10000;
    right: 0;
    top: 0;
    .toast {
        width: 100%;
        max-width: 100%;
        background: white;
        .toast-body {}
        @media @md-up {
            max-width: 300px;
            width: 300px;
        }
    }
}

/* //////////////////////////////////////////////////// */
/* DROPDOWN MENUS */
/* //////////////////////////////////////////////////// */

.dropdown-line {
    //separator
    height: 1px;
    width: 100%;
    background: @gray2;
}

.dropdown-menu {
    border: none;
    margin-top: 0;
    padding-top: 5px;
    padding-bottom:0;
    background: none;
    .dropdown-header {
        padding: 1rem;
        background: white;
        display: flex;
        align-items: center;
        border-top-right-radius: @border-radius;
        border-top-left-radius: @border-radius;
        .user-thumbnail {
            margin-right: .75rem;
        }
        h5 {
            font-size: 1rem;
            font-weight: 600;
            color: @darkgray;
            background: white;
            padding: 0;
            margin: 0;
        }
    }
    .dropdown-divider {
        height: .5rem;
        border-top: 1px solid #e9ecef;
        margin: 0;
        &::before {
            display: block;
            height: .5rem;
            content: " ";
            background: #fff;
        }
    }
    &::before {
        display: inline;
        z-index: 10000;
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 2.75rem;
        top: 0/*-5px*/
        ;
        width: 20px;
        border-right: 10px solid transparent;
        border-bottom: 5px solid white;
        border-left: 10px solid transparent;
        content: " ";
    }
    &.dropdown-menu-right {
        &::before {
            left: auto;
            right: 2.75rem;
        }
    }
    .dropdown-item {
        background: white;
        &.nuxt-link-exact-active,
        &:hover,
        &.active {
            color: @baseflash;
            background: white;
        }
        &:first-child {
            padding-top: 1.2rem;
            border-top-right-radius: @border-radius;
            border-top-left-radius: @border-radius;
        }
        &:last-child {
            padding-bottom: 1.5rem;
            border-bottom-right-radius: @border-radius;
            border-bottom-left-radius: @border-radius;
        }
    }
}

/* Make Navigation Toggle on Desktop Hover */

.dropdown {
    &.hover-dropdown {
        &:hover {
            .dropdown-menu {
                @media @md-up {
                    display: block;
                }
                @media @lg-up {
                    display: block;
                }
            }
        }
    }
}

/* //////////////////////////////////////////////////// */
/* HEADER + IPEX LOGO */
/* //////////////////////////////////////////////////// */

.ipx-header {
    background: @basedark;
    .ipex-logo {
        width: 180px;
        max-width: 180px;
        .branding a {
            &:hover {
                text-decoration: none;
            }
        }
    }
    h6 {
        font-weight: 300;
        color: @gray1;
    }
    .container-regular {
        margin-top: 1.5rem;
        @media @md-down {
            max-width: 100vw;
            margin-top: .5rem;
        }
    }
}

.header-top {
    display: flex;
    justify-content: space-between;
}

.site-params {
    width: 100%;
    //z-index: 10000;
    .btn-rounded {
        border: 2px solid lighten(@basedark, 5%);
        transition: all .2s ease;
        border-radius: 100px;
        @media @md-down {
            background: none;
            &:hover {
                background: none;
            }
        }
        &:hover {
            border: 2px solid lighten(@basedark, 15%);
        }
    }
    @media @md-down {
        position: absolute;
        z-index: 1000;
        right: calc(6vw + 2.75rem);
        top: 1rem;
        width: auto;
    }
}

/* //////////////////////////////////////////////////// */
/* LANGUAGE MENU */
/* //////////////////////////////////////////////////// */

.language-zone {
    padding-left: .3rem;
    border: 2px solid lighten(@basedark, 5%);
    transition: all .2s ease;
    border-radius: 100px;
    .btn-rounded {
        border: none;
        &.btn-active {
            color:white;
            font-weight:700;
        }
        
    }
    @media @md-down {
        background: none;
        .btn-rounded {
            &:first-child {
                padding-left: 0;
            }
        }
    }
    &:hover {
        border-color: lighten(@basedark, 15%);
        .btn-rounded {
            border: none;
        }
        @media @md-down {
            background: none;
            .btn-rounded {
                background: none;
            }
        }
    }
    .dropdown-item {
        &:first-child {
            margin-top: O !important;
            padding-top: .75rem;
            padding-bottom: 1rem;
        }
    }
    .dropdown-line {
        +.dropdown-item {
            padding-top: 1rem;
        }
    }
}

/* //////////////////////////////////////////////////// */
/* LANGUAGE MENU MOBILE (incl. in dropdown main menu) */
/* //////////////////////////////////////////////////// */

@media @lg-down {
    .btn-languages {
        display: flex;
        color: white;
        align-items: center;
        &:hover {
            color: white;
        }
        .material-icons {
            width: 36px;
        }
    }
    .languages-mobile {
        padding-top: 1rem;
        padding-bottom: 1rem;
        a {
            background: @base;
            color: white;
            padding: .2rem .6rem;
            border-radius: 3px;
            margin: 0 .5rem .5rem 0;
            &.active {
                color: @basedark;
                background: white;
                font-weight: 600;
            }
        }
    }
}

/* //////////////////////////////////////////////////// */
/* USER MENU */
/* //////////////////////////////////////////////////// */

.user-thumbnail {
    border-radius: 100px;
}

.user-menu {
    img {
        &.user-profile {
            height: 30px;
            width: 30px;
        }
    }
}

.my-ipex-dropdown {
    &:hover {
        .dropdown-menu {
            display: block !important;
        }
    }
}

/* //////////////////////////////////////////////////// */
/* MAIN MENU */
/* //////////////////////////////////////////////////// */

.header-bottom {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 0;
    @media @lg-up {
        align-items: flex-end;
        margin-top: 1rem;
    }
    @media @md-down {
        margin-top: .5rem;
    }
}

.ipx-logo-mobile {
    img {
        width: 120px;
    }
}

.navbar-toggler {
    border: none;
    padding: 0;
    color:white;
    
    .material-icons {
        font-size: 2.4rem;
        margin-left:1rem;
        color:white;
        /*&.icon-clear {
            display: flex;
        }
        &.icon-menu {
            display: none;
        }*/
    }
    &.collapsed {
       /* .material-icons {
            &.icon-clear {
                display: none;
            }
            &.icon-menu {
                display: flex;
            }
        }*/
    }
}

.collapsing {
    transition-duration: 0s;
}

/* IPX-MENU */

.ipx-menu {
    padding: 0;
    max-width:100%;
    margin-bottom: 1rem;
    flex-grow: 1;
    @media @lg-up {
        margin-bottom: 0;
        flex-grow: 0;
    }
    .ipx-mainmenu {
        @media @md-down {
            display:none;
            &.opened {
                display:flex;
                flex-direction:column;
            }
        }
    }
    &.navbar-expand-lg {
        .navbar-nav {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            margin-top: 1.75rem;   
            @media @sm-down {
                padding-top: 1rem;
                border-top: none;
            }
            @media @md-down {
                margin-top: 1rem !important;
                padding-top: 1.5rem;
                //border-top: solid 1px lighten(@basedark, 10%);
            }
            @media @lg-up {
                display: flex;
            }
            .nav-item {
                @media @sm-down {
                    width: 100%;
                }
            }
            .nav-link {
                display: flex;
                justify-content: center;
                padding: .75rem 1rem;
                background: lighten(@basedark, 10%);
                margin-bottom: .5rem;
                margin-right: .5rem;
                color:white;
                border-radius: @border-radius;
                text-transform:uppercase;
                flex-shrink:1;
                &:hover {
                    color:@baseflashlight;
                    cursor:pointer;
                }
                &.dropdown-toggle {
                    &::after {
                        display: none;
                    }
                }
                @media @sm-down {
                    margin-right: 0;
                    border-radius: @border-radius;
                }
                @media @lg-up {
                    font-size: 1rem;
                    padding: .5rem 1.75rem .75rem;
                    border: none;
                    margin-bottom: 0;
                    margin-right: 0;
                    background: none;
                    text-transform:none;
                    &.dropdown-toggle {
                        &::after {
                            display: inline-block;
                        }
                    }
                }
            }
        }
        .dropdown-menu {
            background: none;
            padding-top: 0;
            margin-top: 0;
            border-radius: @border-radius;
            &.dropdown-menu-search {
                &::before {
                    display: none;
                }
            }
            &.dropdown-menu-right {
                @media @lg-up {
                    &::before {
                        left: auto;
                        right: 2.75rem;
                    }
                }
            }
            /* Hides subsections on mobile devices */
            @media @md-down {
                display: none !important;
                &.dropdown-menu-search {
                    display: block !important;
                }
            }
            @media @lg-up {
                padding-top: 0.3rem;
                &::before {
                    display: inline;
                    z-index: 10000;
                    position: absolute;
                    margin-left: auto;
                    margin-right: auto;
                    left: 2.75rem;
                    top: 0.2rem;
                    width: 32px;
                    border-right: 16px solid transparent;
                    border-bottom: 8px solid desaturate(darken( @base, 3%), 10%);
                    border-left: 16px solid transparent;
                    content: " ";
                }
            }
            .dropdown-item {
                color: @gray2;
                background: desaturate(darken( @base, 3%), 10%);
                padding: 0.4rem 2rem 0.4rem 1.6rem;
                justify-content: flex-start;
                &::before {
                    content: "";
                    display: inline-flex;
                    width: 5px;
                    height: 5px;
                    background: transparent;
                    border-radius: 10px;
                    margin-left: -10px;
                    margin-right: 10px;
                }
                &.nuxt-link-exact-active,
                &.active {
                    &::before {
                        background: @baseflashlight;
                    }
                }
                &:hover,
                &.active {
                    color: white;
                    background: desaturate(darken( @base, 3%), 10%);
                    &::before {
                        background: @baseflashlight;
                    }
                }
                &:first-child {
                    margin-top: .25rem;
                    padding-top: 1.5rem;
                    border-top-right-radius: @border-radius;
                    border-top-left-radius: @border-radius;
                }
                &:last-child {
                    padding-bottom: 1.8rem;
                    border-bottom-right-radius: @border-radius;
                    border-bottom-left-radius: @border-radius;
                }
            }
            h4 {
                color: @baseflashlight;//desaturate( @baseflash, 55%);
                background: desaturate(darken( @base, 3%), 10%);
                font-size: 0.9rem;
                text-transform: uppercase;
                font-weight: 800;
                padding: 1.5rem;
                padding-bottom: 0;
            }
            .dropdown-col {
                background: desaturate(darken( @base, 3%), 10%);
                &:first-child {
                    border-top-right-radius: @border-radius;
                    border-top-left-radius: @border-radius;
                    h4 {
                        border-top-right-radius: @border-radius;
                        border-top-left-radius: @border-radius;
                        &:first-child {
                            margin-top: .25rem;
                            border-top-right-radius: @border-radius;
                            border-top-left-radius: @border-radius;
                        }
                    }
                }
                &:last-child {
                    border-bottom-right-radius: @border-radius;
                    border-bottom-left-radius: @border-radius;
                }
            }
        }
    }
}


/* //////////////////////////////////////////////////// */
/* MAIN SEARCH (in menu) */
/* //////////////////////////////////////////////////// */

.ipx-menu.navbar-expand-lg {
    .ipx-search {
        @media @md-down {
            display:none;
        }
        .trigger-search {
            .material-icons {
                padding: .5rem 1.75rem .75rem;
                &:hover {
                    color: @baseflashlight;
                }
            }
        }
        .dropdown {
            width: 100%;
        }
        h5 {
            padding: 0;
            padding-left: .5rem;
            font-size: 1rem;
            font-weight: 700;
            @media @md-down {
                color: white;
                padding: .5rem;
            }
        }
        .dropdown-menu {
            padding: 1rem;
            background: white;
            border-radius: 0 0 5px 5px;
            .material-icons {
                transition: all ease .3s;
                &:hover {
                    color: @baseflashlight;
                }
            }
            .dropdown-item {
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                padding: .5rem .5rem;
                font-size: .9rem;
                color: @darkgray;
                border-radius: @border-radius;
                background: white;
                &:hover {
                    color: @baseflash;
                }
                &:before {
                    display:none;
                }
                &:first-child {
                    border-radius: 0 0 0 5px;
                }
                &:last-child {
                    border-radius: 0 0 5px 0;
                }
                img {
                    //max-width: 55px;
                    height: 50px;
                    width:auto;
                    margin-bottom: .3rem;
                }
                @media @md-down {
                    padding: 0;
                    color: @gray1;
                    font-size: .9rem;
                    background: none;
                    img {
                        max-width: 6vw;
                        height: auto;
                        margin-bottom: .6rem;
                    }
                }
            }
            @media @md-down {
                width: 100%;
                padding: 0;
                background: none;
                padding-bottom: 1.5rem;
                margin-bottom: 1.5rem;
                border-bottom: solid 1px lighten(@basedark, 10%);
                border-radius: 0;
                box-shadow: none !important;
            }
        }
        .form-control {
            @media @md-down {
                height: 50px;
                padding: 1.5rem;
                font-size: 18px;
                border: none;
                border-radius: 3px 0 0 3px;
                +.btn {
                    height: 50px;
                    padding: 1rem;
                    margin-left: 2px;
                    border: none;
                    background: white;
                    border-radius: 0 3px 3px 0;
                }
            }
        }
    }
}

/* //////////////////////////////////////////////////// */
/* BREADCRUMB */
/* //////////////////////////////////////////////////// */

.ipextest.breadcrumb-container {
    background: @gray3;
}

.ipextest.ipx-breadcrumb {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    font-size: @font-size-base*0.9;
    padding: .75rem 0;
    margin-bottom: 0;
    background: @gray3;
    a {
        color: @link;
        &:hover {
            text-decoration: none;
        }
    }
}

.ipextest.breadcrumb-item {
    padding-right: .5rem;
    flex-shrink: 0;
    &.active {
        color: @darkgray;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        flex-shrink: 1;
    }
    +.breadcrumb-item {
        padding-left: 0;
        &:before {
            content:"≻";
            color: gray;
        }
    }
}


ep-breadcrumbs {
    width:100%;
}
.breadcrumb-container {
    background:@gray3;
}
.ep-breadcrumb {
    padding: 0.6rem 1rem .6rem 0;
    margin-bottom: 0;
    &.md {
        width:100%;
        display:flex;
        > li {
            flex-shrink: 0;
            flex-wrap:nowrap;
            font-size:.9rem;
            &:last-child {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                flex-shrink: 1;
                display:flex;
                a {
                    flex-shrink: 1;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
            }
            + li {
                &:before {
                    content:">";
                    color: gray;
                }
            }
        }
        
    }
}

/* //////////////////////////////////////////////////// */
/* FOOTER */
/* //////////////////////////////////////////////////// */

.ipx-footer {
    color: white;
    background: @baseverydark;
    ul {
        list-style-type: none;
        padding-left: 0;
        li {
            padding: 0.25rem;
        }
        .ipx-footer-title,
        .title {
            font-size: 1.1rem;
            font-weight: 700;
            @media @sm-down {
                text-align: center;
            }
        }
        a {
            color: white;
            font-weight: 300;
            &:hover {
                text-decoration: none;
                color: @baseflash;
            }
        }
        @media @sm-down {
            text-align: center;
        }
    }
}

/* //////////////////////////////////////////////////// */
/* BACK TO TOP */
/* //////////////////////////////////////////////////// */

.back-to-top {
    position: fixed;
    right: -90px;
    transition: all ease 0.3s;
    &.active {
        width: 4rem;
        height: 4rem;
        background: @base;
        color: #fff;
        position: fixed;
        bottom: 2rem;
        right: 2rem;
        z-index: 10000;
        display: flex;
        align-items: center;
        justify-content: center;
        &:hover {
            color: white;
        }
        .material-icons {
            transform: scale(1.15);
        }
        &.btn {
            border-radius: 100%;
        }
    }
}

/* //////////////////////////////////////////////////// */
/* PAGINATION */
/* //////////////////////////////////////////////////// */

.pagination {
    margin-top: 2rem;
    border: 2px solid @gray2;
    display: flex;
    justify-content: center;
    border-radius: 50px;
}

.page-link {
    display: block;
    position: relative;
    margin-left: -2px;
    padding: .8rem 1.2rem;
    border: none;
    background-color: white;
    color: #333;
    line-height: 1.25;
    font-weight: text-uppercase;
    box-shadow: 5px #333;
    &:hover {
        background: white;
        color: @baseflash;
    }
}

.page-item {
    &.active {
        .page-link {
            background: #fff;
            color: @baseflash;
            font-weight: 600;
        }
    }
    &:last-child {
        .page-link {
            border-radius: 0 50px 50px 0;
            padding-right: 1.4rem;
            text-transform: uppercase;
        }
    }
    &:first-child {
        .page-link {
            border-radius: 50px 0 0 50px;
            padding-left: 1.4rem;
            text-transform: uppercase;
        }
    }
    &.disabled {
        .page-link {
            color: #dee2e6;
        }
    }
}
