//https://www.sitepoint.com/css-printer-friendly-pages/
//https://www.smashingmagazine.com/2018/05/print-stylesheets-in-2018/


@media print {
    .noprint,
    .ipx-header,
    .my-ipex-dropdown,
    .ipx-footer {
        display:none !important;
    }
    h1 {
        /*page-break-before: always;
        break-before: always;*/
    }
    
    table {
        page-break-inside: avoid;
        break-inside: avoid;
    }
    .ipx-thumb {
        display:none;
    }
    .ipx-card {
        border:none !important;
        padding-bottom:.8cm  !important;
        margin-bottom:1cm  !important;
        border-radius:none !important;
        h3 {
            margin-bottom:.25cm;
            &.ipx-card-title {
                font-size: 18pt;
                font-weight: 600;
                line-height: 22pt;
                color:black !important;
            }
        }
        .ipx-card-content {
            padding:0 !important;
            text-decoration:none !important;
        }
        .ipx-card-thumb {
            display:none;
            + div {
                padding-left:0;
            }
        }
        border-bottom:.2mm black dashed !important;
    }
    /*a[href]:after {
        content: " (" attr(href) ")";
    }*/
    
    /* target all pages */
    @page {
        width:100%;
        margin: 3cm;
    }
    
    /* target the first page only */
    @page :first {
        //margin-top: 6cm;
    }
    
    /* target left (even-numbered) pages only */
    @page :left {
        //margin-right: 4cm;
    }
    
    /* target right (odd-numbered) pages only */
    @page :right {
        //margin-left: 4cm;
    }

    .ipx-card-scrutiny {
        display:block;
        .flag {
            display:none;
        }
    }
    .d-flex {
        display:block !important;
        width:100% !important;
        margin:0 !important;
        padding:0 !important;
    }
    .main-wrapper {
        min-height: auto;
    }
    
    .page-content {
        padding-bottom: 1cm;
        background: @white;
    }
    
    .container-regular {
        max-width: 100% !important;
        margin-left: 0;
        margin-right: 0;
        padding: 0;
    }
    
    .container-large {
        max-width: 100% !important;
        width:100% !important;
        padding-left: 0;
        padding-right: 0;
        margin-right: 0;
        margin-left: 0;
        @media @xl-up {
            max-width: 100%;
            padding: 0;
            margin-left:auto;
            margin-right:auto;
            &.container-home-share {
                max-width: calc(100% - 10vw);
                min-width:1140px;
                .carousel.featured-info {
                    padding: 0 calc(2rem + 5vw);
                    .carousel-inner {
                        max-width:1140px;
                        margin:0 auto;
                    }
                }
            }
        }
    }
    .timeline,
    .btn-load {
        display:none !important;
    }
}