.search-results-header {
  display:flex;
  align-items:flex-start;
  width:100%;
  border-bottom:1px solid @gray2;
  flex-direction:column;
  @media @md-up {
    flex-direction:row ;
  }
  aside {
    flex-wrap:nowrap;
    width:100%;
    //width:100%;
    //margin-right:2rem;
    flex-grow:0;

    h3 {
      display:none;
    }
    .results {
      display:flex;
      align-items:flex-end;
      justify-content: center;
      margin-bottom:1rem;
      @media @md-up {
        flex-direction:column ;
        align-items:center;
      }
      .count {
        font-size:3.5rem;
        line-height:3.5rem;
        font-weight:300;
        margin-right:.75rem;
        @media @md-up {
          font-size:5rem;
          line-height:5rem;
          font-weight:300;
          margin-right:0;
        }
      }
    }
    @media @md-up {
      width:auto;
      margin-right:2rem;
      padding-right:2rem;
      border-right:1px solid @base;
    }
    @media @lg-up {
      h3 {
        //display:flex;
      }
    }
  }
  main {
    width:100%;
    display:flex;
    flex-direction:column;
    flex-grow:1;
    .ipx-input-container {
      margin-bottom:1rem;
    }
    .search-metadata {
      display:flex;
      justify-content: center;
      flex-direction:column;
      @media @md-up {
        justify-content: flex-start;
      }
    }
    @media @md-up {
      width:auto;
    }
  }
}
.search-results-content {
  padding-top:2rem;
  aside {
    flex-wrap:nowrap;
    max-width:40%;
    padding-right:3rem;
    button {
     
      .material-icons {
        display:none;
        @media @lg-up {
          display:inline-flex;
        }
      }
    }
    @media @md-up {
      max-width:30%;
    }
    .accordion {
      width:100%;
    }
  }
  main {
    .ipx-card {
      font-size:0.975rem;
      border-bottom:1px dotted @mediumgray;
      border-radius:0;
      margin: 0;
      padding: .5rem 0;
      &:last-child {
        border-bottom:none;
      }
      &:hover {
        //border-color:@gray2;
      }
    }
    @media @md-up {
      //max-width:60%;
    }
    @media @lg-up {
      max-width:70%;
    }
  }
}

.search-results-metas {
  padding:1rem 0;
  .yousearched {
    strong {
      font-weight:600;
    }
    .btn {
      &:hover {
        color:@baseflashlight;
        .material-icons {
          color:@baseflashlight;
        }
      }
    }
    span {
      margin-left:.5rem;
    }
  }
}

.count {
  color:@baseflash;
}




.search-section-container {
    padding-bottom:1.5rem;
}
.search-icon {
    display:flex;
    justify-content:center;
    align-items:center;
    flex-shrink:1;
    img {
        height:35px;
        width:auto;
    }  
}
.search-sections {
    display:flex;
    justify-content: center;
    align-items:flex-end;
    margin-top:2.5rem;
    flex-wrap:wrap;
    .ipx-thumb {
      margin:0;
      flex-shrink:1;
    }
    
}
.section-select {
    display:flex;
    flex-direction:column;
    align-items:center;
    margin:0;
    width:155px;
    height:120px;
    flex-shrink:0;
    font-weight:600;
    padding:0.25rem .75em 1rem;
    justify-content:flex-end;
    border-right:1px solid @gray1;
    border-bottom:5px solid #fff;
    
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    opacity:.7;
    transition:all ease .3s;
    &:last-child {
      border-right:none;
    }
    .item {
        margin-top:.5rem;
        font-size:.9rem;
    }
    img {
      transition:all ease .2s;
      transform:scale(1.35);
    }
    &:hover,
    &.selected {
      -webkit-filter: grayscale(0);
      filter: grayscale(0);
      opacity:1;
      cursor:pointer;
      color: @base;
    }
    &.selected {
      -webkit-filter: grayscale(0);
      filter: grayscale(0);
      opacity:1;
      cursor:pointer;
      color: @base;
      border-bottom-width: 5px;
    }
    &:hover {
      img {
        transform:scale(1.55);
        margin-bottom:.5rem;
      }
    }
    &.selected {
      border-bottom:5px solid @baseflashlight;
      img {
        transform:scale(2);
        margin-bottom:.5rem;
      }
    }

  }
  .search-sections .item {
    display:inline-flex;
    text-align:center;
    flex-shrink:1;
  }
  .options-open::after {
    background:@baseflashlight;
    display:flex;
    height:.5rem; width:60%;
    content:"";
    margin-top:.5rem;
    border-radius:15px;
    margin-bottom:1.5rem;
  }

  .fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
  }
  .fade-enter, .fade-leave-to {
    opacity: 0;
  }


.options-content {
  padding:0 2rem;
}
/* //////////////////////////////////////////// */
/*  RESULTS */
/* //////////////////////////////////////////// */
.ipx-content-search {
  margin-top:2rem;
  aside {
    //margin-right:2rem;
  }
  main {
    //margin-left:2rem;
  }
  .ipx-card {
    border-width:1px;
    
    border:none;
    .ipx-card-content {
      padding-left:0;
    }
  }
}


/* ACCORDION */

.accordion {
  font-size:1rem;
  margin-bottom:3rem;
  h3, h4 {
    font-size:1rem;
    display:flex;
    justify-content: space-between;
    padding:.75rem 0;
    align-items:center;
    border-top:1px solid #e5e5e5;
    margin:0;
  }
  > h3 {
    &:first-child {
      border-top:none;
    }
    //
  }
  h4 {
    justify-content: flex-start;
    .count {
      flex-grow:1;
      display:flex;
      justify-content: flex-end;
    }
  }
  .filter-title {
    .icon-remove {
      display:none;
    }
    &[aria-expanded="true"] {
      color:@baseflash;
      font-weight:700;
      .icon-remove {
        display:inline;
      }
      .icon-add {
        display:none;
      }
    }
  }
  .collapse {
    font-size:.95rem;
    ul {
      list-style-type:none;
      li {
        a {
          display:flex;
          padding:.25rem 0;
          color:@darkgray;
          .count {
            display:flex;
            justify-content: flex-end;
            flex-grow:1;
            color:@darkgray;
          }
          &:hover {
            text-decoration:none;
            color:@baseflash;
            .count {
              color:@baseflash;
            }
          }
        }
      }
    }
  }
  &.accordion-filters-all {
    .filter-title {
        color:@baseflash;
        font-weight:700;
      }
    h4 {
      &::before {
        content:"";
        width:20px;
        height:20px;
        margin-right:.5rem;
        
      }
      &.filter-documents {
        &::before {
          background:url('../../assets/icons/ipx-icon-documents-small.svg');
          background-size:contain;
          background-position:center;
          background-repeat:no-repeat;
        }
      }
      &.filter-calendar {
        &::before {
          background:url('../../assets/icons/ipx-icon-calendar-small.svg');
          background-size:contain;
          background-position:center;
          background-repeat:no-repeat;
        }
      }
      &.filter-parliaments {
        &::before {
          background:url('../../assets/icons/ipx-icon-parliament-small.svg');
          background-size:contain;
          background-position:center;
          background-repeat:no-repeat;
        }
      }
      &.filter-conferences {
        &::before {
          background:url('../../assets/icons/ipx-icon-conferences-small.svg');
          background-size:contain;
          background-position:center;
          background-repeat:no-repeat;
        }
      }
      &.filter-news {
        &::before {
          background:url('../../assets/icons/ipx-icon-news-small.svg');
          background-size:contain;
          background-position:center;
          background-repeat:no-repeat;
        }
      }
    }
    .collapse {
      ul {
        list-style-type:none;
        li {
          a {
            &::before {
              content:"";
              width:12px;
              height:12px;
              margin:.2rem;
              margin-right:.5rem;
              border-left:1px dotted @darkgray;
              border-bottom:1px dotted @darkgray;
            }
          }
        }
      }
    }
  }
}
.badge-ipex {
  background:#f1f1f1;
  display:inline-flex;
  align-items:center;
  font-weight:400;
   font-size:.9rem;
  padding:.6rem .8rem;
  border-radius:10rem;
  color:#000;
  opacity:.75;
}
.badge-ipex:hover {
  opacity:1;
   color:#000;
}
.badge-ipex .material-icons {
  font-size:1rem;
  font-weight:600;
  margin-left:.2rem;
  opacity:.5;
}
.badge-ipex .material-icons:hover {
  opacity:.7;
}

.search-metadata {
  p {
    margin-bottom:.25rem;
    &:last-child {
      margin-bottom:1.5rem;
    }
  }
}





.searchin-dropdown {
  color:#000000;
  img {
    width:20px;
    height:auto;
    margin-right:.25rem;
  }
}


/* RESULTS ITEMS */

.result-item {
  position:relative;

  .ipx-card-type {
    display:flex;
    align-items:center;
    text-transform:uppercase;
    font-weight:400;
    color:#000;
    img {
      &.type-icon {
        width:20px;
        flex-shrink:0;
        height:auto;
        margin-right:.5rem;
      }
    }
    &.card-type-document {
      .badge {
        background:@base;
        color:white;
        
      }
    }
  }
}
small {
  font-size:.8rem;
}

.filter-subtitle {
  margin-top:.75rem;
  font-weight:700;
  font-size:.9rem;
}
.collapse ul {
  padding-left:.5rem;
}
.filter-input input {
  border-width:1px;
  font-size:.9rem;
  
}
.filter-input + ul {
  margin-top:.5rem;
}