<template>
    <div>
       <h2>How are the Senators elected?</h2>

<p>The Senate represents the authorities of Metropolitan France and its overseas territories as well as French citizens living abroad. The 348 Senators are elected through indirect and universal suffrage by 162,000 officials, among which municipal, departmental and regional delegates. A Senator is elected for a term of 6 years.</p>
<p>The number of Senators elected for each constituency is in proportion to the population (1 for the least populated department, 12 for Paris). Depending on the number of seats to be filled, Senators are elected by a two-round firstpast-the-post system (constituencies designating 1 or 2 Senators) or by proportional representation lists (constituencies designating 3 or more Senators).</p>
<p>Every three years, half the sieges are submitted to election.</p>
<p>The minimum age to run in Senatorial elections is 24.</p>

<h2>What is the role of the Senate?</h2>

<p>Senators review bills that are submitted by the Government or by a member of Parliament.</p>
<p>Senators also scrutinise the action of the Government and ensure that enacted laws are implemented accordingly.</p>
<p>The Senate is a guarantee of institutional stability: unlike the National Assembly, it cannot be dissolved. Additionally, the President, or Speaker, of the Senate takes over as Acting President of the Republic in the event of vacancy or incapacity.</p>

<p>Like the members of the National Assembly, Senators are first and foremost legislators who vote the laws of the Republic. They are empowered to take the initiative in tabling bills. They use this right frequently. But the government has priority in setting the agenda for both the National Assembly and the Senate. However, two weeks per month are reserved for a agenda chosen by the Senate (Art 48. of The French Constitution).</p>
<p>Moreover, a sitting day per month is reserved for an agenda chosen by opposition or minority political groups.</p>
<p>The Senate's right to take the initiative is expressed primarily in its right to amend bills. This enables both Senators and members of the National Assembly, as well as the government, to modify texts that are under discussion. Non-governmental bills are discussed first by the house to which their authors belong. Government bills may receive their first examination by either the Senate or the National Assembly. But the government's financial bills, including those that concern funding of the social security system, must first be tabled before the National Assembly.</p>
<p>Since 2003, the government's bills concerning territorial organization or representation of French citizens living outside France must first be tabled before the Senate.</p>
<p>Any bill, whether tabled by the government or by a member of Parliament, is discussed in turn by each of the two Houses in order to reach an agreement on the clauses to be examined. This process is called The Shuttle. The government is empowered to stop the Shuttle after two readings in each House. The Prime Minister then calls for a meeting of the Joint Mediation Committee which is composed of seven members from each House. They are entrusted with the task of drawing up a compromise on the clauses on which agreement has not been reached. If this mediation procedure fails to produce a compromise, the government can proceed to a new reading in each house and then ask the National Assembly to vote on the text as presented at its final reading.</p>


<p>In plenary sessions of the Chamber, Senators debate and vote legislation; they also control the Government. Senators decide on the guidelines of the bill and then examine it in detail, article by article. They modify it by tabling amendments. </p>
<p>Ministers must answer the questions asked by Senators during specific sessions.</p>

<p>Before the plenary sitting, bills are first considered by the relevant Committee on the subject. Each Senator is member of one of the 7 Standing Committees (Economic Affairs; Foreign Affairs, Defense and Armed Force; Social Affairs; Constitutional Laws, Legislation, Universal Suffrage, Standing Orders and General Administration; Culture, Education and Communication; Country Planning and Sustainable Development; Finance). Members of the Committee appoint a Rapporteur for the bill, who analyzes the draft and proposes amendments: for example, delete, add or modify an article.</p>
<p>In addition, the European Affairs Committee is in charge of informing the members about EU issues and checking the activities of the European Union.</p>

<p>The Senate examines the work of the Government through debates in plenary sessions and, permanently, through the work of Committees and delegations.</p>
<p>The principal methods are questioning ministers, Committees of investigation fact-finding missions, hearings and debates.</p>

<p>The French Senate convenes in the Luxembourg Palace (Paris).</p>

<h2>EU Matters</h2>

<p>Since 1992 the Senate - like the French National Assembly - may adopt resolutions on EU drafts, proposals and documents submitted to it by the Government before adoption. The procedure allows the Senate to give its point of view to the Government before decisions are made on any draft being negotiated.</p>
<p>The Senate decided to entrust The European Affairs Committee with the scrutiny of all EU legislative drafts passed on to it.</p>

<p>The European Affairs Committee includes 41 senators, who are - by the way - necessarily members of one of the six standing committees of the Senate. In addition to the scrutiny of EU proposals, it has the duty to follow the activities of the institutions of the European Union.</p>

<p>In 1998, the Senate set up a permanent administrative unit in Brussels to carry out direct relations with all the European institutions: the Commission, the Parliament, the Council, etc. As such, this administrative unit has an office within France's permanent representation to the European Union and another office at the European Parliament.</p>

<h2>Subsidiarity</h2>

<p>The possibility of tabling a draft reasoned opinion is open to all Senators. Such draft is submitted to the European Affairs Committee, which is also entitled to adopt draft reasoned opinions on its own. Therefore, the secretariat of the EAC assesses the compliance with the principle of subsidiarity of every legislative proposal sent by the European Commission in the framework of protocol 2 to the treaty of Lisbon.</p>

<p>The draft reasoned opinion is then transmitted to the appropriate standing committee for consideration and decision on behalf of the Senate.</p>

<p>At any moment of the procedure, the draft reasoned opinion can be referred to the Plenary by the President of any political group.</p>

    </div>
</template>