<template>
<div>
   <h2>EU MATTERS</h2>

<p>Within the Folketing, the European Affairs Committee takes care of most questions related to the European Union. Due to the long standing Danish tradition of having minority governments, the European Affairs Committee’s main task is to green light the government’s negotiation position in EU negotiations. If there is a majority against the government’s position within the European Affairs Committee, a Minister cannot endorse decisions in the Council of the European Union. The Committee also handles other business such as issuing reasoned opinions to the EU’s institutions. Transparency features high in Denmark: most meetings are held in public and are televised. </p>

<h2>SCRUTINY - HOW DOES IT WORK? </h2>

<p>The basic principles governing the Danish Parliament's scrutiny of European policy are laid down in the Danish Accession Act from 1972 and in so-called reports on procedures agreed between the European Affairs Committee and the Danish Government.</p>
 
<p>The main procedure is the oral presentation by Government Ministers in the Committee Thursday or Friday before the coming weeks’ Council meetings. Ministers will present items on the Council agenda which the Government considers to be of considerable importance or of major signiﬁcance. If the matters are of considerable importance, they are submitted to the Committee for information. If the agenda contains items involving the adoption of proposals of major signiﬁcance, the Minister will give an oral presentation of the mandate sought by the Danish Government in the matter. The mandate indicates how far the Government will go to defend its position in forthcoming negotiations. After the Minister’s presentation, Committee members may question the Minister and state their party’s position on one or more of the agenda items. After each round of questions, the Chair gives the ﬂoor to the Minister to respond. At the end, the Committee Chair sums up and draws the conclusions. If there is not a majority against the government’s position, it will proceed in EU negotiations as stated in the Committee. If there is a majority against a proposed mandate, the minister will have to come back to the Committee with a new one. The timing is also important as the government must present its mandate before the Danish position is established.</p>

<p>The Committee also scrutinize implementing and delegated acts as well as the Government’s handling of court cases before the European Court of Justice. The EU system is scrutinized by issuing (reasoned) opinions to the EU institutions.</p>

    </div>

</template>