<template>
    <div class="container-regular flex-grow-1 ipx-content">
        <section class="landing-content">
            <h2 class="section-title">Introductory text (optional)</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis nam ullam, adipisci, fuga sed reprehenderit voluptate quisquam vel, laborum amet veniam sapiente maxime? Molestiae sapiente iure voluptatibus delectus eius aliquid?</p>
        </section>
        <section>
            <h2 class="section-title">Title (optional)</h2>
            <div class="ipx-card-list">
                <!-- A card with an image -->
                <div class="ipx-card ipx-img-card">
                <a href="/" class="ipx-card-content">
                    <img src="/img/ipx-icon-high-activity.svg" alt="Item thumbnail" class="ipx-card-thumb">
                    <div>
                    <h3 class="ipx-card-title">Documents with high activity</h3>
                    <p class="ipx-card-description">Webtwo ipsum orkut reddit meebo skype vimeo jajah spock empressr zimbra, mobly napster hipmunk prezi chartly bitly spock. Loopt twones meebo hipmunk, fleck xobni.</p>
                    </div>
                </a>
                </div>
                <!-- A card with an image -->
                <div class="ipx-card ipx-img-card">
                <a href="/" class="ipx-card-content">
                    <img src="/img/ipx-icon-legislative-database.svg" alt="Item thumbnail" class="ipx-card-thumb">
                    <div>
                    <h3 class="ipx-card-title">Legislative database</h3>
                    <p class="ipx-card-description">Webtwo ipsum orkut reddit meebo skype vimeo jajah spock empressr zimbra, mobly napster hipmunk prezi chartly bitly spock. Loopt twones meebo hipmunk, fleck xobni.</p>
                    </div>
                </a>
                </div>
                <!-- A card with an image -->
                <div class="ipx-card ipx-img-card">
                <a href="/" class="ipx-card-content">
                    <img src="/img/ipx-icon-calendar.svg" alt="Item thumbnail" class="ipx-card-thumb">
                    <div>
                    <h3 class="ipx-card-title">Calendar of events</h3>
                    <p class="ipx-card-description">Webtwo ipsum orkut reddit meebo skype vimeo jajah spock empressr zimbra, mobly napster hipmunk prezi chartly bitly spock. Loopt twones meebo hipmunk, fleck xobni.</p>
                    </div>
                </a>
                </div>
                <!-- A card with an image -->
                <div class="ipx-card ipx-img-card">
                <a href="/" class="ipx-card-content">
                    <img src="/img/parliaments/romania.jpg" alt="Item thumbnail" class="ipx-card-thumb">
                    <div>
                        <h3 class="ipx-card-title">Inter-parliamentary conference for CFSP/CSDP</h3>
                        <p class="ipx-card-description">Inter-Parliamentary Conference for the Common Foreign and Security Policy and the Common Security and Defence Policy (CFSP/CSDP)</p>
                        <div class="ipx-card-footer d-flex align-items-end flex-grow-1">
                            <small class="d-flex"><i class="material-icons md-18 mr-1">place</i>Helsinki, Finland</small>
                        </div>
                    </div>
                </a>
                </div>
                <!-- A card with an image -->
                <div class="ipx-card ipx-img-card">
                <a href="/" class="ipx-card-content">
                    <img src="/img/ipx-icon-news.svg" alt="Item thumbnail" class="ipx-card-thumb">
                    <div>
                    <h3 class="ipx-card-title">News from parliaments</h3>
                    <p class="ipx-card-description">Webtwo ipsum orkut reddit meebo skype vimeo jajah spock empressr zimbra, mobly napster hipmunk prezi chartly bitly spock. Loopt twones meebo hipmunk, fleck xobni.</p>
                    </div>
                </a>
                </div>
                <!-- A card with an image -->
                <div class="ipx-card ipx-img-card">
                <a href="/" class="ipx-card-content">
                    <img src="/img/ipx-icon-folder.svg" alt="Item thumbnail" class="ipx-card-thumb">
                    <div>
                    <h3 class="ipx-card-title">Another card</h3>
                    <p class="ipx-card-description">Webtwo ipsum orkut reddit meebo skype vimeo jajah spock empressr zimbra, mobly napster hipmunk prezi chartly bitly spock. Loopt twones meebo hipmunk, fleck xobni.</p>
                    </div>
                </a>
                </div>
            </div>
        </section>
    </div>
</template>

<script>
import Cards from "~/components/cards/Cards"
    export default {
        components: {
            Cards
        },
        props: {}
    }
</script>

<style lang="scss">
    
</style>