<template>
    <div class="ipx-intro intro-doc intro-scrutiny">
      <div class="container-regular">
        <div class="d-flex align-items-center mb-3">
            <div class="d-flex align-items-center flex-grow-1">
                <img class="flag flag-md mr-2 flag-es" src="/img/flags/es.svg" alt="">
                <h1 class="m-0">Cortes Generales</h1>
            </div>
            <div class="ipx-tags flex-grow-0">
                <a-tooltip placement="top" overlayClassName="ipx-tooltip" trigger="click">
                    <template slot="title">
                    <strong>1</strong> Reasoned opinion has been sent
                    </template>
                    <span title="1 Reasoned opinion has been sent" class="btn btn-opinion ipx-tag shadow-sm">
                        <span class="tag-symbol">R</span>
                        <span class="tag-count">1</span>
                        <span class="sr-only">1 Reasoned opinion</span>
                    </span>
                </a-tooltip>
                <a-tooltip placement="top" overlayClassName="ipx-tooltip" trigger="click">
                    <template slot="title">
                    <strong>1</strong> Political Dialogue
                    </template>
                    <span title="1 Political Dialogue" class="btn btn-dialog ipx-tag shadow-sm">
                        <span class="tag-symbol">D</span>
                        <span class="tag-count">1</span>
                        <span class="sr-only">1 Political Dialogue</span>
                    </span>
                </a-tooltip>
            </div>
        </div>
        <div class="ipx-intro-light">
            <div class="d-flex flex-column justify-content-between w-100">
                <h6 class="p-0 mb-4 font-weight-bold">Scrutiny timeline</h6>
                <TimelineScrutiny/>
                <div class="scrutiny-activity">
                    <div>
                        <button type="button" class="btn btn-saisine ipx-tag shadow-sm">
                            <span class="material-icons md-18">mail</span>
                            <span class="sr-only">Lettre de saisine</span>
                        </button>
                        <span>
                            29/01/2019 : <strong>Lettre de saisine</strong> has been released
                        </span>
                    </div>
                    <div>
                        <button type="button" class="btn btn-opinion ipx-tag shadow-sm">
                            <span>R</span>
                            <span class="sr-only">Reasoned opinion</span>
                        </button>
                        <span>
                            10/03/2019 : A <strong>reasoned opinion</strong> has been sent
                        </span>
                    </div>
                    <div>
                        <button type="button" class="btn btn-dialog ipx-tag shadow-sm">
                            <span>D</span>
                            <span class="sr-only">Political dialogue</span>
                        </button>
                        <span>
                            25/05/2019 : A <strong>political dialogue</strong> has been initiated
                        </span>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
</template>

<script>

    import TimelineScrutiny from "~/components/documents/TimelineScrutiny"

    export default {
        components: {
             TimelineScrutiny
        },
        
        props: {
            title: String,
            description: String,
            imgSrc: String,
            imgAlt: String,
            imgCaption: String,
            hasThumbnail:  {hasThumbnail: Boolean, default: true},
            isLarge:    {isLarge: Boolean, default: false}
        }
    }
</script>

<style lang="scss">
    
</style>