<template>
    <div class="ipx-intro intro-doc">
      <div class="container-regular">
          <div class="d-flex align-items-center mb-3">
                <div class="d-flex align-items-center">
                    <img class="flag flag-md mr-2 flag-es" src="/img/flags/es.svg" alt="">
                    <h1 class="m-0">Cortes Generales</h1>
                </div>
                <div class="scrutiny-status flex-grow-1 d-flex justify-content-end align-items-center mt-3">
                    <button type="button" title="A reasoned opinion has been sent" class="btn btn-opinion ipx-tag shadow-sm">
                        <span>R</span>
                        <span class="sr-only">Reasoned opinion</span>
                    </button>
                    <button type="button" title="Political Dialogue" class="btn btn-dialog ipx-tag shadow-sm">
                        <span>D</span>
                        <span class="sr-only">Political Dialogue</span>
                    </button>
                </div>
            </div>
        <div class="ipx-intro-light">
            <div class="d-flex flex-column justify-content-between w-100">
                <h6 class="p-0 mb-4 font-weight-bold">Scrutiny timeline</h6>
                <TimelineScrutinyDeadline/>
                <div class="scrutiny-activity">
                    <div>
                        <button type="button" class="btn btn-saisine ipx-tag shadow-sm">
                            <span class="material-icons md-18">mail</span>
                            <span class="sr-only">Lettre de saisine</span>
                        </button>
                        <span>
                            29/01/2019 : <strong>Lettre de saisine</strong> has been released
                        </span>
                    </div>
                    <div>
                        <button type="button" class="btn btn-opinion ipx-tag shadow-sm">
                            <span>R</span>
                            <span class="sr-only">Reasoned opinion</span>
                        </button>
                        <span>
                            10/03/2019 : A <strong>reasoned opinion</strong> has been sent
                        </span>
                    </div>
                    <div>
                        <button type="button" class="btn btn-dialog ipx-tag shadow-sm">
                            <span>D</span>
                            <span class="sr-only">Political dialogue</span>
                        </button>
                        <span>
                            25/05/2019 : A <strong>political dialogue</strong> has been initiated
                        </span>
                    </div>
                    <div>
                       <div class="d-flex align-items-center">
                            <span><i class="material-icons">alarm</i></span>
                            <span class="sr-only">Scrutiny deadline</span>
                            <span class="ml-1">
                                20/08/2019 : <strong>Scrutiny deadline</strong> has been reached
                            </span>
                       </div>
                    </div>
                    <div>
                        <button type="button" class="btn btn-opinion ipx-tag shadow-sm">
                            <span>R</span>
                            <span class="sr-only">Reasoned Opinion</span>
                        </button>
                        <span>
                            04/09/2019 : A <strong>reasoned opinion</strong> has been sent
                        </span>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
</template>

<script>

    import TimelineScrutinyDeadline from "~/components/documents/TimelineScrutinyDeadline"

    export default {
        components: {
             TimelineScrutinyDeadline
        },
        
        props: {
            title: String,
            description: String,
            imgSrc: String,
            imgAlt: String,
            imgCaption: String,
            hasThumbnail:  {hasThumbnail: Boolean, default: true},
            isLarge:    {isLarge: Boolean, default: false}
        }
    }
</script>

<style lang="scss">
    
</style>