<template>
    <div class="ipx-intro intro-doc no-timeline">
      <div class="container-regular">
          <div class="d-flex align-items-center mb-3">
                <div class="d-flex align-items-center">
                    <img class="flag flag-md mr-2 flag-es" src="/img/flags/es.svg" alt="">
                    <h1 class="m-0">Cortes Generales</h1>
                </div>
            </div>
      </div>
    </div>
</template>

<script>

    import TimelineScrutiny from "~/components/documents/TimelineScrutiny"

    export default {
        components: {
             TimelineScrutiny
        },
        
        props: {
            title: String,
            description: String,
            imgSrc: String,
            imgAlt: String,
            imgCaption: String,
            hasThumbnail:  {hasThumbnail: Boolean, default: true},
            isLarge:    {isLarge: Boolean, default: false}
        }
    }
</script>

<style lang="scss">
    
</style>