<template>
    <div class="container-regular flex-grow-1 ipx-content">
        <section>
       <h2 class="section-title">
         IPEX after the Treaty of Lisbon
       </h2>
        <p>
          The establishment of IPEX derives from a recommendation given by the Conference of Speakers of the Parliaments of the European Union in the year 2000.
</p><p>
The main part of IPEX is the <nuxt-link to="/documents/eu-legislative-databases">Documents</nuxt-link> database which contains draft legislative proposals, consultation and information documents coming from the European Commission, parliamentary documents and information concerning the European Union. The parliamentary documents are uploaded individually by each national Parliament. IPEX offers at the same time the means for following the subsidiarity check deadlines.
</p><p>
IPEX also contains a Calendar of interparliamentary cooperation <nuxt-link to="/calendar/calendar-of-events">meetings and events</nuxt-link> in the European Union and a section on <nuxt-link to="/parliaments/splash">national Parliaments and the European Parliament</nuxt-link> providing links to relevant websites and databases in the field of interparliamentary cooperation, as well as specific procedures in EU Parliaments. IPEX is also hosting the EU Speakers and other <nuxt-link to="/conferences/all-conferences">conferences websites</nuxt-link>.
        </p>
     </section>

        
        <section class="d-flex flex-wrap">
         <div class="d-flex flex-column ipx-column-50">
            <h2 class="section-title">About IPEX</h2>
            <div class="ipx-card ipx-img-card">
                <a href="/" class="ipx-card-content p-2 p-2">
                    <img src="/img/ipx-icon-folder.svg" alt="Item thumbnail" class="ipx-card-thumb mini-thumb mr-3">
                    <h3 class="d-flex align-items-center flex-grow-1 m-0 p-0">About IPEX</h3>
                </a>
            </div>
            <div class="ipx-card ipx-img-card">
                <a href="/" class="ipx-card-content p-2">
                    <img src="/img/ipx-icon-folder.svg" alt="Item thumbnail" class="ipx-card-thumb mini-thumb mr-3">
                    <h3 class="d-flex align-items-center flex-grow-1 m-0 p-0">Basic documents</h3>
                </a>
            </div>
            <div class="ipx-card ipx-img-card">
                <a href="/" class="ipx-card-content p-2">
                    <img src="/img/ipx-icon-folder.svg" alt="Item thumbnail" class="ipx-card-thumb mini-thumb mr-3">
                    <h3 class="d-flex align-items-center flex-grow-1 m-0 p-0">Using IPEX</h3>
                </a>
            </div>
            <div class="ipx-card ipx-img-card">
                <a href="/" class="ipx-card-content p-2">
                    <img src="/img/ipx-icon-folder.svg" alt="Item thumbnail" class="ipx-card-thumb mini-thumb mr-3">
                    <h3 class="d-flex align-items-center flex-grow-1 m-0 p-0">Archives</h3>
                </a>
            </div>
        </div>
        <div class="d-flex flex-column ipx-column-50">
            <h2 class="section-title">Contacts</h2>
            <div class="ipx-card ipx-img-card">
                <a href="/" class="ipx-card-content p-2">
                    <img src="/img/ipx-icon-folder.svg" alt="Item thumbnail" class="ipx-card-thumb mini-thumb mr-3">
                    <h3 class="d-flex align-items-center flex-grow-1 m-0 p-0">Speakers</h3>
                </a>
            </div>
            <div class="ipx-card ipx-img-card">
                <a href="/" class="ipx-card-content p-2">
                    <img src="/img/ipx-icon-folder.svg" alt="Item thumbnail" class="ipx-card-thumb mini-thumb mr-3">
                    <h3 class="d-flex align-items-center flex-grow-1 m-0 p-0">Secretaries general</h3>
                </a>
            </div>
            <div class="ipx-card ipx-img-card">
                <a href="/" class="ipx-card-content p-2">
                    <img src="/img/ipx-icon-folder.svg" alt="Item thumbnail" class="ipx-card-thumb mini-thumb mr-3">
                    <h3 class="d-flex align-items-center flex-grow-1 m-0 p-0">IPEX Board</h3>
                </a>
            </div>
            <div class="ipx-card ipx-img-card">
                <a href="/" class="ipx-card-content p-2">
                    <img src="/img/ipx-icon-folder.svg" alt="Item thumbnail" class="ipx-card-thumb mini-thumb mr-3">
                    <h3 class="d-flex align-items-center flex-grow-1 m-0 p-0">IPEX Correspondents</h3>
                </a>
            </div>
            <div class="ipx-card ipx-img-card">
                <a href="/" class="ipx-card-content p-2">
                    <img src="/img/ipx-icon-folder.svg" alt="Item thumbnail" class="ipx-card-thumb mini-thumb mr-3">
                    <h3 class="d-flex align-items-center flex-grow-1 m-0 p-0">Information officer</h3>
                </a>
            </div>
            <div class="ipx-card ipx-img-card">
                <a href="/" class="ipx-card-content p-2">
                    <img src="/img/ipx-icon-folder.svg" alt="Item thumbnail" class="ipx-card-thumb mini-thumb mr-3">
                    <h3 class="d-flex align-items-center flex-grow-1 m-0 p-0">Contacts from COSAC</h3>
                </a>
            </div>
        </div>
      </section>
    </div>
</template>

<script>
import Cards from "~/components/cards/Cards"
    export default {
        components: {
            Cards
        },
        props: {}
    }
</script>

<style lang="scss">
    
</style>