<template>
    <div class="ipx-intro">
      <div class="container-regular d-flex">
        <div class="d-flex flex-column w-100">
            <h1>{{title}}</h1>
            <slot/>
        </div>
      </div>
    </div>
</template>

<script>
    export default {
        components: {
        },
        props: {
            title: String,
            description: String,
            imgSrc: String,
            imgAlt: String,
            imgCaption: String,
            hasThumbnail:  {hasThumbnail: Boolean, default: true},
            isLarge:    {isLarge: Boolean, default: false}
        }
    }
</script>

<style lang="scss">
    
</style>
