<template>
    <div class="ipx-intro" id="TopSearch">
      <div class="container-regular d-flex">
        <div class="d-flex flex-column w-100">
            <h1>{{title}}</h1>
            <form>
                <div class="ipx-input-container ipx-input-container-large d-flex mt-3">
                    <input class="form-control ipx-input-large" type="text" placeholder="Type a keyword">
                    <nuxt-link type="submit" to="/documents/results" class="btn btn-action btn-flash d-none align-items-center px-4">Search</nuxt-link>
                </div>
                <div class="mt-2 ml-4">
                    <small>Your last keywords:</small>
                    <a href="/" class="badge badge-default">Dublin</a>
                    <a href="/" class="badge badge-default">Brexit</a>
                </div>
            </form>
        </div>
      </div>
    </div>
</template>

<script>
    export default {
        components: {
        },
        props: {
            title: String,
            description: String,
            imgSrc: String,
            imgAlt: String,
            imgCaption: String,
            hasThumbnail:  {hasThumbnail: Boolean, default: true},
            isLarge:    {isLarge: Boolean, default: false}
        }
    }
</script>

<style lang="scss">
    
</style>
