<template>
    <div class="ipx-intro intro-doc"><!-- Add .yellow-card .orange-card or .red-card if needed -->
      <div class="container-regular">
        <div class="ipx-intro-light d-flex flex-column">
            <div class="dossier-ref w-100">
                <i class="material-icons mr-2">folder_open</i>
                Dossier ACC/2007/0060
            </div>
            <div class="related-documents d-flex align-items-center flex-wrap">
                <a class="current mr-3 mt-2" href="#" title="Go to COM/2006/0147FIN">COM/2006/0147FIN</a>
                <a class="mr-3 mt-2" href="#" title="Go to COM/2006/0147FIN">SWD/2013/0106</a>
                <a class="mr-3 mt-2" href="#" title="Go to COM/2006/0147FIN">SWD/2017/0188</a>
                <a class="mr-3 mt-2" href="#" title="Go to COM/2006/0147FIN">COM/2017/0279</a>
            </div>
        </div>
      </div>
    </div>
</template>

<script>
    export default {
        components: {
        },
        props: {
            title: String,
            description: String,
            imgSrc: String,
            imgAlt: String,
            imgCaption: String,
            hasThumbnail:  {hasThumbnail: Boolean, default: true},
            isLarge:    {isLarge: Boolean, default: false}
        }
    }
</script>

<style lang="scss">
    
</style>
