<template>
    <div class="container-regular ipx-content">
        <section class="cms-content mb-5 pb-5">
            <h2 class="section-title">Section title</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis nam ullam, adipisci, fuga sed reprehenderit voluptate quisquam vel, laborum amet veniam sapiente maxime? Molestiae sapiente iure voluptatibus delectus eius aliquid?</p>
            <p>In odio ab cumque explicabo iusto porro quibusdam libero distinctio ipsa quam a accusamus harum minus nemo veritatis mollitia, temporibus eaque eum voluptatem consequuntur impedit eveniet! Nobis itaque aperiam exercitationem?</p>
            <h2>Standard h2</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. In, pariatur id voluptas inventore dolore ab sunt, numquam natus error vero placeat itaque officia. Nihil quas nisi cupiditate iure facilis dignissimos.</p>
            <h3>This is a heading 3</h3>
            <ul class="ipx-list">
                <li><a href="#">This is a link</a></li>
                <li>In here, we added <a href="#">another link</a>.</li>
                <li><a href="#">Facilis quod.</a></li>
                <li><a href="#">Consectetur adipisicing elit</a></li>
            </ul>
            <h3>This is a heading 3</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, maiores quo. Rerum, fugit quibusdam dolorem maiores nihil ipsa possimus ipsum ullam doloremque explicabo sequi nisi voluptates veniam provident dolore iure.</p>
            <ul class="ipx-list">
                <li><a href="#">This is a link</a></li>
                <li>In here, we added <a href="#">another link</a>.</li>
                <li><a href="#">Facilis quod.</a></li>
                <li><a href="#">Consectetur adipisicing elit</a></li>
                <li><a href="#">Ipsam sit possimus quibusdam</a></li>
                <li><a href="#">Deleniti laboriosam explicabo!</a></li>
                <li><a href="#">Neque delectus ipsam atque reprehenderit voluptas</a></li>
            </ul>
            <h2 class="section-title">Another section title</h2>
            <p>Consectetur sint porro consequuntur praesentium harum quidem in quae nulla. Aliquam odit labore ipsum quis non ratione itaque temporibus ea perspiciatis. Neque commodi, repellendus dolor a veritatis temporibus error incidunt.</p>
            <p>Reiciendis minus dolorem mollitia voluptatum nesciunt fuga, ipsam veritatis eaque voluptatem? Consequatur hic odit autem consectetur tempora harum exercitationem molestiae molestias porro, reiciendis nam quasi at dolore animi quae explicabo.</p>
        </section>
    </div>
</template>

<script>
    export default {
        components: {
        },
        props: {
          
        }
    }
</script>

<style lang="scss">
    
</style>