<template>
    <div class="ipx-intro ipx-intro-detail">
      <div class="container-regular d-flex">
            <nuxt-link type="button" class="btn btn-action btn-white d-inline-flex align-items-center mr-3 my-4 pl-0" to="/lists/list-of-news">
            <i class="material-icons mx-2">keyboard_arrow_left</i>Back to list
          </nuxt-link>
      </div>
    </div>
</template>

<script>
    export default {
        components: {
        },
        props: {
            title: String,
            description: String,
            imgSrc: String,
            imgAlt: String,
            imgCaption: String,
            hasThumbnail:  {hasThumbnail: Boolean, default: true},
            isLarge:    {isLarge: Boolean, default: false}
        }
    }
</script>

<style lang="scss">
    
</style>
