<template>
    <div class="ipx-intro">
      <div class="container-regular d-flex">
        <img :src="imgSrc" :alt="imgAlt" class="ipx-thumb flex-grow-0 flex-shrink-0">
        <div class="d-flex flex-column w-100">
            <h1>{{title}}</h1>
            <p class="lead mb-0 mr-md-5">{{description}}</p>
            <small v-if="imgAlt" class="ipx-thumb-caption">Image: Here comes the description of the featured image.</small>
        </div>
      </div>
    </div>
</template>

<script>
    export default {
        components: {
        },
        props: {
            title: String,
            description: String,
            imgSrc: String,
            imgAlt: String,
            imgCaption: String,
            hasThumbnail:  {hasThumbnail: Boolean, default: true},
            isLarge:    {isLarge: Boolean, default: false}
        }
    }
</script>

<style lang="scss">
    
</style>
