<template>
  <div>
<section>
                <h2 class="section-title">
                    Upcoming events
                </h2>
                <div id="calendarControls" data-ride="carousel" data-interval="100000"
                    class="carousel ipx-card-carousel carousel-3-columns slide">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div>
                                <div class="ipx-card has-menu">
                                    <a href="/" class="ipx-card-content">
                                        <h3 class="ipx-card-title">ICM AFCO on The debate on the Future of Europe
                                        </h3>
                                        <p class="ipx-card-description">10/10/2019 - 10/10/2019</p>
                                        <div
                                            class="ipx-card-footer d-flex align-items-end flex-grow-1 justify-content-between">
                                            <small class="d-flex"><i class="material-icons md-18 mr-1">place</i>EP,
                                                Brussels</small>
                                        </div>
                                    </a>
                                    <div class="ipx-card-menu">
                                        <button class="btn btn-disc" data-toggle="dropdown" aria-haspopup="true"
                                            aria-expanded="false" title="Open menu">
                                            <i class="material-icons">more_vert</i>
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-right shadow-sm">
                                            <ul>
                                                <li><a class="dropdown-item" href="#">Download .ics</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="ipx-card has-menu">
                                    <a href="/" class="ipx-card-content">
                                        <h3 class="ipx-card-title">Debate on the Future of Europe
                                        </h3>
                                        <p class="ipx-card-description">10/10/2019 - 10/10/2019</p>
                                        <div
                                            class="ipx-card-footer d-flex align-items-end flex-grow-1 justify-content-between">
                                            <small class="d-flex"><i class="material-icons md-18 mr-1">place</i>EP,
                                                Brussels</small>
                                        </div>
                                    </a>
                                    <div class="ipx-card-menu">
                                        <button class="btn btn-disc" data-toggle="dropdown" aria-haspopup="true"
                                            aria-expanded="false" title="Open menu">
                                            <i class="material-icons">more_vert</i>
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-right shadow-sm">
                                            <ul>
                                                <li><a class="dropdown-item" href="#">Download .ics</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="ipx-card has-menu">
                                    <a href="/" class="ipx-card-content">
                                        <h3 class="ipx-card-title">ICM AFCO
                                        </h3>
                                        <p class="ipx-card-description">10/10/2019 - 10/10/2019</p>
                                        <div
                                            class="ipx-card-footer d-flex align-items-end flex-grow-1 justify-content-between">
                                            <small class="d-flex"><i class="material-icons md-18 mr-1">place</i>EP,
                                                Brussels</small>
                                        </div>
                                    </a>
                                    <div class="ipx-card-menu">
                                        <button class="btn btn-disc" data-toggle="dropdown" aria-haspopup="true"
                                            aria-expanded="false" title="Open menu">
                                            <i class="material-icons">more_vert</i>
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-right shadow-sm">
                                            <ul>
                                                <li><a class="dropdown-item" href="#">Download .ics</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div>
                                <div class="ipx-card has-menu">
                                    <a href="/" class="ipx-card-content">
                                        <h3 class="ipx-card-title">ICM AFCO on The debate on the Future of Europe
                                        </h3>
                                        <p class="ipx-card-description">10/10/2019 - 10/10/2019</p>
                                        <div
                                            class="ipx-card-footer d-flex align-items-end flex-grow-1 justify-content-between">
                                            <small class="d-flex"><i class="material-icons md-18 mr-1">place</i>EP,
                                                Brussels</small>
                                        </div>
                                    </a>
                                    <div class="ipx-card-menu">
                                        <button class="btn btn-disc" data-toggle="dropdown" aria-haspopup="true"
                                            aria-expanded="false" title="Open menu">
                                            <i class="material-icons">more_vert</i>
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-right shadow-sm">
                                            <ul>
                                                <li><a class="dropdown-item" href="#">Download .ics</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="ipx-card has-menu">
                                    <a href="/" class="ipx-card-content">
                                        <h3 class="ipx-card-title">Debate on the Future of Europe
                                        </h3>
                                        <p class="ipx-card-description">10/10/2019 - 10/10/2019</p>
                                        <div
                                            class="ipx-card-footer d-flex align-items-end flex-grow-1 justify-content-between">
                                            <small class="d-flex"><i class="material-icons md-18 mr-1">place</i>EP,
                                                Brussels</small>
                                        </div>
                                    </a>
                                    <div class="ipx-card-menu">
                                        <button class="btn btn-disc" data-toggle="dropdown" aria-haspopup="true"
                                            aria-expanded="false" title="Open menu">
                                            <i class="material-icons">more_vert</i>
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-right shadow-sm">
                                            <ul>
                                                <li><a class="dropdown-item" href="#">Download .ics</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="ipx-card has-menu">
                                    <a href="/" class="ipx-card-content">
                                        <h3 class="ipx-card-title">ICM AFCO
                                        </h3>
                                        <p class="ipx-card-description">10/10/2019 - 10/10/2019</p>
                                        <div
                                            class="ipx-card-footer d-flex align-items-end flex-grow-1 justify-content-between">
                                            <small class="d-flex"><i class="material-icons md-18 mr-1">place</i>EP,
                                                Brussels</small>
                                        </div>
                                    </a>
                                    <div class="ipx-card-menu">
                                        <button class="btn btn-disc" data-toggle="dropdown" aria-haspopup="true"
                                            aria-expanded="false" title="Open menu">
                                            <i class="material-icons">more_vert</i>
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-right shadow-sm">
                                            <ul>
                                                <li><a class="dropdown-item" href="#">Download .ics</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> <a href="#calendarControls" role="button" data-slide="prev"
                        class="carousel-control-prev"><button class="btn btn-disc"><i
                                class="material-icons">keyboard_arrow_left</i></button> <span
                            class="sr-only">Previous</span></a> <a href="#calendarControls" role="button"
                        data-slide="next" class="carousel-control-next"><button class="btn btn-disc"><i
                                class="material-icons">keyboard_arrow_right</i></button> <span
                            class="sr-only">Next</span></a>
                </div>
            </section>
            <section>
                <h2 class="section-title">
                    List of events
                </h2>
                <InputLarge :id="'FilterParl'" :placeholder="'Type a keyword'" :button="'Search'" :hasButton="true"/>
                <div class="form-row align-items-center mt-3">
                    <div class="col-sm-6 form-group d-flex flex-column">
                        <label for="eventType">Event type</label>
                        <a-select
                            class="filter-input"
                            show-search
                            default-value="All types"
                            option-filter-prop="children"
                            :filter-option="filterOption"
                            @focus="handleFocus"
                            @blur="handleBlur"
                            @change="handleChange"
                        >
                            <a-select-option value="All types">
                                All types
                            </a-select-option>
                            <a-select-option value="Type 1">
                                Type 1
                            </a-select-option>
                            <a-select-option value="Type 2">
                                Type 2
                            </a-select-option>
                            <a-select-option value="Type 3">
                                Type 3
                            </a-select-option>
                            <a-select-option value="Type 4">
                                Type 4
                            </a-select-option>
                        </a-select>
                    </div>
                    <div class="col-sm-6 form-group d-flex flex-column">
                        <label for="Inst">Institutions</label>
                        <a-select
                            class="filter-input"
                            show-search
                            default-value="All institutions"
                            option-filter-prop="children"
                            :filter-option="filterOption"
                            @focus="handleFocus"
                            @blur="handleBlur"
                            @change="handleChange"
                        >
                            <a-select-option value="All institutions">
                                All institutions
                            </a-select-option>
                            <a-select-option value="Austrian Parliament">
                                Austrian Parliament (AT)
                            </a-select-option>
                            <a-select-option value="Chambre des Représentants (BE)">
                                Chambre des Représentants (BE)
                            </a-select-option>
                            <a-select-option value="Deutscher Bundestag">
                                Deutscher Bundestag (DE)
                            </a-select-option>
                            <a-select-option value="European Commission">
                                European Commission
                            </a-select-option>
                        </a-select>
                    </div>
                </div>
                <div class="ipx-filters mt-3 d-flex align-items-center flex-wrap justify-content-between">
                    <div class="flex-shrink-0 my-2">
                        <label class="mr-3 my-0" for="">Show:</label>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" id="inlineCheckbox1" value="option1" name="exampleRadios" checked>
                            <label class="form-check-label" for="inlineCheckbox1">All</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" id="inlineCheckbox2" value="option2" name="exampleRadios">
                            <label class="form-check-label" for="inlineCheckbox2">This month</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" id="inlineCheckbox3" value="option2" name="exampleRadios">
                            <label class="form-check-label" for="inlineCheckbox3">This year</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" id="inlineCheckbox4" value="option4" name="example">
                            <label class="form-check-label" for="inlineCheckbox4">Date range</label>
                        </div>
                    </div>
                    <div class="flex-shrink-0 d-flex align-items-center my-2">
                        <a href="#" class="btn btn-sm btn-light">View calendar</a>
                    </div>
                </div>
                <div class="ipx-card-list">
                    <!-- Card model for an event -->
                    <div class="ipx-card has-menu">
                        <a href="/" class="ipx-card-content">
                            <h3 class="ipx-card-title">ICM AFCO on The debate on the Future of Europe
                            </h3>
                            <p class="ipx-card-description">10/10/2019 - 10/10/2019</p>
                            <div class="ipx-card-footer d-flex align-items-end flex-grow-1 justify-content-between">
                                <small class="d-flex"><i class="material-icons md-18 mr-1">place</i>EP, Brussels</small>
                            </div>
                        </a>
                        <div class="ipx-card-menu">
                            <button class="btn btn-disc" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false" title="Open menu">
                                <i class="material-icons">more_vert</i>
                            </button>
                            <div class="dropdown-menu dropdown-menu-right shadow-sm">
                                <ul>
                                    <li><a class="dropdown-item" href="#">Download .ics</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- Card model for an event with indicative dates -->
                    <div class="ipx-card has-menu">
                        <a href="/" class="ipx-card-content">
                            <h3 class="ipx-card-title">ICM AFCO on The debate on the Future of Europe

                            </h3>
                            <p class="ipx-card-description">10/10/2019 - 10/10/2019<span
                                    class="badge badge-indicative ml-2" v-if="isIndicative">Indicative dates</span></p>
                            <div class="ipx-card-footer d-flex align-items-end flex-grow-1 justify-content-between">
                                <small class="d-flex"><i class="material-icons md-18 mr-1">place</i>EP, Brussels</small>
                            </div>
                        </a>
                        <div class="ipx-card-menu">
                            <button class="btn btn-disc" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false" title="Open menu">
                                <i class="material-icons">more_vert</i>
                            </button>
                            <div class="dropdown-menu dropdown-menu-right shadow-sm">
                                <ul>
                                    <li><a class="dropdown-item" href="#">Download .ics</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- Card model for an event -->
                    <div class="ipx-card has-menu">
                        <a href="/" class="ipx-card-content">
                            <h3 class="ipx-card-title">ICM AFCO on The debate on the Future of Europe
                            </h3>
                            <p class="ipx-card-description">10/10/2019 - 10/10/2019</p>
                            <div class="ipx-card-footer d-flex align-items-end flex-grow-1 justify-content-between">
                                <small class="d-flex"><i class="material-icons md-18 mr-1">place</i>EP, Brussels</small>
                            </div>
                        </a>
                        <div class="ipx-card-menu">
                            <button class="btn btn-disc" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false" title="Open menu">
                                <i class="material-icons">more_vert</i>
                            </button>
                            <div class="dropdown-menu dropdown-menu-right shadow-sm">
                                <ul>
                                    <li><a class="dropdown-item" href="#">Download .ics</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- Card model for an event -->
                    <div class="ipx-card has-menu">
                        <a href="/" class="ipx-card-content">
                            <h3 class="ipx-card-title">ICM AFCO on The debate on the Future of Europe
                            </h3>
                            <p class="ipx-card-description">10/10/2019 - 10/10/2019</p>
                            <div class="ipx-card-footer d-flex align-items-end flex-grow-1 justify-content-between">
                                <small class="d-flex"><i class="material-icons md-18 mr-1">place</i>EP, Brussels</small>
                            </div>
                        </a>
                        <div class="ipx-card-menu">
                            <button class="btn btn-disc" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false" title="Open menu">
                                <i class="material-icons">more_vert</i>
                            </button>
                            <div class="dropdown-menu dropdown-menu-right shadow-sm">
                                <ul>
                                    <li><a class="dropdown-item" href="#">Download .ics</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="ipx-card has-menu">
                        <a href="/" class="ipx-card-content">
                            <h3 class="ipx-card-title">ICM AFCO on The debate on the Future of Europe
                            </h3>
                            <p class="ipx-card-description">10/10/2019 - 10/10/2019</p>
                            <div class="ipx-card-footer d-flex align-items-end flex-grow-1 justify-content-between">
                                <small class="d-flex"><i class="material-icons md-18 mr-1">place</i>EP, Brussels</small>
                            </div>
                        </a>
                        <div class="ipx-card-menu">
                            <button class="btn btn-disc" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false" title="Open menu">
                                <i class="material-icons">more_vert</i>
                            </button>
                            <div class="dropdown-menu dropdown-menu-right shadow-sm">
                                <ul>
                                    <li><a class="dropdown-item" href="#">Download .ics</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- Card model for an event with indicative dates -->
                    <div class="ipx-card has-menu">
                        <a href="/" class="ipx-card-content">
                            <h3 class="ipx-card-title">ICM AFCO on The debate on the Future of Europe

                            </h3>
                            <p class="ipx-card-description">10/10/2019 - 10/10/2019<span
                                    class="badge badge-indicative ml-2" v-if="isIndicative">Indicative dates</span></p>
                            <div class="ipx-card-footer d-flex align-items-end flex-grow-1 justify-content-between">
                                <small class="d-flex"><i class="material-icons md-18 mr-1">place</i>EP, Brussels</small>
                            </div>
                        </a>
                        <div class="ipx-card-menu">
                            <button class="btn btn-disc" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false" title="Open menu">
                                <i class="material-icons">more_vert</i>
                            </button>
                            <div class="dropdown-menu dropdown-menu-right shadow-sm">
                                <ul>
                                    <li><a class="dropdown-item" href="#">Download .ics</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- Card model for an event -->
                    <div class="ipx-card has-menu">
                        <a href="/" class="ipx-card-content">
                            <h3 class="ipx-card-title">ICM AFCO on The debate on the Future of Europe
                            </h3>
                            <p class="ipx-card-description">10/10/2019 - 10/10/2019</p>
                            <div class="ipx-card-footer d-flex align-items-end flex-grow-1 justify-content-between">
                                <small class="d-flex"><i class="material-icons md-18 mr-1">place</i>EP, Brussels</small>
                            </div>
                        </a>
                        <div class="ipx-card-menu">
                            <button class="btn btn-disc" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false" title="Open menu">
                                <i class="material-icons">more_vert</i>
                            </button>
                            <div class="dropdown-menu dropdown-menu-right shadow-sm">
                                <ul>
                                    <li><a class="dropdown-item" href="#">Download .ics</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- Card model for an event -->
                    <div class="ipx-card has-menu">
                        <a href="/" class="ipx-card-content">
                            <h3 class="ipx-card-title">ICM AFCO on The debate on the Future of Europe
                            </h3>
                            <p class="ipx-card-description">10/10/2019 - 10/10/2019</p>
                            <div class="ipx-card-footer d-flex align-items-end flex-grow-1 justify-content-between">
                                <small class="d-flex"><i class="material-icons md-18 mr-1">place</i>EP, Brussels</small>
                            </div>
                        </a>
                        <div class="ipx-card-menu">
                            <button class="btn btn-disc" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false" title="Open menu">
                                <i class="material-icons">more_vert</i>
                            </button>
                            <div class="dropdown-menu dropdown-menu-right shadow-sm">
                                <ul>
                                    <li><a class="dropdown-item" href="#">Download .ics</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <button class="btn btn-load border-radius-xl text-uppercase btn-xl px-4">
                        Load more
                    </button>
                </div>
              
            </section>
</div>
</template>

<script>

import InputLarge from "~/components/forms/InputLarge";
import RadioInline from "~/components/forms/RadioInline";

export default {
  layout: "default",
  components: {
    InputLarge,
    RadioInline
  }
}
</script>