<template>
    <div class="external-contents d-flex align-items-center flex-wrap ">
        <a href="https://oeil.secure.europarl.europa.eu/oeil/home/home.do" target="_blank" class="oeil-card" title="Legislative Observatory">
            <div class="d-flex align-items-center justify-content-center">
                <img src="/img/oeil-logo2.png" alt="Legislative Observatory">
            </div>
        </a>
        <a href="https://eur-lex.europa.eu/legal-content/EN/ALL/?uri=COM:2008:0606:FIN" target="_blank" class="eurlex-card" title="Eur-LEX">
            <div class="d-flex align-items-center justify-content-center">
                <img src="/img/eurlex.png" alt="EUR-Lex logo">
            </div>
        </a>
        <a href="https://portal.cor.europa.eu/subsidiarity/regpex/Pages/default.aspx" target="_blank" class="regpex-card" title="European Committee of the Regions">
            <div class="d-flex align-items-center justify-content-center">
                <img src="/img/logo_CoR.png" alt="Committee of the Regions logo">
                <span class="regpex-label">RegPEX</span>
            </div>
        </a>
    </div>
</template>

<script>
export default {

}
</script>

<style>

</style>
