<template>
    <ul class="list-tags">
        <li :title="item.name" class="nav-item" v-for="(item, index) in Languages.languages" :key="index">
            <span>{{item.lang}}</span>
            <a href="#" class="link-pdf pdf-icon" title="Download .pdf file">pdf</a>
            <a href="#" class="link-doc doc-icon" title="Download .doc file">doc</a>
        </li>
    </ul>
</template>

<script>
import Languages from "~/data/Languages.json"

export default {
  layout: "default",
  data() {
    return {
      Languages: Languages
    }
  }
}
</script>