<template>
    <div class="ipx-card-list ipx-card-list-3col">
        <nuxt-link to="/documents/scrutiny" v-for="(item, index) in Chambers.chambers" class="ipx-card ipx-card-scrutiny" :key="index">
            <div class="d-flex align-items-start">
                <span class="chamber flex-grow-1">{{item.name}}</span>
                <div class="d-flex mb-2 align-items-center justify-content-end flex-wrap">
                    <a-tooltip  v-if="item.opinion" placement="top" overlayClassName="ipx-tooltip" trigger="click">
                        <template slot="title">
                        <strong>1</strong> Reasoned opinion has been sent
                        </template>
                        <span title="1 Reasoned opinion has been sent" class="btn btn-opinion ipx-tag shadow-sm">
                            <span class="tag-symbol">R</span>
                            <span class="tag-count">1</span>
                            <span class="sr-only">1 Reasoned opinion</span>
                        </span>
                    </a-tooltip>
                    <a-tooltip v-if="item.dialogue" placement="top" overlayClassName="ipx-tooltip" trigger="click">
                        <template slot="title">
                        <strong>1</strong> Political Dialogue
                        </template>
                        <span title="1 Political Dialogue" class="btn btn-dialog ipx-tag shadow-sm">
                            <span class="tag-symbol">D</span>
                            <span class="tag-count">1</span>
                            <span class="sr-only">1 Political Dialogue</span>
                        </span>
                    </a-tooltip>
                    <!-- If Information to exchange -->
                    <a-tooltip v-if="item.exchange" placement="top" overlayClassName="ipx-tooltip" trigger="click">
                        <template slot="title">
                        <strong>1</strong> important information to exchange
                        </template>
                        <span title="There is 1 important information to exchange" class="btn btn-exchange ipx-tag shadow-sm">
                            <span class="tag-symbol">E</span>
                            <span class="tag-count">1</span>
                            <span class="sr-only">1 important information to exchange</span>
                        </span>
                    </a-tooltip>
                    <!-- If Opposition -->
                    <a-tooltip v-if="item.opposition" placement="top" overlayClassName="ipx-tooltip" trigger="click">
                        <template slot="title">
                        A national Parliament makes known its opposition to bridging clauses
                        </template>
                        <span title="A national Parliament makes known its opposition to bridging clauses" class="btn btn-opposition ipx-tag shadow-sm">
                            <span class="tag-symbol">O</span>
                            <span class="tag-count">1</span>
                            <span class="sr-only">A national Parliament makes known its opposition to bridging clauses</span>
                        </span>
                    </a-tooltip>
                    <!-- If Subsidiarity -->
                    <a-tooltip v-if="item.subsidiarity" placement="top" overlayClassName="ipx-tooltip" trigger="click">
                        <template slot="title">
                        Subsidiarity procedure is in progress
                        </template>
                        <span title="Subsidiarity procedure is in progress and there are possible concerns." class="btn btn-subsidiarity ipx-tag shadow-sm">
                            <span class="tag-symbol">S</span>
                            <span class="tag-count">1</span>
                            <span class="sr-only">Subsidiarity procedure is in progress</span>
                        </span>
                    </a-tooltip>
                </div>
            </div>
            <div class="progress progress-xs">
                <div :title="item.status" class="progress-bar" role="progressbar" v-bind:style="'width:'+item.progress+'%'" :aria-valuenow="item.progress" aria-valuemin="0" aria-valuemax="100" v-bind:class="{ 'bg-default': item.noinfo, 'bg-info': item.inprogress, 'bg-success': item.completed }">
                </div>
            </div>
            <div class="d-flex align-items-center">
                <img :class="'flag flag-xs mr-2 flag-'+item.countrycode" :src="'/img/flags/'+item.countrycode+'.svg'" :alt="item.country">
                <span class="country">{{item.country}}</span>
            </div>
            <div class="d-flex d-md-none justify-content-center mb-3">
                <span class="btn btn-action">View scrutiny</span>
            </div>
        </nuxt-link>
    </div>
</template>

<script>
import Breadcrumbs from "~/components/navigation/Breadcrumbs";
import ContentHeaderDocument from "~/components/layout/ContentHeaderDocument";
import ContentLanding from "~/components/layout/ContentLanding";
import IpexWidget from "~/components/IpexWidget"
import TimelineDocument from "~/components/documents/TimelineDocument"
import ExternalContents from "~/components/documents/ExternalContents"
import Scrutinies from "~/components/documents/Scrutinies"
import General from "~/data/General.json";
import Chambers from "~/data/Chambers.json";

export default {
  layout: "default",
  components: {
    Breadcrumbs,
    ContentHeaderDocument,
    ContentLanding,
    IpexWidget,
    TimelineDocument,
    ExternalContents,
    Scrutinies
  },
  data() {
    return {
      page: "landing",
      pagetitle: "COM/2006/0147FIN",
      General: General,
      Chambers: Chambers,
      breadcrumbs: [
        {
          text: "Home",
          link: "/"
        },
        {
          text: "Documents",
          link: "/"
        }
      ]
    }
  }
}
</script>