<template>
<div>
    <p>Germany is a Federal Republic and one of the six founding members of the European Union Legislative powers are distributed between the Federal State ("Bund") and the 16 federal states ("Länder"), as set out by the Basic Law of 23 May 1949 (Art. 70 and following).</p>

<h2>EU MATTERS</h2>

 <p>Within the Bundesrat, the Committee on European Union Questions takes care of examining EU documents relevant for the Länder, including EU draft legislation and respect of subsidiarity and proportionality. It works on the basis of the recommendations set out by the respective specialised committee.</p>

 <p>Decisions that have a legal impact beyond the Bundesrat must be taken by the plenary (coming together in average once a month). For eventualities that a decision has to be taken more rapidly, the Chamber of European Affairs was set up.  Each Land has the right to appoint a member out of the Bundesrat to the Chamber.</p>
    </div>
</template>