<template>
  <div>

<p>Under the Constitution of the Czech Republic, which came into effect on 1st January 1993, legislative power is entrusted to the Parliament of the Czech Republic, which has two chambers: the Senate and the Chamber of Deputies. The Czech Republic joined the European Union on 1st May 2004.</p>
<h2>EU AFFAIRS IN THE SENATE</h2>
<p>The Senate, like the Chamber of Deputies and other national parliaments in EU Member States, is involved in the process of shaping the policies of the European Union. It debates and delivers opinions on European legislative proposals before they are approved in the Council of the EU. The Senate also deals with other strategic documents submitted by European institutions.</p> 

<p>The Senate has entrusted primarily two committees with the deliberation on the European agenda: the Committee on EU Affairs and the Committee on Foreign Affairs, Defence and Security. In the Standing Rules of the Senate, they are referred to as “designated committees”. These two committees share the responsibility for management of scrutiny of EU legislation in the Senate. They decide on the selection of documents for scrutiny, on the involvement of other committees and on the submission of scrutinized documents to plenary debate. If there is an opinion of the designated committee it has to be confirmed by the plenary of the Senate because only the resolutions which are adopted by the Plenary should be considered as an official position of the Senate.</p>

<p>Since there is no specific procedure relating to the subsidiarity issues, the system of parliamentary scrutiny of the EU legislative process is applied. The primary responsibility for the subsidiarity issues lies in the hands of the Committee on EU Affairs as the designated committee, but its resolution containing a reasoned opinion has to be confirmed by the plenary of the Senate.</p>

<h2>SCRUTINY - HOW DOES IT WORK?</h2>

<h5>Practical case</h5>
<h3>BEGINNING OF THE SCRUTINY</h3>

<p>1st step -  	Selection for scrutiny by a designated committee </p>
<ul>
  <li>From weekly overviews of EU documents, upon the recommendation of the chairman of the designated committee;</li> 
  <li>A specialized committee may be invited to provide opinion;</li> 
</ul>

<p>2nd step - 	Document is debated, together with the position of the Government, at the meeting of the specialized committee, if it was invited to provide the opinion;</p>

<p>3rd step - 	Document is debated, together with the position of the Government, at the meeting of the designated committee </p>
<ul>
  <li>Document is taken into account – END OF SCRUTINY;</li> 
  <li>Document is recommended to be debated at the plenary, see below; </li> 
</ul>

<p>4th step -  	Document is debated, together with the position of the Government, at the plenary meeting (1 meeting/month)	</p>
<ul>
  <li>Opinion is adopted either according to the recommendation of the designated committee or with modifications;</li> 
  <li>Opinion of the Senate is always communicated to the Government and, if the Senate decides so, also to the European Commission within the political dialogue;</li> 
  <li>Only the resolutions which are adopted by the Plenary should be considered as an official position of the Senate.</li> 
</ul>

<h3>END OF SCRUTINY</h3>

  </div>
</template>