<template>
  <div>
    <h2>National Assembly and European Union</h2>
    <p>
      The National Assembly, together with the Senate, forms one of the two
      houses of the French Parliament. The National Assembly votes on laws,
      monitors government action and assesses public policy. It is made up of
      577 Members of Parliament (M.P.s) elected for five years by direct
      universal suffrage. The seat of the National Assembly is the Palais
      Bourbon in Paris.
    </p>
    <p>
      In recent years, the National Assembly’s involvement in European matters
      has been gradually strengthened. In Article 88-4, the Constitution
      provides that ‘‘The Government shall lay before the National Assembly and
      the Senate, as soon as they have been transmitted to the Council of the
      European Union, any drafts of or proposals for instruments of the European
      Communities or the European Union’’. As such, the National Assembly has a
      right to examine European matters. More specifically, it has a European
      Affairs Committee tasked with looking into the european acts, informing
      M.P.s as well as developing inter-parliamentary cooperation Monitor and
      Inform
    </p>
    <p>
      Made up of 48 M.P.s, the European Affairs Committee is entrusted every
      year with the review of approximately 1500 European texts. In this
      context, the Committee prepares numerous information reports and may
      organise the hearing of ministers and leading French and European figures.
      The minister in charge of European Affairs is auditioned after every
      European Council, and the other ministers may be heard before any
      important meeting of the Council of the European Union depending on their
      spheres of competence. Joint meetings are organised with the other
      European Affairs Committees of European Union countries (namely of Germany
      and in the Weimar format).
    </p>
    <p>
      On the most important issues, the National Assembly takes decisions by way
      of resolutions.
    </p>
    <h2>Respecting the principle of subsidiarity</h2>
    <p>
      The Treaty of Lisbon entrusts national parliaments with the task of
      ensuring that the principle of subsidiarity is respected. To this end,
      Article 88-6 of the Constitution provides that the National Assembly can
      issue reasoned opinions on the compliance of draft European legislative
      acts with the principle of subsidiarity. Since the coming into force of
      this Treaty, the National Assembly has adopted seven resolutions with a
      reasoned opinion challenging the conformity of a draft legislative act to
      the principle of subsidiarity. This monitoring mission represents the
      first Parliamentary incursion at the very heart of the functioning of
      European institutions.
    </p>
  </div>
</template>
