<template>
    <div class="bordered-cards d-md-flex flex-wrap">
        <div class="ipx-card flex-column home-card home-document">
            <a href="/" class="ipx-card-content w-100">
                <h3 class="ipx-card-title">
                    <span class="">Preparing for Brexit (energy-efficiency + visa policy)</span>
                </h3>
                <span class="info-type">News</span>
                <p class="ipx-card-description">
                    Full delivery of the 10 priorities of the Juncker Commission before the European Parliament elections.
                </p>
            </a>
            <div class="badges-categories">
                <a href="#" title="See Brexit category">
                    <span class="badge">Brexit</span>
                </a>
                <a href="#" title="See UK category">
                    <span class="badge">European Central Bank</span>
                </a>
            </div>
        </div>
        <div class="ipx-card flex-column home-card home-document">
            <a href="/" class="ipx-card-content w-100">
                <div class="ipx-title-wrapper">
                    <div class="ipx-card-title">
                        <h3 class="">COM/2006/0147FIN</h3>
                        <!-- if card has yellow flag -->
                        <a-tooltip placement="top" overlayClassName="ipx-tooltip" trigger="click">
                            <template slot="title">
                            Yellow card
                            </template>
                            <span title="Yellow card" class="btn btn-yellowcard rounded ipx-tag shadow-sm">Y<span class="sr-only">Yellow card</span></span>
                        </a-tooltip>
                    </div>
                    <div class="ipx-tags">
                        <a-tooltip placement="top" overlayClassName="ipx-tooltip" trigger="click">
                            <template slot="title">
                            <strong>1</strong> Reasoned opinion has been sent
                            </template>
                            <span title="1 Reasoned opinion has been sent" class="btn btn-opinion ipx-tag shadow-sm">
                                <span class="tag-symbol">R</span>
                                <span class="tag-count">1</span>
                                <span class="sr-only">1 Reasoned opinion</span>
                            </span>
                        </a-tooltip>
                        <a-tooltip placement="top" overlayClassName="ipx-tooltip" trigger="click">
                            <template slot="title">
                            <strong>1</strong> important information to exchange
                            </template>
                            <span title="There is important information to exchange" class="btn btn-exchange ipx-tag shadow-sm">
                                <span class="tag-symbol">E</span>
                                <span class="tag-count">1</span>
                                <span class="sr-only">1 important information to exchange</span>
                            </span>
                        </a-tooltip>
                    </div>
                </div>
                <span class="info-type">Document</span>
                <p class="ipx-card-description">
                    Proposal for a Council Regulation concerning the implementation of the Agreement concluded by the EC following negotiations in the framework of Article XXIV.6 of GATT 1994.
                </p>
            </a>
            <div class="badges-categories">
                <a href="#" title="See Brexit category">
                    <span class="badge">EC</span>
                </a>
                <a href="#" title="See UK category">
                    <span class="badge">European Semester</span>
                </a>
            </div>
        </div>
        <div class="ipx-card flex-column home-card home-document">
            <a href="/" class="ipx-card-content w-100">
                <h3 class="ipx-card-title">
                    <span class="">General Information EUSC</span>
                </h3>
                <span class="info-type">Event</span>
                <p class="ipx-card-description">
                    Conference of the Speakers of European Union Parliaments 8 - 9 April 
                </p>
            </a>
            <div class="badges-categories">
                <a href="#" title="See Brexit category">
                    <span class="badge">Conference</span>
                </a>
            </div>
        </div>
    </div>
</template>