<template>
    <section class="homeblock noborder mt-4">
        <h2 class="section-title text-center pt-0">Subscribe! <span class="lead">Get notified about...</span></h2>
        <div class="d-flex flex-wrap">
            <div class="d-flex flex-column justify-content-start align-items-start p-4 stored-search-box" v-bind:class="{ 'stored-search-selected': isActive1 }" v-on:click="isActive1 = !isActive1">
                <h5>Important information to exchange</h5>
                <p>A selection of important information to exchange eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <i class="material-icons">check_circle</i>
            </div>
            <div class="d-flex flex-column justify-content-start align-items-start p-4 stored-search-box" v-bind:class="{ 'stored-search-selected': isActive2 }" v-on:click="isActive2 = !isActive2">
                <h5>Reasoned opinions</h5>
                <p>A selection of reasoned opinions related documents eiusmod tempor incididunt ut labore et dolore magna aliqua tempor incididunt. </p>
                <i class="material-icons">check_circle</i>
            </div>
            <div class="d-flex flex-column justify-content-start align-items-start p-4 stored-search-box" v-bind:class="{ 'stored-search-selected': isActive3 }" v-on:click="isActive3 = !isActive3">
                <h5>Brexit related</h5>
                <p>A selection of important information to exchange eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                <i class="material-icons">check_circle</i>
            </div>
            <div class="d-flex flex-column justify-content-start align-items-start p-4 stored-search-box" v-bind:class="{ 'stored-search-selected': isActive4 }" v-on:click="isActive4 = !isActive4">
                <h5>Coming events</h5>
                <p>A selection of coming events eiusmod tempor incididunt ut labore et dolore magna aliqua eiusmod tempor ut labore. </p>
                <i class="material-icons">check_circle</i>
            </div>
            <div class="more-subscriptions w-100 d-flex flex-wrap" v-if="showSub == true">
                <div class="d-flex flex-column justify-content-start align-items-start p-4 stored-search-box" v-bind:class="{ 'stored-search-selected': isActive5 }" v-on:click="isActive5 = !isActive5">
                    <h5>Important information to exchange</h5>
                    <p>A selection of important information to exchange eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    <i class="material-icons">check_circle</i>
                </div>
                <div class="d-flex flex-column justify-content-start align-items-start p-4 stored-search-box" v-bind:class="{ 'stored-search-selected': isActive6 }" v-on:click="isActive6 = !isActive6">
                    <h5>Reasoned opinions</h5>
                    <p>A selection of reasoned opinions related documents eiusmod tempor incididunt ut labore et dolore magna aliqua tempor incididunt. </p>
                    <i class="material-icons">check_circle</i>
                </div>
                <div class="d-flex flex-column justify-content-start align-items-start p-4 stored-search-box" v-bind:class="{ 'stored-search-selected': isActive7 }" v-on:click="isActive7 = !isActive7">
                    <h5>Brexit related</h5>
                    <p>A selection of important information to exchange eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                    <i class="material-icons">check_circle</i>
                </div>
                <div class="d-flex flex-column justify-content-start align-items-start p-4 stored-search-box" v-bind:class="{ 'stored-search-selected': isActive8 }" v-on:click="isActive8 = !isActive8">
                    <h5>Coming events</h5>
                    <p>A selection of coming events eiusmod tempor incididunt ut labore et dolore magna aliqua eiusmod tempor ut labore. </p>
                    <i class="material-icons">check_circle</i>
                </div>
                <div class="d-flex flex-column justify-content-start align-items-start p-4 stored-search-box" v-bind:class="{ 'stored-search-selected': isActive9 }" v-on:click="isActive9 = !isActive9">
                    <h5>Important information to exchange</h5>
                    <p>A selection of important information to exchange eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    <i class="material-icons">check_circle</i>
                </div>
                <div class="d-flex flex-column justify-content-start align-items-start p-4 stored-search-box" v-bind:class="{ 'stored-search-selected': isActive10 }" v-on:click="isActive10 = !isActive10">
                    <h5>Reasoned opinions</h5>
                    <p>A selection of reasoned opinions related documents eiusmod tempor incididunt ut labore et dolore magna aliqua tempor incididunt. </p>
                    <i class="material-icons">check_circle</i>
                </div>
                <div class="d-flex flex-column justify-content-start align-items-start p-4 stored-search-box" v-bind:class="{ 'stored-search-selected': isActive11 }" v-on:click="isActive11 = !isActive11">
                    <h5>Brexit related</h5>
                    <p>A selection of important information to exchange eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                    <i class="material-icons">check_circle</i>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center w-100 mt-5">
            <button class="btn btn-action btn-default btn-large d-flex align-items-center" @click="showSub = !showSub">
                <span class="mr-2" v-if="showSub == false">Show more</span><span class="mr-2" v-if="showSub == true">Show less</span> subscriptions
            </button>
        </div>
    </section>
</template>

<script>
export default {
data() {
    return {
      isActive1 : false,
      isActive2 : false,
      isActive3 : false,
      isActive4 : false,
      isActive5 : false,
      isActive6 : false,
      isActive7 : false,
      isActive8 : false,
      isActive9 : false,
      isActive10 : false,
      isActive11 : false,
      showSub: false,
    }
  }
}
</script>

<style>

</style>
