<template>
    <div class="bordered-cards d-md-flex flex-wrap">
        <div class="ipx-card flex-column home-card home-news">
            <a href="/" class="ipx-card-content w-100 flex-grow-1">
                <h3 class="ipx-card-title">
                    <span>22/03/2019</span>
                </h3>
                <span class="info-type d-none">News</span>
                <p class="ipx-card-description flex-grow-1">
                    Government Statement of Chancellor Angela Merkel and lively debate with regard to upcoming blabla blabla bla bla bla
                </p>
                <div class="ipx-card-footer d-flex align-items-center">
                    <img class="flag flag-sm mr-2 flag-de" src="/img/flags/de.svg" alt="">Deutscher Bundestag
                </div>
            </a>
        </div>
        <div class="ipx-card flex-column home-card home-news">
            <a href="/" class="ipx-card-content w-100  flex-grow-1">
                <h3 class="ipx-card-title">
                    <span>08/01/2019</span>
                </h3>
                <span class="info-type d-none">News</span>
                <p class="ipx-card-description flex-grow-1">
                    Mixed reaction to the 2019 European Commission Work Programme
                </p>
                <div class="ipx-card-footer d-flex align-items-center">
                    <img class="flag flag-sm mr-2 flag-eu" src="/img/flags/eu.svg" alt="">European Commission
                </div>
            </a>
        </div>
        <div class="ipx-card flex-column home-card home-news">
            <a href="/" class="ipx-card-content w-100 flex-grow-1">
                <h3 class="ipx-card-title">
                    <span>08/01/2019</span>
                </h3>
                <span class="info-type d-none">News</span>
                <p class="ipx-card-description flex-grow-1">
                    Austria prepares for unregulated Brexit - Visit of Chief negotiator Michel Barnier in Vienna blabla test bla bla blabla
                </p>
                <div class="ipx-card-footer d-flex align-items-center">
                    <img class="flag flag-sm mr-2 flag-at" src="/img/flags/at.svg" alt="">Austrian Parliament
                </div>
            </a>
        </div>
    </div>
</template>