<template>
    <section class="w-100">
        <!-- CAROUSEL WITH FEATURED CONTENTS -->
        <div id="FeaturedControls" class="carousel slide mt-md-4 mb-3 featured-info" data-ride="carousel" data-interval="100000">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="d-flex">
                        <img class="ipx-thumb-large d-none d-md-flex" src="/icons/ipx-icon-home-featured.svg" alt="Information to share">
                        <div class="d-flex flex-column flex-grow-1">
                            <div class="homeblock-title d-flex flex-column flex-md-row">
                                <div class="d-flex flex-grow-1 flex-column align-items-center flex-md-row">
                                    <span class="ipx-rounded-icon is-share flex-shrink-0 mb-2 mb-md-0 d-md-none"></span>
                                    <h2 class="">Information to share</h2>
                                </div>
                            </div>
                            <a href="#" title="Austria prepares for unregulated Brexit  - Visit of Chief negotiator Michel Barnier in Vienna">
                                <h3 class="large-title text-center text-md-left">Austria prepares for unregulated Brexit  - Visit of Chief negotiator Michel Barnier in Vienna</h3>
                            </a>
                            <div class="tags d-flex justify-content-center justify-content-md-start mt-3">
                                <span class="badge badge-home">Highlights</span>
                                <span class="badge badge-home">Brexit</span>
                                <span class="badge badge-home">Austrian parliament</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="d-flex">
                        <img class="ipx-thumb-large d-none d-md-flex" src="/icons/ipx-icon-home-featured.svg" alt="Information to share">
                        <div class="d-flex flex-column flex-grow-1">
                            <HomeblockTitle :title="'Information to share'" :hasFilter="false" isShare="true"/>
                            <a href="#" title="Austria prepares for unregulated Brexit  - Visit of Chief negotiator Michel Barnier in Vienna">
                                <h3 class="large-title text-center text-md-left">Austria prepares for unregulated Brexit  - Visit of Chief negotiator Michel Barnier in Vienna</h3>
                            </a>
                            <div class="tags d-flex justify-content-center justify-content-md-start mt-3">
                                <span class="badge badge-home">Highlights</span>
                                <span class="badge badge-home">Brexit</span>
                                <span class="badge badge-home">Austrian parliament</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="d-flex">
                        <img class="ipx-thumb-large d-none d-md-flex" src="/icons/ipx-icon-home-featured.svg" alt="Information to share">
                        <div class="d-flex flex-column flex-grow-1">
                            <HomeblockTitle :title="'Information to share'" :hasFilter="false" isShare="true"/>
                            <a href="#" title="Austria prepares for unregulated Brexit  - Visit of Chief negotiator Michel Barnier in Vienna">
                                <h3 class="large-title text-center text-md-left">Austria prepares for unregulated Brexit  - Visit of Chief negotiator Michel Barnier in Vienna</h3>
                            </a>
                            <div class="tags d-flex justify-content-center justify-content-md-start mt-3">
                                <span class="badge badge-home">Highlights</span>
                                <span class="badge badge-home">Brexit</span>
                                <span class="badge badge-home">Austrian parliament</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="d-flex">
                        <img class="ipx-thumb-large d-none d-md-flex" src="/icons/ipx-icon-home-featured.svg" alt="Information to share">
                        <div class="d-flex flex-column flex-grow-1">
                            <HomeblockTitle :title="'Information to share'" :hasFilter="false" isShare="true"/>
                            <a href="#" title="Austria prepares for unregulated Brexit  - Visit of Chief negotiator Michel Barnier in Vienna">
                                <h3 class="large-title text-center text-md-left">Austria prepares for unregulated Brexit  - Visit of Chief negotiator Michel Barnier in Vienna</h3>
                            </a>
                            <div class="tags d-flex mt-3">
                                <span class="badge badge-home">Highlights</span>
                                <span class="badge badge-home">Brexit</span>
                                <span class="badge badge-home">Austrian parliament</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#FeaturedControls" role="button" data-slide="prev">
                <button class="btn btn-disc">
                    <i class="material-icons">keyboard_arrow_left</i>
                </button>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#FeaturedControls" role="button" data-slide="next">
                <button class="btn btn-disc">
                    <i class="material-icons">keyboard_arrow_right</i>
                </button>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </section>
</template>

<script>
import HomeblockTitle from '~/components/home/HomeblockTitle'
import HomeCarouselShareCards from '~/components/home/HomeCarouselShareCards'

export default {
 components: {
     HomeblockTitle,
     HomeCarouselShareCards
 }
}
</script>

<style>

</style>