<template>
    <div class="bordered-cards d-md-flex flex-wrap">
        <div _ngcontent-pey-c7="" class="ipx-card flex-column home-card home-high home-document ng-star-inserted">
            <a _ngcontent-pey-c7="" class="ipx-card-content w-100" ng-reflect-router-link="/document/COM-2018-0366" href="./document/COM-2018-0366">
            <div class="ipx-title-wrapper">
                    <div class="ipx-card-title">
                        <h3>COM/2018/0366</h3>
                        <a-tooltip placement="top" overlayClassName="ipx-tooltip" trigger="click">
                            <template slot="title">
                            Yellow card
                            </template>
                            <span title="Yellow card" class="btn btn-yellowcard rounded ipx-tag shadow-sm">Y<span class="sr-only">Yellow card</span></span>
                        </a-tooltip>
                    </div>
                    <div _ngcontent-pey-c7="" class="ipx-tags">
                        <a-tooltip placement="top" overlayClassName="ipx-tooltip" trigger="click">
                            <template slot="title">
                            <strong>1</strong> Reasoned opinion has been sent
                            </template>
                            <span title="1 reasoned opinions have been sent" class="btn btn-opinion ipx-tag shadow-sm">
                                <span class="tag-symbol">R</span>
                                <span class="tag-count">1</span>
                                <span class="sr-only">1 Reasoned opinion</span>
                            </span>
                        </a-tooltip>
                    </div>
                </div>
                <p _ngcontent-pey-c7="" class="ipx-card-description"> Test ANNEXES to the Proposal for a REGULATION OF THE EUROPEAN PARLIAMENT AND OF THE COUNCIL establishing the Creative Europe programme (2021 to 2027) and repealing Regulation (EU) No 1295/2013</p>
            </a>
        </div>
        <div class="ipx-card flex-column home-card home-high home-document">
            <a href="/" class="ipx-card-content w-100">
                <div class="ipx-title-wrapper">
                    <div class="ipx-card-title">
                        <h3 class="">COM/2006/0147FIN</h3>
                    </div>
                    <div class="ipx-tags">
                        <a-tooltip placement="top" overlayClassName="ipx-tooltip" trigger="click">
                            <template slot="title">
                            <strong>3</strong> Reasoned opinions have been sent
                            </template>
                            <span title="3 reasoned opinions have been sent" class="btn btn-opinion ipx-tag shadow-sm">
                                <span class="tag-symbol">R</span>
                                <span class="tag-count">3</span>
                                <span class="sr-only">3 Reasoned opinions</span>
                            </span>
                        </a-tooltip>
                        <a-tooltip placement="top" overlayClassName="ipx-tooltip" trigger="click">
                            <template slot="title">
                            <strong>1</strong> Political Dialogue
                            </template>
                            <span title="1 Political Dialogue" class="btn btn-dialog ipx-tag shadow-sm">
                                <span class="tag-symbol">D</span>
                                <span class="tag-count">1</span>
                                <span class="sr-only">1 Political Dialogue</span>
                            </span>
                        </a-tooltip>
                    </div>
                </div>
                <p class="ipx-card-description">
                    Test title Proposal for a Council Regulation concerning the implementation of the Agreement concluded by the EC following negotiations in the framework of Article XXIV.6 of GATT 1994.
                </p>
            </a>
        </div>
        <div class="ipx-card flex-column home-card home-high home-document">
            <a href="/" class="ipx-card-content w-100">
                <div class="ipx-title-wrapper">
                    <div class="ipx-card-title">
                        <h3>COM/2006/0147FIN</h3>
                    </div>
                    <div class="ipx-tags">
                        <a-tooltip placement="top" overlayClassName="ipx-tooltip" trigger="click">
                            <template slot="title">
                            <strong>1</strong> Political Dialogue
                            </template>
                            <span title="1 Political Dialogue" class="btn btn-dialog ipx-tag shadow-sm">
                                <span class="tag-symbol">D</span>
                                <span class="tag-count">1</span>
                                <span class="sr-only">1 Political Dialogue</span>
                            </span>
                        </a-tooltip>
                        <a-tooltip placement="top" overlayClassName="ipx-tooltip" trigger="click">
                            <template slot="title">
                            <strong>1</strong> important information to exchange
                            </template>
                            <span title="There is important information to exchange" class="btn btn-exchange ipx-tag shadow-sm">
                                <span class="tag-symbol">E</span>
                                <span class="tag-count">1</span>
                                <span class="sr-only">1 important information to exchange</span>
                            </span>
                        </a-tooltip>
                    </div>
                </div>
                <p class="ipx-card-description">
                    Test title Proposal for a Council Regulation concerning the implementation of the Agreement concluded by the EC.
                </p>
            </a>
        </div>
    </div>
</template>
<script>

export default {
    data() {
    return {
      visible: false,
    };
  },
  methods: {
    hide() {
      console.log(111);
      this.visible = false;
    },
  },
}
</script>