<template>
    <section class="homeblock">
        <HomeblockTitle :title="'Upcoming events'" :hasFilter="false" isEvents="true"/>
        <div class="d-flex flex-column flex-sm-row mt-4">
            <div class="ipx-datepicker d-none d-md-flex align-items-center justify-content-center mr-md-5 pb-5 pb-md-2">
                <img src="/img/datepicker.png" class="fake-datepicker">
            </div>
            <div id="EventsControls" class="carousel ipx-card-carousel slide" data-ride="carousel" data-interval="100000">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <HomeCarouselEventsCards/>
                    </div>
                    <div class="carousel-item">
                        <div class="bordered-cards d-md-flex flex-wrap">
                            <div class="ipx-card flex-column home-card home-events">
                                <a href="/" class="ipx-card-content w-100">
                                    <h3 class="ipx-card-title">
                                        <span>07/05/2019</span>
                                    </h3>
                                    <div class="home-event-meta">
                                        <span class="time">10:00 - 16:00</span>
                                        <span class="place">Vienna, Austria</span>
                                    </div>
                                    <p class="ipx-card-description">
                                        Conference of Committees dealing with Migration Issues
                                    </p>
                                </a>
                            </div>
                            <div class="ipx-card flex-column home-card home-events">
                                <div class="ipx-card-content w-100 empty-card-content">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </div>
                            </div>
                            <div class="ipx-card flex-column home-card home-events">
                                <div class="ipx-card-content w-100 empty-card-content">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#EventsControls" role="button" data-slide="prev">
                    <button class="btn btn-disc">
                    <i class="material-icons">keyboard_arrow_left</i>
                    </button>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#EventsControls" role="button" data-slide="next">
                    <button class="btn btn-disc">
                    <i class="material-icons">keyboard_arrow_right</i>
                    </button>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
        <div class="home-view-more">
            <button class="btn btn-action btn-default btn-large d-flex align-items-center">
                View more
            </button>
        </div>
    </section>
</template>

<script>
import HomeblockTitle from '~/components/home/HomeblockTitle'
import HomeCarouselEventsCards from '~/components/home/HomeCarouselEventsCards'

export default {
 components: {
     HomeblockTitle,
     HomeCarouselEventsCards
 }
}
</script>

<style>

</style>