<template>
    <div class="homeblock-title d-flex flex-column flex-md-row">
        <div class="d-flex flex-grow-1 flex-column align-items-center flex-md-row">
            <span v-if="isShare" class="ipx-rounded-icon is-share flex-shrink-0 mb-2 mb-md-0"></span>
            <span v-if="isHigh" class="ipx-rounded-icon is-high flex-shrink-0 mb-2 mb-md-0"></span>
            <span v-if="isEvents" class="ipx-rounded-icon is-calendar flex-shrink-0 mb-2 mb-md-0"></span>
            <span v-if="isNews" class="ipx-rounded-icon is-news flex-shrink-0 mb-2 mb-md-0"></span>
            <h2 class="flex-grow-1">{{title}}</h2>
        </div>
        <div v-if="hasFilter" class="homeblock-filter">
            <a-select
                class="filter-input"
                dropdownClassName="ant-custom"
                default-value="Option one"
                option-filter-prop="children"
                @blur="handleBlur"
                @change="handleChange"
            >
            <a-select-option value="Option one">
                Sort by option one
            </a-select-option>
            <a-select-option value="Option two">
                Sort by option two
            </a-select-option>
            <a-select-option value="Option three">
                Sort by option three
            </a-select-option>
            <a-select-option value="Option four">
                Sort by option four
            </a-select-option>
        </a-select>
        </div>
        <div v-if="hasFilterInput" class="homeblock-filter homeblock-filter-input">
            <a-select
            class="filter-input"
            dropdownClassName="ant-custom"
            show-search
            default-value="All sources"
            option-filter-prop="children"
            :filter-option="filterOption"
             @focus="handleFocus"
            @blur="handleBlur"
            @change="handleChange"
        >
            <a-select-option value="All sources">
                All sources
            </a-select-option>
            <a-select-option value="Austrian Parliament">
                Austrian Parliament (AT)
            </a-select-option>
            <a-select-option value="Austrian Parliament">
                Chambre des Représentants (BE)
            </a-select-option>
            <a-select-option value="Deutscher Bundestag">
                Deutscher Bundestag (DE)
            </a-select-option>
            <a-select-option value="European Commission">
                European Commission
            </a-select-option>
        </a-select>
        </div>
        
    </div>
</template>

<script>

export default {
    components: {
    },
    props: {
        title: String,
        hasFilter:  {hasFilter: Boolean, default: false},
        hasFilterInput:  {hasInput: Boolean, default: false},
        isShare:  {isShare: Boolean, default: false},
        isHigh:  {isHigh: Boolean, default: false},
        isEvents:  {isEvents: Boolean, default: false},
        isNews:  {isNews: Boolean, default: false},
        filterdefault: String,
    },
    methods: {
        handleChange(value) {
      console.log(`selected ${value}`);
    },
    handleBlur() {
      console.log('blur');
    },
    handleFocus() {
      console.log('focus');
    },
        filterOption(input, option) {
      return (
        option.componentOptions.children[0].text.toLowerCase().indexOf(input.toLowerCase()) >= 0
      );
    }
    }
}
</script>