<template>
    <section class="homeblock noborder videoblock d-flex mt-4">
        <div class="iframe-container">
            <iframe width="728" height="414" src="https://www.youtube.com/embed/Js83wZYbrCk?controls=0&amp;start=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="video-description">
            <h2>Parliament's first half of 2018 in review</h2>
            <p>From posted workers and the digital economy to Brexit and the future of Europe, the first half of 2018 has been busy for the European Parliament. Let’s look back at the main topics over the past six months.</p>
        </div>
    </section>
</template>

<script>
export default {

}
</script>

<style>

</style>
