<template>
    <section class="homeblock">
        <HomeblockTitle :title="'Documents with high activity'"  hasFilter="true" :filterdefault="'Descending order'" isHigh="true"/>
        <div id="HighControls" class="carousel ipx-card-carousel slide" data-ride="carousel" data-interval="100000">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <HomeCarouselHighCards/>
                </div>
                <div class="carousel-item">
                    <HomeCarouselHighCards/>
                </div>
                <div class="carousel-item">
                    <div class="bordered-cards d-md-flex flex-wrap">
                        <div _ngcontent-pey-c7="" class="ipx-card flex-column home-card home-high home-document ng-star-inserted">
                            <a _ngcontent-pey-c7="" class="ipx-card-content w-100" ng-reflect-router-link="/document/COM-2018-0366" href="./document/COM-2018-0366">
                            <div class="ipx-title-wrapper">
                                    <div class="ipx-card-title">
                                        <h3>COM/2018/0366</h3>
                                        <a-tooltip placement="top" overlayClassName="ipx-tooltip" trigger="click">
                                            <template slot="title">
                                            Yellow card
                                            </template>
                                            <span title="Yellow card" class="btn btn-yellowcard rounded ipx-tag shadow-sm">Y<span class="sr-only">Yellow card</span></span>
                                        </a-tooltip>
                                    </div>
                                    <div _ngcontent-pey-c7="" class="ipx-tags">
                                        <a-tooltip placement="top" overlayClassName="ipx-tooltip" trigger="click">
                                            <template slot="title">
                                            <strong>1</strong> Reasoned opinion has been sent
                                            </template>
                                            <span title="1 reasoned opinions have been sent" class="btn btn-opinion ipx-tag shadow-sm">
                                                <span class="tag-symbol">R</span>
                                                <span class="tag-count">1</span>
                                                <span class="sr-only">1 Reasoned opinion</span>
                                            </span>
                                        </a-tooltip>
                                    </div>
                                </div>
                                <p _ngcontent-pey-c7="" class="ipx-card-description"> Test ANNEXES to the Proposal for a REGULATION OF THE EUROPEAN PARLIAMENT AND OF THE COUNCIL establishing the Creative Europe programme (2021 to 2027) and repealing Regulation (EU) No 1295/2013</p>
                            </a>
                        </div>
                        <div class="ipx-card flex-column home-card home-high home-document">
                            <div class="ipx-card-content w-100 empty-card-content">
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                        </div>
                        <div class="ipx-card flex-column home-card home-high home-document">
                            <div class="ipx-card-content w-100 empty-card-content">
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#HighControls" role="button" data-slide="prev">
                <button class="btn btn-disc">
                <i class="material-icons">keyboard_arrow_left</i>
                </button>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#HighControls" role="button" data-slide="next">
                <button class="btn btn-disc">
                <i class="material-icons">keyboard_arrow_right</i>
                </button>
                <span class="sr-only">Next</span>
            </a>
        </div>
        <div class="home-view-more">
            <button class="btn btn-action btn-default btn-large d-flex align-items-center">
                View more
            </button>
        </div>
    </section>
</template>

<script>
import HomeblockTitle from '~/components/home/HomeblockTitle'
import HomeCarouselHighCards from '~/components/home/HomeCarouselHighCards'

export default {
 components: {
     HomeblockTitle,
     HomeCarouselHighCards
 }
}
</script>

<style>

</style>