<template>
    <section class="homeblock">
        <!-- CAROUSEL WITH 3 COLUMNS -->
        <div class="homeblock-title d-flex flex-column flex-md-row align-items-center">
            <div class="d-flex flex-grow-1 flex-shrink-0 mr-md-5 flex-column flex-md-row align-items-center mb-3 mb-md-0">
                <span class="ipx-rounded-icon is-important flex-shrink-0 mb-2 mb-md-0"></span>
                <h2 class="">Important issues</h2>
            </div>
            <div class="homeblock-filter flex-shrink-1 d-flex align-items-center">
                <div class="sliding-keywords">
                    <button class="btn btn-default">Conference</button>
                    <button class="btn btn-default">EU Trade Agreement</button>
                    <button class="btn btn-default">Brexit</button>
                    <button class="btn btn-default">MFF</button>
                    <button class="btn btn-default">European Semester</button>
                    <button class="btn btn-default">Annual Work Program</button>
                    <button class="btn btn-default">Keyword</button>
                    <button class="btn btn-default">Another Keyword 1</button>
                    <button class="btn btn-default">And Another One</button>
                </div>
            </div>
        </div>
        <div id="infoShareControls" class="carousel home-carousel slide mt-5" data-ride="carousel" data-interval="100000">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <HomeCarouselShareCards/>
                </div>
                <div class="carousel-item">
                    <HomeCarouselShareCards/>
                </div>
                <div class="carousel-item">
                    <div class="bordered-cards d-md-flex flex-wrap">
                        <div class="ipx-card flex-column home-card home-document">
                            <a href="/" class="ipx-card-content w-100">
                                <h3 class="ipx-card-title">
                                    <span class="">Preparing for Brexit (energy-efficiency + visa policy)</span>
                                </h3>
                                <span class="info-type">News</span>
                                <p class="ipx-card-description">
                                    Full delivery of the 10 priorities of the Juncker Commission before the European Parliament elections.
                                </p>
                            </a>
                            <div class="badges-categories">
                                <a href="#" title="See Brexit category">
                                    <span class="badge">Brexit</span>
                                </a>
                                <a href="#" title="See UK category">
                                    <span class="badge">European Central Bank</span>
                                </a>
                            </div>
                        </div>
                        <div class="ipx-card flex-column home-card home-document">
                            <div class="ipx-card-content w-100 empty-card-content">
                            <span></span>
                            <span></span>
                            <span></span>
                            </div>
                        </div>
                        <div class="ipx-card flex-column home-card home-document">
                            <div class="ipx-card-content w-100 empty-card-content">
                            <span></span>
                            <span></span>
                            <span></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#infoShareControls" role="button" data-slide="prev">
                <button class="btn btn-disc">
                <i class="material-icons">keyboard_arrow_left</i>
                </button>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#infoShareControls" role="button" data-slide="next">
                <button class="btn btn-disc">
                <i class="material-icons">keyboard_arrow_right</i>
                </button>
                <span class="sr-only">Next</span>
            </a>
        </div>
        <div class="home-view-more">
            <button class="btn btn-action btn-default btn-large d-flex align-items-center">
                View more
            </button>
        </div>
    </section>
</template>

<script>
import HomeblockTitle from '~/components/home/HomeblockTitle'
import HomeCarouselShareCards from '~/components/home/HomeCarouselShareCards'

import { Tabs } from 'ant-design-vue'

export default {
 components: {
     HomeblockTitle,
     HomeCarouselShareCards
 }
}
</script>