<template>
    <section class="homeblock">
        <HomeblockTitle :title="'News'" isNews="true" hasFilterInput="true" filterdefault="Search for a source"/>
            <!-- CAROUSEL WITH 3 COLUMNS -->
            <div id="infoNewsControls" class="carousel home-carousel home-news-cards slide" data-ride="carousel" data-interval="100000">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <HomeCarouselNewsCards/>
                    </div>
                    <div class="carousel-item">
                        <div class="bordered-cards d-md-flex flex-wrap">
                            <div class="ipx-card flex-column home-card home-news">
                                <a href="/" class="ipx-card-content w-100 flex-grow-1">
                                    <h3 class="ipx-card-title">
                                        <span>22/03/2019</span>
                                    </h3>
                                    <span class="info-type d-none">News</span>
                                    <p class="ipx-card-description flex-grow-1">
                                        Government Statement of Chancellor Angela Merkel and lively debate with regard to upcoming blabla blabla bla bla bla
                                    </p>
                                    <div class="ipx-card-footer d-flex align-items-center">
                                        <img class="flag flag-sm mr-2 flag-de" src="/img/flags/de.svg" alt="">Deutscher Bundestag
                                    </div>
                                </a>
                            </div>
                            <div class="ipx-card flex-column home-card home-news">
                                <div href="/" class="ipx-card-content w-100  empty-card-content">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </div>
                            </div>
                            <div class="ipx-card flex-column home-card home-news">
                                <div href="/" class="ipx-card-content w-100  empty-card-content">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#infoNewsControls" role="button" data-slide="prev">
                    <button class="btn btn-disc">
                    <i class="material-icons">keyboard_arrow_left</i>
                    </button>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#infoNewsControls" role="button" data-slide="next">
                    <button class="btn btn-disc">
                    <i class="material-icons">keyboard_arrow_right</i>
                    </button>
                    <span class="sr-only">Next</span>
                </a>
            </div>
            <div class="home-view-more">
                <button class="btn btn-action btn-default btn-large d-flex align-items-center">
                    View more
                </button>
            </div>
        </section>
</template>

<script>
import HomeblockTitle from '~/components/home/HomeblockTitle'
import HomeCarouselNewsCards from '~/components/home/HomeCarouselNewsCards'

export default {
 components: {
     HomeblockTitle,
     HomeCarouselNewsCards
 },
 data() {
     return {
         //hasFilter: true
     }
 }
}
</script>

<style>

</style>
