<template>
  <div class="d-flex flex-column flex-grow-1 visual-layout conference-theme0">
    <div class="breadcrumb-container">
      <Breadcrumbs :breadcrumbs="breadcrumbs" :breadcurrent="pagetitle"/>
    </div>
    <CollapsibleHeaderConf nextevent="Vienna | 22/04/2019" title="EU Speakers" description="The main purpose of the conference is to exchange views, information and experiences on topics related to the role of national parliaments and the thorough exercise of parliamentary capacity."/>
    <ContentConference/>
  </div>
</template>

<script>
import Breadcrumbs from "~/components/navigation/Breadcrumbs"
import CollapsibleHeaderConf from "~/components/conferences/CollapsibleHeaderConf"
import ContentConference from "~/components/conferences/ContentConference"
import IpexWidget from "~/components/IpexWidget"

export default {
  layout: "default",
  components: {
    Breadcrumbs,
    CollapsibleHeaderConf,
    ContentConference,
    IpexWidget
  },
  
  data() {
    return {
      page: "landing",
      pagetitle: "EU Speakers",
      meetingsShow: true,
      breadcrumbs: [
        {
          text: "Home",
          link: "/"
        },
        {
          text: "Conferences",
          link: "/"
        }
      ]
    }
  }
}
</script>