<template>
  <div class="d-flex flex-column flex-grow-1 visual-layout conference-theme3">
    <div class="breadcrumb-container">
      <Breadcrumbs :breadcrumbs="breadcrumbs" :breadcurrent="pagetitle"/>
    </div>
    <CollapsibleHeaderConf nextevent="Bucharest | 22/04/2019" title="COSAC" description="COSAC is a Conference of the committees of the national Parliaments of the European Union Member States dealing with the European Union affairs as well as representatives of the European Parliament."/>
    <div class="container-regular flex-grow-1 ipx-content">
        <div class="tab-content" id="conferenceContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <section class="d-flex flex-column flex-md-row align-items-center text-center text-md-left">
                    <figure class="conference-logo ml-md-5 order-md-1 mb-4 mb-md-0">
                        <img src="/img/conference/cosac/cosac-logo.jpg"
                            alt="COSAC logo">
                        <figcaption>The COSAC logo</figcaption>
                    </figure>
                    <div>
                        <h2 class="section-title">Bucharest 2019</h2>
                        <p class="lead">Webtwo ipsum orkut reddit meebo skype vimeo jajah spock empressr zimbra, mobly napster hipmunk prezi chartly bitly spock. Loopt twones meebo hipmunk, fleck xobni. Convore bebo rovio vimeo zanga handango blekko koofers, loopt twitter imvu flickr kaboodle chegg.</p>
                    </div>
                    
                </section>
                <section>
                    <ListOfFilesInline idcol="collapse1" titlecol="Conference of the Speakers of European Union Parliaments - 8 - 9 April"/>
                    <ListOfFilesInline idcol="collapse2" titlecol="Meeting of the Secretaries General of the European Union Parliaments - 27 - 28 January"/>
                </section>
            </div>
            <Meetings/>
            <About/>
        </div>
    </div>
  </div>
</template>

<script>
import Breadcrumbs from "~/components/navigation/Breadcrumbs"
import CollapsibleHeaderConf from "~/components/conferences/CollapsibleHeaderConf"
import ContentConference from "~/components/conferences/ContentConference"
import IpexWidget from "~/components/IpexWidget"
import Meetings from "~/components/conferences/Meetings"
import About from "~/components/conferences/About"
import ListOfFilesInline from "~/components/conferences/ListOfFilesInline"

export default {
  layout: "default",
  components: {
    Breadcrumbs,
    CollapsibleHeaderConf,
    ContentConference,
    IpexWidget,
    Meetings,
    About,
    ListOfFilesInline
  },
  data() {
    return {
      page: "landing",
      pagetitle: "COSAC",
      breadcrumbs: [
        {
          text: "Home",
          link: "/"
        },
        {
          text: "Conferences",
          link: "/"
        }
      ]
    }
  }
}
</script>