<template>
  <div class="d-flex flex-column flex-grow-1 visual-layout conference-theme1">
    <div class="breadcrumb-container">
      <Breadcrumbs :breadcrumbs="breadcrumbs" :breadcurrent="pagetitle"/>
    </div>
    <CollapsibleHeaderConfJPSG nextevent="Zagreb, Croatia | 22-23/03/2020" title="JPSG on Europol" description="Webtwo ipsum orkut reddit meebo skype vimeo jajah spock empressr zimbra, mobly napster hipmunk prezi chartly bitly spock. Loopt twones meebo hipmunk, fleck xobni. Convore bebo rovio vimeo zanga handango blekko koofers, loopt twitter imvu flickr kaboodle chegg."/>
    <ContentConferenceJPSG/>
  </div>
</template>

<script>
import Breadcrumbs from "~/components/navigation/Breadcrumbs"
import CollapsibleHeaderConfJPSG from "~/components/conferences/CollapsibleHeaderConfJPSG"
import ContentConferenceJPSG from "~/components/conferences/ContentConferenceJPSG"
import IpexWidget from "~/components/IpexWidget"

export default {
  layout: "default",
  components: {
    Breadcrumbs,
    CollapsibleHeaderConfJPSG,
    ContentConferenceJPSG,
    IpexWidget
  },
  data() {
    return {
      page: "landing",
      pagetitle: "JPSG on Europol",
      breadcrumbs: [
        {
          text: "Home",
          link: "/"
        },
        {
          text: "Conferences",
          link: "/"
        }
      ]
    }
  }
}
</script>