<template>
  <div class="d-flex flex-column flex-grow-1 visual-layout conference-theme0">
    <div class="breadcrumb-container">
      <Breadcrumbs :breadcrumbs="breadcrumbs" :breadcurrent="pagetitle"/>
    </div>
    
    <CollapsibleHeaderConfTheme nextevent="City, Country | 22-23/05/2020" title="Conference title" description="Webtwo ipsum orkut reddit meebo skype vimeo jajah spock empressr zimbra, mobly napster hipmunk prezi chartly bitly spock. Loopt twones meebo hipmunk, fleck xobni. Convore bebo rovio vimeo zanga handango blekko koofers, loopt twitter imvu flickr kaboodle chegg."/>
   
  <ContentConferenceTheme/>

  </div>
</template>

<script>
import Breadcrumbs from "~/components/navigation/Breadcrumbs"
import CollapsibleHeaderConfTheme from "~/components/conferences/CollapsibleHeaderConfTheme"
import ContentConferenceTheme from "~/components/conferences/ContentConferenceTheme"
import IpexWidget from "~/components/IpexWidget";

export default {
  layout: "default",
  components: {
    Breadcrumbs,
    CollapsibleHeaderConfTheme,
    ContentConferenceTheme,
    IpexWidget
  },
  data() {
    return {
      page: "landing",
      pagetitle: "Conferences themes",
      breadcrumbs: [
        {
          text: "Home",
          link: "/"
        },
        {
          text: "Conferences",
          link: "/"
        }
      ]
    }
  }
}
</script>

<style scoped>
/* For demo */

</style>