/*  ANT REDESIGN */

/* //////////////////////////////////////////// */
/*  BUTTONS */
/* //////////////////////////////////////////// */

.section-ipex,
.ipx-drawer,
.ipex-modal,
.ant-modal {
  .ant-btn {
    display: inline-flex;
    display: -ms-inline-flexbox !important;
    -ms-flex-align: center !important;
    align-items: center !important;
    position: relative;
    height: auto;
    padding: 0.4rem 1rem;
    border-radius: 3rem;
    border: none;
    background-color: @gray3;
    color: #111111;
    background-image: none;
    box-shadow: none;
    font-size: 0.95rem;
    text-transform: uppercase;
    line-height: 1.5;
    text-align: center;
    vertical-align: middle;
    &.active,
    &:active,
    &:focus,
    &:hover {
      border-color: #40a9ff;
      background-color: #fff;
      color: #111111;
      text-decoration: none;
    }
    &.ant-btn-primary {
      background-color: @baseflash;
      box-shadow: none;
      color: #fff;
      text-shadow: none;
      &:focus,
      &:hover {
        border-color: @baseflash;
        background-color: @baseflash;
        background: @baseflash;
        color: #fff;
      }
    }
  }
  .ant-tag {
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    height: 28px;
    margin: 0 0.5rem 0.5rem 0;
    padding: 0 0.75rem;
    border: 2px solid @gray3;
    border-radius: 2rem;
    background: #ffffff;
    color: #000000;
    font-size: 0.85rem;
  }
}

.section-ipex,
.ipx-drawer {
  .ant-dropdown-menu {
    border-radius: 0.75rem;
  }
  .ant-dropdown-menu-item,
  .ant-dropdown-menu-submenu-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.55rem 0.75rem;
    color: #000000;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    white-space: nowrap;
    cursor: pointer;
    transition: all 0.3s;
    &:first-child {
      padding-top: 0.75rem;
    }
    &:last-child {
      padding-bottom: 0.75rem;
    }
    &:hover {
      color: @baseflash;
      background: white;
      .count {
        color: @baseflash;
      }
    }
    .count {
      flex-grow: 1;
      display: flex;
      justify-content: flex-end;
      margin-left: 2rem;
      color: #000000;
    }
  }
}

/* //////////////////////////////////////////// */
/*  MODAL */
/* //////////////////////////////////////////// */

.ant-modal {
  &.ant-modal-custom {
    width:700px !important;
    max-width:90vw;
    .ant-modal-header {
      padding: 2rem 2rem 1rem;
      border-bottom: none;
      border-radius: .5rem .5rem 0 0;
      background: #fff;
      color: rgba(0,0,0,.65);
    }
    .ant-modal-title {
      margin: 0;
      color: rgba(0,0,0,.85);
      font-size: 1.2rem;
      font-weight: 700;
      line-height: 22px;
      text-transform: uppercase;
    }
    .ant-modal-body {
      word-wrap: break-word;
      padding: 0.5rem 2rem;
      font-size: 1rem;
      line-height: inherit;
      color:#000;
    }
    .ant-modal-content {
      border-radius: .5rem;
    }
    .ant-modal-footer {
      padding: 2rem;
      font-size: 1rem;
      border-top: none;
      color:#000;
    }
  }
}

/* //////////////////////////////////////////// */
/*  ANT DRAWERS */
/* //////////////////////////////////////////// */

/* //////////////////////////////////////////// */
/*  ANT COLLAPSES */
/* //////////////////////////////////////////// */

.ant-collapse {
  > .ant-collapse-item {
    > .ant-collapse-header {
      display:flex;
      padding-left:0;
      i {
        order:1;
        margin-left:auto;
      }
    }
  }
}
.ant-collapse-content {
  > .ant-collapse-content-box {
    padding-left:0;
    padding-right:0;
  }
}
app-refine-search {
  width:100%;
}