/////////////////////////////////////
// GLOBAL VARIABLES
/////////////////////////////////////

@imagesurl: "../../assets/img/";
@app-logo: "../../assets/img/logo-x.svg";
@app-logo-sm: "../../assets/img/logo-x.svg";

@font-size-base: 16px;
@border-radius: 4px;
@border-radius-xl: 2rem;
@border-radius-lg: 0.3rem;
@margincard: 0.75rem;

/////////////////////////////////////
// COLOR VARIABLES
/////////////////////////////////////

@base: #175287;
@basedark: #15293f;
@baseverydark: #1f2328;
@baseflash: #006ed0;
@baseflashlight: #3ca4ff;
@cyan: #00d3ff;
@accent: #f05000;
@link: @baseflash;
@white: #ffffff;
@darkgray: #111111;
@mediumgray: #aaaaaa;
@lightgray: #cccccc;
@gray1: #e5e5e5;
@gray2: #f1f1f1;
@gray3: #f5f5f5;
@gray4: #f9f9f9;
@mark: #fefdd8;
@yellow-card: #fcef02;
@orange-card: #fc9002;
@red: #f93019;
@green: #60c741;

/* //////////////////////////////////////////////////// */
/* BREAKPOINTS & MEDIA QUERIES */
/* //////////////////////////////////////////////////// */

@sm: 576px;
@md: 768px;
@lg: 992px;
@xl: 1200px;
@xxl: 1440px;

@xs-max: (@sm - 0.02);
@sm-max: (@md - 0.02);
@md-max: (@lg - 0.02);
@lg-max: (@xl - 0.02);

@xs-down: ~"screen and (max-width: @{xs-max})";
@sm-down: ~"screen and (max-width: @{sm-max})";
@md-down: ~"screen and (max-width: @{md-max})";
@lg-down: ~"screen and (max-width: @{lg-max})";

@sm-up: ~"screen and (min-width: @{sm})";
@md-up: ~"screen and (min-width: @{md})";
@lg-up: ~"screen and (min-width: @{lg})";
@xl-up: ~"screen and (min-width: @{xl})";
@xxl-up: ~"screen and (min-width: @{xxl})";

@sm-only: ~"screen and (min-width: @{sm}) and (max-width: @{sm-max})";
@md-only: ~"screen and (min-width: @{md}) and (max-width: @{md-max})";
@lg-only: ~"screen and (min-width: @{lg}) and (max-width: @{lg-max})";
