<template>
    <div>
        <h4 class="cc-title">Documents <span class="count">84</span></h4>
        <div class="cc-content">
            <ul>
                <li><a href="">text<span class="count"></span></a></li>
                <li><a href="">text<span class="count"></span></a></li>
                <li><a href="">text<span class="count"></span></a></li>
                <li><a href="">text<span class="count"></span></a></li>
            </ul>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            title: {"name": String, "count": String },

        }
    }
</script>

<style lang="scss" scoped>

</style>