<template>
    <footer class="ipx-footer">
        <div class="container-regular py-5">
            <div v-if="isLarge">
                <div class="row">
                    <div class="col-md">
                        <ul class="pt-2 pb-5">
                            <li class="title">European Institutions</li>
                            <li><a href="#" title="European Parliament">European Parliament</a></li>
                            <li><a href="#" title="Council of the European Union">Council of the European Union</a></li>
                            <li><a href="#" title="European Commission">European Commission</a></li>
                            <li><a href="#" title="Court of Justice of the European Union">Court of Justice of the European Union</a></li>
                            <li><a href="#" title="Committee of the Regions">Committee of the Regions</a></li>
                        </ul>
                    </div>
                    <div class="col-md">
                        <ul class="pt-2 pb-5">
                            <li class="title">Legislative Databases</li>
                            <li><a href="#" title="EUR-LEX">EUR-LEX</a></li>
                            <li><a href="#" title="Legislative Observatory">Legislative Observatory</a></li>
                            <li><a href="#" title="PRE-LEX">PRE-LEX</a></li>
                        </ul>
                    </div>
                    <div class="col-md">
                        <ul class="pt-2 pb-5">
                            <li class="title">Interparliamentary Websites</li>
                            <li><a href="#" title="COSAC">COSAC</a></li>
                            <li><a href="#" title="ECPRD">ECPRD</a></li>
                            <li><a href="#" title="Council of Europe">Council of Europe</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p class="copyright">2019© IPEX All rights reserved <span class="pipe-separator">|</span> <a href="#">GDPR and information about cookies policy</a></p>
                </div>
            </div>
        </div>
    </footer>
</template>

<script>
    export default {
        components: {
        },
        props: {
            isLarge: {isLarge: Boolean, default: false}
        }
    }
</script>

<style lang="scss">
    
</style>
