<template>
    <div>
        <ul class="nav nav-tabs" v-if="hasTabs">
            <li class="nav-item">
                <a class="nav-link active" href="#">Conferences</a>
            </li> 
            <li class="nav-item">
                <a class="nav-link" href="#">Family pictures</a>
            </li> 
        </ul><!--
        <div id="carouselGallery" class="carousel gallery slide w-100 my-4" data-ride="carousel" data-interval="10000">
            <div class="carousel-inner w-100" role="listbox">
                <div class="carousel-item active">
                    <div class="d-flex">
                        <a data-fancybox="gallery" href="/img/parliaments/large/austria/building3.jpg">
                            <img src="/img/parliaments/large/austria/building3.jpg" alt="Austrian Parliament | Parlamentsdirektion/Peter Korrak." class="img-fluid" >
                        </a>
                        <a data-fancybox="gallery" href="/img/parliaments/large/romania/building2.jpg">
                            <img src="/img/parliaments/large/romania/building2.jpg" alt="First slide" class="img-fluid">
                        </a>
                        <a data-fancybox="gallery" href="/img/parliaments/large/bulgaria/building.jpg">
                            <img src="/img/parliaments/large/bulgaria/building.jpg" alt="Bulgarian Parliament" class="img-fluid">
                        </a>
                        <a data-fancybox="gallery" href="/img/parliaments/large/estonia/building3.jpg">
                            <img src="/img/parliaments/large/estonia/building3.jpg" alt="Estonian Riigikogu" class="img-fluid">
                        </a>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="d-flex">
                        <a data-fancybox="gallery" href="/img/carousel/carousel5.jpg">
                            <img src="/img/carousel/carousel5.jpg" alt="Description de l'image" class="img-fluid" >
                        </a>
                        <a data-fancybox="gallery" href="/img/carousel/carousel6.jpg">
                            <img src="/img/carousel/carousel6.jpg" alt="Description de l'image" class="img-fluid">
                        </a>
                        <a data-fancybox="gallery" href="/img/carousel/carousel7.jpg">
                            <img src="/img/carousel/carousel7.jpg" alt="Description de l'image" class="img-fluid">
                        </a>
                        <a data-fancybox="gallery" href="/img/carousel/carousel8.jpg">
                            <img src="/img/carousel/carousel8.jpg" alt="Description de l'image" class="img-fluid">
                        </a>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselGallery" role="button" data-slide="prev" v-if="hasControls">
                <button class="btn btn-disc">
                    <i class="material-icons">keyboard_arrow_left</i>
                </button>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselGallery" role="button" data-slide="next" v-if="hasControls">
                <button class="btn btn-disc">
                    <i class="material-icons">keyboard_arrow_right</i>
                </button>
                <span class="sr-only">Next</span>
            </a>
        </div>-->
        <a-carousel arrows class="custom-carousel custom-gallery-carousel" :afterChange="onChange">
                <div slot="prevArrow" slot-scope="props" class="custom-slick-arrow" style="left: 10px;zIndex: 1">
                    <a-icon type="left-circle" />
                </div>
                <div slot="nextArrow" slot-scope="props" class="custom-slick-arrow" style="right: 10px">
                    <a-icon type="right-circle" />
                </div>
                <div>
                    <figure class="img-wrapper">
                        <a data-fancybox="conference-gallery" href="/img/parliaments/large/germany/bundestag02.jpg">
                            <img src="/img/parliaments/large/germany/bundestag02.jpg" alt="Sample image">
                        </a>
                    </figure>
                    <figure class="img-wrapper">
                        <a data-fancybox="conference-gallery" href="/img/parliaments/large/germany/bundestag03.jpg">
                            <img src="/img/parliaments/large/germany/bundestag03.jpg" alt="Sample image">
                        </a>
                    </figure>
                    <figure class="img-wrapper">
                        <a data-fancybox="conference-gallery" href="/img/parliaments/large/germany/bundestag04.jpg">
                            <img src="/img/parliaments/large/germany/bundestag04.jpg" alt="Sample image">
                        </a>
                    </figure>
                    <figure class="img-wrapper">
                        <a data-fancybox="conference-gallery" href="/img/parliaments/large/germany/bundestag05.jpg">
                            <img src="/img/parliaments/large/germany/bundestag05.jpg" alt="Sample image">
                        </a>
                    </figure>
                </div>
                <div>
                    <figure class="img-wrapper">
                        <a data-fancybox="conference-gallery" href="/img/conference/demo/05.jpg">
                            <img src="/img/conference/demo/05.jpg" alt="Sample image">
                        </a>
                    </figure>
                    <figure class="img-wrapper">
                        <a data-fancybox="conference-gallery" href="/img/conference/demo/06.jpg">
                            <img src="/img/conference/demo/06.jpg" alt="Sample image">
                        </a>
                    </figure>
                    <figure class="img-wrapper">
                        <a data-fancybox="conference-gallery" href="/img/conference/demo/07.jpg">
                            <img src="/img/conference/demo/07.jpg" alt="Sample image">
                        </a>
                    </figure>
                    <figure class="img-wrapper">
                        <a data-fancybox="conference-gallery" href="/img/conference/demo/08.jpg">
                            <img src="/img/conference/demo/08.jpg" alt="Sample image">
                        </a>
                    </figure>
                </div>
                <div>
                    <figure class="img-wrapper">
                        <a data-fancybox="conference-gallery" href="/img/conference/demo/09.jpg">
                            <img src="/img/conference/demo/09.jpg" alt="Sample image">
                        </a>
                    </figure>
                    <figure class="img-wrapper default">
                        <img src="/img/conference/demo/sample-gallery-default.jpg" alt="Sample image">
                    </figure>
                    <figure class="img-wrapper default">
                        <img src="/img/conference/demo/sample-gallery-default.jpg" alt="Sample image">
                    </figure>
                    <figure class="img-wrapper default">
                        <img src="/img/conference/demo/sample-gallery-default.jpg" alt="Sample image">
                    </figure>
                </div>
                <div>
                    <figure class="img-wrapper default">
                        <img src="/img/conference/demo/sample-gallery-default.jpg" alt="Sample image">
                    </figure>
                    <figure class="img-wrapper default">
                        <img src="/img/conference/demo/sample-gallery-default.jpg" alt="Sample image">
                    </figure>
                    <figure class="img-wrapper default">
                        <img src="/img/conference/demo/sample-gallery-default.jpg" alt="Sample image">
                    </figure>
                    <figure class="img-wrapper default">
                        <img src="/img/conference/demo/sample-gallery-default.jpg" alt="Sample image">
                    </figure>
                </div>
            </a-carousel>
    </div>
</template>

<script>
    export default {
        components: {
        },
        props: {
            hasControls:  {hasControls: Boolean, default: false},
            hasTabs:  {hasTabs: Boolean, default: true}
        }
    }
</script>

<style lang="scss">
    
</style>
