<template>
    <div>
        <div id="carouselGallery" class="carousel gallery slide w-100 my-4" data-ride="carousel" data-interval="10000">
            <div class="carousel-inner w-100" role="listbox">
                <div class="carousel-item active">
                    <div class="d-flex">
                        <a data-fancybox="gallery" href="/img/parliaments/large/germany/bundestag02.jpg">
                            <img src="/img/parliaments/large/germany/bundestag02.jpg" alt="First slide" class="img-fluid">
                        </a>
                    
                        <a data-fancybox="gallery" href="/img/parliaments/large/germany/bundestag03.jpg">
                            <img src="/img/parliaments/large/germany/bundestag03.jpg" alt="Bulgarian Parliament" class="img-fluid">
                        </a>
                
                        <a data-fancybox="gallery" href="/img/parliaments/large/germany/bundestag04.jpg">
                            <img src="/img/parliaments/large/germany/bundestag04.jpg" alt="Estonian Riigikogu" class="img-fluid">
                        </a>
                        <a data-fancybox="gallery" href="/img/parliaments/large/germany/bundestag05.jpg">
                            <img src="/img/parliaments/large/germany/bundestag05.jpg" alt="Estonian Riigikogu" class="img-fluid">
                        </a>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="d-flex">
                        <a data-fancybox="gallery" href="/img/carousel/carousel5.jpg">
                            <img src="/img/carousel/carousel5.jpg" alt="Description de l'image" class="img-fluid" >
                        </a>
                
                        <a data-fancybox="gallery" href="/img/carousel/carousel6.jpg">
                            <img src="/img/carousel/carousel6.jpg" alt="Description de l'image" class="img-fluid">
                        </a>
                
                        <a data-fancybox="gallery" href="/img/carousel/carousel7.jpg">
                            <img src="/img/carousel/carousel7.jpg" alt="Description de l'image" class="img-fluid">
                        </a>
                    
                        <a data-fancybox="gallery" href="/img/carousel/carousel8.jpg">
                            <img src="/img/carousel/carousel8.jpg" alt="Description de l'image" class="img-fluid">
                        </a>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselGallery" role="button" data-slide="prev" v-if="hasControls">
                <button class="btn btn-disc">
                    <i class="material-icons">keyboard_arrow_left</i>
                </button>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselGallery" role="button" data-slide="next" v-if="hasControls">
                <button class="btn btn-disc">
                    <i class="material-icons">keyboard_arrow_right</i>
                </button>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</template>

<script>
    export default {
        components: {
        },
        props: {
            hasControls:  {hasControls: Boolean, default: false}
        }
    }
</script>

<style lang="scss">
    
</style>
