<template>
    <div class="gdpr-box alert alert-dismissible fade show" role="alert">
        <h5 class="mr-3 mr-md-0 font-weight-bold">Our cookies policy</h5>
        <div class="d-flex align-items-start">
            <p class="">Nous utilisons des cookies pour faire fonctionner nos sites web et optimaliser votre expérience utilisateur. En cliquant sur `Oui j'accepte` vous acceptez le placement de cookies. Vous souhaitez en savoir plus, lisez notre politique de cookies, notre charte vie privée et les CGUs.</p>
            <a href="#" class="ml-4 flex-shrink-0 btn btn-xl btn-action"  data-dismiss="alert" aria-label="Close">I got it</a>
        </div>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <i class="material-icons md-36">clear</i>
        </button>
    </div>
</template>

<script>
export default {

}
</script>

<style>

</style>
