<template>
    <header class="ipx-header"> 
        <div class="container-regular d-flex flex-column">
            <div class="header-top">
                <!--<IpexLogo :alt="'IPEX logo'" :imgsrc="'/img/ipex-revert-02.svg'" :baseline="'The platform for EU Interparliamentary Exchange'"/>-->
                <IpexLogo :alt="'IPEX logo'" :imgsrc="'/img/ipex-logo-light.svg'" :baseline="'The platform for EU Interparliamentary Exchange'"/>
                <div class="site-params d-flex justify-content-between justify-content-lg-end align-items-start">
                    <LanguageMenu :languages="languages"/>
                    <UserMenu :isAdmin="false" title="My IPEX" username="John Doe-Smith"/>
                </div>
            </div>
            <div class="header-bottom">
                <MainMenu/>
                <!--<MainSearch/>-->
            </div>
        </div>
    </header>
</template>

<script>
    import IpexLogo from "~/components/header/IpexLogo"
    import LanguageMenu from "~/components/navigation/LanguageMenu"
    import UserMenu from "~/components/navigation/UserMenu"
    import MainSearch from "~/components/navigation/MainSearch"
    import MainMenu from "~/components/navigation/MainMenu"

    export default {
        components: {
            IpexLogo,
            LanguageMenu,
            UserMenu,
            MainMenu,
            MainSearch
        },
        props: {
            isSticky: {isLarge: Boolean, default: false},
            isThin: {isThin: Boolean, default: false}
        },
        data() {
            return {
                languages: [
                    {
                        abbr: "EN",
                        lang: "English",
                        isActive: true
                    },
                    {
                        abbr: "FR",
                        lang: "Français"
                    },
                    {
                        abbr: "DE",
                        lang: "German"
                    },
                ]
            }
        }
    }
</script>

<style lang="scss" scoped>

</style>
