<template>
      <div>
            <h2 class="section-title">List of links</h2>
            <ul class="ipx-list-links">
                <li>
                    <a href="#" target="_blank">Online registration (EN)</a>
                </li>
                <li>
                    <a href="#" target="_blank">Inscription (FR)</a>
                </li>
            </ul>
      </div>
</template>