<template>
    <div class="text-center">
        <button class="btn btn-load">
            Load more
        </button>
    </div>
</template>

<script>
export default {
  components: {},
  props: {}
};
</script>

<style lang="scss">
</style>