<template>
    <section class="page-content">
       <slot/>
    </section>
</template>

<script>
import ContentHeader from "~/components/layout/ContentHeader";
import Content from "~/components/layout/Content";

    export default {
        components: {
            ContentHeader,
            Content
        },
        props: {
            page: {page: String, default: "default"}
        }
    }
</script>

<style lang="scss" scoped>
    
</style>
