<template>
    <div class="ipx-card-list">
        <div class="ipx-card has-menu">
            <a href="/" class="ipx-card-content w-100">
            <h3 class="ipx-card-title d-flex flex-column flex-sm-row">
                <span class="flex-shrink-0">COM/2006/0147FIN</span>
                <div class="ipx-tags flex-grow-1 justify-center-end d-flex align-items-center mt-2 mt-sm-0">
                    <span title="Yellow card" class="btn btn-yellowcard rounded ipx-tag shadow-sm ml-sm-2">Y<span class="sr-only">Yellow card</span></span>
                    <div class="scrutiny-status flex-grow-1 d-flex justify-content-sm-end">
                    <span title="A reasoned opinion has been sent" class="btn btn-opinion ipx-tag shadow-sm">R<span class="sr-only">Reasoned opinion</span></span>
                    <span title="Political Dialogue" class="btn btn-dialog ipx-tag shadow-sm">D<span class="sr-only">Political Dialogue</span></span>
                    <span title="There is important information to exchange" class="btn btn-exchange ipx-tag shadow-sm">E<span class="sr-only">Exchange</span></span>
                    </div>
                </div>
            </h3>
            <p class="ipx-card-description">
                Proposal for a Council <mark>Regulation</mark> concerning the implementation of the Agreement concluded by the EC following negotiations in the framework of Article XXIV.6 of GATT 1994, amending Annex I to <mark>Regulation</mark> (EEC) No 2658/87 on the tariff and statistical nomenclature and on the Common Customs Tariff.
            </p>
            </a>
            <div class="ipx-card-menu">
                <button class="btn btn-disc" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Open menu">
                    <i class="material-icons">more_vert</i>
                </button>
                <div class="dropdown-menu dropdown-menu-right shadow-sm">
                    <ul>
                    <li><a class="dropdown-item" href="#">Save to favourites</a></li>
                    <li><a class="dropdown-item" href="#">Export</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="ipx-card">
            <a href="/" class="ipx-card-content w-100">
                <h3 class="ipx-card-title d-flex flex-column flex-sm-row">
                    <span class="flex-shrink-0">COM/2013/0113FIN</span>
                    <div class="ipx-tags flex-grow-1 justify-center-end d-flex align-items-center mt-2 mt-sm-0">
                        <div class="scrutiny-status flex-grow-1 d-flex justify-content-sm-end">
                            <span title="A reasoned opinion has been sent" class="btn btn-opinion ipx-tag shadow-sm">R<span class="sr-only">Reasoned opinion</span></span>
                            <span title="Political Dialogue" class="btn btn-dialog ipx-tag shadow-sm">D<span class="sr-only">Political Dialogue</span></span>
                        </div>
                    </div>
                </h3>
                <p class="ipx-card-description">
                    Proposal for a Council <mark>Regulation</mark> concerning the implementation of the Agreement concluded by the EC following negotiations in the framework of Article XXIV.6 of GATT 1994, amending Annex I to <mark>Regulation</mark> (EEC) No 2658/87 on the tariff and statistical nomenclature and on the Common Customs Tariff.
                </p>
            </a>
        </div>
        <div class="ipx-card">
            <a href="/" class="ipx-card-content w-100">
                <h3 class="ipx-card-title d-flex flex-column flex-sm-row">
                    <span class="flex-shrink-0">COM/2013/0113FIN</span>
                    <div class="ipx-tags flex-grow-1 justify-center-end d-flex align-items-center mt-2 mt-sm-0">
                        <div class="scrutiny-status flex-grow-1 d-flex justify-content-sm-end">
                            <span title="A reasoned opinion has been sent" class="btn btn-opinion ipx-tag shadow-sm">R<span class="sr-only">Reasoned opinion</span></span>
                            <span title="Political Dialogue" class="btn btn-dialog ipx-tag shadow-sm">D<span class="sr-only">Political Dialogue</span></span>
                        </div>
                    </div>
                </h3>
                <p class="ipx-card-description">
                    Proposal for a Council <mark>Regulation</mark> concerning the implementation of the Agreement concluded by the EC following negotiations in the framework of Article XXIV.6 of GATT 1994, amending Annex I to <mark>Regulation</mark> (EEC) No 2658/87 on the tariff and statistical nomenclature and on the Common Customs Tariff.
                </p>
            </a>
        </div>
        <div class="ipx-card">
            <a href="/" class="ipx-card-content w-100">
                <h3 class="ipx-card-title d-flex flex-column flex-sm-row">
                    <span class="flex-shrink-0">COM/2013/0113FIN</span>
                    <div class="ipx-tags flex-grow-1 justify-center-end d-flex align-items-center mt-2 mt-sm-0">
                        <div class="scrutiny-status flex-grow-1 d-flex justify-content-sm-end">
                            <span title="A reasoned opinion has been sent" class="btn btn-opinion ipx-tag shadow-sm">R<span class="sr-only">Reasoned opinion</span></span>
                            <span title="Political Dialogue" class="btn btn-dialog ipx-tag shadow-sm">D<span class="sr-only">Political Dialogue</span></span>
                        </div>
                    </div>
                </h3>
                <p class="ipx-card-description">
                    Proposal for a Council <mark>Regulation</mark> concerning the implementation of the Agreement concluded by the EC following negotiations in the framework of Article XXIV.6 of GATT 1994, amending Annex I to <mark>Regulation</mark> (EEC) No 2658/87 on the tariff and statistical nomenclature and on the Common Customs Tariff.
                </p>
            </a>
        </div>
        <div class="ipx-card">
            <a href="/" class="ipx-card-content w-100">
                <h3 class="ipx-card-title d-flex flex-column flex-sm-row">
                    <span class="flex-shrink-0">COM/2013/0113FIN</span>
                    <div class="ipx-tags flex-grow-1 justify-center-end d-flex align-items-center mt-2 mt-sm-0">
                        <div class="scrutiny-status flex-grow-1 d-flex justify-content-sm-end">
                            <span title="A reasoned opinion has been sent" class="btn btn-opinion ipx-tag shadow-sm">R<span class="sr-only">Reasoned opinion</span></span>
                            <span title="Political Dialogue" class="btn btn-dialog ipx-tag shadow-sm">D<span class="sr-only">Political Dialogue</span></span>
                        </div>
                    </div>
                </h3>
                <p class="ipx-card-description">
                    Proposal for a Council <mark>Regulation</mark> concerning the implementation of the Agreement concluded by the EC following negotiations in the framework of Article XXIV.6 of GATT 1994, amending Annex I to <mark>Regulation</mark> (EEC) No 2658/87 on the tariff and statistical nomenclature and on the Common Customs Tariff.
                </p>
            </a>
        </div>
        <div class="ipx-card">
            <a href="/" class="ipx-card-content w-100">
                <h3 class="ipx-card-title d-flex flex-column flex-sm-row">
                    <span class="flex-shrink-0">COM/2013/0113FIN</span>
                    <div class="ipx-tags flex-grow-1 justify-center-end d-flex align-items-center mt-2 mt-sm-0">
                        <div class="scrutiny-status flex-grow-1 d-flex justify-content-sm-end">
                            <span title="A reasoned opinion has been sent" class="btn btn-opinion ipx-tag shadow-sm">R<span class="sr-only">Reasoned opinion</span></span>
                            <span title="Political Dialogue" class="btn btn-dialog ipx-tag shadow-sm">D<span class="sr-only">Political Dialogue</span></span>
                        </div>
                    </div>
                </h3>
                <p class="ipx-card-description">
                    Proposal for a Council <mark>Regulation</mark> concerning the implementation of the Agreement concluded by the EC following negotiations in the framework of Article XXIV.6 of GATT 1994, amending Annex I to <mark>Regulation</mark> (EEC) No 2658/87 on the tariff and statistical nomenclature and on the Common Customs Tariff.
                </p>
            </a>
        </div>
        <div class="ipx-card">
            <a href="/" class="ipx-card-content w-100">
                <h3 class="ipx-card-title d-flex flex-column flex-sm-row">
                    <span class="flex-shrink-0">COM/2013/0113FIN</span>
                    <div class="ipx-tags flex-grow-1 justify-center-end d-flex align-items-center mt-2 mt-sm-0">
                        <div class="scrutiny-status flex-grow-1 d-flex justify-content-sm-end">
                            <span title="A reasoned opinion has been sent" class="btn btn-opinion ipx-tag shadow-sm">R<span class="sr-only">Reasoned opinion</span></span>
                            <span title="Political Dialogue" class="btn btn-dialog ipx-tag shadow-sm">D<span class="sr-only">Political Dialogue</span></span>
                        </div>
                    </div>
                </h3>
                <p class="ipx-card-description">
                    Proposal for a Council <mark>Regulation</mark> concerning the implementation of the Agreement concluded by the EC following negotiations in the framework of Article XXIV.6 of GATT 1994, amending Annex I to <mark>Regulation</mark> (EEC) No 2658/87 on the tariff and statistical nomenclature and on the Common Customs Tariff.
                </p>
            </a>
        </div>
        <div class="ipx-card">
            <a href="/" class="ipx-card-content w-100">
                <h3 class="ipx-card-title d-flex flex-column flex-sm-row">
                    <span class="flex-shrink-0">COM/2013/0113FIN</span>
                    <div class="ipx-tags flex-grow-1 justify-center-end d-flex align-items-center mt-2 mt-sm-0">
                        <div class="scrutiny-status flex-grow-1 d-flex justify-content-sm-end">
                            <span title="A reasoned opinion has been sent" class="btn btn-opinion ipx-tag shadow-sm">R<span class="sr-only">Reasoned opinion</span></span>
                            <span title="Political Dialogue" class="btn btn-dialog ipx-tag shadow-sm">D<span class="sr-only">Political Dialogue</span></span>
                        </div>
                    </div>
                </h3>
                <p class="ipx-card-description">
                    Proposal for a Council <mark>Regulation</mark> concerning the implementation of the Agreement concluded by the EC following negotiations in the framework of Article XXIV.6 of GATT 1994, amending Annex I to <mark>Regulation</mark> (EEC) No 2658/87 on the tariff and statistical nomenclature and on the Common Customs Tariff.
                </p>
            </a>
        </div>
        <div class="ipx-card">
            <a href="/" class="ipx-card-content w-100">
                <h3 class="ipx-card-title d-flex flex-column flex-sm-row">
                    <span class="flex-shrink-0">COM/2013/0113FIN</span>
                    <div class="ipx-tags flex-grow-1 justify-center-end d-flex align-items-center mt-2 mt-sm-0">
                        <div class="scrutiny-status flex-grow-1 d-flex justify-content-sm-end">
                            <span title="A reasoned opinion has been sent" class="btn btn-opinion ipx-tag shadow-sm">R<span class="sr-only">Reasoned opinion</span></span>
                            <span title="Political Dialogue" class="btn btn-dialog ipx-tag shadow-sm">D<span class="sr-only">Political Dialogue</span></span>
                        </div>
                    </div>
                </h3>
                <p class="ipx-card-description">
                    Proposal for a Council <mark>Regulation</mark> concerning the implementation of the Agreement concluded by the EC following negotiations in the framework of Article XXIV.6 of GATT 1994, amending Annex I to <mark>Regulation</mark> (EEC) No 2658/87 on the tariff and statistical nomenclature and on the Common Customs Tariff.
                </p>
            </a>
        </div>
    </div>
</template>

<script>
    export default {
        
    }
</script>

<style lang="scss" scoped>

</style>