<template>
    <div class="ipx-card ipx-img-card">
      <a href="/" class="ipx-card-content">
        <img src="/img/ipx-icon-documents.svg" alt="Item thumbnail" class="ipx-card-thumb">
        <div>
          <h3 class="ipx-card-title">Documents</h3>
          <p class="ipx-card-description">Webtwo ipsum orkut reddit meebo skype vimeo jajah spock empressr zimbra, mobly napster hipmunk prezi chartly bitly spock. Loopt twones meebo hipmunk, fleck xobni.</p>
        </div>
      </a>
    </div>
</template>

<script>
    export default {
        components: {
        },
        props: {
            title: String,
            description: String,
            imgSrc: String,
            imgAlt: String,
            imgCaption: String
        }
    }
</script>

<style lang="scss">  
</style>