<template>
  <div>
    <!-- A basic card with a title and a description (minimum) -->
    <div class="ipx-card">
      <a href="/" class="ipx-card-content">
        <h3 class="ipx-card-title">Basic card</h3>
        <p class="ipx-card-description">Webtwo ipsum orkut reddit meebo skype vimeo jajah spock empressr zimbra, mobly napster hipmunk prezi chartly bitly spock. Loopt twones meebo hipmunk, fleck xobni.</p>
      </a>
    </div>
    <!-- Same, but with a card footer with metadata -->
    <div class="ipx-card">
      <a href="/" class="ipx-card-content">
        <h3 class="ipx-card-title">Basic card with footer metadata</h3>
        <p class="ipx-card-description">Webtwo ipsum orkut reddit meebo skype vimeo jajah spock empressr zimbra, mobly napster hipmunk prezi chartly bitly spock. Loopt twones meebo hipmunk, fleck xobni.</p>
        <div class="ipx-card-footer">
          <span class="small">Place: Bucharest</span>
        </div>
      </a>
    </div>
    <!-- A basic card with a long title -->
    <div class="ipx-card">
      <a href="/" class="ipx-card-content">
        <h3 class="ipx-card-title">Basic card <mark>with long title</mark> and description skype vimeo jajah spock empressr zimbra, mobly napster hipmunk prezi chartly bitly spock.</h3>
        <p class="ipx-card-description">Webtwo ipsum orkut reddit meebo skype vimeo jajah spock empressr zimbra, mobly napster hipmunk prezi chartly bitly spock. Loopt twones meebo hipmunk, fleck xobni.</p>
        <div class="ipx-card-footer">
          <span class="small">Place: Bucharest</span>
        </div>
      </a>
    </div>
    <!-- A basic card with a long title with ellipsis (no more than one line) -->
    <div class="ipx-card">
      <a href="/" class="ipx-card-content">
        <h3 class="ipx-card-title ellipsis">Basic card <mark>with long title with ellipsis</mark> and small description skype vimeo jajah spock empressr zimbra, mobly napster hipmunk prezi chartly bitly spock.</h3>
        <p class="ipx-card-description">Webtwo ipsum orkut reddit meebo skype vimeo jajah spock empressr zimbra, mobly napster hipmunk prezi chartly bitly spock. Loopt twones meebo hipmunk, fleck xobni.</p>
      </a>
    </div>
    <!-- A basic card with a long description with ellipsis (no more than one line) -->
    <div class="ipx-card">
      <a href="/" class="ipx-card-content">
        <h3 class="ipx-card-title">Basic card with long description with ellipsis.</h3>
        <p class="ipx-card-description ellipsis">Webtwo ipsum orkut reddit meebo skype vimeo jajah spock empressr zimbra, mobly napster hipmunk prezi chartly bitly spock. Loopt twones meebo hipmunk, fleck xobni.</p>
      </a>
    </div>
    <h2 class="section-title">Card with image</h2>
    <!-- A card with an image -->
    <div class="ipx-card ipx-img-card">
      <a href="/" class="ipx-card-content">
        <img src="/img/ipx-icon-documents.svg" alt="Item thumbnail" class="ipx-card-thumb">
        <div>
          <h3 class="ipx-card-title">Documents</h3>
          <p class="ipx-card-description">Webtwo ipsum orkut reddit meebo skype vimeo jajah spock empressr zimbra, mobly napster hipmunk prezi chartly bitly spock. Loopt twones meebo hipmunk, fleck xobni.</p>
        </div>
      </a>
    </div>
    <!-- A card with an image -->
    <div class="ipx-card ipx-img-card">
      <a href="/" class="ipx-card-content">
        <img src="/img/ipx-icon-high-activity.svg" alt="Item thumbnail" class="ipx-card-thumb">
        <div>
          <h3 class="ipx-card-title">Documents with high activity</h3>
          <p class="ipx-card-description">Webtwo ipsum orkut reddit meebo skype vimeo jajah spock empressr zimbra, mobly napster hipmunk prezi chartly bitly spock. Loopt twones meebo hipmunk, fleck xobni.</p>
        </div>
      </a>
    </div>
    <!-- A card with an image -->
    <div class="ipx-card ipx-img-card">
      <a href="/" class="ipx-card-content">
        <img src="/img/ipx-icon-legislative-database.svg" alt="Item thumbnail" class="ipx-card-thumb">
        <div>
          <h3 class="ipx-card-title">Legislative database</h3>
          <p class="ipx-card-description">Webtwo ipsum orkut reddit meebo skype vimeo jajah spock empressr zimbra, mobly napster hipmunk prezi chartly bitly spock. Loopt twones meebo hipmunk, fleck xobni.</p>
        </div>
      </a>
    </div>
    <!-- A card with an image -->
    <div class="ipx-card ipx-img-card">
      <a href="/" class="ipx-card-content">
        <img src="/img/ipx-icon-calendar.svg" alt="Item thumbnail" class="ipx-card-thumb">
        <div>
          <h3 class="ipx-card-title">Calendar of events</h3>
          <p class="ipx-card-description">Webtwo ipsum orkut reddit meebo skype vimeo jajah spock empressr zimbra, mobly napster hipmunk prezi chartly bitly spock. Loopt twones meebo hipmunk, fleck xobni.</p>
        </div>
      </a>
    </div>
    <!-- A card with an image -->
    <div class="ipx-card ipx-img-card">
      <a href="/" class="ipx-card-content">
        <img src="/img/ipx-icon-news.svg" alt="Item thumbnail" class="ipx-card-thumb">
        <div>
          <h3 class="ipx-card-title">News from parliaments</h3>
          <p class="ipx-card-description">Webtwo ipsum orkut reddit meebo skype vimeo jajah spock empressr zimbra, mobly napster hipmunk prezi chartly bitly spock. Loopt twones meebo hipmunk, fleck xobni.</p>
        </div>
      </a>
    </div>
    <!-- A card with an image and a card footer (that may be image caption) -->
    <div class="ipx-card ipx-img-card">
      <a href="/" class="ipx-card-content">
        <img src="/img/ipx-icon-calendar.svg" alt="Item thumbnail" class="ipx-card-thumb">
        <div>
          <h3 class="ipx-card-title">Card with image and caption</h3>
          <p class="ipx-card-description">Webtwo ipsum orkut reddit meebo skype vimeo jajah spock empressr zimbra, mobly napster hipmunk prezi chartly bitly spock. Loopt twones meebo hipmunk, fleck xobni.</p>
          <div class="ipx-card-footer">
          <span class="small"><span class="utf-8 mr-2">&rarr;</span> The icon of a folder with a blue stroke.</span>
        </div>
        </div>
      </a>
    </div>
    <!-- A card with a contextual menu -->
    <div class="ipx-card ipx-img-card">
      <a href="/" class="ipx-card-content">
        <img src="/img/ipx-icon-folder.svg" alt="Item thumbnail" class="ipx-card-thumb">
        <div>
          <h3 class="ipx-card-title">Card with image and a contextual menu</h3>
          <p class="ipx-card-description">Webtwo ipsum orkut reddit meebo skype vimeo jajah spock empressr zimbra, mobly napster hipmunk prezi chartly bitly spock. Loopt twones meebo hipmunk, fleck xobni.</p>
          <div class="ipx-card-footer">
            <span class="small"><span class="utf-8 mr-2">&rarr;</span> The icon of a folder with a blue stroke.</span>
          </div>
        </div>
        <div class="ipx-card-menu">
            <button class="btn btn-disc" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Open menu">
                <i class="material-icons">more_vert</i>
            </button>
            <div class="dropdown-menu dropdown-menu-right shadow-sm">
              <ul>
                <li><a class="dropdown-item" href="#">List item 1</a></li>
                <li><a class="dropdown-item" href="#">Download file</a></li>
                <li><a class="dropdown-item" href="#">Export data</a></li>
                <li><a class="dropdown-item text-danger" href="#">Delete</a></li>
              </ul>
            </div>
        </div>
      </a>
    </div>
    <div class="ipx-card">
        <a href="/" class="ipx-card-content w-100">
          <h3 class="ipx-card-title d-flex flex-column flex-sm-row">
            <span class="flex-shrink-0">COM/2006/0147FIN</span>
              <div class="ipx-tags flex-grow-1 justify-center-end d-flex align-items-center mt-2 mt-sm-0">
                <span title="Yellow card" class="btn btn-yellowcard rounded ipx-tag shadow-sm ml-sm-2">Y<span class="sr-only">Yellow card</span></span>
                <div class="scrutiny-status flex-grow-1 d-flex justify-content-sm-end">
                  <span title="A reasoned opinion has been sent" class="btn btn-opinion ipx-tag shadow-sm">R<span class="sr-only">Reasoned opinion</span></span>
                  <span title="Political Dialogue" class="btn btn-dialog ipx-tag shadow-sm">D<span class="sr-only">Political Dialogue</span></span>
                  <span title="There is important information to exchange" class="btn btn-exchange ipx-tag shadow-sm">E<span class="sr-only">Exchange</span></span>
                </div>
              </div>
              <div class="ipx-card-menu">
                  <button class="btn btn-disc" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Open menu">
                      <i class="material-icons">more_vert</i>
                  </button>
                  <div class="dropdown-menu dropdown-menu-right shadow-sm">
                      <ul>
                      <li><a class="dropdown-item" href="#">Save to favourites</a></li>
                      <li><a class="dropdown-item" href="#">Export</a></li>
                      </ul>
                  </div>
              </div>
          </h3>
          <p class="ipx-card-description">
            Proposal for a Council Regulation concerning the implementation of the Agreement concluded by the EC following negotiations in the framework of Article XXIV.6 of GATT 1994, amending Annex I to Regulation (EEC) No 2658/87 on the tariff and statistical nomenclature and on the Common Customs Tariff.
          </p>
        </a>
      </div>
      <!-- A card with a contextual menu -->
      <div class="ipx-card ipx-img-card">
        <a href="/" class="ipx-card-content">
          <img src="/img/ipx-icon-folder.svg" alt="Item thumbnail" class="ipx-card-thumb">
          <div>
            <h3 class="ipx-card-title">Card with image and a contextual menu</h3>
            <p class="ipx-card-description">Webtwo ipsum orkut reddit meebo skype vimeo jajah spock empressr zimbra, mobly napster hipmunk prezi chartly bitly spock. Loopt twones meebo hipmunk, fleck xobni.</p>
            <div class="ipx-card-footer">
              <span class="small"><span class="utf-8 mr-2">&rarr;</span> The icon of a folder with a blue stroke.</span>
            </div>
          </div>
          <div class="ipx-card-menu">
              <button class="btn btn-disc" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Open menu">
                  <i class="material-icons">more_vert</i>
              </button>
              <div class="dropdown-menu dropdown-menu-right shadow-sm">
                <ul>
                  <li><a class="dropdown-item" href="#">List item 1</a></li>
                  <li><a class="dropdown-item" href="#">Download file</a></li>
                  <li><a class="dropdown-item" href="#">Export data</a></li>
                  <li><a class="dropdown-item text-danger" href="#">Delete</a></li>
                </ul>
              </div>
          </div>
        </a>
      </div>
    <section>
      <h2 class="section-title">2 columns layout</h2>
        <div class="ipx-card-list-2col ipx-card-list">
            <a href="#" class="ipx-card ipx-img-card d-flex align-items-center p-2">
                <img src="/img/ipx-icon-folder.svg" alt="Folder" class=" ipx-card-thumb mini-thumb flex-grow-0 mr-3">
                <h3 class="flex-grow-1">About IPEX</h3>
            </a>
            <a href="#" class="ipx-card ipx-img-card d-flex align-items-center p-2">
                <img src="/img/ipx-icon-folder.svg" alt="Folder" class=" ipx-card-thumb mini-thumb flex-grow-0 mr-3">
                <h3 class="flex-grow-1">About IPEX</h3>
            </a>
            <a href="#" class="ipx-card ipx-img-card d-flex align-items-center p-2">
                <img src="/img/ipx-icon-folder.svg" alt="Folder" class=" ipx-card-thumb mini-thumb flex-grow-0 mr-3">
                <h3 class="flex-grow-1">About IPEX</h3>
            </a>
            <a href="#" class="ipx-card ipx-img-card d-flex align-items-center p-2">
                <img src="/img/ipx-icon-folder.svg" alt="Folder" class=" ipx-card-thumb mini-thumb flex-grow-0 mr-3">
                <h3 class="flex-grow-1">About IPEX</h3>
            </a>
            <a href="#" class="ipx-card ipx-img-card d-flex align-items-center p-2">
                <img src="/img/ipx-icon-folder.svg" alt="Folder" class=" ipx-card-thumb mini-thumb flex-grow-0 mr-3">
                <h3 class="flex-grow-1">About IPEX</h3>
            </a>
        </div>
    </section>
    <section>
      <h2 class="section-title">Card list: 3 columns layout</h2>
      <div class="ipx-card-list ipx-card-list-3col">
        <div class="ipx-card">
          <a href="/" class="ipx-card-content w-100">
            <h3 class="ipx-card-title">LXI COSAC
              <div class="ipx-card-menu">
                <button class="btn btn-disc" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Open menu">
                  <i class="material-icons">more_vert</i>
                </button>
                <div class="dropdown-menu dropdown-menu-right shadow-sm">
                  <ul>
                    <li><a class="dropdown-item" href="#">Download .ics</a></li>
                    <li><a class="dropdown-item" href="#">Export</a></li>
                    <li><a class="dropdown-item" href="#">Save data</a></li>
                  </ul>
                </div>
              </div>
            </h3>
            <p class="ipx-card-description">22/06/2019 - 29/06/2019</p>
            <div class="ipx-card-footer d-flex align-items-end flex-grow-1">
              <small class="d-flex"><i class="material-icons md-18 mr-1">place</i>Budapest</small>
            </div>
          </a>
        </div>
      
        <div class="ipx-card">
          <a href="/" class="ipx-card-content w-100">
            <h3 class="ipx-card-title">COSAC Chairperson's Meeting
              <div class="ipx-card-menu">
                <button class="btn btn-disc" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Open menu">
                  <i class="material-icons">more_vert</i>
                </button>
                <div class="dropdown-menu dropdown-menu-right shadow-sm">
                  <ul>
                    <li><a class="dropdown-item" href="#">Download .ics</a></li>
                    <li><a class="dropdown-item" href="#">Export</a></li>
                    <li><a class="dropdown-item" href="#">Save data</a></li>
                  </ul>
                </div>
              </div>
            </h3>
            <p class="ipx-card-description">22/06/2019 - 29/06/2019</p>
            <div class="ipx-card-footer d-flex align-items-end flex-grow-1">
              <small class="d-flex"><i class="material-icons md-18 mr-1">place</i>Helsinki</small>
            </div>
          </a>
        </div>
    
        <div class="ipx-card">
          <a href="/" class="ipx-card-content w-100">
            <h3 class="ipx-card-title">IPEX Board
              <div class="ipx-card-menu">
                <button class="btn btn-disc" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Open menu">
                  <i class="material-icons">more_vert</i>
                </button>
                <div class="dropdown-menu dropdown-menu-right shadow-sm">
                  <ul>
                    <li><a class="dropdown-item" href="#">Download .ics</a></li>
                    <li><a class="dropdown-item" href="#">Export</a></li>
                    <li><a class="dropdown-item" href="#">Save data</a></li>
                  </ul>
                </div>
              </div>
            </h3>
            <p class="ipx-card-description">22/06/2019 - 29/06/2019</p>
            <div class="ipx-card-footer d-flex align-items-end flex-grow-1">
              <small class="d-flex"><i class="material-icons md-18 mr-1">place</i>Budapest</small>
            </div>
          </a>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
export default {
  components: {},
  props: {}
};
</script>

<style lang="scss">
</style>

