<template>
    <div class="ipx-card">
        <a href="/" class="ipx-card-content">
            <h3 class="ipx-card-title">Basic card with a footer</h3>
            <p class="ipx-card-description">Webtwo ipsum orkut reddit meebo skype vimeo jajah spock empressr zimbra, mobly napster hipmunk prezi chartly bitly spock. Loopt twones meebo hipmunk, fleck xobni.</p>
            <div class="ipx-card-footer">
                <span class="small">Place: Bucharest</span>
            </div>
        </a>
    </div>
</template>

<script>
    export default {
        components: {
        },
        props: {
            title: String,
            description: String,
            imgSrc: String,
            imgAlt: String,
            imgCaption: String,
            footerContent: String
        }
    }
</script>

<style lang="scss">  
</style>