<template>
    <div class="ipx-card has-menu">
        <a href="/" class="ipx-card-content">
            <h3 class="ipx-card-title">ICM AFCO on The debate on the Future of Europe
            </h3>
            <p class="ipx-card-description">10/10/2019 - 10/10/2019<span class="badge badge-indicative ml-2" v-if="isIndicative">Indicative dates</span></p>
            <div class="ipx-card-footer d-flex align-items-end flex-grow-1 justify-content-between">
                <small class="d-flex"><i class="material-icons md-18 mr-1">place</i>EP, Brussels</small>
            </div>
        </a>
        <div class="ipx-card-menu">
            <button class="btn btn-disc" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Open menu">
                <i class="material-icons">more_vert</i>
            </button>
            <div class="dropdown-menu dropdown-menu-right shadow-sm">
                <ul>
                    <li><a class="dropdown-item" href="#">Download .ics</a></li>
                </ul>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        components: {
        },
        props: {
            title: String,
            description: String,
            imgSrc: String,
            imgAlt: String,
            imgCaption: String,
            isIndicative:    {isIndicative: Boolean, default: false}
        }
    }
</script>

<style lang="scss">  
</style>

