<template>
    <div class="ipx-card ipx-np-card">
        <div class="ipx-card-content">
            <h5 class="pt-0">
                <span :class="'flag flag-xs mr-2 flag-'+iso"></span>
                {{name}}
            </h5>
            <a href="#" class="d-flex" :title="chamber1">{{chamber1}}</a>
            <a href="#" class="d-flex" :title="chamber2">{{chamber2}}</a>
        </div>
    </div>
</template>

<script>
    export default {
        components: {
        },
        props: {
            name: String,
            iso: String,
            chamber1: String,
            chamber2: String
        }
    }
</script>

<style lang="scss">  
</style>