<template>
    <div class="ipx-card ipx-img-card">
        <a href="#" class="ipx-card-content p-2">
            <img src="/img/ipx-icon-folder.svg" alt="Folder" class=" ipx-card-thumb mini-thumb flex-grow-0 mr-3">
            <h3 class="d-flex align-items-center flex-grow-1">Card with a title only</h3>
        </a>
    </div>
</template>

<script>
    export default {
        components: {
        },
        props: {
            title: String,
            description: String,
            imgSrc: String,
            imgAlt: String,
            imgCaption: String
        }
    }
</script>

<style lang="scss">  
</style>