<template>
    <div class="ipx-card">
      <a href="/" class="ipx-card-content">
        <h3 class="ipx-card-title">Basic card with long description with ellipsis.</h3>
        <p class="ipx-card-description ellipsis">Webtwo ipsum orkut reddit meebo skype vimeo jajah spock empressr zimbra, mobly napster hipmunk prezi chartly bitly spock. Loopt twones meebo hipmunk, fleck xobni.</p>
      </a>
    </div>
</template>

<script>
    export default {
        components: {
        },
        props: {
            title: String,
            description: String,
            imgSrc: String,
            imgAlt: String,
            imgCaption: String,
            footerContent: String
        }
    }
</script>

<style lang="scss">  
</style>