<template>
    <div id="calendarControls" class="carousel ipx-card-carousel carousel-3-columns slide" data-ride="carousel" data-interval="100000">
        <div class="carousel-inner">
            <div class="carousel-item active">
            <div>
                <CardEvent/>
                <CardEvent :isIndicative="true"/>
                <CardEvent/>
            </div>
            </div>
            <div class="carousel-item">
            <div>
                <CardEvent :isIndicative="true"/>
                <CardEvent/>
                <CardEvent/>
            </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#calendarControls" role="button" data-slide="prev">
            <button class="btn btn-disc">
            <i class="material-icons">keyboard_arrow_left</i>
            </button>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#calendarControls" role="button" data-slide="next">
            <button class="btn btn-disc">
            <i class="material-icons">keyboard_arrow_right</i>
            </button>
            <span class="sr-only">Next</span>
        </a>
    </div>
</template>

<script>
import CardEvent from "~/components/cards/CardEvent";
    export default {
        components: {
            CardEvent
        },
        props: {
            title: String,
            description: String,
            imgSrc: String,
            imgAlt: String,
            imgCaption: String,
            footerContent: String
        }
    }
</script>

<style lang="scss">  
</style>