<template>
    <div class="ipx-card ipx-img-card has-menu">
      <a href="/" class="ipx-card-content">
        <img src="/img/ipx-icon-folder.svg" alt="Item thumbnail" class="ipx-card-thumb">
        <div>
          <h3 class="ipx-card-title">Card with image and a contextual menu</h3>
          <p class="ipx-card-description">Webtwo ipsum orkut reddit meebo skype vimeo jajah spock empressr zimbra, mobly napster hipmunk prezi chartly bitly spock. Loopt twones meebo hipmunk, fleck xobni.</p>
          <div class="ipx-card-footer">
            <span class="small"><span class="utf-8 mr-2">&rarr;</span> The icon of a folder with a blue stroke.</span>
          </div>
        </div>
      </a>
      <div class="ipx-card-menu">
          <button class="btn btn-disc" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Open menu">
              <i class="material-icons">more_vert</i>
          </button>
          <div class="dropdown-menu dropdown-menu-right shadow-sm">
            <ul>
              <li><a class="dropdown-item" href="#">Edit</a></li>
              <li><a class="dropdown-item" href="#">View</a></li>
              <li><a class="dropdown-item text-danger" href="#">Remove</a></li>
            </ul>
          </div>
      </div>
    </div>
</template>

<script>
    export default {
        components: {
        },
        props: {
            title: String,
            description: String,
            imgSrc: String,
            imgAlt: String,
            imgCaption: String
        }
    }
</script>

<style lang="scss">  
</style>