<template>
    <div class="ipx-card ipx-img-card">
        <a href="/" class="ipx-card-content">
            <img src="/img/parliaments/romania.jpg" alt="Item thumbnail" class="ipx-card-thumb">
            <div>
                <h3 class="ipx-card-title">Inter-parliamentary conference for CFSP/CSDP</h3>
                <p class="ipx-card-description">Inter-Parliamentary Conference for the Common Foreign and Security Policy and the Common Security and Defence Policy (CFSP/CSDP)</p>
                <div class="ipx-card-footer d-flex align-items-end flex-grow-1">
                    <small class="d-flex"><i class="material-icons md-18 mr-1">place</i>Helsinki, Finland</small>
                </div>
            </div>
        </a>
    </div>
</template>

<script>
    export default {
        components: {
        },
        props: {
            title: String,
            description: String,
            imgSrc: String,
            imgAlt: String,
            imgCaption: String
        }
    }
</script>

<style lang="scss">  
</style>