<template>
    <div class="ipx-card has-menu">
      <a href="/" class="ipx-card-content">
        <div>
          <h3 class="ipx-card-title">Card with a contextual menu</h3>
          <p class="ipx-card-description">Webtwo ipsum orkut reddit meebo skype vimeo jajah spock empressr zimbra, mobly napster hipmunk prezi chartly bitly spock. Loopt twones meebo hipmunk, fleck xobni.</p>
        </div>
      </a>
      <div class="ipx-card-menu">
          <button class="btn btn-disc" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Open menu">
              <i class="material-icons">more_vert</i>
          </button>
          <div class="dropdown-menu dropdown-menu-right shadow-sm">
            <ul>
              <li><a class="dropdown-item" href="#">List item 1</a></li>
              <li><a class="dropdown-item" href="#">Download file</a></li>
              <li><a class="dropdown-item" href="#">Export data</a></li>
              <li><a class="dropdown-item text-danger" href="#">Delete</a></li>
            </ul>
          </div>
      </div>
    </div>
</template>

<script>
    export default {
        components: {
        },
        props: {
            title: String,
            description: String,
            imgSrc: String,
            imgAlt: String,
            imgCaption: String
        }
    }
</script>

<style lang="scss">  
</style>