<template>
    <div class="ipx-card ipx-img-card">
        <a href="/" class="ipx-card-content">
            <img :src="imgSrc" :alt="imgAlt" class="ipx-card-thumb">
            <div>
                <h3 class="ipx-card-title">{{title}}</h3>
                <div class="ipx-card-footer d-flex align-items-end flex-grow-1">
                    <small class="d-flex">
                        <span class="font-weight-bold mr-2">{{date}}</span>
                        <span>Source: {{source}}</span>
                    </small>
                </div>
            </div>
        </a>
    </div>
</template>

<script>
    export default {
        components: {
        },
        props: {
            title: String,
            description: String,
            date: String,
            source: String,
            imgSrc: String,
            imgAlt: String,
            imgCaption: String,
            hasThumbnail:  {hasThumbnail: Boolean, default: true}
        }
    }
</script>

<style lang="scss">  
</style>