<template>
    <nav class="container-regular noprint" aria-label="breadcrumb">
        <ol class="breadcrumb ipx-breadcrumb ipextest">
            <li v-for="(item, key) in breadcrumbs" class="breadcrumb-item">
                <nuxt-link :to="item.link">{{item.text}}</nuxt-link>
            </li>
            <li class="breadcrumb-item active" aria-current="page">{{breadcurrent}}</li>
        </ol>
    </nav>
</template>
<script>

export default {
  components: {
  },
  props: {
      breadcrumbs: Array,
      breadcurrent: String
  }
}
</script>