<template>
    <nav class="ipx-menu navbar navbar-expand-lg navbar-dark" id="ipexmenu">
        <a class="ipx-logo-mobile d-lg-none" href="/" alt="Go to IPEX frontpage" v-on:click="menuOpened = !menuOpened">
            <img class="d-flex d-lg-none" src="/img/ipex-logo-light.svg" alt="IPEX logo">
        </a>
        <button
          class="navbar-toggler" :class="{ 'collapsed': !menuOpened }"
          type="button"
          data-toggle="collapse"
          data-target="#ipexMainMenu"
          aria-controls="ipexMainMenu"
          aria-expanded="false"
          aria-label="Toggle navigation"
          v-on:click="menuOpened = !menuOpened"
        >
          <i class="material-icons icon-menu">menu</i>
        </button>
        <div class="ipx-mainmenu d-lg-flex w-100" id="ipexMainMenu" :class="{ 'opened': menuOpened }">
          <ul class="navbar-nav mx-auto d-flex align-items-end justify-content-center">
            <li class="nav-item" :class="section" v-on:click="menuOpened = !menuOpened">
              <nuxt-link id="item-ipex" 
              class="nav-link px-2" role="button" 
              to="/"
              v-on:click="menuOpened = !menuOpened"
              > <span class="material-icons">home</span> 
              </nuxt-link>
            </li>
            <li class="nav-item" :class="{ active: isCalendar }" v-on:click="menuOpened = !menuOpened">
              <nuxt-link
                class="nav-link"
                to="/calendar"
                id="item-calendar"
                role="button"
                v-on:click="menuOpened = !menuOpened"
              >Calendar</nuxt-link>
            </li>
            <li class="nav-item dropdown hover-dropdown" :class="{ active: isDocument }">
              <nuxt-link
                class="nav-link dropdown-toggle d-flex align-items-center"
                to="/landing-documents"
                id="item-documents"
                role="button"
                v-on:click="menuOpened = !menuOpened"
        
              >Documents</nuxt-link>
              <div class="dropdown-menu" aria-labelledby="item-documents">
                <nuxt-link class="dropdown-item" to="/documents/high-activity">Documents with high activity</nuxt-link>
                <nuxt-link class="dropdown-item" to="/documents/document">Document</nuxt-link>
                <nuxt-link class="dropdown-item" to="/documents/scrutiny">Scrutiny</nuxt-link>
                <nuxt-link class="dropdown-item" to="/documents/Dossier">Dossier</nuxt-link>
                <nuxt-link class="dropdown-item" to="/details/event">Event detail</nuxt-link>
                <nuxt-link class="dropdown-item" to="/">CMS page</nuxt-link>
                <nuxt-link class="dropdown-item" to="/landing">Landing page</nuxt-link>
                <nuxt-link class="dropdown-item" to="/landing2">Landing model 2</nuxt-link>
                <nuxt-link class="dropdown-item" to="/cards">Cards</nuxt-link>
                <nuxt-link class="dropdown-item" to="/lists/list-of-stored-searches">List of stored searches</nuxt-link>
                <nuxt-link class="dropdown-item" to="/details/stored-search">Stored search detail</nuxt-link>
                <nuxt-link class="dropdown-item" to="/documents/own">OWN initiative contributions</nuxt-link>
                <nuxt-link class="dropdown-item" to="/documents/legislative-database">EU legislative databases</nuxt-link>
              </div>
            </li>
            <li class="nav-item dropdown hover-dropdown" :class="{ active: isParliament }">
              <a
                class="nav-link dropdown-toggle d-flex align-items-center"
                to="/parliaments/splash"
                id="item-parliaments"
                role="button"
                v-on:click="menuOpened = !menuOpened"
              >Parliaments</a>
              <div class="dropdown-menu" aria-labelledby="item-parliaments">
                <nuxt-link class="dropdown-item" to="/list-parliaments">List of parliaments</nuxt-link>
                <nuxt-link class="dropdown-item" to="/lists/list-of-news">News from parliament</nuxt-link>
                <nuxt-link class="dropdown-item" to="/details/news">News details</nuxt-link>
                <nuxt-link class="dropdown-item" to="/details/news2">News details 2</nuxt-link>
                <nuxt-link class="dropdown-item" to="/parliaments/interparliamentary-cooperation">Basic documents</nuxt-link>
              </div>
            </li>
            <li class="nav-item dropdown hover-dropdown" :class="{ active: isConferences }">
              <a
                class="nav-link dropdown-toggle d-flex align-items-center"
                href="/landing-conferences"
                id="item-conferences"
                role="button"
                v-on:click="menuOpened = !menuOpened"
              >Conferences</a>
              <div class="dropdown-menu" aria-labelledby="item-conferences">
                <nuxt-link class="dropdown-item" to="/landing-conferences">All Conferences</nuxt-link>
                <nuxt-link class="dropdown-item" to="/conferences/conference">EU Speakers Conference</nuxt-link>
                <nuxt-link class="dropdown-item" to="/conferences/cosac">COSAC</nuxt-link>
                <nuxt-link class="dropdown-item" to="/conferences/cfsp-csdp">Conference for CFSP/CSDP</nuxt-link>
                <nuxt-link class="dropdown-item" to="/conferences/secg">Conference on SECG</nuxt-link>
                <nuxt-link class="dropdown-item" to="/conferences/jpsg">JPSG on Europol</nuxt-link>
              </div>
            </li>
            <li class="nav-item dropdown hover-dropdown" :class="{ active: isAbout }">
              <a
                class="nav-link dropdown-toggle d-flex align-items-center"
                href="#"
                id="item-about"
                role="button"
                v-on:click="menuOpened = !menuOpened"
              >About</a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="item-about">
                <div class="dropdown-col">
                  <h4>IPEX</h4>
                  <nuxt-link class="dropdown-item" to="/myipex/myipex">About IPEX</nuxt-link>
                  <nuxt-link class="dropdown-item" to="/myipex/basic-documents">Basic documents</nuxt-link>
                  <nuxt-link class="dropdown-item" to="/myipex/using-ipex">Using IPEX</nuxt-link>
                  <nuxt-link class="dropdown-item" to="/myipex/archives">Archives</nuxt-link>
                </div>
                <div class="dropdown-col">
                  <h4>Contacts</h4>
                  <nuxt-link class="dropdown-item" to="/about/contacts/speakers">Speakers</nuxt-link>
                  <nuxt-link class="dropdown-item" to="/lists/list-of-contacts2">Secretaries general</nuxt-link>
                  <nuxt-link class="dropdown-item" to="/lists/list-of-contacts">IPEX board</nuxt-link>
                  <nuxt-link class="dropdown-item" to="/about/contacts/ipex-correspondents">IPEX correspondents</nuxt-link>
                  <nuxt-link class="dropdown-item" to="/about/contacts/information-officer">Information officer</nuxt-link>
                  <nuxt-link class="dropdown-item" to="/about/contacts/contacts-from-cosac">Contacts from COSAC</nuxt-link>
                </div>
              </div>
            </li>
            <li class="nav-item dropdown d-lg-none">
              <a
                class="nav-link d-flex align-items-center"
                href="#"
                id="item-search"
                role="button"
                v-on:click="menuOpened = !menuOpened"
              >Search</a>
            </li>
          </ul>
          <div class="ipx-search navbar-nav">
            <div class="nav-item dropdown d-flex">
                <button class="btn text-white align-items-center d-none d-lg-flex trigger-search px-0 py-0 my-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="material-icons">search</span>
                </button>
                <div class="dropdown-menu dropdown-menu-right dropdown-menu-search shadow" aria-labelledby="mainSearch">
                    <div class="d-flex align-items-center mb-3 form-squared">
                        <input placeholder="Search term" class="form-control flex-grow-1">
                        <nuxt-link class="btn font-weight-bold d-flex align-items-center justify-content-center" to="/advanced-search/results">
                        <span class="material-icons">arrow_forward</span>
                        </nuxt-link>
                    </div>
                    <h5>Search in</h5>
                    <div class="d-flex align-items-end mt-2">
                        <nuxt-link class="dropdown-item d-flex flex-column align-items-center" to="/calendar" title="Search calendar">
                            <img src="/icons/ipx-icon-calendar-large.svg" class="icon-search is-calendar" alt="Search calendar icon">
                            <span>Calendar</span>
                        </nuxt-link>
                        <nuxt-link class="dropdown-item d-flex flex-column align-items-center" to="/documents/legislative-database" title="Search documents">
                            <img src="/icons/ipx-icon-documents-large.svg" class="icon-search is-documents" alt="Search documents icon">
                            <span>Documents</span>
                        </nuxt-link>                  
                        
                        <nuxt-link class="dropdown-item d-flex flex-column align-items-center" to="/lists/list-of-parliaments" title="Search parliaments">
                            <img src="/icons/ipx-icon-parliament-large.svg" class="icon-search is-parliaments" alt="Search parliaments icon">
                            <span>Parliaments</span>
                        </nuxt-link>
                        <nuxt-link class="dropdown-item d-flex flex-column align-items-center" to="lists/list-of-news" title="Search news">
                            <img src="/icons/ipx-icon-news-large.svg" class="icon-search is-news" alt="Search news icon">
                            <span>News</span>
                        </nuxt-link>
                        <nuxt-link class="dropdown-item d-flex flex-column align-items-center" to="/" title="Search conferences">
                            <img src="/icons/ipx-icon-conferences-large.svg" class="icon-search is-conferences" alt="Search conferences icon">
                            <span>Conferences</span>
                        </nuxt-link>
                       
                    </div>
                </div>
            </div>
          </div>
        <div class="d-lg-none my-4">
            <a class="btn btn-languages" data-toggle="collapse" href="#languagesMobile" role="button" aria-expanded="false" aria-controls="languagesMobile">
              <i class="material-icons">languages</i> Choose your language
            </a>
            <div class="collapse" id="languagesMobile">
              <div class="languages-mobile d-flex flex-wrap">
                <a class="active" href="#" title="en - english" lang="en">en - english</a>
                <a href="#" title="fr - français" lang="fr">fr - français</a>
                <span class="vertical-divider"></span>
                <a href="#" title="bg - български" lang="bg">bg – български</a>
                <a href="#" title="cs – ĉeština" lang="cs">cs – ĉeština</a>
                <a href="#" title="hr -hrvatski" lang="hr">hr – hrvatski</a>
                <a href="#" title="da – dansk" lang="da">da – dansk</a>
                <a href="#" title="de – deutsch" lang="de">de – deutsch</a>
                <a href="#" title="el – ελληνικά" lang="el">el – ελληνικά</a>
                <a href="#" title="es – español" lang="es">es – español</a>
                <a href="#" title="et - eesti keel" lang="et">et – eesti keel</a>
                <a href="#" title="fi – suomi" lang="fi">fi – suomi</a>
                <a href="#" title="ga - Gaelige" lang="ga">ga – gaelige</a>
                <a href="#" title="hu – magyar" lang="hu">hu – magyar</a>
                <a href="#" title="it – italiano" lang="it">it – italiano</a>
                <a href="#" title="lt - lietuvių kalba" lang="lt">lt – lietuvių kalba</a>
                <a href="#" title="lv – latviešu valoda" lang="lv">lv – latviešu valoda</a>
                <a href="#" title="mt - Malti" lang="mt">mt – malti</a>
                <a href="#" title="nl - Nederlands" lang="nl">nl – nederlands</a>
                <a href="#" title="pl - polski" lang="pl">pl – polski</a>
                <a href="#" title="pt - português" lang="PT">pt – português</a>
                <a href="#" title="ro - românǎ" lang="pt">ro – românǎ</a>
                <a href="#" title="sk-  slovenčina" lang="sk">sk – slovenčina</a>
                <a href="#" title="sl -slovenŝčina" lang="sl">sl – slovenŝčina</a>
                <a href="#" title="sv-  svenska" lang="sv">sv – svenska</a>
            </div>
          </div>
        </div>
      </div> 
    </nav>
</template>


<script>
    import IpexLogo from "~/components/header/IpexLogo"

    export default {
        components: {
            IpexLogo
        },
        props: {
            isSticky: {isLarge: Boolean, default: false},
            section: String
        },
        data() {
            return {
                menuOpened: false,
                isHome: false,
                isCalendar: false,
                isDocument: false,
                isParliament: false,
                isConferences: false,
                isAbout: false,
                showSearch: false
            }
        },
        methods: {
            toggleShow: function(){
                this.show = !this.show;
            }
        }
    }
</script>


<style lang="scss" scoped>

</style>
