<template>
	<div class="ipx-drawer" v-if="enabled">
		<aside class="sidebar" :style="style" ref="element">
			<h2 class="drawer-title shadow-sm px-2 px-lg-5 pt-0">
				<img src="/icons/ipx-icon-search-small.svg" class="ml-3" alt="">
				<span>Advanced search</span>
				<span class="drawer-title-text flex-grow-1">{{searchBy}}</span>
				<i class="material-icons md-36 mr-2" @click="closeMenu()">clear</i>
			</h2>
			<div class="drawer-body px-2 px-lg-5">
				<OptionsDocuments v-if="searchBy == 'Documents' "/>
				<OptionsEvents v-if="searchBy == 'Calendar' "/>
				<OptionsParliaments v-if="searchBy == 'Parliaments' "/>
				<OptionsConferences v-if="searchBy == 'Conferences' "/>
				<OptionsNews v-if="searchBy == 'News' "/>
			</div>
			<div class="drawer-bottom shadow px-3 px-lg-5">
				<button class="btn btn-large btn-action" @click="closeMenu()">Cancel</button>
				<nuxt-link v-if="searchBy == 'Documents' " to="/advanced-search/results-documents" class="btn btn-large btn-action btn-flash">Search</nuxt-link>
				<nuxt-link v-if="searchBy == 'Calendar' " to="/advanced-search/results-calendar" class="btn btn-large btn-action btn-flash">Search</nuxt-link>
				<nuxt-link v-if="searchBy == 'Parliaments' " to="/advanced-search/results-parliaments" class="btn btn-large btn-action btn-flash">Search</nuxt-link>
				<nuxt-link v-if="searchBy == 'Conferences' " to="/advanced-search/results-conference" class="btn btn-large btn-action btn-flash">Search</nuxt-link>
				<nuxt-link v-if="searchBy == 'News' " to="/advanced-search/results-news" class="btn btn-large btn-action btn-flash">Search</nuxt-link>
			</div>
		</aside>
		<div class="overlay" ref="overlay"></div>
	</div>
</template>
<script>
import OptionsDocuments from "~/components/search/OptionsDocuments"
import OptionsScrutinies from "~/components/search/OptionsScrutinies"
import OptionsEvents from "~/components/search/OptionsEvents"
import OptionsParliaments from "~/components/search/OptionsParliaments"
import OptionsConferences from "~/components/search/OptionsConferences"
import OptionsNews from "~/components/search/OptionsNews"
import OptionsFiles from "~/components/search/OptionsFiles"

	export default{
		props:['direction','exist','title', 'searchBy'],
		components: {
			OptionsDocuments,
			OptionsScrutinies,
			OptionsEvents,
			OptionsParliaments,
			OptionsConferences,
			OptionsNews,
			OptionsFiles
		},
		data(){
			return {
				auto_speed:'0.3s',
				manual_speed:'0.03s',
				threshold:20,
				startTime:null,
				startPos:null,
				translate:null,
				active:false,
				visible:true,
			}
		},
		computed:{
			element:function(){
				return this.$refs.element;
			},
			overlay:function(){
				return this.$refs.overlay;
			},
			enabled:function(){
				if(this.exist == true){
					return true;
				}
				return false;
			},
			style:function(){
				if(this.direction == 'right'){
					return 'transform:translate3d(100%,0,0);right:0;';
				}
					return 'transform:translate3d(-100%,0,0);left:0;';
			},
		},
		mounted(){
			document.addEventListener('touchstart',(e) =>{this.handleStart(e)});
			document.addEventListener('touchmove',(e) =>{this.handleMove(e)});
			document.addEventListener('touchend',(e) =>{this.handleEnd(e)});
			document.addEventListener('touchcancel',(e) =>{this.handleEnd(e)});
			window.addEventListener('resize', (e) =>{this.setVisibality(e)}, true);
			this.overlay.addEventListener('transitionend',(e) =>{this.handleZindex(e)},false);			
			this.overlay.addEventListener('click',(e) =>{this.close()},false);
			this.setVisibality();
		},
		methods:{
			closeMenu() {
				this.$emit('closeDrawer')
			},
			setVisibality(){
				if(this.element.offsetWidth == 0){
					this.visible=false;
				}else{
					this.visible=true;
				}
			},
			handleStart(e){
				  	this.startTime = new Date().getTime();
				   	this.startPos = e.targetTouches[0].pageX;
				   	this.element.style.transitionDuration = this.manual_speed;	
			},
			handleMove(e){
					let gesture = this.gesture(e);
					let valid = this.validate(this.direction,gesture);
					if(valid){
					let percent = this.percentage(this.direction,gesture);
						if(this.direction == 'left'){
								this.translate = (e.touches[0].pageX-this.element.offsetWidth);
								if(this.translate < 0){
									this.element.style.transform = 'translate3d('+ this.translate +'px,0,0)';
								}else{
									this.open();						
								}
						}else{
								this.translate = -(screen.width-this.element.offsetWidth-e.touches[0].pageX);
								if(this.translate > 0){
									this.element.style.transform = 'translate3d('+ this.translate +'px,0,0)';
								}else{
									this.open();						
								}
						}
						this.overlayOpacity(percent/100);
					}
			},
			handleEnd(e){
					let speed = this.speed(e);
					let gesture = this.gesture(e);
					let valid = this.validate(this.direction,gesture);
					if(valid){
						if(speed>0.6){
							if(!this.active){
								this.open();									
							}else{
								this.close();						
							}
						}else{
							if(this.element.offsetWidth/2>Math.abs(this.translate)){
								this.open();						
							}else{
								this.close();						
							}
						}			
					}
			},
			handleZindex(){
				let opacity = window.getComputedStyle(this.overlay).getPropertyValue('opacity');
				if(opacity<=0){
					this.overlay.style.zIndex = -999;			
				}
			},
			validate(direction,gesture){
				if(direction == 'left'){
					if((this.active && gesture == 'swiperight') || (!this.active && (gesture == 'swipeleft' || this.startPos>this.threshold))){
						return false;
					}
				}else{
					if((this.active && gesture == 'swipeleft') || (!this.active && (gesture == 'swiperight' || this.startPos<(screen.width-this.threshold)))){
						return false;
					}
				}
				if((document.querySelector('.sidebar.active') && !this.active) || !this.visible){
					return false;
				}
				return true;
			},
			overlayOpacity(opacity){
				this.overlay.style.opacity = opacity;
				if(opacity > 0){
					this.overlay.style.zIndex = 999;					
				}
			},
			gesture(e){
				let directions = [
					'swipeleft',
					'swiperight',
				];
				let currentPos = e.changedTouches[0].pageX;
				if((this.startPos-currentPos)<0){
					return directions[1];
				}else{
					return directions[0];
				}
			},
			open(){
				this.translate = 0;
				this.element.style.transform = 'translate3d('+this.translate+',0,0)';
				this.element.style.transitionDuration = this.auto_speed;
				this.overlayOpacity(1);
	    		this.lock(document.querySelector('html'));
	    		this.lock(document.querySelector('body'));
				this.element.classList.add('active');	
				this.active = true;	
			},
			close(){
				if(this.direction=='left'){
					this.translate = '-'+this.element.offsetWidth+'px';
				}else{
					this.translate = this.element.offsetWidth+'px';
				}
				this.element.style.transform = 'translate3d('+this.translate+',0,0)';	
				this.element.style.transitionDuration = this.auto_speed;	
				this.overlayOpacity(0);
	    		this.unlock(document.querySelector('html'));
	    		this.unlock(document.querySelector('body'));
				this.element.classList.remove('active');	
				this.active = false;
			},
			speed(e){
				let time = new Date().getTime() - this.startTime;
				let startP = Math.abs(this.startPos);
				let endP =  Math.abs(e.changedTouches[0].pageX);
				let distance = startP>endP? (startP-endP):(endP-startP);
				return distance/time;
			},
			percentage(direction,gesture){
				let percentage = 0;
				let test = [];
				if(direction == 'left'){
					test = ['swipeleft','swiperight']
				}else{
					test = ['swiperight','swipeleft']			
				}
				if(this.active && gesture == test[0]){
					percentage = 100-Math.round(Math.abs(this.translate)/this.element.offsetWidth*100);
				}
				if(!this.active && gesture == test[1]){
					percentage = Math.round(100-Math.abs(this.translate)/this.element.offsetWidth*100);
				}
					if(percentage>100){
						percentage = 100;
					}
					if(percentage<0){
						percentage = 0;
					}
					return percentage;
			},
			lock(element){
				element.style.overflow = 'hidden';
				element.style.touchAction = 'none';
			},
			unlock(element){
				element.style.removeProperty('overflow');
				element.style.removeProperty('touch-action');
			}			
		}
	}	
</script>