<template>
    <div class="dropdown mx-2 flex-shrink-0 hover-dropdown my-ipex-dropdown">
        <button class="btn btn-rounded text-white" type="button" id="userMenu">
            {{title}}
        </button>
        <div class="user-menu dropdown-menu dropdown-menu-right shadow" aria-labelledby="userMenu">
            <div class="dropdown-header">
                <img class="user-profile user-thumbnail" src="/img/user/man.jpg" alt="Picture of John Doe-Smith">
                <h5>{{username}}</h5>
            </div>
            <div class="dropdown-divider"></div>
            <nuxt-link class="dropdown-item" to="/myipex/myipex">My IPEX <span class="badge badge-danger badge-pill d-none">2</span><span class="sr-only">unread messages</span></nuxt-link>
            <nuxt-link class="dropdown-item" to="/myipex/manage-my-account">Manage my account</nuxt-link>
            <nuxt-link class="dropdown-item" to="/lists/list-of-stored-searches">My stored searches</nuxt-link>
            <nuxt-link class="dropdown-item" to="/myipex/create-an-account">Create an account</nuxt-link>
            <a class="dropdown-item" href="#">Administration</a>
            <a class="dropdown-item" href="#">Log out</a>
            <a class="dropdown-item" href="#">Sign in</a>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            title: String,
            username: String,
            isAdmin:    {isAdmin: Boolean, default: true},
            isLogged:   {isLogged: Boolean, default: true},
        }
    }
</script>

<style lang="scss" scoped>
   
</style>
