<template>
  <div class="d-flex flex-column flex-grow-1">
    <div class="breadcrumb-container">
      <Breadcrumbs :breadcrumbs="breadcrumbs" :breadcurrent="pagetitle"/>
    </div>
    <OptionsDrawer :direction="'left'" :exist="true" ref="LeftDrawer" :title="'Parliaments'" @closeDrawer="openMenu" :searchBy="searchBy"/>
    <ResultsContentParliaments @clickedDrawer="openMenu($event)"/>
  </div>
</template>

<script>
import Breadcrumbs from "~/components/navigation/Breadcrumbs";
import ResultsContentParliaments from "~/components/search/ResultsContentParliaments";
import ResultsContentDocuments from "~/components/search/ResultsContentDocuments";
import OptionsDrawer from "~/components/navigation/OptionsDrawer";
import OptionsDocuments from "~/components/search/OptionsDocuments"
import OptionsScrutinies from "~/components/search/OptionsScrutinies"
import OptionsEvents from "~/components/search/OptionsEvents"
import OptionsParliaments from "~/components/search/OptionsParliaments"
import OptionsConferences from "~/components/search/OptionsConferences"
import OptionsNews from "~/components/search/OptionsNews"
import OptionsFiles from "~/components/search/OptionsFiles"

export default {
  layout: "default",
  components: {
    Breadcrumbs,
    ResultsContentParliaments,
    OptionsDrawer,
    OptionsDocuments,
    OptionsScrutinies,
    OptionsEvents,
    OptionsParliaments,
    OptionsConferences,
    OptionsNews,
    OptionsFiles
  },
  data() {
    return {
      page: "Search results",
      pagetitle: "Search results",
      searchBy: '',

      breadcrumbs: [
        {
          text: "Home",
          link: "/"
        },
        {
          text: "Search",
          link: "/advanced-search/search"
        }
      ]
    }
  },
  methods:{
			openMenu(searchBy){
                this.searchBy = searchBy;
				if(this.$refs.LeftDrawer.active){
					this.$refs.LeftDrawer.close();					
				}else{
					this.$refs.LeftDrawer.open();
				}
			}
		}
}
</script>
