<template>
  <div class="d-flex flex-column flex-grow-1">
    <div class="breadcrumb-container">
      <Breadcrumbs :breadcrumbs="breadcrumbs" :breadcurrent="pagetitle"/>
    </div>
    <ContentHeader class="d-none" :imgSrc="'/icons/iconsearch.png'" :imgCaption="'This is the thumbnail caption.'" :title="'IPEX Advanced Search'" :description="'Narrow down the results and help you find what you are looking for. Nostrum sint distinctio iusto soluta corrupti suscipit ipsam atque modi exercitationem minus. Nostrum sint distinctio iusto soluta corrupti suscipit ipsam atque modi exercitationem minus.'"/>
    <SearchContent/>
  </div>
</template>

<script>
import ContentHeader from "~/components/layout/ContentHeader";
import Breadcrumbs from "~/components/navigation/Breadcrumbs";
import SearchContent from "~/components/search/SearchContent";
import IpexWidget from "~/components/IpexWidget";

export default {
  layout: "default",
  components: {
    Breadcrumbs,
    ContentHeader,
    SearchContent,
    IpexWidget
  },
  data() {
    return {
      page: "landing",
      pagetitle: "IPEX Search",
      breadcrumbs: [
        {
          text: "Home",
          link: "/"
        }
      ],
      ShowAll: false,
      ShowOptionsDocuments: false,
      ShowOptionsScrutinies: false,
      ShowOptionsEvents: false,
      ShowOptionsNews: false,
      ShowOptionsFiles: false,
      criteriaDisplayed: false,
      resultsDocumentsDisplayed: false,
      arrayEvents: null,
      date1: new Date().toISOString().substr(0, 10),
      date2: new Date().toISOString().substr(0, 10),
    }
  },
    mounted () {
      this.arrayEvents = [...Array(6)].map(() => {
        const day = Math.floor(Math.random() * 30)
        const d = new Date()
        d.setDate(day)
        return d.toISOString().substr(0, 10)
      })
    },

    methods: {
      functionEvents (date) {
        const [,, day] = date.split('-')
        if ([12, 17, 28].includes(parseInt(day, 10))) return true
        if ([1, 19, 22].includes(parseInt(day, 10))) return ['red', '#00f']
        return false
      },
    },
}
</script>

