<template>
  <div>
    <h2 id="toc_0">EU MATTERS</h2>
    <p>The right of the Austrian Parliament to take an active part in EU legislation is for the most part exercised by the EU Main Committee and the EU Sub-Committee of the National Council and by the EU Committee of the Federal Council.</p>
    <h2 id="toc_1">The power to adopt binding opinions</h2>
    <p>In accordance with the Austrian Parliament&#39;s right to information and participation in the legislative process of the European Union, the Federal Government is under the obligation to inform the National and Federal Councils without delay of all EU projects. Once informed, both chambers are then in a position to discuss important subjects in detail and to adopt an opinion on them, by which the Members of Parliament may give binding instructions to the government member representing Austria on the EU level.</p>
    <h2 id="toc_2">The Subsidiarity Control Mechanism</h2>
    <p>The EU committees also play a key role in the framework of the subsidiarity control mechanism. All draft legislative acts of the European institutions are received by the Parliament and subjected to a preliminary legal analysis. The EU Sub-Committee of the National Council and the EU Committee of the Federal Council consequently decide which draft legal act should be subject to detailed scrutiny. Should a Committee subsequently feel that a legislative proposal runs counter to the subsidiarity principle, it may, in form of a reasoned opinion, raise a formal objection to it. In the framework of the political dialogue, the EU Committees may also communicate their views regarding all legislative proposals to the European institutions.</p>
  </div>
</template>