<template>
    <div class="d-flex flex-column flex-grow-1">
        <div class="breadcrumb-container">
            <Breadcrumbs :breadcrumbs="breadcrumbs" :breadcurrent="pagetitle"/>
        </div>
        <ContentHeader :imgSrc="'/icons/ipx-icon-createaccount-large.svg'" :imgAlt="'This is the alt attribute for the image'" :imgCaption="'This is the thumbnail caption.'" :title="'Create an account'" :description="'New to IPEX ? Create your personal account filling out the following form. Creating an account will let you store your searches in a dedicated section called My IPEX and get personal email notifications.'"/>
        <div class="container-regular flex-grow-1 ipx-content">
            <section>
                <form>
                    <div class="form-row">
                        <h2 class="section-title col-12">Your information</h2>
                        <div class="form-group col-md-6">
                            <label for="inputName">First name</label>
                            <input type="text" class="form-control" id="inputName" placeholder="Your first name" required>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputLastName">Last name</label>
                            <input type="text" class="form-control" id="inputLastName" placeholder="Your last name" required>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-12">
                            <label for="inputEmail4">Email</label>
                            <input type="email" class="form-control" id="inputEmail4" placeholder="Email" required>
                            <small id="emailHelp" class="form-text text-muted pl-3">
                                We'll never share your email with anyone else.
                            </small>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputPassword4">Password</label>
                            <input type="password" class="form-control mb-3" id="inputPassword4" placeholder="Password" required>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputPassword5">Confirm password</label>
                            <input type="password" class="form-control" id="inputPassword5" placeholder="Confirm password" required>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputPassword4">Position</label>
                            <input type="password" class="form-control mb-3" id="inputPassword4" placeholder="Your position" required>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputPassword5">Employer</label>
                            <input type="password" class="form-control" id="inputPassword5" placeholder="Your employer" required>
                        </div>
                    </div>
                    <div class="form-row mt-3">
                        <h5 class="col-12">GDPR agreement</h5>
                        <p class="col-12">
                            Nous utilisons des cookies pour faire fonctionner nos sites web et optimaliser votre expérience utilisateur. En cliquant sur
                            <em>Oui j'accepte</em> vous acceptez le placement de cookies. Vous souhaitez en savoir plus, lisez notre politique de cookies, notre charte vie privée et les CGUs.
                        </p>
                        <div class="d-flex align-items-center justify-content-center mt-3 col-12">
                            <label for="gridCheck">Yes, I agree</label>
                            <label class="switch ml-2">
                                <input id="gridCheck" type="checkbox" v-on:click="gdprOk = !gdprOk">
                                <span class="slider round"></span>
                            </label>
                        </div>
                    </div>
                </form>
                <div class="text-center mt-5">
                    <button type="submit" class="btn btn-action btn-flash" v-bind:class="{ 'disabled': !gdprOk }">Create my account</button>
                </div>
            </section>
        </div>
    </div>
</template>

<script>
import Breadcrumbs from "~/components/navigation/Breadcrumbs";
import ContentHeader from "~/components/layout/ContentHeader";
import ContentLanding from "~/components/layout/ContentLanding";
import IpexWidget from "~/components/IpexWidget"


export default {
  layout: "default",
  components: {
    Breadcrumbs,
    ContentHeader,
    ContentLanding,
    IpexWidget
  },
  data() {
    return {
      pagetitle: "Create an account",
      isActive1: false,
      isActive2: false,
      isActive3: false,
      isActive4: false,
      isActive5: false,
      isActive6: false,
      isActive7: false,
      isActive8: false,
      gdprOk: false,
      breadcrumbs: [
        {
          text: "Home",
          link: "/"
        },
        {
          text: "My IPEX",
          link: "/"
        }
      ]
    };
  }
};

</script>