<template>
    <div class="d-flex flex-column flex-grow-1">
        <div class="breadcrumb-container">
            <Breadcrumbs :breadcrumbs="breadcrumbs" :breadcurrent="pagetitle"/>
        </div>
        <ContentHeader :hasThumbnail="false" :imgSrc="'/icons/ipx-icon-lock-large.svg'" :imgCaption="'This is the thumbnail caption.'" :title="'Login'" :description="'Lorem ipsum dolor sit amet consectetur adipisicing elit. A dolorem maxime sapiente, minus voluptatibus vero. Dolor ut reiciendis molestias. Alias voluptatem illo a quae sapiente ex molestiae maiores cum illum?'"/>
        
        <div class="container-regular flex-grow-1 ipx-content">
            <section>
                <form>
                    <div class="form-row">
                        <h2 class="section-title col-12">Your credentials</h2>
                        <div class="form-group col-md-6">
                            <label for="inputEmail">Email</label>
                            <input type="email" class="form-control" id="inputEmail" placeholder="Your email" value="email@example.com" required>
                            <small class="validation-text">Please enter your email</small>
                        </div>
                        <div class="form-group col-md-6 has-error">
                            <label for="inputPassword">Password</label>
                            <input type="password" class="form-control" id="inputPassword" placeholder="Password" value="lemotdepasse" required>
                            <small class="validation-text">Your password does not match</small>
                        </div>
                        <div class="form-group col-12 pt-3 d-flex justify-content-between align-items-start">
                            <div class="forgot">
                                <a class="d-flex align-items-center mb-2" href="">Forgot your password?</a>
                                <a class="d-flex align-items-center mb-2" href="">Create an account</a>
                            </div>
                            <button  class="btn btn-action btn-flash btn-large d-flex align-items-center">
                                Log in
                            </button>
                        </div>
                    </div>
                </form>
            </section>
        </div>
    </div>
</template>

<script>
import Breadcrumbs from "~/components/navigation/Breadcrumbs";
import ContentHeader from "~/components/layout/ContentHeader";
import ContentLanding from "~/components/layout/ContentLanding";
import IpexWidget from "~/components/IpexWidget"


export default {
  layout: "default",
  components: {
    Breadcrumbs,
    ContentHeader,
    ContentLanding,
    IpexWidget
  },
  data() {
    return {
      pagetitle: "Login",
      isActive1: false,
      isActive2: false,
      isActive3: false,
      isActive4: false,
      isActive5: false,
      isActive6: false,
      isActive7: false,
      isActive8: false,
      deleteOk: false,
      breadcrumbs: [
        {
          text: "Home",
          link: "/"
        },
        {
          text: "My IPEX",
          link: "/"
        }
      ]
    };
  }
};

</script>