<template>
    <div class="d-flex flex-column flex-grow-1">
        <div class="breadcrumb-container">
            <Breadcrumbs :breadcrumbs="breadcrumbs" :breadcurrent="pagetitle"/>
        </div>
        <ContentHeader :hasThumbnail="false" :imgSrc="'/icons/ipx-icon-manageaccount-large.svg'" :imgAlt="'This is the alt attribute for the image'" :imgCaption="'This is the thumbnail caption.'" :title="'Manage my account'" :description="'Manage your personal account with the following form. Change your password, your email address or delete your account. Use a strong password to keep your account secure.'"/>
        <div class="container-regular flex-grow-1 ipx-content">
            <section>
                <div role="alert" class="alert alert-ipex alert-dismissible show fade pr-4 shadow">
                    <h5 class="">Our cookies policy</h5>
                    <div class="d-flex flex-column flex-md-row align-items-center">
                        <p>Nous utilisons des cookies pour faire fonctionner nos sites web et optimaliser votre expérience utilisateur. En cliquant sur `Oui j'accepte` vous acceptez le placement de cookies. Vous souhaitez en savoir plus, lisez notre politique de cookies, notre charte vie privée et les CGUs.</p>
                        <a href="#" data-dismiss="alert" aria-label="Close" class="btn btn-action btn-flash flex-shrink-0 ml-md-4 my-3">I got it</a>
                    </div>
                </div>
                <form>
                    <div class="form-row">
                        <h2 class="section-title col-12">My personal data</h2>
                        <div class="form-group col-md-6 has-error">
                            <label for="inputName">First name</label>
                            <input type="text" class="form-control" id="inputName" placeholder="Your first name" value="John" required>
                            <small class="validation-text">Please enter a first name</small>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputLastName">Last name</label>
                            <input type="text" class="form-control" id="inputLastName" placeholder="Your last name" value="Doe-Smith" required>
                            <small class="validation-text">Please enter a last name</small>
                        </div>
                        <div class="form-group col-12 pt-3">
                            <button disabled="disabled" class="btn btn-action btn-flash d-flex align-items-center">
                                Save changes
                            </button>
                        </div>
                    </div>
                </form>
                <form>
                    <div class="form-row mt-5">
                        <h2 class="section-title col-12">Change my password</h2>
                        <div class="form-group col-12">
                            <label for="inputPassword4">Current password</label>
                            <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
                        </div>
                        <div class="form-group col-md-6 has-success">
                            <label for="inputPassword4">Your new password</label>
                            <input type="password" class="form-control" id="inputPassword4" placeholder="Password" value="password123456*+">
                            <small class="validation-text">Password is strong enough</small>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputPassword5">Confirm new password</label>
                            <input type="password" class="form-control" id="inputPassword5" placeholder="Confirm password">
                        </div>
                        <div class="form-group col-12 pt-3">
                            <button class="btn btn-action btn-flash d-flex align-items-center">
                                Save changes
                            </button>
                        </div>
                    </div>
                </form>
                <form>
                    <div class="form-row mt-5">
                        <h2 class="section-title col-12">Modify my email address</h2>
                        <div class="form-group col-12">
                            <label for="inputEmail4">Current email</label>
              <input
                type="email"
                class="form-control"
                id="inputEmail4"
                placeholder="Your email address"
                value="example@example.com"
              >
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputPassword4">Your new email</label>
              <input
                type="email"
                class="form-control"
                id="inputEmail4"
                placeholder="Your email address"
                value="example@ipex.eu"
              >
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputPassword4">Confirm new email</label>
              <input
                type="email"
                class="form-control"
                id="inputEmail4"
                placeholder="Your email address"
                value="example@ipex.eu"
              >
                        </div>
                        <div class="form-group col-12 pt-3">
                            <button class="btn btn-action btn-flash btn-icon-right d-flex align-items-center">
                                Saved
                                <span class="material-icons">check_circle</span>
                            </button>
                        </div>
                    </div>
                </form>
                <form>
                    <div class="form-row mt-5">
                        <h2 class="section-title col-12">Delete my account</h2>
                        <p>Please note that deleting your account cannot be undone. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veniam dolorem, quis nostrum culpa, assumenda sapiente quasi eius inventore doloremque, qui perspiciatis voluptatem mollitia explicabo dolorum! Modi temporibus eos dolore quisquam!</p>
                        <div class="d-flex align-items-center mt-3 col-12 pl-0">
                            <label for="gridCheck">I understand</label>
                            <label class="switch ml-2">
                                <input id="gridCheck" type="checkbox" v-on:click="deleteOk = !deleteOk">
                                <span class="slider round"></span>
                            </label>
                        </div>
                        <button
                class="btn btn-action btn-danger mt-4 mb-5"
                v-bind:class="{ 'disabled': !deleteOk }"
              >Yes, delete my account</button>
                    </div>
                </form>
            </section>
        </div>
    </div>
</template>

<script>
import Breadcrumbs from "~/components/navigation/Breadcrumbs";
import ContentHeader from "~/components/layout/ContentHeader";
import ContentLanding from "~/components/layout/ContentLanding";
import IpexWidget from "~/components/IpexWidget"


export default {
  layout: "default",
  components: {
    Breadcrumbs,
    ContentHeader,
    ContentLanding,
    IpexWidget
  },
  data() {
    return {
      pagetitle: "Manage my account",
      isActive1: false,
      isActive2: false,
      isActive3: false,
      isActive4: false,
      isActive5: false,
      isActive6: false,
      isActive7: false,
      isActive8: false,
      deleteOk: false,
      breadcrumbs: [
        {
          text: "Home",
          link: "/"
        },
        {
          text: "My IPEX",
          link: "/"
        }
      ]
    };
  }
};

</script>