<template>
    <div class="ipx-content ipx-content-search container-large w-100">
        <section class="search-results-header w-100 d-flex">
            <aside class="">
                <h3 class="p-0">Search results</h3>
                <div class="results d-flex flex-column">
                    <span class="count">600</span>
                    <span class="ml-2">Results found</span>
                </div>
            </aside>
            <main class="flex-grow-1">
                <div class="input-group ipx-input-container d-flex mb-3">
                    <input type="text" value="Brexit" class="form-control has-button" aria-label="Text input with dropdown button">
                    <a href="#" class="btn btn-action btn-flash d-flex align-items-center px-4">Search</a>     
                </div>
                <div class="mr-4 search-metadata">
                    <p>You searched: <strong>Brexit</strong> in <strong>Everything</strong></p>
                    <p class="text-success" v-if="searchSaved">Search is saved as <strong>{{searchTitle}}</strong></p>
                </div>
                <div class="d-flex">
                    <div class="selected-criteria">
                        <!--<a href="#" class="badge badge-ipex">Legislative proposals<i class="material-icons">clear</i></a>-->
                        <a-tag closable>
                            Legislative proposals
                        </a-tag>
                    </div>
                </div>
            </main>
        </section>
        <section class="search-results-metas w-100 d-flex">
            <aside class="results results-large d-flex">
                <div class="d-flex flex-column">
                    <span class="count">600</span>
                    <span class="ml-2">Results found</span>
                </div>
            </aside>
            <main class="flex-grow-1">
                <div class="d-flex flex-column flex-md-row justify-content-start justify-content-md-between mt-2 ">
                    <div class="mr-4 search-metadata">
                        <p>You searched: <strong>Brexit</strong> in <strong>Everything</strong></p>
                        <p class="text-success" v-if="searchSaved">Search is saved as <strong>{{searchTitle}}</strong></p>
                    </div>
                    <div>
                        <a-dropdown>
                            <a-menu slot="overlay" @click="handleMenuClick" class="searchin-dropdown">
                                <a-menu-item key="1" class="d-flex"><img src="/icons/ipx-icon-documents-small.svg">Documents<span class="count">84</span></a-menu-item>
                                <a-menu-item key="2" class="d-flex"><img src="/icons/ipx-icon-documents-small.svg">Calendar<span class="count">10</span></a-menu-item>
                                <a-menu-item key="3" class="d-flex"><img src="/icons/ipx-icon-parliament-small.svg">Parliament files<span class="count">9</span></a-menu-item>
                                <a-menu-item key="4" class="d-flex"><img src="/icons/ipx-icon-conferences-small.svg">Conferences files<span class="count">8</span></a-menu-item>
                                <a-menu-item key="5" class="d-flex"><img src="/icons/ipx-icon-news-small.svg">News<span class="count">5</span></a-menu-item>
                            </a-menu>
                            <a-button style="margin-right: .5rem;">Search in<a-icon type="down" /> </a-button>
                        </a-dropdown>
                        <a-button @click="showModal" type="default" v-if="searchSaved" @mouseover="hovertext='Edit saved search';btnSaveIcon='edit'" @mouseleave="hovertext='Search is saved';btnSaveIcon='done'">
                            <i class=" material-icons mr-2">{{btnSaveIcon}}</i>
                            {{hovertext}}
                        </a-button>
                        <a-button v-if="!searchSaved" @click="showModal">
                            Save this search
                        </a-button>
                        <a-modal
                        title="Save this search"
                        :visible="visible"
                        @ok="handleOk"
                        okText="Save this search" cancelText="Cancel"
                        :confirmLoading="confirmLoading"
                        @cancel="handleCancel"
                        >
                            <form class="ipx-form">
                                <div class="form-row">
                                    <div class="col-12">
                                        <label class="has-help" for="searchTitle">Search title
                                            <Popover class="popover-help" title="Help title">
                                                <template slot="content">
                                                    <p class="m-0">Help content lorem ipsum sit amet est test.</p>
                                                </template>
                                                <span class="material-icons help-icon ml-2 md-18" title="Help">help</span>
                                            </Popover>                    
                                        </label>
                                        <input v-model="searchTitle" type="text" class="form-control" id="searchTitle" placeholder="Enter a title for your search" value="0" required>
                                    </div>
                                    <div class="col-12">
                                        <label class="has-help" for="searchDescription">Search description
                                            <Popover class="popover-help" title="Help title">
                                                <template slot="content">
                                                    <p class="m-0">Help content lorem ipsum sit amet est test.</p>
                                                </template>
                                                <span class="material-icons help-icon ml-2 md-18" title="Help">help</span>
                                            </Popover>                    
                                        </label>
                                        <textarea v-model="searchDescription" class="form-control" id="searchDescription" placeholder="Enter a description for your search" value="" rows="5"></textarea>
                                    </div>
                                </div>
                            </form>
                        </a-modal>
                    </div>
                </div>
                <div class="d-flex">
                    <div class="selected-criteria">
                        <!--<a href="#" class="badge badge-ipex">Legislative proposals<i class="material-icons">clear</i></a>-->
                        <a-tag closable>
                            Legislative proposals
                        </a-tag>
                    </div>
                </div>
                
            </main>
        </section>
        <section class="search-results-content w-100 d-flex">
            <aside class="flex-grow-1 mt-4 d-none">
                <AllFilters @clickedDrawer="emitDrawer($event)"/>
            </aside>
            <main class="flex-grow-1">
                <ResultsListAll/>
                <LoadMore/>
            </main>
        </section>
    </div>
</template>

<script>
import ResultsListAll from "~/components/search/ResultsListAll";
import AllFilters from "~/components/search/filters/AllFilters";
import DocumentsFilters from "~/components/search/filters/DocumentsFilters";
import InputLarge from "~/components/forms/InputLarge"
import LoadMore from "~/components/LoadMore"
import { Popover } from 'ant-design-vue'

    export default {
        components: {
            ResultsListAll,
            AllFilters,
            DocumentsFilters,
            LoadMore,
            InputLarge,
            Popover
        },
        data() {
            return {
                searchSaved: false,
                ModalText: 'Content of the modal',
                visible: false,
                confirmLoading: false,
                hovertext: 'Search is saved',
                btnSaveIcon: 'done',
                searchTitle: '',
                searchDescription: ''
            }
        },
         methods: {
            emitDrawer(searchBy) {
                this.$emit('clickedDrawer', searchBy)
            },
            showModal() {
                this.visible = true;
            },
            handleOk(e) {
                //this.ModalText = 'The modal will be closed after two seconds';
                this.confirmLoading = true;
                setTimeout(() => {
                this.visible = false;
                this.confirmLoading = false;
                this.searchSaved = true;
                }, 2000);
                
            },
            handleCancel(e) {
                console.log('Clicked cancel button');
                this.visible = false;
            },
        }
    }
</script>

<style lang="scss" scoped>

</style>