<template>
    <form class="ipx-form ipx-search-form">
        <div class="form-row">
            <div class="col-12">
                <InputLarge  value="" autofocus="true" :id="'SearchAll'" :placeholder="'Search everything'" :button="'Search'" :hasButton="true" :linkButton="'/advanced-search/results'"/>
            </div>
        </div>
    </form>
</template>

<script>
import { Popover } from 'ant-design-vue'
import InputLarge from "~/components/forms/InputLarge"

    export default {
        props: {
            hasInput:  {hasInput: Boolean, default: false}
        },
        components: {
            InputLarge,
            Popover
        },
        data() {
            return {

            }
        },
    }
</script>

<style lang="scss">

</style>