<template>
    <form class="ipx-form ipx-search-form">
        <div class="form-row">
            <div class="col-12 pb-0">
                <h2 class="section-title pt-0 pl-1">Search in Documents</h2>
            </div>
            <div class="col-12">
                <label class="has-help" for="inputEmail4">Search term
                    <Popover class="popover-help" title="Help title">
                        <template slot="content">
                            <p class="m-0">Help content lorem ipsum sit amet est test.</p>
                        </template>
                        <span class="material-icons help-icon ml-2 md-18" title="Help">help</span>
                    </Popover>
                </label>
                <InputLarge  value="" autofocus="true" :id="'SearchAll'" :placeholder="'Enter search term'" :button="'Search'" :hasButton="false" :linkButton="'/advanced-search/results'"/>
            </div>
        </div>
        <div class="form-row">
            <div class="col-12 pb-0">
                <h2 class="section-title">Procedure information</h2>
                <h3 class="form-sub-section">Dossier</h3>
            </div>
            <div class="form-group col">
                <label class="has-help" for="inputEmail4">Code
                    <Popover class="popover-help" title="Help title">
                        <template slot="content">
                            <p class="m-0">Help content lorem ipsum sit amet est test.</p>
                        </template>
                        <span class="material-icons help-icon ml-2 md-18" title="Help">help</span>
                    </Popover>
                </label>
                <select id="inputState" class="form-control select-ipex">
                    <option selected>All</option>
                    <option>...</option>
                </select>
            </div>
            <div class="form-group col">
                <label class="has-help" for="inputPassword4">Year
                    <Popover class="popover-help" title="Help title">
                        <template slot="content">
                            <p class="m-0">Help content lorem ipsum sit amet est test.</p>
                        </template>
                        <span class="material-icons help-icon ml-2 md-18" title="Help">help</span>
                    </Popover>
                </label>
                <select id="inputState" class="form-control select-ipex">
                    <option selected>All</option>
                    <option>...</option>
                </select>
            </div>
            <div class="form-group col-sm-7">
                <label class="has-help" for="inputNumber">Number
                    <Popover class="popover-help" title="Help title">
                        <template slot="content">
                            <p class="m-0">Help content lorem ipsum sit amet est test.</p>
                        </template>
                        <span class="material-icons help-icon ml-2 md-18" title="Help">help</span>
                    </Popover>
                </label>
                <input type="text" class="form-control" id="inputNumber" placeholder="Type a number">
            </div>
        </div>
        <div class="row">
            <div class="col-12 pb-0">
                <h3 class="form-sub-section">Document</h3>
            </div>
            <div class="col">
                <div class="form-block-gray">
                    <div>
                        <div class="d-flex align-items-center">
                            <h5 class="has-help">NP threshold reached for card
                                <Popover class="popover-help" title="Help title">
                                    <template slot="content">
                                        <p class="m-0">Help content lorem ipsum sit amet est test.</p>
                                    </template>
                                    <span class="material-icons help-icon ml-2 md-18" title="Help">help</span>
                                </Popover>
                            </h5>
                        </div>
                        <div class="mt-2 d-flex align-items-center flex-shrink-0">
                            <button type="button" class="btn btn-card-yellow" v-bind:class="{ 'is-selected': isActive1 }" v-on:click="isActive1 = !isActive1">Yellow</button>
                            <button type="button" class="btn btn-card-orange ml-3" v-bind:class="{ 'is-selected': isActive2 }" v-on:click="isActive2 = !isActive2">Orange</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <h5 class="has-help">
                    <a-checkbox>Subject to deadline</a-checkbox>
                    <Popover class="popover-help" title="Help title">
                        <template slot="content">
                            <p class="m-0">Help content lorem ipsum sit amet est test.</p>
                        </template>
                        <span class="material-icons help-icon ml-2 md-18" title="Help">help</span>
                    </Popover>                    </h5>
                <div class="d-flex flex-grow-1 mt-3">
                    <div class="form-group mr-3 ">
                        <label for="From2">From</label>
                        <a-date-picker />
                    </div>
                    <div class="form-group ">
                        <label for="To2">To</label>
                        <a-date-picker class="ant-custom"/>
                    </div>
                </div>
            </div>
        </div>



        
        <div class="page-divider my-5 w-100 mx-auto border"></div>
        <div class="form-row">
            <h2 class="section-title col-12 pt-1">Scrutiny information</h2>
            <div class="form-group col-md-6">
                <label class="has-help" for="inputChamber">Chamber
<Popover class="popover-help" title="Help title">
                        <template slot="content">
                            <p class="m-0">Help content lorem ipsum sit amet est test.</p>
                        </template>
                        <span class="material-icons help-icon ml-2 md-18" title="Help">help</span>
                    </Popover>                    </label>
                <select id="inputChamber" class="form-control select-ipex">
                    <option selected>All</option>
                    <option>...</option>
                </select>
            </div>
            <div class="form-group col-md-6">
                <label class="has-help" for="inputType">Type
<Popover class="popover-help" title="Help title">
                        <template slot="content">
                            <p class="m-0">Help content lorem ipsum sit amet est test.</p>
                        </template>
                        <span class="material-icons help-icon ml-2 md-18" title="Help">help</span>
                    </Popover>                    </label>
                <select id="inputType" class="form-control select-ipex">
                    <option selected>All</option>
                    <option>...</option>
                </select>
            </div>
            
                <div class="col">
                    <div class="d-flex align-items-center mb-3">
                        <a-checkbox>Reasoned opinion</a-checkbox>
                        <Popover class="popover-help" title="Help title">
                            <template slot="content">
                                <p class="m-0">Help content lorem ipsum sit amet est test.</p>
                            </template>
                            <span class="material-icons help-icon ml-2 md-18" title="Help">help</span>
                        </Popover>
                    </div>
                    <div class="d-flex align-items-center mb-3">
                        <a-checkbox>Important information</a-checkbox>
                        <Popover class="popover-help" title="Help title">
                            <template slot="content">
                                <p class="m-0">Help content lorem ipsum sit amet est test.</p>
                            </template>
                            <span class="material-icons help-icon ml-2 md-18" title="Help">help</span>
                        </Popover>
                    </div>
                    <div class="d-flex align-items-center mb-3">
                        <a-checkbox>Political dialogue</a-checkbox>
                        <Popover class="popover-help" title="Help title">
                            <template slot="content">
                                <p class="m-0">Help content lorem ipsum sit amet est test.</p>
                            </template>
                            <span class="material-icons help-icon ml-2 md-18" title="Help">help</span>
                        </Popover>
                    </div>
                    <div class="d-flex align-items-center mb-3">
                        <a-checkbox>Veto</a-checkbox>
                        <Popover class="popover-help" title="Help title">
                            <template slot="content">
                                <p class="m-0">Help content lorem ipsum sit amet est test.</p>
                            </template>
                            <span class="material-icons help-icon ml-2 md-18" title="Help">help</span>
                        </Popover>
                    </div>
                    <!--
                    <div class="custom-control custom-switch my-2">
                        <input type="checkbox" class="custom-control-input" id="customSwitch2">
                        <label class="custom-control-label d-flex align-items-center ml-0" for="customSwitch2">Political dialogue
                            <Popover class="popover-help" title="Help title">
                                <template slot="content">
                                    <p class="m-0">Help content lorem ipsum sit amet est test.</p>
                                </template>
                                <span class="material-icons help-icon ml-2 md-18" title="Help">help</span>
                            </Popover>
                        </label>
                    </div>
                    <div class="custom-control custom-switch my-2">
                        <input type="checkbox" class="custom-control-input" id="customSwitch3">
                        <label class="custom-control-label d-flex align-items-center ml-0" for="customSwitch3">Veto
                            <Popover class="popover-help" title="Help title">
                        <template slot="content">
                            <p class="m-0">Help content lorem ipsum sit amet est test.</p>
                        </template>
                        <span class="material-icons help-icon ml-2 md-18" title="Help">help</span>
                    </Popover></label>
                    </div>
                    -->
                </div>
                <div class="col">
                    <div class="form-block-gray">
                    <h5 class="has-help pt-0">Transmitted by NP<Popover class="popover-help" title="Help title">
                        <template slot="content">
                            <p class="m-0">Help content lorem ipsum sit amet est test. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maxime ipsum eligendi quasi dolorem ullam vitae at ducimus sapiente velit pariatur voluptate nostrum, architecto, eveniet dolorum possimus quo amet in voluptates?</p>
                        </template>
                        <span class="material-icons help-icon ml-2 md-18" title="Help">help</span>
                    </Popover></h5>
                    <div class="d-flex flex-grow-1 mt-3">
                        <a-range-picker
                        :defaultValue="[moment('2019/11/01', dateFormat), moment('2019/11/01', dateFormat)]"
                        :format="dateFormat"
                        />
                    </div>
                    <!--
                    <div class="d-flex flex-grow-1 mt-3">
                        <div class="form-group mb-0 mr-3 d-flex align-items-center">
                            <label class="ml-0 my-0" for="From1">From</label>
                            <input type="date" class="form-control ml-2" id="From1">
                        </div>
                        <div class="form-group mb-0 d-flex align-items-center">
                            <label class="my-0" for="To1">To</label>
                            <input type="date" class="form-control ml-2" id="To1">
                        </div>
                    </div>
                    -->
                </div>
                </div>
            </div>
       
        <div class="page-divider mt-5 mb-3 w-100 mx-auto border"></div>
        <div class="form-row">
            <div class="col">
                <div class="d-flex align-items-center mb-3">
                        <a-checkbox>Limit text search to a specific language</a-checkbox>
                        <Popover class="popover-help" title="Help title">
                            <template slot="content">
                                <p class="m-0">Help content lorem ipsum sit amet est test.</p>
                            </template>
                            <span class="material-icons help-icon ml-2 md-18" title="Help">help</span>
                        </Popover>
                    </div>
            </div>
        </div>

    </form>


</template>

<script>
import { Popover } from 'ant-design-vue'
import moment from 'moment'
import InputLarge from "~/components/forms/InputLarge"

    export default {
        props: {
            hasInput:  {hasInput: Boolean, default: false},
            resultsDocumentsDisplayed:    {resultsDocumentsDisplayed: Boolean, default: false}
        },
        components: {
            Popover,
            InputLarge
        },
        data() {
            return {
                isActive1: false,
                isActive2: false,
                subjectToDeadline: false,
                dateFormat: 'DD/MM/YYYY',
                monthFormat: 'MM/YYYY',
            }
        },
        methods: {
            moment,
        },
    }
</script>

<style lang="scss">

</style>