<template>
    <div class="options-content">
        <div class="options-form">
            <div class="ipx-input-container ipx-input-container-large d-flex mt-3">
                <input class="form-control ipx-input-large" type="text" placeholder="Search for scrutinies">
            </div>
            OPTIONS SCRUTINIES
        </div>
        <div class="trigger-search w-100 text-center mt-5">
            <button class="btn btn-large btn-action btn-default">Reset</button>
            <button class="btn btn-large btn-action btn-flash">Search</button>
        </div>
    </div>
</template>

<script>
    export default {
        
    }
</script>

<style lang="scss" scoped>

</style>