<template>
    <form class="ipx-form ipx-search-form">
                <div class="form-row">
                    <div class="col-12 pb-0">
                <h2 class="section-title pt-0 pl-1">Search in Parliaments files</h2>
            </div>
                    <div class="col-sm-6 form-group d-flex flex-column">
                        <label class="has-help" for="inputNumber">Search term
                            <Popover class="popover-help" title="Help title">
                                <template slot="content">
                                    <p class="m-0">Help content lorem ipsum sit amet est test.</p>
                                </template>
                                <span class="material-icons help-icon ml-2 md-18" title="Help">help</span>
                            </Popover>
                        </label>
                        <input id="" type="text" placeholder="Search term" class="form-control"  autofocus>
                    </div>
                    <div class="col-sm-6 form-group d-flex flex-column">
                        <span class="has-help" for="inputNumber">
                            <a-checkbox>Specific published dates</a-checkbox>
                            <Popover class="popover-help" title="Help title">
                                <template slot="content">
                                    <p class="m-0">Help content lorem ipsum sit amet est test.</p>
                                </template>
                                <span class="material-icons help-icon ml-2 md-18" title="Help">help</span>
                            </Popover>
                        </span>
                        <div class="d-flex flex-grow-1">
                            <a-range-picker
                        :defaultValue="[moment('2019/11/01', dateFormat), moment('2019/11/01', dateFormat)]"
                        :format="dateFormat"
                        />
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-12">
                        <label class="has-help" for="">Document types
                            <Popover class="popover-help" title="Help title">
                                <template slot="content">
                                    <p class="m-0">Help content lorem ipsum sit amet est test.</p>
                                </template>
                                <span class="material-icons help-icon ml-2 md-18" title="Help">help</span>
                            </Popover>
                        </label>
                        <a-select placeholder="Choose document types" mode="tags" style="width: 100%">
                            <a-select-option v-for="i in optionsTypes" :key="i"
                            >{{i}}</a-select-option
                            >
                        </a-select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-12">
                        <label class="has-help" for="">National Parliaments
                            <Popover class="popover-help" title="Help title">
                                <template slot="content">
                                    <p class="m-0">Help content lorem ipsum sit amet est test.</p>
                                </template>
                                <span class="material-icons help-icon ml-2 md-18" title="Help">help</span>
                            </Popover>
                        </label>
                        <a-select placeholder="Choose document types" mode="tags" style="width: 100%">
                            <a-select-option v-for="i in optionsChambers" :key="i"
                            >{{i}}</a-select-option
                            >
                        </a-select>
                    </div>
                </div>
            </form>
</template>

<script>
import { Popover } from 'ant-design-vue'
import moment from 'moment'
import InputLarge from "~/components/forms/InputLarge"
    export default {
        components: {
            Popover,
            InputLarge
        },
        data() {
            return {
                dateFormat: 'DD/MM/YYYY',
                monthFormat: 'MM/YYYY',
                optionsTypes: ["Basic documents", "Conclusions", "Reports"],
                optionsChambers: ["National Assembly (France)", "Chambre des représentants (Belgique)", "Senato della Republica (Italie)"]
            }
        },
        methods: {
            moment,
        },
    }
</script>

<style lang="scss" scoped>

</style>