<template>
    <form class="ipx-form ipx-search-form">
        <div class="form-row">
            <div class="col-12 pb-0">
                <h2 class="section-title pt-0 pl-1">Search in Conferences files</h2>
            </div>
            <div class="form-group col-md-6">
                <label class="has-help" for="inputChamber">Search term
                    <Popover class="popover-help" title="Help title">
                        <template slot="content">
                            <p class="m-0">Help content lorem ipsum sit amet est test.</p>
                        </template>
                        <span class="material-icons help-icon ml-2 md-18" title="Help">help</span>
                    </Popover>                    
                </label>
                <input class="form-control" type="text" placeholder="Search term">
            </div>
            <div class="form-group col-md-6">
                <label class="has-help" for="inputType">Year the conference took place
                    <Popover class="popover-help" title="Help title">
                        <template slot="content">
                            <p class="m-0">Help content lorem ipsum sit amet est test.</p>
                        </template>
                        <span class="material-icons help-icon ml-2 md-18" title="Help">help</span>
                    </Popover>                    
                </label>
                <div class="mt-4 px-2">
                    <a-slider
                    range
                    :step="1"
                    :min="2000" 
                    :max="2020"
                    :defaultValue="[2005, 2015]"
                    @change="onChange"
                    @afterChange="onAfterChange" 
                    />
                </div>
            </div>
            <div class="col-12 form-group"> 
                <label class="has-help" for="inputChamber">Conferences
                    <Popover class="popover-help" title="Help title">
                        <template slot="content">
                            <p class="m-0">Help content lorem ipsum sit amet est test.</p>
                        </template>
                        <span class="material-icons help-icon ml-2 md-18" title="Help">help</span>
                    </Popover>                    
                </label>
                <a-select defaultValue="Choose a conference" @change="handleChange">
                    <a-select-option value="EU Speakers Conference">EU Speakers Conference</a-select-option>
                    <a-select-option value="COSAC">COSAC</a-select-option>
                    <a-select-option value="Inter-parliamentary conference for CFSP/CSDP">Inter-parliamentary conference for CFSP/CSDP</a-select-option>
                    <a-select-option value="Inter-parliamentary conference on SECG">Inter-parliamentary conference on SECG</a-select-option>
                    <a-select-option value="JPSG on Europol">JPSG on Europol</a-select-option>
                </a-select>
            </div>
            <div class="col-12 form-group"> 
                <label class="has-help" for="inputChamber">Categories
                    <Popover class="popover-help" title="Help title">
                        <template slot="content">
                            <p class="m-0">Help content lorem ipsum sit amet est test.</p>
                        </template>
                        <span class="material-icons help-icon ml-2 md-18" title="Help">help</span>
                    </Popover>                    
                </label>
                <a-select mode="tags" style="width: 100%" @change="handleChange" placeholder="Tags Mode">
                    <a-select-option v-for="i in optionsSelect" :key="i"
                    >{{i}}</a-select-option
                    >
                </a-select>
            </div>
        </div>
    </form>
</template>

<script>
import { Popover } from 'ant-design-vue'
    export default {
        components: {
            Popover
        },
        data() {
            return {
                disabled: false,
                optionsSelect: ["Minutes", "Conclusions", "Reports"]
            };
        },
        methods: {
            onChange(value) {
                console.log('change: ', value);
            },
            onAfterChange(value) {
                console.log('afterChange: ', value);
            },
        },
    }
</script>

<style lang="scss">


</style>