<template>
    <div class="ipx-card-list">
      <a-alert :showIcon="false" message="Results List Parliaments" banner />
    </div>
</template>

<script>
import CardFiles from "~/components/cards/CardFiles"

    export default {
        components:{
            CardFiles
        },
        data() {
            return {
                activeKey: ['1'],
            }
        },
        watch: {
            activeKey(key) {
                console.log(key);
            },
            changeActivekey(key) {
        console.log(key);
      },
        }
    }
</script>

<style lang="scss" scoped>

</style>