<template>
    <div class="ipx-content ipx-content-search flex-grow-1 container-large mt-md-5">
        <section class="search-results-header px-2 px-md-0">
            <aside class="d-flex flex-wrap flex-shrink-0 flex-md-column align-items-center justify-content-start mb-3">
                <div class="results flex-grow-1 d-flex justify-content-start mr-5 mr-md-0">
                    <span class="count">
                        <ICountUp
                        :delay="delay"
                        :endVal="endVal"
                        :options="options"
                        @ready="onReady"
                        />
                    </span>
                    <span>Results found</span>
                </div>
                <!-- The following div and buttons should only be loaded on smaller screens -->
                <div class="d-flex d-md-none mt-2">
                    <button class="btn btn-action d-flex align-items-center" 
                    @click="showModal" 
                    type="default" 
                    v-if="searchSaved" 
                    @mouseover="hovertext='Edit saved search';btnSaveIcon='edit'" 
                    @mouseleave="hovertext='Search is saved';btnSaveIcon='done'">
                        <i class=" material-icons mr-2">{{btnSaveIcon}}</i>
                        Search is saved
                    </button>
                    <button class="btn btn-action d-flex align-items-center" v-if="!searchSaved" @click="showModal">
                        Save this search
                    </button>
                </div>
            </aside>
            <main>
                <InputLarge class="mb-4" value="Brexit" autofocus="true" :id="'SearchAll'" :placeholder="'Search everything'" :button="'Search'" :hasButton="true" :linkButton="'/advanced-search/results'"/>     
                <div class="d-flex flex-column flex-md-row justify-content-between">
                    <div class="search-metadata ml-2 mt-2 ml-md-0 mt-md-0">
                        <p>You searched: <strong>Brexit</strong> in <strong>Everything</strong></p>
                        <p class="text-success" v-if="searchSaved">Search is saved as <strong>{{searchTitle}}</strong></p>
                    </div>
                    <!-- The following div and buttons should only be loaded on larger screens -->
                    <div class="d-none d-md-flex align-items-start flex-wrap justify-content-start justify-content-md-end mt-0">
                        <button class="btn btn-action d-flex align-items-center mb-2" 
                        @click="showModal" 
                        type="default" 
                        v-if="searchSaved" 
                        @mouseover="hovertext='Edit saved search';btnSaveIcon='edit'" 
                        @mouseleave="hovertext='Search is saved';btnSaveIcon='done'">
                            <i class=" material-icons mr-2">{{btnSaveIcon}}</i>
                            Search is saved
                        </button>
                        <button class="btn btn-action d-flex align-items-center mb-2" v-if="!searchSaved" @click="showModal">
                            Save this search
                        </button>
                    </div>
                    <a-modal
                    title="Save this search"
                    class="ant-modal-custom ant-custom"
                    :visible="visible"
                    @ok="handleOk"
                    okText="Save this search" cancelText="Cancel"
                    :confirmLoading="confirmLoading"
                    @cancel="handleCancel"
                    >
                        <form class="ipx-form">
                            <div class="form-row">
                                <div class="col-12">
                                    <label class="has-help" for="searchTitle">Search title
                                        <Popover class="popover-help" title="Help title">
                                            <template slot="content">
                                                <p class="m-0">Help content lorem ipsum sit amet est test.</p>
                                            </template>
                                            <span class="material-icons help-icon ml-2 md-18" title="Help">help</span>
                                        </Popover>                    
                                    </label>
                                    <input v-model="searchTitle" type="text" class="form-control" id="searchTitle" placeholder="Enter a title for your search" value="0" required>
                                </div>
                                <div class="col-12">
                                    <label class="has-help" for="searchDescription">Search description
                                        <Popover class="popover-help" title="Help title">
                                            <template slot="content">
                                                <p class="m-0">Help content lorem ipsum sit amet est test.</p>
                                            </template>
                                            <span class="material-icons help-icon ml-2 md-18" title="Help">help</span>
                                        </Popover>                    
                                    </label>
                                    <textarea v-model="searchDescription" class="form-control" id="searchDescription" placeholder="Enter a description for your search" value="" rows="5"></textarea>
                                </div>
                            </div>
                        </form>
                    </a-modal>
                </div>
                <div class="selected-criteria flex-grow-1">
                    <a-tag closable title="Search term">
                        Brexit
                    </a-tag>
                </div>
            </main>
        </section>
        <section class="search-results-content container-large d-flex">
            <a-drawer
                title="Refine your search"
                class="ant-custom"
                :placement="filtersPlacement"
                :closable="false"
                @close="onClose"
                :visible="filtersVisible"
                >
                <aside class="flex-grow-1">
                    <AllFilters @clickedDrawer="emitDrawer($event)"/>
                </aside>
            </a-drawer>
            <aside class="flex-grow-1 d-none d-lg-flex"><!-- v-if="$device.isDesktopOrTablet" -->
                <AllFilters @clickedDrawer="emitDrawer($event)"/>
            </aside>
            <main class="flex-grow-1">
                <div class="mobile-buttons d-flex">
                     <!-- v-if="$device.isMobile" -->         
                    <button class="btn btn-action btn-flash d-lg-none flex-grow-1 d-flex flex-nowrap align-items-center justify-content-center" @click="showDrawerFilters">Refine search</button>
                    <div class="dropdown mx-2 flex-shrink-0 hover-dropdown my-ipex-dropdown flex-grow-1">
                        <button class="w-100 btn btn-action btn-flash d-lg-none d-flex flex-nowrap align-items-center justify-content-center" type="button" id="advancedMenu">
                            Advanced search in
                        </button>
                        <div class="searchin-dropdown dropdown-menu dropdown-menu-right shadow" aria-labelledby="advancedMenu">
                            <button class="dropdown-item pb-2" @click="emitDrawer('Documents')"><img src="/icons/ipx-icon-documents-small.svg" class="mr-2">Documents</button>
                            <button class="dropdown-item pb-2" @click="emitDrawer('Calendar')"><img src="/icons/ipx-icon-documents-small.svg" class="mr-2">Calendar</button>
                            <button class="dropdown-item pb-2" @click="emitDrawer('Parliaments')"><img src="/icons/ipx-icon-parliament-small.svg" class="mr-2">Parliament files</button>
                            <button class="dropdown-item pb-2" @click="emitDrawer('Conferences')"><img src="/icons/ipx-icon-conferences-small.svg" class="mr-2">Conferences files</button>
                            <button class="dropdown-item pb-4" @click="emitDrawer('News')"><img src="/icons/ipx-icon-news-small.svg" class="mr-2">News</button>
                        </div>
                    </div>
                </div>
                <ResultsListAll/>
                <LoadMore/>
            </main>
        </section>
    </div>
</template>

<script>
import ResultsListAll from "~/components/search/ResultsListAll";
import AllFilters from "~/components/search/filters/AllFilters";
import DocumentsFilters from "~/components/search/filters/DocumentsFilters";
import InputLarge from "~/components/forms/InputLarge"
import LoadMore from "~/components/LoadMore"
import { Popover } from 'ant-design-vue'
import ICountUp from 'vue-countup-v2'

    export default {
        components: {
            ResultsListAll,
            AllFilters,
            DocumentsFilters,
            LoadMore,
            InputLarge,
            Popover,
            ICountUp
        },
        data() {
            return {
                searchSaved: false,
                ModalText: 'Content of the modal',
                visible: false,
                confirmLoading: false,
                hovertext: 'Search is saved',
                btnSaveIcon: 'done',
                searchTitle: '',
                searchDescription: '',
                delay: 0,
                endVal: 147,
                options: {
                    useEasing: true,
                    useGrouping: true,
                    separator: ',',
                    decimal: '.',
                    prefix: '',
                    suffix: ''
                },
                filtersVisible: false,
                filtersPlacement: 'left',
            }
        },
         methods: {
            onReady: function(instance, CountUp) {
                const that = this;
                //instance.update(that.endVal);
            },
            showDrawerFilters() {
                this.filtersVisible = true;
            },
            onClose() {
                this.filtersVisible = false;
            },
            emitDrawer(searchBy) {
                this.$emit('clickedDrawer', searchBy)
            },
            showModal() {
                this.visible = true;
            },
            handleOk(e) {
                //this.ModalText = 'The modal will be closed after two seconds';
                this.confirmLoading = true;
                setTimeout(() => {
                this.visible = false;
                this.confirmLoading = false;
                this.searchSaved = true;
                }, 1200);
                
            },
            handleCancel(e) {
                console.log('Clicked cancel button');
                this.visible = false;
            },
        }
    }
</script>

<style lang="scss" scoped>

</style>