<template>
    <div class="ipx-content ipx-content-search flex-grow-1 container-large mt-5">
        <section class="search-results-header">
            <aside>
                <h3>Search results</h3>
                <div class="results">
                    <span class="count">
                        <ICountUp
                        :delay="delay"
                        :endVal="endVal"
                        :options="options"
                        @ready="onReady"
                        />
                    </span>
                    <span>Results found</span>
                </div>
            </aside>
            <main>
                <div class="search-metadata">
                    <p>You searched: <strong>Brexit</strong> in <strong>Calendar events</strong></p>
                    <p class="text-success" v-if="searchSaved">Search is saved as <strong>{{searchTitle}}</strong></p>
                </div>
                <div class="d-flex flex-column flex-md-row">
                    <div class="selected-criteria flex-grow-1">
                        <a-tag closable title="Remove this filter">
                            Chambre des Représentants
                        </a-tag>
                        <a-tag closable title="Remove this filter">
                            2013
                        </a-tag>
                    </div>
                    <div class=" d-flex mt-3 mt-md-0">
                        <a  @click="emitDrawer('Calendar')" class="mr-3 btn btn-action d-flex align-items-center"><i class="material-icons md-18 mr-2">edit</i>Edit search</a>
                        <a-button @click="showModal" type="default" v-if="searchSaved" @mouseover="hovertext='Edit saved search';btnSaveIcon='edit'" @mouseleave="hovertext='Search is saved';btnSaveIcon='done'">
                            <i class=" material-icons mr-2">{{btnSaveIcon}}</i>
                            {{hovertext}}
                        </a-button>
                        <a-button v-if="!searchSaved" @click="showModal">
                            Save this search
                        </a-button>
                        <a-modal
                        title="Save this search"
                        :visible="visible"
                        @ok="handleOk"
                        okText="Save this search" cancelText="Cancel"
                        :confirmLoading="confirmLoading"
                        @cancel="handleCancel"
                        >
                            <form class="ipx-form">
                                <div class="form-row">
                                    <div class="col-12">
                                        <label class="has-help" for="searchTitle">Search title
                                            <Popover class="popover-help" title="Help title">
                                                <template slot="content">
                                                    <p class="m-0">Help content lorem ipsum sit amet est test.</p>
                                                </template>
                                                <span class="material-icons help-icon ml-2 md-18" title="Help">help</span>
                                            </Popover>                    
                                        </label>
                                        <input v-model="searchTitle" type="text" class="form-control" id="searchTitle" placeholder="Enter a title for your search" value="0" required>
                                    </div>
                                    <div class="col-12">
                                        <label class="has-help" for="searchDescription">Search description
                                            <Popover class="popover-help" title="Help title">
                                                <template slot="content">
                                                    <p class="m-0">Help content lorem ipsum sit amet est test.</p>
                                                </template>
                                                <span class="material-icons help-icon ml-2 md-18" title="Help">help</span>
                                            </Popover>                    
                                        </label>
                                        <textarea v-model="searchDescription" class="form-control" id="searchDescription" placeholder="Enter a description for your search" value="" rows="5"></textarea>
                                    </div>
                                </div>
                            </form>
                        </a-modal>
                    </div>
                </div>
            </main>
        </section>
        <section class="search-results-content container-large d-flex">
            <aside class="flex-grow-1 d-none d-md-flex">
                <CalendarFilters @clickedDrawer="emitDrawer($event)"/>
            </aside>
            <main class="flex-grow-1">
                <ResultsListCalendar/>
                <LoadMore/>
            </main>
        </section>
    </div>
</template>

<script>
import ResultsListCalendar from "~/components/search/ResultsListCalendar";
import AllFilters from "~/components/search/filters/AllFilters";
import CalendarFilters from "~/components/search/filters/CalendarFilters";
import InputLarge from "~/components/forms/InputLarge"
import LoadMore from "~/components/LoadMore"
import { Popover } from 'ant-design-vue'
import ICountUp from 'vue-countup-v2'


    export default {
        components: {
            ResultsListCalendar,
            AllFilters,
            CalendarFilters,
            LoadMore,
            InputLarge,
            Popover,
            ICountUp
        },
        data() {
            return {
                searchSaved: false,
                ModalText: 'Content of the modal',
                visible: false,
                confirmLoading: false,
                hovertext: 'Search is saved',
                btnSaveIcon: 'done',
                searchTitle: '',
                searchDescription: '',
                delay: 0,
                endVal: 39,
                options: {
                    useEasing: true,
                    useGrouping: true,
                    separator: ',',
                    decimal: '.',
                    prefix: '',
                    suffix: ''
                }
            }
        },
         methods: {
             onReady: function(instance, CountUp) {
                const that = this;
                //instance.update(that.endVal);
            },
            emitDrawer(searchBy) {
                this.$emit('clickedDrawer', searchBy)
            },
            showModal() {
                this.visible = true;
            },
            handleOk(e) {
                //this.ModalText = 'The modal will be closed after two seconds';
                this.confirmLoading = true;
                setTimeout(() => {
                this.visible = false;
                this.confirmLoading = false;
                this.searchSaved = true;
                }, 1200);
                
            },
            handleCancel(e) {
                console.log('Clicked cancel button');
                this.visible = false;
            },
        }
    }
</script>

<style lang="scss" scoped>

</style>