<template>
    <div class="ipx-content flex-grow-1 container-large mt-5">
        <section class="search-results-header">
            <aside>
                <h3>Search results</h3>
                <div class="results">
                    <span class="count">70</span>
                    <span>Results found</span>
                </div>
            </aside>
            <main>
                <div class="search-metadata">
                    <p>You searched: <strong>Brexit</strong> in <strong>Everything</strong></p>
                    <p class="text-success" v-if="searchSaved">Search is saved as <strong>{{searchTitle}}</strong></p>
                </div>
                <div class="d-flex flex-column flex-md-row">
                    <div class="selected-criteria flex-grow-1">
                        <a-tag closable>
                            Legislative proposals
                        </a-tag>
                    </div>
                    <div class="mt-3 mt-md-0">
                        <a-dropdown  class="d-md-none">
                            <a-menu slot="overlay" @click="handleMenuClick" class="searchin-dropdown">
                                <a-menu-item key="1" class="d-flex"><img src="/icons/ipx-icon-documents-small.svg">Documents<span class="count">84</span></a-menu-item>
                                <a-menu-item key="2" class="d-flex"><img src="/icons/ipx-icon-documents-small.svg">Calendar<span class="count">10</span></a-menu-item>
                                <a-menu-item key="3" class="d-flex"><img src="/icons/ipx-icon-parliament-small.svg">Parliament files<span class="count">9</span></a-menu-item>
                                <a-menu-item key="4" class="d-flex"><img src="/icons/ipx-icon-conferences-small.svg">Conferences files<span class="count">8</span></a-menu-item>
                                <a-menu-item key="5" class="d-flex"><img src="/icons/ipx-icon-news-small.svg">News<span class="count">5</span></a-menu-item>
                            </a-menu>
                            <a-button style="margin-right: .5rem;">Search in<a-icon type="down" /> </a-button>
                        </a-dropdown>
                        <a-button @click="showModal" type="default" v-if="searchSaved" @mouseover="hovertext='Edit saved search';btnSaveIcon='edit'" @mouseleave="hovertext='Search is saved';btnSaveIcon='done'">
                            <i class=" material-icons mr-2">{{btnSaveIcon}}</i>
                            {{hovertext}}
                        </a-button>
                        <a-button v-if="!searchSaved" @click="showModal">
                            Save this search
                        </a-button>
                        <a-modal
                        class="ant-custom"
                        title="Save this search"
                        :visible="visible"
                        @ok="handleOk"
                        okText="Save this search" cancelText="Cancel"
                        :confirmLoading="confirmLoading"
                        @cancel="handleCancel"
                        >
                            <form class="ipx-form">
                                <div class="form-row">
                                    <div class="col-12">
                                        <label class="has-help" for="searchTitle">Search title
                                            <Popover class="popover-help" title="Help title">
                                                <template slot="content">
                                                    <p class="m-0">Help content lorem ipsum sit amet est test.</p>
                                                </template>
                                                <span class="material-icons help-icon ml-2 md-18" title="Help">help</span>
                                            </Popover>                    
                                        </label>
                                        <input v-model="searchTitle" type="text" class="form-control" id="searchTitle" placeholder="Enter a title for your search" value="0" required>
                                    </div>
                                    <div class="col-12">
                                        <label class="has-help" for="searchDescription">Search description
                                            <Popover class="popover-help" title="Help title">
                                                <template slot="content">
                                                    <p class="m-0">Help content lorem ipsum sit amet est test.</p>
                                                </template>
                                                <span class="material-icons help-icon ml-2 md-18" title="Help">help</span>
                                            </Popover>                    
                                        </label>
                                        <textarea v-model="searchDescription" class="form-control" id="searchDescription" placeholder="Enter a description for your search" value="" rows="5"></textarea>
                                    </div>
                                </div>
                            </form>
                        </a-modal>
                    </div>
                </div>
            </main>
        </section>
        <section class="search-results-content container-large d-flex">
            <aside class="flex-grow-1 d-none d-md-flex">
                <DocumentsFilters @clickedDrawer="emitDrawer($event)"/>
            </aside>
            <main class="flex-grow-1">
                <ResultsListDocuments/>
                <LoadMore/>
            </main>
        </section>
    </div>
</template>

<script>
import ResultsListDocuments from "~/components/ResultsListDocuments";
import AllFilters from "~/components/search/filters/AllFilters";
import DocumentsFilters from "~/components/search/filters/DocumentsFilters";
import InputLarge from "~/components/forms/InputLarge"
import LoadMore from "~/components/LoadMore"
import { Popover } from 'ant-design-vue'

   

    export default {
        components: {
            ResultsListDocuments,
            AllFilters,
            DocumentsFilters,
            LoadMore,
            InputLarge,
            Popover
        },
        data() {
            return {
                searchSaved: false,
                ModalText: 'Content of the modal',
                visible: false,
                confirmLoading: false,
                hovertext: 'Search is saved',
                btnSaveIcon: 'done',
                searchTitle: '',
                searchDescription: ''
            }
        },
        methods: {
            emitDrawer(searchBy) {
                this.$emit('clickedDrawer', searchBy)
            },
            showModal() {
                this.visible = true;
            },
            handleOk(e) {
                //this.ModalText = 'The modal will be closed after two seconds';
                this.confirmLoading = true;
                setTimeout(() => {
                this.visible = false;
                this.confirmLoading = false;
                this.searchSaved = true;
                }, 1200);
                
            },
            handleCancel(e) {
                console.log('Clicked cancel button');
                this.visible = false;
            },
        }
    }
</script>
<!--
<style lang="scss" scoped>
aside {
    //background:lightyellow;
    width:30%;
   
}
main {
    //background:lightgreen;
    width:80%;
   
}
</style>-->