<template>
    <div class="ipx-card-list">
      <div class="ipx-card result-item result-item-event">
            <a href="/" class="ipx-card-content">
                <h3 class="ipx-card-title">ICM AFCO on The debate on the Future of Europe</h3>
                <p class="ipx-card-description">10/10/2019 - 10/10/2019<span class="badge badge-indicative ml-2"
                        v-if="isIndicative">Indicative dates</span></p>
                <div class="ipx-card-footer d-flex align-items-end flex-grow-1 justify-content-start">
                    <div class="ipx-card-type card-type-event mr-3">
                        <img src="/icons/ipx-icon-calendar-small.svg" class="type-icon"><small>Event</small>
                    </div>
                    <small class="d-flex"><i class="material-icons md-18 mr-1">place</i>EP, Brussels</small>
                </div>
            </a>
        </div>
        <div class="ipx-card result-item result-item-event">
            <a href="/" class="ipx-card-content">
                <h3 class="ipx-card-title">ICM AFCO on The debate on the Future of Europe</h3>
                <p class="ipx-card-description">10/10/2019 - 10/10/2019<span class="badge badge-indicative ml-2"
                        v-if="isIndicative">Indicative dates</span></p>
                <div class="ipx-card-footer d-flex align-items-end flex-grow-1 justify-content-start">
                    <div class="ipx-card-type card-type-event mr-3">
                        <img src="/icons/ipx-icon-calendar-small.svg" class="type-icon"><small>Event</small>
                    </div>
                    <small class="d-flex"><i class="material-icons md-18 mr-1">place</i>EP, Brussels</small>
                </div>
            </a>
        </div>
        <div class="ipx-card result-item result-item-event">
            <a href="/" class="ipx-card-content">
                <h3 class="ipx-card-title">ICM AFCO on The debate on the Future of Europe</h3>
                <p class="ipx-card-description">10/10/2019 - 10/10/2019<span class="badge badge-indicative ml-2"
                        v-if="isIndicative">Indicative dates</span></p>
                <div class="ipx-card-footer d-flex align-items-end flex-grow-1 justify-content-start">
                    <div class="ipx-card-type card-type-event mr-3">
                        <img src="/icons/ipx-icon-calendar-small.svg" class="type-icon"><small>Event</small>
                    </div>
                    <small class="d-flex"><i class="material-icons md-18 mr-1">place</i>EP, Brussels</small>
                </div>
            </a>
        </div>
        <div class="ipx-card result-item result-item-event">
            <a href="/" class="ipx-card-content">
                <h3 class="ipx-card-title">ICM AFCO on The debate on the Future of Europe</h3>
                <p class="ipx-card-description">10/10/2019 - 10/10/2019<span class="badge badge-indicative ml-2"
                        v-if="isIndicative">Indicative dates</span></p>
                <div class="ipx-card-footer d-flex align-items-end flex-grow-1 justify-content-start">
                    <div class="ipx-card-type card-type-event mr-3">
                        <img src="/icons/ipx-icon-calendar-small.svg" class="type-icon"><small>Event</small>
                    </div>
                    <small class="d-flex"><i class="material-icons md-18 mr-1">place</i>EP, Brussels</small>
                </div>
            </a>
        </div>
        <div class="ipx-card result-item result-item-event">
            <a href="/" class="ipx-card-content">
                <h3 class="ipx-card-title">ICM AFCO on The debate on the Future of Europe</h3>
                <p class="ipx-card-description">10/10/2019 - 10/10/2019<span class="badge badge-indicative ml-2"
                        v-if="isIndicative">Indicative dates</span></p>
                <div class="ipx-card-footer d-flex align-items-end flex-grow-1 justify-content-start">
                    <div class="ipx-card-type card-type-event mr-3">
                        <img src="/icons/ipx-icon-calendar-small.svg" class="type-icon"><small>Event</small>
                    </div>
                    <small class="d-flex"><i class="material-icons md-18 mr-1">place</i>EP, Brussels</small>
                </div>
            </a>
        </div>
    </div>
</template>

<script>
import CardFiles from "~/components/cards/CardFiles"

    export default {
        components:{
            CardFiles
        },
        data() {
            return {
                activeKey: ['1'],
            }
        },
        watch: {
            activeKey(key) {
                console.log(key);
            },
            changeActivekey(key) {
        console.log(key);
      },
        }
    }
</script>

<style lang="scss" scoped>

</style>