<template>
    <div class="ipx-card-list">
      <CardFiles filetype="conferences" title="2018 - EU Speakers Conference - Estonia (7)" collapseKey="1"/>
      <CardFiles filetype="conferences" title="2017 - EU Speakers Conference - Slovakia (12)" collapseKey="2"/>
      <CardFiles filetype="conferences" title="2016 - EU Speakers Conference - Luxembourg (12)" collapseKey="3"/>
      <CardFiles filetype="conferences" title="2015 - EU Speakers Conference - Italy (8)" collapseKey="4"/>
      <CardFiles filetype="conferences" title="2014 - EU Speakers Conference - Estonia (7)" collapseKey="5"/>
    </div>
</template>

<script>
import CardFiles from "~/components/cards/CardFiles"

    export default {
        components:{
            CardFiles
        },
        data() {
            return {
                activeKey: ['1'],
                defaultActiveKey:['1'],
            }
        },
        watch: {
            activeKey(key) {
                console.log(key);
            },
            changeActivekey(key) {
        console.log(key);
      },
        }
    }
</script>

<style lang="scss" scoped>

</style>