<template>
    <div class="ipx-card-list">
        <div class="ipx-card result-item result-item-event">
            <a href="/" class="ipx-card-content">
                <h3 class="ipx-card-title">ICM AFCO on The debate on the Future of Europe</h3>
                <p class="ipx-card-description">10/10/2019 - 10/10/2019<span class="badge badge-indicative ml-2"
                        v-if="isIndicative">Indicative dates</span></p>
                <div class="ipx-card-footer d-flex align-items-end flex-grow-1 justify-content-start">
                    <div class="ipx-card-type card-type-event mr-3">
                        <img src="/icons/ipx-icon-calendar-small.svg" class="type-icon"><small>Event</small>
                    </div>
                    <small class="d-flex"><i class="material-icons md-18 mr-1">place</i>EP, Brussels</small>
                </div>
            </a>
        </div>
        <div class="ipx-card result-item result-item-news">
            <a href="#" class="ipx-card-content">
                <h3 class="ipx-card-title">On 19 March 2019, the Italian Prime Minister, Giuseppe Conte, gave a statement to the Parliament on the upcoming European Council, to be held on 21 and 22 March.</h3>
                <div class="ipx-card-footer d-flex align-items-end flex-grow-1">
                    <div class="ipx-card-type card-type-event mr-3">
                        <img src="/icons/ipx-icon-news-small.svg" class="type-icon"><small>News</small>
                    </div>
                    <small class="d-flex">
                        <span class="font-weight-bold mr-2">20/03/2019</span>
                        <span>Source: The Italian Senate and Chamber of Deputies</span>
                    </small>
                </div>
            </a>
        </div>
        <div class="ipx-card result-item newcontent-card">
            <a href="/" class="ipx-card-content">
                <h3 class="ipx-card-title">New content title</h3>
                <p class="ipx-card-description">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quasi omnis porro voluptates, provident ullam impedit fugit dolorum voluptatum eaque ab ad temporibus possimus delectus! Eum velit accusamus totam perferendis vero.
                </p>
                <div class="ipx-card-footer d-flex flex-column flex-grow-1">
                    <small class="d-flex">
                        <span class="link-icon material-icons mr-2">link</span>
                        <span class="font-weight-bold mr-2">01/01/2001</span>
                        <span>Source: Hellenic Parliament</span>
                    </small>
                    <small class="d-flex">
                        <span>Linked to: german Bundestag</span>
                    </small>
                </div>
            </a>
        </div>
        <CardFiles filetype="conferences" title="2018 - EU Speakers Conference" collapseKey="1"/>
        <CardFiles filetype="parliaments" title="German Bundestag" collapseKey="2"/>
        <div class="ipx-card result-item result-item-document">
            <a href="/" class="ipx-card-content w-100">
                <h3 class="ipx-card-title d-flex flex-column flex-sm-row">
                    <span class="flex-shrink-0">COM/2006/0147FIN</span>
                </h3>
                <p class="ipx-card-description">
                    Proposal for a Council <mark>Regulation</mark> concerning the implementation of the Agreement concluded by the EC following negotiations in the framework of Article XXIV.6 of GATT 1994, amending Annex I to <mark>Regulation</mark> (EEC) No 2658/87 on the tariff and statistical nomenclature and on the Common Customs Tariff.
                </p>
                <div class="ipx-card-footer d-flex align-items-end flex-grow-1">
                    <div class="ipx-card-type card-type-event mr-3">
                        <img src="/icons/ipx-icon-documents-small.svg" class="type-icon"><small>Document</small>
                    </div>
                </div>
            </a>
        </div>
        <div class="ipx-card result-item result-item-document">
            <a href="/" class="ipx-card-content w-100">
                <h3 class="ipx-card-title d-flex flex-column flex-sm-row">
                    <span class="flex-shrink-0">COM/2013/0113FIN</span>
                    <div class="ipx-tags d-flex justify-content-sm-end mt-2 mt-sm-0 ml-0 ml-sm-2">
                        <a-tooltip placement="top" overlayClassName="ipx-tooltip" trigger="click">
                            <template slot="title">
                            <strong>3</strong> reasoned opinions have been sent
                            </template>
                            <span title="3 reasoned opinions have been sent" class="btn btn-opinion ipx-tag shadow-sm">
                                R
                                <span class="tag-count">3</span>
                                <span class="sr-only">3 Reasoned opinions</span>
                            </span>
                        </a-tooltip>
                    </div>
                </h3>
                <p class="ipx-card-description">
                    Proposal for a Council <mark>Regulation</mark> concerning the implementation of the Agreement concluded by the EC following negotiations in the framework of Article XXIV.6 of GATT 1994, amending Annex I to <mark>Regulation</mark> (EEC) No 2658/87 on the tariff and statistical nomenclature and on the Common Customs Tariff.
                </p>
                <div class="ipx-card-footer d-flex align-items-end flex-grow-1">
                    <div class="ipx-card-type card-type-event mr-3">
                        <img src="/icons/ipx-icon-documents-small.svg" class="type-icon"><small>Document</small>
                    </div>
                </div>
            </a>
        </div>
        <div class="ipx-card result-item result-item-document">
            <a href="/" class="ipx-card-content w-100">
                <h3 class="ipx-card-title d-flex flex-column flex-sm-row">
                    <span class="flex-shrink-0">COM/2011/0100FIN</span>
                </h3>
                <p class="ipx-card-description">
                    <mark>Regulation</mark> concerning the implementation of the Agreement concluded by the EC following negotiations in the framework of Article XXIV.6 of GATT 1994.
                </p>
                <div class="ipx-card-footer d-flex align-items-end flex-grow-1">
                    <div class="ipx-card-type card-type-event mr-3">
                        <img src="/icons/ipx-icon-documents-small.svg" class="type-icon"><small>Document</small>
                    </div>
                </div>
            </a>
        </div>
        <div class="ipx-card result-item result-item-document">
            <a href="/" class="ipx-card-content w-100">
                <h3 class="ipx-card-title d-flex flex-column flex-sm-row">
                    <span class="flex-shrink-0">COM/2013/0113FIN</span>
                </h3>
                <p class="ipx-card-description">
                    Proposal for a Council <mark>Regulation</mark> concerning the implementation of the Agreement concluded by the EC following negotiations in the framework of Article XXIV.6 of GATT 1994, amending Annex I to <mark>Regulation</mark> (EEC) No 2658/87 on the tariff and statistical nomenclature and on the Common Customs Tariff.
                </p>
                <div class="ipx-card-footer d-flex align-items-end flex-grow-1">
                    <div class="ipx-card-type card-type-event mr-3">
                        <img src="/icons/ipx-icon-documents-small.svg" class="type-icon"><small>Document</small>
                    </div>
                </div>
            </a>
        </div>
        <div class="ipx-card result-item result-item-document">
            <a href="/" class="ipx-card-content w-100">
                <h3 class="ipx-card-title d-flex flex-column flex-sm-row">
                    <span class="flex-shrink-0">COM/2011/0100FIN</span>
                </h3>
                <p class="ipx-card-description">
                    <mark>Regulation</mark> concerning the implementation of the Agreement concluded by the EC following negotiations in the framework of Article XXIV.6 of GATT 1994.
                </p>
                <div class="ipx-card-footer d-flex align-items-end flex-grow-1">
                    <div class="ipx-card-type card-type-event mr-3">
                        <img src="/icons/ipx-icon-documents-small.svg" class="type-icon"><small>Document</small>
                    </div>
                </div>
            </a>
        </div>
        <div class="ipx-card result-item result-item-document">
            <a href="/" class="ipx-card-content w-100">
                <h3 class="ipx-card-title d-flex flex-column flex-sm-row">
                    <span class="flex-shrink-0">COM/2003/0113FIN</span>
                </h3>
                <p class="ipx-card-description">
                    Proposal for a Council <mark>Regulation</mark> concerning the implementation of the Agreement concluded by the EC following negotiations in the framework of Article XXIV.6 of GATT 1994, amending Annex I to <mark>Regulation</mark> (EEC) No 2658/87 on the tariff and statistical nomenclature and on the Common Customs Tariff.
                </p>
                <div class="ipx-card-footer d-flex align-items-end flex-grow-1">
                    <div class="ipx-card-type card-type-event mr-3">
                        <img src="/icons/ipx-icon-documents-small.svg" class="type-icon"><small>Document</small>
                    </div>
                </div>
            </a>
        </div>
    </div>
</template>

<script>
import CardFiles from "~/components/cards/CardFiles"

    export default {
        components: {
            CardFiles
        }
        
    }
</script>

<style lang="scss" scoped>

</style>