<template>
    <div class="ipx-content container-regular mt-4">
        <div class="d-flex flex-column search-section-container">
            <h1 class="page-title mt-3">IPEX Advanced Search</h1>
            <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo qui sapiente dicta cum quod, repudiandae molestias quibusdam atque nam dolor doloremque assumenda minus reiciendis recusandae in similique blanditiis, consequatur quos?</p>
            <h4 class="">What would you like to search?</h4>
            <div class="d-flex justify-content-center align-items-center search-sections mt-3 mb-0">
                <div class="section-select" :class="{ 'selected': AllChecked }" v-on:click="AllChecked = true, DocumentsSelected = false, EventsSelected=false,  ParliamentsSelected=false, ConferencesSelected=false, NewsSelected=false,  FilesSelected=false">
                    <div class="search-icon">
                        <img src="/icons/ipx-icon-searcheverything-large.svg" :alt="imgAlt" class="ipx-thumb">
                    </div>
                    <div class="item"><span>Everything</span></div>
                </div>
                <div class="section-select" :class="{ 'selected': EventsSelected }" v-scroll-to="{el: '.section-select'}" v-on:click="AllChecked = false, DocumentsSelected = false, EventsSelected=true,  ParliamentsSelected=false, ConferencesSelected=false,  NewsSelected=false,  FilesSelected=false">
                    <div class="search-icon">
                        <img src="/icons/ipx-icon-calendar-large.svg" :alt="imgAlt" class="ipx-thumb">
                    </div>
                    <div class="item"><span>Calendar</span></div>
                </div>
                <div class="section-select" :class="{ 'selected': DocumentsSelected }" v-scroll-to="{el: '.section-select'}" v-on:click="AllChecked = false, DocumentsSelected = true, EventsSelected=false,  ParliamentsSelected=false, ConferencesSelected=false,  NewsSelected=false,  FilesSelected=false">
                    <div class="search-icon">
                        <img src="/icons/ipx-icon-documents-large.svg" :alt="imgAlt" class="ipx-thumb">
                    </div>
                    <div class="item"><span>Documents</span></div>
                </div>
                <div class="section-select" :class="{ 'selected': ParliamentsSelected }" v-scroll-to="{el: '.section-select'}"  v-on:click="AllChecked = false, DocumentsSelected = false, EventsSelected=false,  ParliamentsSelected=true, ConferencesSelected=false,  NewsSelected=false,  FilesSelected=false">
                    <div class="search-icon">
                    <img src="/icons/ipx-icon-parliament-large.svg" :alt="imgAlt" class="ipx-thumb">
                    </div>
                    <div class="item"><span>Parliaments</span></div>
                </div>
                <div class="section-select" :class="{ 'selected': NewsSelected }" v-scroll-to="{el: '.section-select'}" v-on:click="AllChecked = false, DocumentsSelected = false,  EventsSelected=false,  ParliamentsSelected=false, ConferencesSelected=false,  NewsSelected=true,  FilesSelected=false">
                    <div class="search-icon">
                    <img src="/icons/ipx-icon-news-large.svg" :alt="imgAlt" class="ipx-thumb">
                    </div>
                    <div class="item"><span>News</span></div>
                </div>
                <div class="section-select" :class="{ 'selected': ConferencesSelected }" v-scroll-to="{el: '.section-select'}"  v-on:click="AllChecked = false, DocumentsSelected = false, EventsSelected=false,  ParliamentsSelected=false, ConferencesSelected=true,  NewsSelected=false,  FilesSelected=false">
                    <div class="search-icon">
                    <img src="/icons/ipx-icon-conferences-large.svg" :alt="imgAlt" class="ipx-thumb">
                    </div>
                    <div class="item"><span>Conferences</span></div>
                </div>
                
            </div>
            <div class="options-all" v-if="AllChecked">
                <div class="options-content">
                    <OptionsAll/>
                </div>
            </div>
            <div class="options-documents" v-if="DocumentsSelected">
                <div class="options-content">
                    <OptionsDocuments/>
                    <div class="d-flex justify-content-center">
                        <button class="btn btn-large btn-action" @click="closeMenu()">Reset</button>
                        <nuxt-link to="/advanced-search/results-documents" class="btn btn-large btn-action btn-flash">Search documents</nuxt-link>
                    </div>
                </div>
            </div>
            <div class="options-events" v-if="EventsSelected">
                <div class="options-content">
                    <OptionsEvents/>
                    <div class="d-flex justify-content-center">
                        <button class="btn btn-large btn-action" @click="closeMenu()">Reset</button>
                        <nuxt-link to="/advanced-search/results-calendar" class="btn btn-large btn-action btn-flash">Search events</nuxt-link>
                    </div>
                </div>
            </div>
            <div class="options-events" v-if="ParliamentsSelected">
                <div class="options-content">
                    <OptionsParliaments/>
                    <div class="d-flex justify-content-center">
                        <button class="btn btn-large btn-action" @click="closeMenu()">Reset</button>
                        <nuxt-link to="/advanced-search/results-parliaments" class="btn btn-large btn-action btn-flash">Search parliaments files</nuxt-link>
                    </div>
                </div>
            </div>
            <div class="options-news" v-if="ConferencesSelected">
                <div class="options-content">
                    <OptionsConferences/>
                    <div class="d-flex justify-content-center">
                        <button class="btn btn-large btn-action" @click="closeMenu()">Reset</button>
                        <nuxt-link to="/advanced-search/results-conference" class="btn btn-large btn-action btn-flash">Search conferences files</nuxt-link>
                    </div>
                </div>
            </div>
            <div class="options-news" v-if="NewsSelected">
                <OptionsNews/>
                <div class="d-flex justify-content-center">
                    <button class="btn btn-large btn-action" @click="closeMenu()">Reset</button>
                    <nuxt-link to="/advanced-search/results-news" class="btn btn-large btn-action btn-flash">Search news</nuxt-link>
                </div>
            </div>
            <IpexWidget class="mt-5" v-if="AllChecked"/>
        </div>  
        <div class="options-section"  v-if="!resultsDocumentsDisplayed">  
            <div class="options-all d-none">
                <div class="options-form">
                </div>
            </div>
        </div>
    </div> 
</template>

<script>
    import OptionsAll from "~/components/search/OptionsAll"
    import OptionsDocuments from "~/components/search/OptionsDocuments"
    import OptionsScrutinies from "~/components/search/OptionsScrutinies"
    import OptionsEvents from "~/components/search/OptionsEvents"
    import OptionsParliaments from "~/components/search/OptionsParliaments"
    import OptionsConferences from "~/components/search/OptionsConferences"
    import OptionsNews from "~/components/search/OptionsNews"
    import OptionsFiles from "~/components/search/OptionsFiles"
    import InputLarge from "~/components/forms/InputLarge"
    import IpexWidget from "~/components/IpexWidget";

    export default {
        components: {
            OptionsAll,
            OptionsDocuments,
            OptionsScrutinies,
            OptionsEvents,
            OptionsParliaments,
            OptionsConferences,
            OptionsNews,
            OptionsFiles,
            InputLarge,
            IpexWidget
        },
        data() {
            return {
                AllChecked:                 true,
                DocumentsSelected:          false,
                ScrutiniesSelected:         false,
                EventsSelected:             false,
                ParliamentsSelected:        false,
                ConferencesSelected:        false,
                NewsSelected:               false,
                FilesSelected:              false
            }
        },
        props: {
            title: String,
            description: String,
            imgSrc: String,
            imgAlt: String,
            imgCaption: String,
            hasThumbnail:               {hasThumbnail: Boolean, default: true},
            isLarge:                    {isLarge: Boolean, default: false},
            ShowAll:                    {ShowAll: Boolean, default: false},
            ShowOptionsDocuments:       {ShowOptionsDocuments: Boolean, default: false},
            ShowOptionsScrutinies:      {ShowOptionsScrutinies: Boolean, default: false},
            ShowOptionsEvents:          {ShowOptionsEvents: Boolean, default: false},
            ShowOptionsParliaments:     {ShowOptionsParliaments: Boolean, default: false},
            ShowOptionsConferences:     {ShowOptionsConferences: Boolean, default: false},
            ShowOptionsNews:            {ShowOptionsNews: Boolean, default: false},
            ShowOptionsFiles:           {ShowOptionsFiles: Boolean, default: false},
            criteriaDisplayed:          {criteriaDisplayed: Boolean, default: false},
            resultsDocumentsDisplayed:  {resultsDocumentsDisplayed: Boolean, default: false}
        }
    }
</script>

<style lang="scss" scoped>

</style>