<template>
    <div class="ipx-intro pt-0 advanced-search-options" id="TopSearch">
      <div class="container-regular d-flex flex-column">
        <div class="d-flex flex-column w-100">
            <h1>IPEX Advanced Search</h1>
            <p class="lead">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempora nisi iusto odio voluptates laboriosam asperiores, porro maxime ipsam facilis quae id debitis sapiente et, fugit natus aliquam praesentium enim est?</p>
        </div>
        
      </div>
    </div>
</template>

<script>
import OptionsDocuments from "~/components/search/OptionsDocuments"
import OptionsEvents from "~/components/search/OptionsEvents"
import OptionsNews from "~/components/search/OptionsNews"
import OptionsFiles from "~/components/search/OptionsFiles"

    export default {
        components: {
            OptionsDocuments,
            OptionsEvents,
            OptionsNews,
            OptionsFiles
        },
        props: {
            title: String,
            description: String,
            imgSrc: String,
            imgAlt: String,
            imgCaption: String,
            hasThumbnail:  {hasThumbnail: Boolean, default: true},
            isLarge:    {isLarge: Boolean, default: false}
        },
        data() {
            return {
                title: "IPEX Advanced Search",
                AllSelected: false,
                DocumentsSelected: false,
                EventsSelected: false,
                NewsSelected: false,
                FilesSelected: false,
                ShowOptionsDocuments: false,
                ShowOptionsEvents: false,
                ShowOptionsNews: false,
                ShowOptionsFiles: false
            }
        }
    }
</script>

<style lang="scss">
.advanced-search-options {
    .form-control.ipx-input-large {

    height: calc(4rem + 2px);
    font-size: 1.5rem;
    padding-left: 1.5rem;


}
}
    .section-select {
        flex-grow:1;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;
        background:white;
        margin:.5rem;
        //padding:1rem;
        font-size:1.6rem;
        border-radius:5px;
        transition: all ease .2s;
        //border:2px solid white;
        &:hover {
            box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.08) !important;
            cursor: pointer;
            //border-color:$gray1;
        }
        &.selected {
            background: #c6ffd3;
            //border-color:$green;
            .material-icons {
            opacity:1;
            color:$green;
      
  }
  button.btn-action {
          background: #bae8c5;
      }
  }
  .material-icons {
      opacity:.3;
      color:gray;
  }
}
.search-sections {
  width:100%;
  //margin-top:2rem;
}
.section-select button.btn-action {
  margin-top:1rem;
 
}
.section-select {
  align-items:stretch;
}
.section-select > div {
  display:flex;
  justify-content: center;
  align-items:center;
  padding:1rem;
}
.section-select button {
  margin:1rem;
}
.options-section {
  background:white;
  width:calc(100% - 1rem);
  margin:.5rem;
  
  border-radius:5px;
  div {
      &.options-content {
          padding:2rem;
      }
  }
}
.section-select.options-open::after {
  content:"";
  width: 0; 
  height: 0; 
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  transition: all ease .2s;
  border-top: 25px solid white;
  position:absolute;
  bottom:-15px;
  left:calc(50% - 30px);
}
.section-select.options-open {
  position:relative;
}
.section-select.selected.options-open::after {
    border-top-color: #c6ffd3;
}
</style>