<template>
    <div class="yousearched">
        <div class="d-flex flex-column flex-md-row justify-content-start justify-content-md-between mt-2 ">
            <div class="mr-4">
                <p>You searched: <strong>Brexit</strong> in <strong>Everything</strong></p>
            </div>
            <div class="flex-shrink-0">
                <button  @click="emitSaveSearch()" class="btn btn-action d-inline-flex align-items-center">
                    <i v-if="!searchSaved" class="material-icons mr-2">star_border</i>
                    <i v-if="searchSaved" class="material-icons mr-2">star</i>
                    Save search</button>  
            </div>
        </div>
        <div class="selected-criteria d-none">
            <a href="#" class="badge badge-ipex">Legislative proposals<i class="material-icons">clear</i></a>
        </div>
        <!--
:class="{ 'is-saved': searchSaved }"
            v-on:click="searchSaved = !searchSaved" 
         -->
    </div>
</template>

<script>
    export default {
        props: {
            saved: Boolean
        },
        methods: {
            emitSaveSearch() {
                console.log('saved');
                this.$emit('searchSaved')
            }
        }
    }
</script>

<style lang="scss" scoped>

</style>