<template>
  <div class="main-wrapper d-flex flex-column justify-content-between" :class="section">
    <Header/>
      <nuxt/>
      <Sharing/>
    <Footer :isLarge="true"/>
  </div>
 
</template>

<script>
import Header from "~/components/Header";
import Footer from "~/components/Footer";
import Sharing from "~/components/Sharing"

export default {
  components: {
    Header,
    Footer,
    Sharing
  },
  data() {
    return {
      section: 'section-ipex'
    }
  },
  mounted: function() {
    $(window).scroll(function() {
      var top = $(this).scrollTop(),
      windowHeight = $(this).height();
      if (top > 200) {
          $(".back-to-top").addClass("active");
      } else {
          $(".back-to-top").removeClass("active");
      }
    });
    $('.back-to-top').click(function() { 
      $('body,html').animate({
          scrollTop : 0 
      }, 500);
    }); 
  }
}
</script>

