<template>
  <div class="main-wrapper d-flex flex-column justify-content-between" :class="section">
    <Header />
    <nuxt />
    <section class="newcontentbox newcontentbox-bottom">
      <div class="container-regular d-flex pb-4">
        <span class="link-icon material-icons mr-2">link</span>
        <div class="nc-item">
          <div>
            <div class="nc-title">
              <h3 class="nc-title d-flex align-items-center mb-2">
                This is another new content title
              </h3>
  
            </div>
            <div class="nc-summary">
              <p>New content description lorem ipsum dolor, sit amet consectetur adipisicing elit. Atque, laboriosam exercitationem quidem error illum magni eaque consequuntur nesciunt perferendis harum id aperiam iusto cumque, quibusdam, iste eveniet? Nesciunt, culpa sapiente?</p>
              <div class="newcontent-metas">
                <div class="files d-flex align-items-center">
                  <span class="badge mr-2">3</span> files available
                </div>
                <div class="author d-flex align-items-center">
                  <span class="mr-2">Author:</span>
                  <span class="badge">Hellenic Parliament
                               <img src="/img/flags/gr.svg" class="flag nc-flag flag-xs ml-2">
                            </span>
                </div>
                <div class="produced d-flex align-items-center">
                  <span class="mr-2">Contributors:</span>
                   <a href="/newcontentlist" class="badge">German Bundestag<img src="/img/flags/de.svg" class="flag nc-flag flag-xs ml-2"></a>
                </div>
                <div class="keywords d-flex align-items-center">
                  <span class="mr-2">Content associated with:</span>
                  <span class="badge mr-2">Brexit</span>
                  <span class="badge mr-2">EU Affairs</span>
                </div>
              </div>
            </div>
          </div>
          <div class="nc-link">
              <a href="/newcontent" title="View new content" class="nc-open-icon material-icons md-36">keyboard_arrow_right</a>
          </div>
        </div>
      </div>
    </section>
    <Sharing/>
    <Footer :isLarge="true" />
  </div>
</template>

<script>
import Header from "~/components/Header";
import Footer from "~/components/Footer";
import Sharing from "~/components/Sharing";

export default {
  components: {
    Header,
    Footer,
    Sharing
  },
  data() {
    return {
      section: "section-ipex"
    };
  },
  mounted: function() {
    $(window).scroll(function() {
      var top = $(this).scrollTop(),
        windowHeight = $(this).height();
      if (top > 200) {
        $(".back-to-top").addClass("active");
      } else {
        $(".back-to-top").removeClass("active");
      }
    });
    $(".back-to-top").click(function() {
      $("body,html").animate(
        {
          scrollTop: 0
        },
        500
      );
    });
  }
};
</script>

