<template>
  <div class="main-wrapper d-flex flex-column justify-content-between" :class="section">
    <Header/>
      <nuxt/>
      <section class="newcontentbox newcontentbox-bottom">
          <div class="container-regular d-flex pb-4">
            <div class="nc-list">
                <span class="link-icon material-icons mr-2">link</span>
                <div class="nc-count">
                  <p><strong>8</strong> New Contents associated</p>
                </div>
                <div class="nc-item">
                  <div>
                    <div class="nc-title">
                      <h3 class="nc-title d-flex align-items-center">
                        New content title laboriosam exercitationem quidem error illum magni eaque
                      </h3>
                      <div class="newcontent-metas">
                        <p class="produced d-flex flex-column flex-md-row align-items-start align-items-md-center"><strong>Produced by:</strong>Chambre des Représentants</p>
                      </div>
                    </div>
                  </div>
                  <div class="nc-link">
                      <a href="/newcontent" title="View new content" class="nc-open-icon material-icons md-36">keyboard_arrow_right</a>
                  </div>
                </div>
                <div class="nc-item">
                  <div>
                    <div class="nc-title">
                      <h3 class="nc-title d-flex align-items-center">
                        This is another new content title
                      </h3>
                      <div class="newcontent-metas">
                        <p class="produced d-flex flex-column flex-md-row  align-items-start align-items-md-center"><strong>Produced by:</strong>Chambre des Représentants</p>
                      </div>
                    </div>
                  </div>
                  <div class="nc-link">
                      <a href="/newcontent" title="View new content" class="nc-open-icon material-icons md-36">keyboard_arrow_right</a>
                  </div>
                </div>
                <div class="nc-item">
                  <div>
                    <div class="nc-title">
                      <h3 class="nc-title d-flex align-items-center">
                        And this one is, again, another one but with a longer title
                      </h3>
                      <div class="newcontent-metas">
                        <p class="produced d-flex flex-column flex-md-row align-items-start align-items-md-center"><strong>Produced by:</strong>Chambre des Représentants</p>
                      </div>
                    </div>
                  </div>
                  <div class="nc-link">
                      <a href="/newcontent" title="View new content" class="nc-open-icon material-icons md-36">keyboard_arrow_right</a>
                  </div>
                </div>
                <div class="nc-item">
                  <div>
                    <div class="nc-title">
                      <h3 class="nc-title d-flex align-items-center">
                        Another one
                      </h3>
                      <div class="newcontent-metas">
                        <p class="produced d-flex flex-column flex-md-row align-items-start align-items-md-center"><strong>Produced by:</strong>Chambre des Représentants</p>
                      </div>
                    </div>
                  </div>
                  <div class="nc-link">
                      <a href="/newcontent" title="View new content" class="nc-open-icon material-icons md-36">keyboard_arrow_right</a>
                  </div>
                </div>
                <div class="nc-item">
                  <div>
                    <div class="nc-title">
                      <h3 class="nc-title d-flex align-items-center">
                        And a very long title. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestiae veniam, quae quaerat ducimus sequi quidem tempora id sint illum obcaecati fuga ut iure repellendus dolor officiis corrupti, ex est vitae.
                      </h3>
                      <div class="newcontent-metas">
                        <p class="produced d-flex flex-column flex-md-row align-items-start align-items-md-center"><strong>Produced by:</strong>Chambre des Représentants</p>
                      </div>
                    </div>
                  </div>
                  <div class="nc-link">
                      <a href="/newcontent" title="View new content" class="nc-open-icon material-icons md-36">keyboard_arrow_right</a>
                  </div>
                </div>
                <LoadMore/>
            </div>
          </div>
        </section>
        <Sharing/>
    <Footer :isLarge="true"/>
  </div>
 
</template>

<script>
import Header from "~/components/Header";
import Footer from "~/components/Footer";
import LoadMore from "~/components/LoadMore";
import Sharing from "~/components/Sharing";

export default {
  components: {
    Header,
    Footer,
    LoadMore,
    Sharing
  },
  data() {
    return {
      section: 'section-ipex'
    }
  },
  mounted: function() {
    $(window).scroll(function() {
      var top = $(this).scrollTop(),
      windowHeight = $(this).height();
      if (top > 200) {
          $(".back-to-top").addClass("active");
      } else {
          $(".back-to-top").removeClass("active");
      }
    });
    $('.back-to-top').click(function() { 
      $('body,html').animate({
          scrollTop : 0 
      }, 500);
    }); 
  }
}
</script>

