<template>
  <div class="d-flex flex-column flex-grow-1">
    <div class="breadcrumb-container">
      <Breadcrumbs :breadcrumbs="breadcrumbs" :breadcurrent="pagetitle"/>
    </div>
    <ContentHeader :imgSrc="'/icons/ipx-icon-calendar-large.svg'" :imgAlt="'This is the alt attribute for the image'" :imgCaption="'This is the thumbnail caption.'" :title="'Calendar of events'" :description="'This Calendar is published in accordance with the Guidelines for Inter-parliamentary Cooperation in the EU. Each position contains, if available, agenda and documents of the meeting. The search by keyword concerns full texts of the documents.'"/>
    <div class="container-regular flex-grow-1 ipx-content">
        <ContentCalendar/>
        </div>
    <IpexWidget/>
  </div>
</template>

<script>
import Breadcrumbs from "~/components/navigation/Breadcrumbs";
import ContentHeader from "~/components/layout/ContentHeader";
import ContentCalendar from "~/components/layout/ContentCalendar";
import IpexWidget from "~/components/IpexWidget"

export default {
  layout: "default",
  components: {
    Breadcrumbs,
    ContentHeader,
    ContentCalendar,
    IpexWidget
  },
  data() {
    return {
      page: "calendar",
      pagetitle: "Calendar of events",
      breadcrumbs: [
        {
          text: "Home",
          link: "/"
        }
      ]
    }
  }
}
</script>