<template>
  <div class="d-flex flex-column flex-grow-1">
    <div class="breadcrumb-container">
      <Breadcrumbs :breadcrumbs="breadcrumbs" :breadcurrent="pagetitle"/>
    </div>
    <ContentHeader :imgSrc="'/img/ipx-icon-high-activity.svg'" :imgAlt="'This is the alt attribute for the image'" :imgCaption="'This is the thumbnail caption.'" :title="'Different layouts for cards'" :description="'This is a landing page description. Nostrum sint distinctio iusto soluta corrupti suscipit ipsam atque modi exercitationem minus Inventore sapiente reiciendis omnis repellendus perspiciatis totam ducimus ipsum pariatur.'"/>
    <div class="container-regular flex-grow-1 ipx-content">
        <section>
            <h2 class="section-title">
                Different layouts for cards
            </h2>
            <div class="ipx-card-list">
                <CardBasic/>
                <CardConference/>
                <CardDocument/>
                <CardEvent/>
                <CardFooter/>
                <CardImage/>
                <CardImageMenu/>
                <CardLongDescriptionEllipsis/>
                <CardLongTitle/>
                <CardLongTitleEllipsis/>
                <CardMenu/>
                <CardThin/>
                <CardThinMenu/>
            </div>
        </section>
        <section>
            <h2 class="section-title">
                List with 2 columns
            </h2>
            <div class="ipx-card-list ipx-card-list-2col">
                <CardThin/>
                <CardThin/>
                <CardThin/>
                <CardThin/>
                <CardThin/>
                <CardThin/>
                <CardThin/>
            </div>
        </section>
        <section>
            <h2 class="section-title">
                List with 3 columns
            </h2>
            <div class="ipx-card-list ipx-card-list-3col">
                <CardLongDescriptionEllipsis/>
                <CardLongDescriptionEllipsis/>
                <CardLongDescriptionEllipsis/>
            </div>
        </section>
        <section>
            <h2 class="section-title">
                Carousel of cards (events)
            </h2>
          <CardsCarousel/>
        </section>
    </div>
  </div>
</template>

<script>
import Breadcrumbs from "~/components/navigation/Breadcrumbs";
import ContentHeader from "~/components/layout/ContentHeader";
import CardBasic from "~/components/cards/CardBasic";
import CardConference from "~/components/cards/CardConference";
import CardDocument from "~/components/cards/CardDocument";
import CardEvent from "~/components/cards/CardEvent";
import CardFooter from "~/components/cards/CardFooter";
import CardImage from "~/components/cards/CardImage";
import CardImageMenu from "~/components/cards/CardImageMenu";
import CardLongDescriptionEllipsis from "~/components/cards/CardLongDescriptionEllipsis";
import CardLongTitle from "~/components/cards/CardLongTitle";
import CardLongTitleEllipsis from "~/components/cards/CardLongTitleEllipsis";
import CardMenu from "~/components/cards/CardMenu";
import CardThin from "~/components/cards/CardThin";
import CardThinMenu from "~/components/cards/CardThinMenu";
import CardsCarousel from "~/components/cards/CardsCarousel";

export default {
  layout: "default",
  components: {
    Breadcrumbs,
    ContentHeader,
    CardBasic,
    CardConference,
    CardDocument,
    CardEvent,
    CardFooter,
    CardImage,
    CardImageMenu,
    CardLongDescriptionEllipsis,
    CardLongTitle,
    CardLongTitleEllipsis,
    CardMenu,
    CardThin,
    CardThinMenu,
    CardsCarousel
  },
  data() {
    return {
      page: "landing",
      pagetitle: "Different layouts for cards",
      breadcrumbs: [
        {
          text: "Home",
          link: "/"
        }
      ]
    }
  }
}
</script>