<template>
  <div class="d-flex flex-column flex-grow-1">
    <div class="ipx-intro py-5 home-map">
      <div class="container-large container-home-share d-flex">
        <HomeCarouselShare/>
      </div>
    </div> 
    <div class="container-large flex-grow-1 ipx-content mt-0">
      <HomeCarouselImportant/>
      <HomeCarouselHigh/>
      <HomeCarouselEvents/>
      <HomeCarouselNews/>
      <section class="homeblock">
        <Gallery :hasTabs="false" :hasControls="true"/>
      </section>
      <HomeVideoBlock/>
      <HomeSubscriptions/>
      <div class="page-divider my-5 mx-auto"></div>
      <IpexWidget/>
    </div>
  </div>
</template>

<script>
import ContentHeader from "~/components/layout/ContentHeader"
import IpexWidget from "~/components/IpexWidget"
import Content from "~/components/layout/Content"
import HomeblockTitle from '~/components/home/HomeblockTitle'
import HomeCarouselShare from '~/components/home/HomeCarouselShare'
import HomeCarouselImportant from '~/components/home/HomeCarouselImportant'
import HomeCarouselHigh from '~/components/home/HomeCarouselHigh'
import HomeCarouselEvents from '~/components/home/HomeCarouselEvents'
import HomeCarouselNews from '~/components/home/HomeCarouselNews'
import HomeVideoBlock from '~/components/home/HomeVideoBlock'
import HomeSubscriptions from '~/components/home/HomeSubscriptions'
import CardEvent from "~/components/cards/CardEvent"
import Gallery from "~/components/Gallery"

export default {
  layout: "default",
  components: {
    HomeblockTitle,
    Content,
    CardEvent,
    IpexWidget,
    Gallery,
    HomeCarouselShare,
    HomeCarouselImportant,
    HomeCarouselHigh,
    HomeCarouselEvents,
    HomeCarouselNews,
    HomeVideoBlock,
    HomeSubscriptions
  },
  data() {
    return {
      page: "home",
      pagetitle: "Base template",
      
      breadcrumbs: [
        {
          text: "Home",
          link: "/"
        },
        {
          text: "CMS",
          link: "/"
        }
      ]
    }
  }
}
</script>