<template>
  <div class="d-flex flex-column flex-grow-1">
    <div class="home-map pt-2 pb-4">
        <div class="container-large">
            <HomeCarouselShare/>
            <HomeCarouselHigh/>
            <HomeCarouselEvents/>
            <HomeCarouselNews/>
        </div>
    </div>
    <div class="container-large flex-grow-1 ipx-content">
        <section>
            <Gallery hasControls="true"/>
            <div class="page-divider my-5 w-100 mx-auto border"></div>
        </section>
        <section>
          <HomeVideoBlock/>
          <div class="page-divider my-5 w-100 mx-auto border"></div>
        </section>
        <section>
          <HomeSubscriptions/>
          <div class="page-divider my-5 mx-auto"></div>
        </section>
        <IpexWidget/>
    </div>
  </div>
</template>

<script>
import ContentHeader from "~/components/layout/ContentHeader"
import IpexWidget from "~/components/IpexWidget"
import Content from "~/components/layout/Content"
import HomeblockTitle from '~/components/home/HomeblockTitle'
import HomeCarouselShare from '~/components/home/HomeCarouselShare'
import HomeCarouselHigh from '~/components/home/HomeCarouselHigh'
import HomeCarouselEvents from '~/components/home/HomeCarouselEvents'
import HomeCarouselNews from '~/components/home/HomeCarouselNews'
import HomeVideoBlock from '~/components/home/HomeVideoBlock'
import HomeSubscriptions from '~/components/home/HomeSubscriptions'
import CardEvent from "~/components/cards/CardEvent"
import Gallery from "~/components/Gallery"

export default {
  layout: "default",
  components: {
    HomeblockTitle,
    Content,
    CardEvent,
    IpexWidget,
    Gallery,
    HomeCarouselShare,
    HomeCarouselHigh,
    HomeCarouselEvents,
    HomeCarouselNews,
    HomeVideoBlock,
    HomeSubscriptions
  },
  data() {
    return {
      page: "home",
      pagetitle: "Base template",
      breadcrumbs: [
        {
          text: "Home",
          link: "/"
        },
        {
          text: "CMS",
          link: "/"
        }
      ]
    }
  }
}
</script>