<template>
  <div class="d-flex flex-column flex-grow-1">
    <div class="breadcrumb-container">
      <Breadcrumbs :breadcrumbs="breadcrumbs" :breadcurrent="pagetitle"/>
    </div>
    <ContentHeader :imgSrc="'/img/sample-small.jpg'" :imgAlt="'This is the alt attribute for the image'" :imgCaption="'This is the thumbnail caption.'" :title="'This website is just for testing'" :description="'This is a sample CMS page. With a title, a description, and a content. Nostrum sint distinctio iusto soluta corrupti suscipit ipsam atque modi exercitationem minus Inventore sapiente reiciendis omnis repellendus perspiciatis totam ducimus ipsum pariatur.'"/>
    <div class="container-regular flex-grow-1 ipx-content">
        <section>
          <h2 class="section-title">
            Miscellaneous
          </h2>
          <div class="ipx-card-list ipx-card-list-2col">
            <div class="ipx-card ipx-img-card">
                <a href="/conferences/themes-base" class="ipx-card-content p-2">
                    <img src="/img/ipx-icon-folder.svg" alt="Folder" class=" ipx-card-thumb mini-thumb flex-grow-0 mr-3">
                    <h3 class="d-flex align-items-center flex-grow-1">Conferences themes</h3>
                </a>
            </div>
            <div class="ipx-card ipx-img-card">
                <a href="/documents/deadlines" class="ipx-card-content p-2">
                    <img src="/img/ipx-icon-folder.svg" alt="Folder" class=" ipx-card-thumb mini-thumb flex-grow-0 mr-3">
                    <h3 class="d-flex align-items-center flex-grow-1">Procedures with deadlines</h3>
                </a>
            </div>
            <div class="ipx-card ipx-img-card">
                <a href="/cms/editor" class="ipx-card-content p-2">
                    <img src="/img/ipx-icon-folder.svg" alt="Folder" class=" ipx-card-thumb mini-thumb flex-grow-0 mr-3">
                    <h3 class="d-flex align-items-center flex-grow-1">Front-end editor test</h3>
                </a>
            </div>
          </div>
        </section>
        
              <section>
          <h2 class="section-title">
            New contents
          </h2>
          <div class="ipx-card-list ipx-card-list-2col">
            <div class="ipx-card ipx-img-card">
                <a href="/newcontentindication" class="ipx-card-content p-2">
                    <img src="/img/ipx-icon-folder.svg" alt="Folder" class=" ipx-card-thumb mini-thumb flex-grow-0 mr-3">
                    <h3 class="d-flex align-items-center flex-grow-1">New content module</h3>
                </a>
            </div>
            <div class="ipx-card ipx-img-card">
                <a href="/newcontentmodule" class="ipx-card-content p-2">
                    <img src="/img/ipx-icon-folder.svg" alt="Folder" class=" ipx-card-thumb mini-thumb flex-grow-0 mr-3">
                    <h3 class="d-flex align-items-center flex-grow-1">With more NC linked to page</h3>
                </a>
            </div>
            <div class="ipx-card ipx-img-card">
                <a href="/newcontent" class="ipx-card-content p-2">
                    <img src="/img/ipx-icon-folder.svg" alt="Folder" class=" ipx-card-thumb mini-thumb flex-grow-0 mr-3">
                    <h3 class="d-flex align-items-center flex-grow-1">New Content Detail</h3>
                </a>
            </div>
            <div class="ipx-card ipx-img-card">
                <a href="/newcontent-with-newcontents" class="ipx-card-content p-2">
                    <img src="/img/ipx-icon-folder.svg" alt="Folder" class=" ipx-card-thumb mini-thumb flex-grow-0 mr-3">
                    <h3 class="d-flex align-items-center flex-grow-1">New Content Detail with new contents</h3>
                </a>
            </div>
            
            <div class="ipx-card ipx-img-card">
                <a href="/advanced-search/results" class="ipx-card-content p-2">
                    <img src="/img/ipx-icon-folder.svg" alt="Folder" class=" ipx-card-thumb mini-thumb flex-grow-0 mr-3">
                    <h3 class="d-flex align-items-center flex-grow-1">New content in search results</h3>
                </a>
            </div>
            <div class="ipx-card ipx-img-card">
                <a href="/newcontentlist" class="ipx-card-content p-2">
                    <img src="/img/ipx-icon-folder.svg" alt="Folder" class=" ipx-card-thumb mini-thumb flex-grow-0 mr-3">
                    <h3 class="d-flex align-items-center flex-grow-1">List of new contents (old)</h3>
                </a>
            </div>
          </div>
        </section>
        <section>
          <h2 class="section-title">
            Specific layouts
          </h2>
          <div class="ipx-card-list ipx-card-list-2col">
            <div class="ipx-card ipx-img-card">
                <a href="/home" class="ipx-card-content p-2">
                    <img src="/img/ipx-icon-folder.svg" alt="Folder" class=" ipx-card-thumb mini-thumb flex-grow-0 mr-3">
                    <h3 class="d-flex align-items-center flex-grow-1">Homepage</h3>
                </a>
            </div>
            <div class="ipx-card ipx-img-card">
                <a href="/conferences/conference" class="ipx-card-content p-2">
                    <img src="/img/ipx-icon-folder.svg" alt="Folder" class=" ipx-card-thumb mini-thumb flex-grow-0 mr-3">
                    <h3 class="d-flex align-items-center flex-grow-1">Conferences</h3>
                </a>
            </div>
            <div class="ipx-card ipx-img-card">
                <a href="/parliaments/parliament-details" class="ipx-card-content p-2">
                    <img src="/img/ipx-icon-folder.svg" alt="Folder" class=" ipx-card-thumb mini-thumb flex-grow-0 mr-3">
                    <h3 class="d-flex align-items-center flex-grow-1">Parliament details</h3>
                </a>
            </div>
            <div class="ipx-card ipx-img-card">
                <a href="/advanced-search/search" class="ipx-card-content p-2">
                    <img src="/img/ipx-icon-folder.svg" alt="Folder" class=" ipx-card-thumb mini-thumb flex-grow-0 mr-3">
                    <h3 class="d-flex align-items-center flex-grow-1">Search</h3>
                </a>
            </div>
            <div class="ipx-card ipx-img-card">
                <a href="/advanced-search/results" class="ipx-card-content p-2">
                    <img src="/img/ipx-icon-folder.svg" alt="Folder" class=" ipx-card-thumb mini-thumb flex-grow-0 mr-3">
                    <h3 class="d-flex align-items-center flex-grow-1">Results</h3>
                </a>
            </div>
            <div class="ipx-card ipx-img-card">
                <a href="/landing-documents" class="ipx-card-content p-2">
                    <img src="/img/ipx-icon-folder.svg" alt="Folder" class=" ipx-card-thumb mini-thumb flex-grow-0 mr-3">
                    <h3 class="d-flex align-items-center flex-grow-1">Landing page Documents</h3>
                </a>
            </div>
            <div class="ipx-card ipx-img-card">
                <a href="/landing-conferences" class="ipx-card-content p-2">
                    <img src="/img/ipx-icon-folder.svg" alt="Folder" class=" ipx-card-thumb mini-thumb flex-grow-0 mr-3">
                    <h3 class="d-flex align-items-center flex-grow-1">Landing page Conferences</h3>
                </a>
            </div>
            <div class="ipx-card ipx-img-card">
                <a href="/landing2" class="ipx-card-content p-2">
                    <img src="/img/ipx-icon-folder.svg" alt="Folder" class=" ipx-card-thumb mini-thumb flex-grow-0 mr-3">
                    <h3 class="d-flex align-items-center flex-grow-1">Landing page (model 2)</h3>
                </a>
            </div>
          </div>
          
        </section>

        <section>
          <h2 class="section-title">
            Documents section
          </h2>
          <ul class="ipx-card-list ipx-card-list-2col">
            <div class="ipx-card ipx-img-card">
                <a href="/documents/high-activity" class="ipx-card-content p-2">
                    <img src="/img/ipx-icon-folder.svg" alt="Folder" class=" ipx-card-thumb mini-thumb flex-grow-0 mr-3">
                    <h3 class="d-flex align-items-center flex-grow-1">Documents with high activity</h3>
                </a>
            </div>
            <div class="ipx-card ipx-img-card">
                <a href="/documents/document" class="ipx-card-content p-2">
                    <img src="/img/ipx-icon-folder.svg" alt="Folder" class=" ipx-card-thumb mini-thumb flex-grow-0 mr-3">
                    <h3 class="d-flex align-items-center flex-grow-1">IPEX Document</h3>
                </a>
            </div>
            <div class="ipx-card ipx-img-card">
                <a href="/documents/document-yellow-card" class="ipx-card-content p-2">
                    <img src="/img/ipx-icon-folder.svg" alt="Folder" class=" ipx-card-thumb mini-thumb flex-grow-0 mr-3">
                    <h3 class="d-flex align-items-center flex-grow-1">IPEX Document with yellow card</h3>
                </a>
            </div>
            <div class="ipx-card ipx-img-card">
                <a href="/documents/scrutiny" class="ipx-card-content p-2">
                    <img src="/img/ipx-icon-folder.svg" alt="Folder" class=" ipx-card-thumb mini-thumb flex-grow-0 mr-3">
                    <h3 class="d-flex align-items-center flex-grow-1">IPEX Scrutiny</h3>
                </a>
            </div>
            <div class="ipx-card ipx-img-card">
                <a href="/documents/dossier" class="ipx-card-content p-2">
                    <img src="/img/ipx-icon-folder.svg" alt="Folder" class=" ipx-card-thumb mini-thumb flex-grow-0 mr-3">
                    <h3 class="d-flex align-items-center flex-grow-1">Dossier page</h3>
                </a>
            </div>
          </ul>
        </section>
        <section>
          <h2 class="section-title">
            My IPEX section
          </h2>
          <ul class="ipx-card-list ipx-card-list-2col">
            <div class="ipx-card ipx-img-card">
                <a href="/myipex/create-an-account" class="ipx-card-content p-2">
                    <img src="/img/ipx-icon-folder.svg" alt="Folder" class=" ipx-card-thumb mini-thumb flex-grow-0 mr-3">
                    <h3 class="d-flex align-items-center flex-grow-1">Create an account</h3>
                </a>
            </div>
            <div class="ipx-card ipx-img-card">
                <a href="/myipex/manage-my-account" class="ipx-card-content p-2">
                    <img src="/img/ipx-icon-folder.svg" alt="Folder" class=" ipx-card-thumb mini-thumb flex-grow-0 mr-3">
                    <h3 class="d-flex align-items-center flex-grow-1">Manage my account</h3>
                </a>
            </div>
            <div class="ipx-card ipx-img-card">
                <a href="/lists/list-of-stored-searches" class="ipx-card-content p-2">
                    <img src="/img/ipx-icon-folder.svg" alt="Folder" class=" ipx-card-thumb mini-thumb flex-grow-0 mr-3">
                    <h3 class="d-flex align-items-center flex-grow-1">My stored searches</h3>
                </a>
            </div>
            <div class="ipx-card ipx-img-card">
                <a href="/details/stored-search" class="ipx-card-content p-2">
                    <img src="/img/ipx-icon-folder.svg" alt="Folder" class=" ipx-card-thumb mini-thumb flex-grow-0 mr-3">
                    <h3 class="d-flex align-items-center flex-grow-1">Stored search details page</h3>
                </a>
            </div>
          </ul>
        </section>
        <section>
          <h2 class="section-title">
            Parliaments section
          </h2>
          <ul class="ipx-card-list ipx-card-list-2col">
            <div class="ipx-card ipx-img-card">
                <a href="/lists/list-of-parliaments" class="ipx-card-content p-2">
                    <img src="/img/ipx-icon-folder.svg" alt="Folder" class=" ipx-card-thumb mini-thumb flex-grow-0 mr-3">
                    <h3 class="d-flex align-items-center flex-grow-1">List of parliaments</h3>
                </a>
            </div>
            <div class="ipx-card ipx-img-card">
                <a href="/parliaments/parliament-details" class="ipx-card-content p-2">
                    <img src="/img/ipx-icon-folder.svg" alt="Folder" class=" ipx-card-thumb mini-thumb flex-grow-0 mr-3">
                    <h3 class="d-flex align-items-center flex-grow-1">Parliament details</h3>
                </a>
            </div>
            <div class="ipx-card ipx-img-card">
                <a href="/lists/list-of-news" class="ipx-card-content p-2">
                    <img src="/img/ipx-icon-folder.svg" alt="Folder" class=" ipx-card-thumb mini-thumb flex-grow-0 mr-3">
                    <h3 class="d-flex align-items-center flex-grow-1">List of news</h3>
                </a>
            </div>
            <div class="ipx-card ipx-img-card">
                <a href="/details/news" class="ipx-card-content p-2">
                    <img src="/img/ipx-icon-folder.svg" alt="Folder" class=" ipx-card-thumb mini-thumb flex-grow-0 mr-3">
                    <h3 class="d-flex align-items-center flex-grow-1">News details page (1)</h3>
                </a>
            </div>
            <div class="ipx-card ipx-img-card">
                <a href="/details/news2" class="ipx-card-content p-2">
                    <img src="/img/ipx-icon-folder.svg" alt="Folder" class=" ipx-card-thumb mini-thumb flex-grow-0 mr-3">
                    <h3 class="d-flex align-items-center flex-grow-1">News details page (2)</h3>
                </a>
            </div>
          </ul>
        </section>
        <section>
          <h2 class="section-title">
            About IPEX section
          </h2>
          <ul class="ipx-card-list ipx-card-list-2col">
            <div class="ipx-card ipx-img-card">
                <a href="/lists/list-of-contacts" class="ipx-card-content p-2">
                    <img src="/img/ipx-icon-folder.svg" alt="Folder" class=" ipx-card-thumb mini-thumb flex-grow-0 mr-3">
                    <h3 class="d-flex align-items-center flex-grow-1">List of contacts (IPEX Board layout)</h3>
                </a>
            </div>
            <div class="ipx-card ipx-img-card">
                <a href="/lists/list-of-contacts2" class="ipx-card-content p-2">
                    <img src="/img/ipx-icon-folder.svg" alt="Folder" class=" ipx-card-thumb mini-thumb flex-grow-0 mr-3">
                    <h3 class="d-flex align-items-center flex-grow-1">List of contacts (Secretaries layout)</h3>
                </a>
            </div>
          </ul>
        </section>
        <section>
          <h2 class="section-title">
            Calendar
          </h2>
          <ul class="ipx-card-list ipx-card-list-2col">
            <div class="ipx-card ipx-img-card">
                <a href="/calendar" class="ipx-card-content p-2">
                    <img src="/img/ipx-icon-folder.svg" alt="Folder" class=" ipx-card-thumb mini-thumb flex-grow-0 mr-3">
                    <h3 class="d-flex align-items-center flex-grow-1">Calendar of events</h3>
                </a>
            </div>
            <div class="ipx-card ipx-img-card">
                <a href="/details/event" class="ipx-card-content p-2">
                    <img src="/img/ipx-icon-folder.svg" alt="Folder" class=" ipx-card-thumb mini-thumb flex-grow-0 mr-3">
                    <h3 class="d-flex align-items-center flex-grow-1">Event detail</h3>
                </a>
            </div>
          </ul>
        </section>
       
         
    </div>
  </div>
</template>

<script>
import Breadcrumbs from "~/components/navigation/Breadcrumbs";
import ContentHeader from "~/components/layout/ContentHeader";
import Content from "~/components/layout/Content";
import Gdpr from '~/components/Gdpr'

export default {
  layout: "default",
  components: {
    Gdpr,
    Breadcrumbs,
    ContentHeader,
    Content
  },
  data() {
    return {
      page: "home",
      pagetitle: "Base template",
      breadcrumbs: [
        {
          text: "Home",
          link: "/"
        },
        {
          text: "CMS",
          link: "/"
        }
      ]
    }
  }
}
</script>