<template>
  <div class="d-flex flex-column flex-grow-1">
    <div class="breadcrumb-container">
      <Breadcrumbs :breadcrumbs="breadcrumbs" :breadcurrent="pagetitle"/>
    </div>
    <ContentHeader :imgSrc="'/icons/ipx-icon-conferences-large.svg'"  :imgCaption="'This is the thumbnail caption.'" :title="'Conferences'" :description="'This is a landing page description. Nostrum sint distinctio iusto soluta corrupti suscipit ipsam atque modi exercitationem minus Inventore sapiente reiciendis omnis repellendus perspiciatis totam ducimus ipsum pariatur. Ut enim ad minim veniam, quis nostrud exercitation ullamco.'"/>
    <div class="container-regular flex-grow-1 ipx-content">
        <section>
            <div class="ipx-card-list">
                <div class="ipx-card ipx-img-card">
                    <a href="/" class="ipx-card-content">
                        <img src="/img/conference/euspeakers/euspeakers-logo-FAKE.svg" alt="Item thumbnail" class="ipx-card-thumb p-2">
                        <div>
                            <h3 class="ipx-card-title">EU Speakers Conference</h3>
                            <p class="ipx-card-description">This conference gathers Speakers of the Parliaments of the EU Member States and the President of the European Parliament</p>
                            <div class="ipx-card-footer d-flex align-items-end flex-grow-1">
                                <small class="d-flex"><i class="material-icons md-18 mr-1">place</i>Austria 2019</small>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="ipx-card ipx-img-card">
                    <a href="/" class="ipx-card-content">
                        <img src="/img/conference/cosac/cosac-square.jpg" alt="Item thumbnail" class="ipx-card-thumb">
                        <div>
                            <h3 class="ipx-card-title">COSAC</h3>
                            <p class="ipx-card-description">COSAC is a Conference of the Committees of the National Parliaments of the European Union Member States dealing with the European Union Affairs as well as representatives of the European Parliament</p>
                            <div class="ipx-card-footer d-flex align-items-end flex-grow-1">
                                <small class="d-flex"><i class="material-icons md-18 mr-1">place</i>Romania 2019</small>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="ipx-card ipx-img-card">
                    <a href="/" class="ipx-card-content">
                        <img src="/icons/ipx-icon-conferences-medium.svg" alt="Item thumbnail" class="ipx-card-thumb">
                        <div>
                            <h3 class="ipx-card-title">Inter-parliamentary conference for CFSP/CSDP</h3>
                            <p class="ipx-card-description">Inter-Parliamentary Conference for the Common Foreign and Security Policy and the Common Security and Defence Policy (CFSP/CSDP)</p>
                            <div class="ipx-card-footer d-flex align-items-end flex-grow-1">
                                <small class="d-flex"><i class="material-icons md-18 mr-1">place</i>Romania 2019</small>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="ipx-card ipx-img-card">
                    <a href="/" class="ipx-card-content">
                        <img src="/icons/ipx-icon-conferences-medium.svg" alt="Item thumbnail" class="ipx-card-thumb">
                        <div>
                            <h3 class="ipx-card-title">Inter-parliamentary conference on SECG</h3>
                            <p class="ipx-card-description">Interparliamentary Conference on Stability, Economic Coordination and Governance in the European Union</p>
                            <div class="ipx-card-footer d-flex align-items-end flex-grow-1">
                                <small class="d-flex"><i class="material-icons md-18 mr-1">place</i>Romania 2019</small>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="ipx-card ipx-img-card">
                    <a href="/" class="ipx-card-content">
                        <img src="/icons/ipx-icon-conferences-medium.svg" alt="Item thumbnail" class="ipx-card-thumb">
                        <div>
                            <h3 class="ipx-card-title">JPSG on Europol</h3>
                            <p class="ipx-card-description">Joint Parliamentary Scrutiny Group (JPSG) on the European Union Agency for Law Enforcement Cooperation (Europol)</p>
                            <div class="ipx-card-footer d-flex align-items-end flex-grow-1">
                                <small class="d-flex"><i class="material-icons md-18 mr-1">place</i>Romania 2019</small>
                            </div>
                        </div>
                    </a>
                </div>



                
              
            </div>
        </section>
    </div>
    <IpexWidget/>
  </div>
</template>

<script>
import Breadcrumbs from "~/components/navigation/Breadcrumbs";
import ContentHeader from "~/components/layout/ContentHeader";
import ContentLanding from "~/components/layout/ContentLanding";
import IpexWidget from "~/components/IpexWidget"

export default {
  layout: "default",
  components: {
    Breadcrumbs,
    ContentHeader,
    ContentLanding,
    IpexWidget
  },
  data() {
    return {
      page: "landing",
      pagetitle: "Conferences",
      breadcrumbs: [
        {
          text: "Home",
          link: "/"
        }
      ]
    }
  }
}
</script>