<template>
  <div class="d-flex flex-column flex-grow-1">
    <div class="breadcrumb-container">
      <Breadcrumbs :breadcrumbs="breadcrumbs" :breadcurrent="pagetitle"/>
    </div>
    <ContentHeader :imgSrc="'/icons/ipx-icon-documents-large.svg'" :imgCaption="'This is the thumbnail caption.'" :title="'Documents'" :description="'The IPEX database contains draft legislative proposals, consultation and information documents coming from the European Commission, parliamentary documents and information concerning the European Union.'"/>
    <div class="container-regular flex-grow-1 ipx-content">
        <section>
            <div class="ipx-card-list">
                <!-- A card with an image -->
                <div class="ipx-card ipx-img-card">
                <nuxt-link to="/documents/high-activity" class="ipx-card-content">
                    <img src="/icons/ipx-icon-highactivity-large.svg" alt="Item thumbnail" class="ipx-card-thumb">
                    <div>
                    <h3 class="ipx-card-title">Documents with high activity</h3>
                    <p class="ipx-card-description">Webtwo ipsum orkut reddit meebo skype vimeo jajah spock empressr zimbra, mobly napster hipmunk prezi chartly bitly spock. Loopt twones meebo hipmunk, fleck xobni.</p>
                    </div>
                </nuxt-link>
                </div>
                <!-- A card with an image -->
                <div class="ipx-card ipx-img-card">
                <a href="/" class="ipx-card-content">
                    <img src="/icons/ipx-icon-database-large.svg" alt="Item thumbnail" class="ipx-card-thumb">
                    <div>
                    <h3 class="ipx-card-title">Legislative database</h3>
                    <p class="ipx-card-description">Webtwo ipsum orkut reddit meebo skype vimeo jajah spock empressr zimbra, mobly napster hipmunk prezi chartly bitly spock. Loopt twones meebo hipmunk, fleck xobni.</p>
                    </div>
                </a>
                </div>
                <!-- A card with an image -->
                <div class="ipx-card ipx-img-card">
                <a href="/" class="ipx-card-content">
                    <img src="/icons/ipx-icon-documents-medium.svg" alt="Item thumbnail" class="ipx-card-thumb">
                    <div>
                    <h3 class="ipx-card-title">Another item in the document section</h3>
                    <p class="ipx-card-description">Webtwo ipsum orkut reddit meebo skype vimeo jajah spock empressr zimbra, mobly napster hipmunk prezi chartly bitly spock. Loopt twones meebo hipmunk, fleck xobni.</p>
                    </div>
                </a>
                </div>
                <!-- A card with an image -->
                <div class="ipx-card ipx-img-card">
                <a href="/" class="ipx-card-content">
                    <img src="/icons/ipx-icon-documents-medium.svg" alt="Item thumbnail" class="ipx-card-thumb">
                    <div>
                        <h3 class="ipx-card-title">Another one</h3>
                        <p class="ipx-card-description">Inter-Parliamentary Conference for the Common Foreign and Security Policy and the Common Security and Defence Policy (CFSP/CSDP)</p>
                    </div>
                </a>
                </div>
                
            </div>
        </section>
    </div>
    <IpexWidget/>
  </div>
</template>

<script>
import Breadcrumbs from "~/components/navigation/Breadcrumbs";
import ContentHeader from "~/components/layout/ContentHeader";
import ContentLanding from "~/components/layout/ContentLanding";
import IpexWidget from "~/components/IpexWidget"

export default {
  layout: "default",
  components: {
    Breadcrumbs,
    ContentHeader,
    ContentLanding,
    IpexWidget
  },
  data() {
    return {
      page: "landing",
      pagetitle: "Documents",
      breadcrumbs: [
        {
          text: "Home",
          link: "/"
        }
      ]
    }
  }
}
</script>