<template>
  <div class="d-flex flex-column flex-grow-1">
    <div class="breadcrumb-container">
      <Breadcrumbs :breadcrumbs="breadcrumbs" :breadcurrent="pagetitle"/>
    </div>
    <ContentHeader :imgSrc="'/img/ipx-icon-about.svg'" :imgAlt="'This is the alt attribute for the image'" :imgCaption="'This is the thumbnail caption.'" :title="'Landing page model 2'" :description="'This layout may be used when there is a lot of subsections to display. They may be displayed in one or two columns. This layout is used as a landing page for the About section of IPEX.'"/>
    <ContentLanding2/>
    <IpexWidget/>
  </div>   
</template>

<script>
import Breadcrumbs from "~/components/navigation/Breadcrumbs";
import ContentHeader from "~/components/layout/ContentHeader";
import ContentLanding2 from "~/components/layout/ContentLanding2";
import IpexWidget from "~/components/IpexWidget"

export default {
  layout: "default",
  components: {
    Breadcrumbs,
    ContentHeader,
    ContentLanding2,
    IpexWidget
  },
  data() {
    return {
      page: "landing",
      pagetitle: "Landing page model 2",
      breadcrumbs: [
        {
          text: "Home",
          link: "/"
        }
      ]
    }
  }
}
</script>