<template>
  <div class="d-flex flex-column flex-grow-1">
    <div class="breadcrumb-container">
      <Breadcrumbs :breadcrumbs="breadcrumbs" :breadcurrent="pagetitle"/>
    </div>
    <ContentHeader class="" :imgSrc="'/icons/ipx-icon-parliament-large.svg'" :imgAlt="'This is the alt attribute for the image'" :imgCaption="'This is the thumbnail caption.'" :title="'List of parliaments'" :description="'A section on national Parliaments and the European Parliament providing links to relevant websites and databases in the field of interparliamentary cooperation, as well as specific procedures in EU Parliaments.'"/>
      <div class="container-large flex-grow-1 ipx-content">
        <section>
          <InputLarge :id="'FilterParl'" :placeholder="'Find a parliament or a country'" :button="'Search'" :hasButton="false"/>
        </section>
        <section>
          <h2 class="section-title">
            European Parliament
          </h2>
          <div class="d-flex image-and-text">
              <img src="/img/EP-logo-RGB_EN.png" alt="European Parliament" class="small">
              <p class="lead">The European Parliament is co-legislator in the EU legislative process, has budgetary powers and is directly elected by European citizens.</p>
          </div>
            <h2 class="section-title">
                National parliaments in EU member states
            </h2>
            <div class="ipx-card-list ipx-card-list-4col">
                <div class="ipx-card ipx-nolink-card" v-for="(item, index) in countries.countries" :key="index" v-if="!item.isCandidate && !item.isFormer" :iso="item.countrycode" :name="item.country">
                  <div class="ipx-card-content">
                      <h5 class="d-flex align-items-center pt-0 mb-2">
                          <img :class="'flag flag-sm mr-2 flag-'+item.countrycode" :src="'/img/flags/'+item.countrycode+'.svg'" :alt="item.country">
                          {{item.country}}
                      </h5>
                      <nuxt-link :to="'/parliaments/'+chamb.parlcode" @click='sendParlCode()' :title="chamb.name" v-for="(chamb, index) in item.chambers" class="d-flex" :key="index">
                          {{chamb.name}}
                      </nuxt-link>
                  </div>
              </div>
            </div>
            <h2 class="section-title">
                Former EU members
            </h2>
            <div class="ipx-card-list ipx-card-list-4col">
                <div class="ipx-card ipx-nolink-card" v-for="(item, index) in countries.countries" :key="index" v-if="item.isFormer" :iso="item.countrycode" :name="item.country">
                  <div class="ipx-card-content">
                      <h5 class="pt-0">
                          <img :class="'flag flag-sm mr-2 flag-'+item.countrycode" :src="'/img/flags/'+item.countrycode+'.svg'" :alt="item.country">
                          {{item.country}}
                      </h5>
                      <nuxt-link :to="chamb.parlcode" :title="chamb.name" v-for="(chamb, index) in item.chambers" class="d-flex" :key="index">
                          {{chamb.name}}
                      </nuxt-link>
                  </div>
              </div>
            </div>
            <h2 class="section-title">
                Candidate countries
            </h2>
            <div class="ipx-card-list ipx-card-list-4col">
                <div class="ipx-card ipx-nolink-card" v-for="(item, index) in countries.countries" :key="index" v-if="item.isCandidate" :iso="item.countrycode" :name="item.country">
                  <div class="ipx-card-content">
                      <h5 class="pt-0">
                          <img :class="'flag flag-sm mr-2 flag-'+item.countrycode" :src="'/img/flags/'+item.countrycode+'.svg'" :alt="item.country">
                          {{item.country}}
                      </h5>
                      <nuxt-link :to="chamb.parlcode" :title="chamb.name" v-for="(chamb, index) in item.chambers" class="d-flex" :key="index">
                          {{chamb.name}}
                      </nuxt-link>
                  </div>
              </div>
            </div>
        </section>
        
    </div>
  </div>
</template>

<script>
import Breadcrumbs from "~/components/navigation/Breadcrumbs";
import ContentHeader from "~/components/layout/ContentHeader";
import CardParliamentsList from "~/components/cards/CardParliamentsList";
import Countries from "@/components/data/Countries.json";
import InputLarge from "~/components/forms/InputLarge";

export default {
  layout: "default",
  components: {
    Breadcrumbs,
    ContentHeader,
    CardParliamentsList,
    InputLarge
  },
  data() {
    return {
      page: "landing",
      pagetitle: "List of parliaments",
      countries: Countries,
      breadcrumbs: [
        {
          text: "Home",
          link: "/"
        },
        {
          text: "Parliaments",
          link: "/"
        }
      ]
    }
  },
  methods: {
    sendParlCode() {
      this.$emit(chamb.parlcode)
      console.log('hello');
    }
  }
}
</script>