<template>
  <div class="d-flex flex-column flex-grow-1 visual-layout conference-theme0">
    <div class="breadcrumb-container">
      <Breadcrumbs :breadcrumbs="breadcrumbs" :breadcurrent="pagetitle"/>
    </div>
    <ContentHeaderParConf :imgSrc="'/img/ipx-icon-news.svg'" :imgAlt="'This is the alt attribute for the image'" :imgCaption="'This is the thumbnail caption.'" :title="'German Bundestag'" :description="'This is a landing page description. Nostrum sint distinctio iusto soluta corrupti suscipit ipsam atque modi exercitationem minus Inventore sapiente reiciendis omnis repellendus perspiciatis totam ducimus ipsum pariatur.'"/>
    <ContentParliamentDetails/>
  </div>
</template>s

<script>
import Breadcrumbs from "~/components/navigation/Breadcrumbs";
import ContentHeaderParConf from "~/components/layout/ContentHeaderParConf";
import ContentParliamentDetails from "~/components/layout/ContentParliamentDetails";
import IpexWidget from "~/components/IpexWidget";

export default {
  layout: "hasnewcontent",
  components: {
    Breadcrumbs,
    ContentHeaderParConf,
    ContentParliamentDetails,
    IpexWidget
  },
  data() {
    return {
      page: "landing",
      pagetitle: "German Bundestag",
      breadcrumbs: [
        {
          text: "Home",
          link: "/"
        },
        {
          text: "Parliaments",
          link: "/"
        }
      ]
    }
  }
}
</script>