<template>
  <div class="d-flex flex-column flex-grow-1 ">
    <div class="breadcrumb-container">
      <Breadcrumbs :breadcrumbs="breadcrumbs" :breadcurrent="pagetitle"/>
    </div>
    <div class="ipx-intro newcontentbox">
      <div class="container-regular d-flex">
        <div class="d-flex flex-column w-100 pt-md-2">
          <span class="link-icon material-icons mr-2">link</span>
            <h1 class="mt-3 mt-md-0">New content title</h1>
            <div class="nc-summary">
              <h3 class=" d-none align-items-center mb-2 mt-4">New content title</h3>
              <p>New content description lorem ipsum dolor, sit amet consectetur adipisicing elit. Atque, laboriosam exercitationem quidem error illum magni eaque consequuntur nesciunt perferendis harum id aperiam iusto cumque, quibusdam, iste eveniet? Nesciunt, culpa sapiente?</p>
              <div class="newcontent-metas">
                <div class="author d-flex align-items-start align-items-md-center flex-column flex-md-row">
                  <span class="nc-label mr-2">Author:</span>
                  <div class="d-flex flex-wrap mb-2 mb-md-0">
                  <a href="/newcontentlist" class="badge">Hellenic Parliament<img src="/img/flags/gr.svg" class="flag nc-flag flag-xs ml-2"></a>
                  </div>
                  </div>
                <div class="produced d-flex align-items-start align-items-md-center flex-column flex-md-row">
                  <span class="nc-label mr-2">Contributors:</span>
                  <div class="d-flex flex-wrap mb-2 mb-md-0">
                    
                    <a href="/newcontentlist" class="badge">German Bundestag<img src="/img/flags/de.svg" class="flag nc-flag flag-xs ml-2"></a>
                  </div>
                </div>
                <div class="keywords d-flex align-items-start align-items-md-center flex-column flex-md-row">
                  <span class="nc-label mr-2">Content associated with:</span>
                  <div class="d-flex flex-wrap mb-2 mb-md-0">
                    <span class="badge mr-2">Brexit</span>
                    <span class="badge mr-2">EU Affairs</span>
                    <span class="badge mr-2">EU Policy of the Foreign Affairs</span>
                    <span class="badge mr-2">Data test lorem</span>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-regular flex-grow-1 ipx-content">
        <section>
            <h2 class="section-title mt-3">Information of Interparliamentary Exchanges</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quia illum, non delectus vero ipsam rerum enim vitae error consequatur reprehenderit ipsa, eius similique unde obcaecati accusamus ab perspiciatis quibusdam nesciunt.</p>
            <p>Nulla consequatur laboriosam cumque architecto error quidem vitae doloribus assumenda ipsa at delectus accusamus maiores, aliquam voluptas quibusdam molestias quia, repudiandae tenetur facilis. Excepturi, quos obcaecati soluta facere error ipsum. Et, adipisci minima eos temporibus neque quis odit itaque dolor, tenetur voluptatibus corrupti, velit harum. Fugiat iste aliquid sit dolores eaque tempore quia, aliquam perspiciatis, quidem dolore temporibus maxime vel.</p>
            <p>Nulla consequatur laboriosam cumque architecto error quidem vitae doloribus assumenda ipsa at delectus accusamus maiores, aliquam voluptas quibusdam molestias quia, repudiandae tenetur facilis. Excepturi, quos obcaecati soluta facere error ipsum. Et, adipisci minima eos temporibus neque quis odit itaque dolor, tenetur voluptatibus corrupti, velit harum. Fugiat iste aliquid sit dolores eaque tempore quia, aliquam perspiciatis, quidem dolore temporibus maxime vel.</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores officiis aspernatur, consequatur at, modi adipisci hic molestias iste aut ducimus eius in illum repudiandae deleniti harum impedit et autem sequi.</p>
            <h2 class="section-title d-flex align-items-center justify-content-between mt-0" data-toggle="collapse" href="#collapseFiles" role="button" aria-expanded="true" aria-controls="collapseFiles">
                Documents
                <button type="button" class="btn d-inline-flex justify-content-center align-items-center p-0">
                    <i class="material-icons md-36">keyboard_arrow_down</i>
                </button>
            </h2>
            <ul class="ipx-list-files justify-content-between collapse show" :id="idcol">
                <li class="ipx-card-link">      
                    <a href="#" class="ipx-link-title"><span class="file-type file-type-pdf">pdf</span>Research Paper number one</a>
                    <div class="file-metas">
                        <div class="lang-tags">
                            <span>en</span> +
                            <span>fr</span>
                        </div>
                        <span class="file-size">| 2.1 Mb | 04/12/2018</span>
                    </div>
                </li>
                <li class="ipx-card-link">      
                    <a href="#" class="ipx-link-title"><span class="file-type file-type-doc">doc</span>Conclusions about IPEX meeting</a>
                    <div class="file-metas">
                        <div class="lang-tags">
                            <span>fr</span>
                        </div>
                        <span class="file-size">| 381 KB | 04/12/2018</span>
                    </div>
                </li>
                <li class="ipx-card-link">      
                    <a href="#" class="ipx-link-title"><span class="file-type file-type-html">html</span>Newsletter</a>
                    <div class="file-metas">
                        <div class="lang-tags">
                            <span>en</span> +
                            <span>fr</span>
                        </div>
                        <span class="file-size">| 248 KB | 04/12/2018</span>
                    </div>
                </li>

            </ul>
            
            
        </section>
        <section>
          <div class="linked-pages">
            <h2 class="section-title d-flex align-items-center justify-content-between mt-0" data-toggle="collapse" href="#collapseFiles" role="button" aria-expanded="true" aria-controls="collapseFiles">
                Linked IPEX pages
                <button type="button" class="btn d-inline-flex justify-content-center align-items-center p-0">
                    <i class="material-icons md-36">keyboard_arrow_down</i>
                </button>
            </h2>
            <ul>
              <li>
                <a class="d-flex" href="/newcontentindication" title="German Bundestag | Parliament details">
                  <div class="d-flex flex-column flex-grow-1">
                    <span>German Bundestag</span>
                    <span class="page-type">Parliament Details</span>
                  </div>
                  <span class="material-icons">arrow_forward</span>
                </a>
              </li>
              <li>
                <a class="d-flex" href="/newcontentindication" title="German Bundestag | Parliament details">
                  <div class="d-flex flex-column flex-grow-1">
                    <span>Government Statement of Chancellor Angela Merkel and lively debate with regard to upcoming European Council</span>
                    <span class="page-type">News</span>
                  </div>
                  <span class="material-icons">arrow_forward</span>
                </a>
              </li>
              <li>
                <a class="d-flex" href="/newcontentindication" title="German Bundestag | Parliament details">
                  <div class="d-flex flex-column flex-grow-1">
                    <span>COM321654/987</span>
                    <span class="page-type">Document</span>
                  </div>
                  <span class="material-icons">arrow_forward</span>
                </a>
              </li>
            </ul>
          </div>
        </section>
    </div>

  </div>
</template>

<script>
import Breadcrumbs from "~/components/navigation/Breadcrumbs";
import ContentHeader from "~/components/layout/ContentHeader";
import ContentLanding from "~/components/layout/ContentLanding";
import IpexWidget from "~/components/IpexWidget"

export default {
  layout: "default",
  components: {
    Breadcrumbs,
    ContentHeader,
    ContentLanding,
    IpexWidget
  },
  data() {
    return {
      page: "landing",
      pagetitle: "New content title",
      breadcrumbs: [
        {
          text: "Home",
          link: "/"
        }
      ]
    }
  }
}
</script>