<template>
  <div class="d-flex flex-column flex-grow-1">
    <div class="breadcrumb-container">
      <Breadcrumbs :breadcrumbs="breadcrumbs" :breadcurrent="pagetitle" />
    </div>
    <div class="ipx-intro newcontentbox pb-4">
      <div class="container-regular d-flex">
        <span class="link-icon material-icons mr-2 d-none">link</span>
        <div class="d-flex flex-column w-100">
          <div class="nc-summary w-100">
            
              <div class="results flex-grow-1 d-flex justify-content-start mr-5 mr-md-0">
                <span class="count">
                  <span >147</span>
                </span>
                <span>new contents linked to the page German Bundestag</span>
              </div>
            
          </div>
        </div>
      </div>
    </div>
    <div class="container-regular flex-grow-1 ipx-content">
      <section>
        <div class="ipx-card-list">
          <div class="ipx-card newcontent-card">
            <a href="/newcontent" class="ipx-card-content">
              <h3 class="ipx-card-title">New content title</h3>
              <p
                class="ipx-card-description"
              >Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quasi omnis porro voluptates, provident ullam impedit fugit dolorum voluptatum eaque ab ad temporibus possimus delectus! Eum velit accusamus totam perferendis vero.</p>
              <div class="ipx-card-footer d-flex align-items-end flex-grow-1">
                <small class="d-flex">
                  <span class="link-icon material-icons mr-2">link</span>
                  <span class="font-weight-bold mr-2">01/01/2001</span>
                  <span>Source: Hellenic Parliament</span>
                </small>
              </div>
            </a>
          </div>
          <div class="ipx-card newcontent-card">
            <a href="/" class="ipx-card-content">
              <h3 class="ipx-card-title">New content title</h3>
              <p
                class="ipx-card-description"
              >Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quasi omnis porro voluptates, provident ullam impedit fugit dolorum voluptatum eaque ab ad temporibus possimus delectus! Eum velit accusamus totam perferendis vero.</p>
              <div class="ipx-card-footer d-flex align-items-end flex-grow-1">
                <small class="d-flex">
                  <span class="link-icon material-icons mr-2">link</span>
                  <span class="font-weight-bold mr-2">01/01/2001</span>
                  <span>Source: Hellenic Parliament</span>
                </small>
              </div>
            </a>
          </div>
          <div class="ipx-card newcontent-card">
            <a href="/" class="ipx-card-content">
              <h3 class="ipx-card-title">New content title</h3>
              <p
                class="ipx-card-description"
              >Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quasi omnis porro voluptates, provident ullam impedit fugit dolorum voluptatum eaque ab ad temporibus possimus delectus! Eum velit accusamus totam perferendis vero.</p>
              <div class="ipx-card-footer d-flex align-items-end flex-grow-1">
                <small class="d-flex">
                  <span class="link-icon material-icons mr-2">link</span>
                  <span class="font-weight-bold mr-2">01/01/2001</span>
                  <span>Source: Hellenic Parliament</span>
                </small>
              </div>
            </a>
          </div>
          <div class="ipx-card newcontent-card">
            <a href="/" class="ipx-card-content">
              <h3 class="ipx-card-title">New content title</h3>
              <p
                class="ipx-card-description"
              >Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quasi omnis porro voluptates, provident ullam impedit fugit dolorum voluptatum eaque ab ad temporibus possimus delectus! Eum velit accusamus totam perferendis vero.</p>
              <div class="ipx-card-footer d-flex align-items-end flex-grow-1">
                <small class="d-flex">
                  <span class="link-icon material-icons mr-2">link</span>
                  <span class="font-weight-bold mr-2">01/01/2001</span>
                  <span>Source: Hellenic Parliament</span>
                </small>
              </div>
            </a>
          </div>
          <div class="ipx-card newcontent-card">
            <a href="/" class="ipx-card-content">
              <h3 class="ipx-card-title">New content title</h3>
              <p
                class="ipx-card-description"
              >Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quasi omnis porro voluptates, provident ullam impedit fugit dolorum voluptatum eaque ab ad temporibus possimus delectus! Eum velit accusamus totam perferendis vero.</p>
              <div class="ipx-card-footer d-flex align-items-end flex-grow-1">
                <small class="d-flex">
                  <span class="link-icon material-icons mr-2">link</span>
                  <span class="font-weight-bold mr-2">01/01/2001</span>
                  <span>Source: Hellenic Parliament</span>
                </small>
              </div>
            </a>
          </div>
          <div class="ipx-card newcontent-card">
            <a href="/" class="ipx-card-content">
              <h3 class="ipx-card-title">New content title</h3>
              <p
                class="ipx-card-description"
              >Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quasi omnis porro voluptates, provident ullam impedit fugit dolorum voluptatum eaque ab ad temporibus possimus delectus! Eum velit accusamus totam perferendis vero.</p>
              <div class="ipx-card-footer d-flex align-items-end flex-grow-1">
                <small class="d-flex">
                  <span class="link-icon material-icons mr-2">link</span>
                  <span class="font-weight-bold mr-2">01/01/2001</span>
                  <span>Source: Hellenic Parliament</span>
                </small>
              </div>
            </a>
          </div>
        </div>
        <LoadMore />
      </section>
    </div>
  </div>
</template>

<script>
import Breadcrumbs from "~/components/navigation/Breadcrumbs";
import ContentHeader from "~/components/layout/ContentHeader";
import CardBasic from "~/components/cards/CardBasic";
import CardImage from "~/components/cards/CardImage";
import CardNews from "~/components/cards/CardNews";
import LoadMore from "~/components/LoadMore";
import Pagination from "~/components/Pagination";
import InputLarge from "~/components/forms/InputLarge";
import FiltersNews from "~/components/forms/FiltersNews";

export default {
  layout: "default",
  components: {
    Breadcrumbs,
    ContentHeader,
    CardBasic,
    CardImage,
    CardNews,
    LoadMore,
    Pagination,
    InputLarge,
    FiltersNews
  },
  data() {
    return {
      page: "landing",
      pagetitle: "List of New Contents",
      breadcrumbs: [
        {
          text: "Home",
          link: "/"
        }
      ]
    };
  }
};
</script>