<template>
<div class="tab-pane fade" id="about" role="tabpanel" aria-labelledby="about-tab">
    <section>
        <div class="accordion" id="accordionExample">
            <div class="ipx-accordion-item">
                <h3 class="list-title d-flex align-items-start justify-content-between mt-0" data-toggle="collapse" href="#TFEU" role="button" aria-expanded="true" aria-controls="TFEU">
                    Article 88 TFEU
                    <button type="button" class="btn btn-only-icon">
                        <i class="material-icons">keyboard_arrow_down</i>
                    </button>
                </h3>
                <ul class="ipx-list-files justify-content-between collapse show" id="TFEU" data-parent="#accordionExample">
                    <li class="ipx-card-link">      
                        <a href="#" class="ipx-link-title"><span class="file-type file-type-pdf">pdf</span>Lorem_ipsumdolorsit_consecteturadipiscing.pdf</a>
                        <div class="file-metas">
                            <div class="lang-tags">
                                <span>EN</span> +
                                <span>FR</span>
                            </div>
                            <span class="file-size">| 381 KB | 04/12/2018</span>
                        </div>
                    </li>
                    <li class="ipx-card-link">      
                        <a href="#" class="ipx-link-title"><span class="file-type file-type-doc">doc</span>ipsumdolorsit_consecteturadipiscing.docx</a>
                        <div class="file-metas">
                            <div class="lang-tags">
                                <span>EN</span> +
                                <span>FR</span>
                            </div>
                            <span class="file-size">| 381 KB | 04/12/2018</span>
                        </div>
                    </li>
                </ul>
            </div>
                <div class="ipx-accordion-item">
                <h3 class="list-title d-flex align-items-start justify-content-between mt-0" data-toggle="collapse" href="#Europol" role="button" aria-expanded="false" aria-controls="Europol">
                    Europol regulation
                    <button type="button" class="btn btn-only-icon">
                        <i class="material-icons">keyboard_arrow_down</i>
                    </button>
                </h3>
                <ul class="ipx-list-files justify-content-between collapse" id="Europol" data-parent="#accordionExample">
                    <li class="ipx-card-link">      
                        <a href="#" class="ipx-link-title"><span class="file-type file-type-pdf">pdf</span>Lorem_ipsumdolorsit_consecteturadipiscing.pdf</a>
                        <div class="file-metas">
                            <div class="lang-tags">
                                <span>EN</span> +
                                <span>FR</span>
                            </div>
                            <span class="file-size">| 381 KB | 04/12/2018</span>
                        </div>
                    </li>
                    <li class="ipx-card-link">      
                        <a href="#" class="ipx-link-title"><span class="file-type file-type-doc">doc</span>ipsumdolorsit_consecteturadipiscing.docx</a>
                        <div class="file-metas">
                            <div class="lang-tags">
                                <span>EN</span> +
                                <span>FR</span>
                            </div>
                            <span class="file-size">| 381 KB | 04/12/2018</span>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="ipx-accordion-item">
                <h3 class="list-title d-flex align-items-start justify-content-between mt-0" data-toggle="collapse" href="#Rules" role="button" aria-expanded="false" aria-controls="Rules">
                    Rules of procedure
                    <button type="button" class="btn btn-only-icon">
                        <i class="material-icons">keyboard_arrow_down</i>
                    </button>
                </h3>
                <ul class="ipx-list-files justify-content-between collapse" id="Rules" data-parent="#accordionExample">
                    <li class="ipx-card-link">      
                            <a href="#" class="ipx-link-title"><span class="file-type file-type-pdf">pdf</span>Lorem_ipsumdolorsit_consecteturadipiscing.pdf</a>
                            <div class="file-metas">
                                <div class="lang-tags">
                                    <span>EN</span> +
                                    <span>FR</span>
                                </div>
                                <span class="file-size">| 381 KB | 04/12/2018</span>
                            </div>
                        </li>
                        <li class="ipx-card-link">      
                            <a href="#" class="ipx-link-title"><span class="file-type file-type-doc">doc</span>ipsumdolorsit_consecteturadipiscing.docx</a>
                            <div class="file-metas">
                                <div class="lang-tags">
                                    <span>EN</span> +
                                    <span>FR</span>
                                </div>
                                <span class="file-size">| 381 KB | 04/12/2018</span>
                            </div>
                        </li>
                </ul>
            </div>
            <div class="ipx-accordion-item">
                <h3 class="list-title d-flex align-items-start justify-content-between mt-0" data-toggle="collapse" href="#questions" role="button" aria-expanded="false" aria-controls="questions">
                    Written questions
                    <button type="button" class="btn btn-only-icon">
                        <i class="material-icons">keyboard_arrow_down</i>
                    </button>
                </h3>
                <ul class="ipx-list-files justify-content-between collapse" id="questions" data-parent="#accordionExample">
                    <li class="ipx-card-link">      
                            <a href="#" class="ipx-link-title"><span class="file-type file-type-pdf">pdf</span>Lorem_ipsumdolorsit_consecteturadipiscing.pdf</a>
                            <div class="file-metas">
                                <div class="lang-tags">
                                    <span>EN</span> +
                                    <span>FR</span>
                                </div>
                                <span class="file-size">| 381 KB | 04/12/2018</span>
                            </div>
                        </li>
                        <li class="ipx-card-link">      
                            <a href="#" class="ipx-link-title"><span class="file-type file-type-doc">doc</span>ipsumdolorsit_consecteturadipiscing.docx</a>
                            <div class="file-metas">
                                <div class="lang-tags">
                                    <span>EN</span> +
                                    <span>FR</span>
                                </div>
                                <span class="file-size">| 381 KB | 04/12/2018</span>
                            </div>
                        </li>
                </ul>
            </div>
            <div class="ipx-accordion-item">
            <h3 class="list-title d-flex align-items-start justify-content-between mt-0" data-toggle="collapse" href="#outcomes" role="button" aria-expanded="false" aria-controls="outcomes">
                Outcomes of the previous meetings
                <button type="button" class="btn btn-only-icon">
                    <i class="material-icons">keyboard_arrow_down</i>
                </button>
            </h3>
            <ul class="ipx-list-files justify-content-between collapse" id="outcomes" data-parent="#accordionExample">
                <li class="ipx-card-link">      
                        <a href="#" class="ipx-link-title"><span class="file-type file-type-pdf">pdf</span>Lorem_ipsumdolorsit_consecteturadipiscing.pdf</a>
                        <div class="file-metas">
                            <div class="lang-tags">
                                <span>EN</span> +
                                <span>FR</span>
                            </div>
                            <span class="file-size">| 381 KB | 04/12/2018</span>
                        </div>
                    </li>
                    <li class="ipx-card-link">      
                        <a href="#" class="ipx-link-title"><span class="file-type file-type-doc">doc</span>ipsumdolorsit_consecteturadipiscing.docx</a>
                        <div class="file-metas">
                            <div class="lang-tags">
                                <span>EN</span> +
                                <span>FR</span>
                            </div>
                            <span class="file-size">| 381 KB | 04/12/2018</span>
                        </div>
                    </li>
            </ul>
            </div>
        </div>
    </section>
    <section>
        <h2 class="section-title">Gallery</h2>
        <a-carousel arrows class="custom-carousel custom-gallery-carousel" :afterChange="onChange">
                <div slot="prevArrow" slot-scope="props" class="custom-slick-arrow" style="left: 10px;zIndex: 1">
                    <a-icon type="left-circle" />
                </div>
                <div slot="nextArrow" slot-scope="props" class="custom-slick-arrow" style="right: 10px">
                    <a-icon type="right-circle" />
                </div>
                <div>
                    <figure class="img-wrapper">
                        <a data-fancybox="conference-gallery" href="/img/conference/demo/01.jpg">
                            <img src="/img/conference/demo/01.jpg" alt="Sample image">
                        </a>
                    </figure>
                    <figure class="img-wrapper">
                        <a data-fancybox="conference-gallery" href="/img/conference/demo/02.jpg">
                            <img src="/img/conference/demo/02.jpg" alt="Sample image">
                        </a>
                    </figure>
                    <figure class="img-wrapper">
                        <a data-fancybox="conference-gallery" href="/img/conference/demo/03.jpg">
                            <img src="/img/conference/demo/03.jpg" alt="Sample image">
                        </a>
                    </figure>
                    <figure class="img-wrapper">
                        <a data-fancybox="conference-gallery" href="/img/conference/demo/04.jpg">
                            <img src="/img/conference/demo/04.jpg" alt="Sample image">
                        </a>
                    </figure>
                </div>
                <div>
                    <figure class="img-wrapper">
                        <a data-fancybox="conference-gallery" href="/img/conference/demo/05.jpg">
                            <img src="/img/conference/demo/05.jpg" alt="Sample image">
                        </a>
                    </figure>
                    <figure class="img-wrapper">
                        <a data-fancybox="conference-gallery" href="/img/conference/demo/06.jpg">
                            <img src="/img/conference/demo/06.jpg" alt="Sample image">
                        </a>
                    </figure>
                    <figure class="img-wrapper">
                        <a data-fancybox="conference-gallery" href="/img/conference/demo/07.jpg">
                            <img src="/img/conference/demo/07.jpg" alt="Sample image">
                        </a>
                    </figure>
                    <figure class="img-wrapper">
                        <a data-fancybox="conference-gallery" href="/img/conference/demo/08.jpg">
                            <img src="/img/conference/demo/08.jpg" alt="Sample image">
                        </a>
                    </figure>
                </div>
                <div>
                    <figure class="img-wrapper">
                        <a data-fancybox="conference-gallery" href="/img/conference/demo/09.jpg">
                            <img src="/img/conference/demo/09.jpg" alt="Sample image">
                        </a>
                    </figure>
                    <figure class="img-wrapper default">
                        <img src="/img/conference/demo/sample-gallery-default.jpg" alt="Sample image">
                    </figure>
                    <figure class="img-wrapper default">
                        <img src="/img/conference/demo/sample-gallery-default.jpg" alt="Sample image">
                    </figure>
                    <figure class="img-wrapper default">
                        <img src="/img/conference/demo/sample-gallery-default.jpg" alt="Sample image">
                    </figure>
                </div>
                <div>
                    <figure class="img-wrapper default">
                        <img src="/img/conference/demo/sample-gallery-default.jpg" alt="Sample image">
                    </figure>
                    <figure class="img-wrapper default">
                        <img src="/img/conference/demo/sample-gallery-default.jpg" alt="Sample image">
                    </figure>
                    <figure class="img-wrapper default">
                        <img src="/img/conference/demo/sample-gallery-default.jpg" alt="Sample image">
                    </figure>
                    <figure class="img-wrapper default">
                        <img src="/img/conference/demo/sample-gallery-default.jpg" alt="Sample image">
                    </figure>
                </div>
            </a-carousel>
        <h2 class="section-title">About</h2>
        <p class="lead">Webtwo ipsum orkut reddit meebo skype vimeo jajah spock empressr zimbra, mobly napster hipmunk prezi chartly bitly spock. Loopt twones meebo hipmunk, fleck xobni. Convore bebo rovio vimeo zanga handango blekko koofers, loopt twitter imvu flickr kaboodle chegg.</p>
    </section>
    <section>
        <h2 class="section-title">The History of the JPSG on Europol</h2>
        <h3 class="content-subtitle mb-2 mt-2">First section</h3>
        <p>Duis interdum tellus eu turpis maximus pellentesque. Donec cursus aliquam felis, facilisis faucibus libero blandit eget. Vestibulum luctus sapien eu lacinia pretium. Sed consectetur porttitor ex, vitae viverra mi condimentum at. Nunc sagittis, elit viverra varius tristique, nulla justo luctus augue, vitae pulvinar nunc dui quis sapien. Nulla nulla lectus, suscipit sed nunc tempus, blandit facilisis dui. Pellentesque in lorem quis augue interdum scelerisque. Morbi ullamcorper lectus ut semper condimentum. Maecenas porta, tortor ut tincidunt efficitur, urna est mattis mi, accumsan convallis orci nulla eu nulla. Vivamus urna lectus, varius at nisi in, tempus aliquam est. Nullam ornare nulla lorem, sit amet tempus turpis suscipit nec. Phasellus auctor, velit nec faucibus vestibulum, ligula justo scelerisque risus, sit amet ullamcorper nibh diam porta neque. Maecenas sed diam urna. Quisque tincidunt bibendum augue, in vestibulum augue aliquam vel. Quisque pulvinar et turpis ac malesuada. Nam tempus quam eget massa bibendum pretium.</p>
        <h3 class="content-subtitle mb-2">Second section</h3>
        <p>
        Vestibulum posuere posuere erat vel efficitur. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec eget efficitur justo, et blandit ex. In lobortis tortor ut sodales cursus. Nulla lacinia ac metus id mattis. Nulla egestas purus id turpis tincidunt auctor. In nunc ex, porta et blandit non, dignissim sit amet leo.</p>

        <p>
        Morbi gravida vulputate luctus. Vestibulum euismod varius risus sed molestie. Nullam molestie sagittis quam mattis pretium. Aenean sodales eleifend lectus et sodales. Aenean eu ligula tellus. Ut et nisl magna. Duis porta lacus vitae tincidunt vestibulum. Maecenas tincidunt in turpis ut feugiat. Nulla sit amet nisl eu sapien aliquam pulvinar. Suspendisse ut ligula dapibus, vehicula neque id, maximus nisi. Pellentesque bibendum odio id semper varius.</p>
        <h3 class="content-subtitle mb-2">Third section</h3>
        <p>
            Quisque nec convallis lacus, molestie tempor metus. Phasellus sagittis rutrum elementum. Sed efficitur urna turpis, id aliquam tortor pulvinar quis. Aenean at mauris ac arcu aliquam condimentum sit amet ut ipsum. Maecenas mollis fermentum tristique. Donec mollis nisi eu lacus dictum, in semper augue pulvinar. Nam libero nibh, pulvinar vitae dolor eget, ullamcorper molestie ex. Sed pulvinar magna vel ante condimentum porttitor. Morbi eget tellus non justo euismod faucibus at at tortor. In quis ante a velit venenatis aliquet ac quis neque. Integer at dolor dignissim, sollicitudin turpis ac, commodo quam. Nullam laoreet molestie tincidunt. Vestibulum semper nisl sed ligula egestas molestie.
        </p>
        <p>Vestibulum lacus odio, mattis sit amet fringilla in, sodales at augue. Nulla ornare mi ac justo vulputate tempus. Aenean consectetur orci id ultricies sollicitudin. Donec lacinia dui ultricies nisl tristique commodo. Aenean rhoncus, enim vitae semper maximus, velit purus volutpat nibh, non rhoncus mi eros non purus. Donec efficitur luctus est non efficitur. Etiam sit amet ex in erat lacinia ullamcorper. Proin dapibus, nulla id interdum aliquet, urna erat dictum velit, at tempus nisi enim eget libero. Vestibulum ac vestibulum arcu.</p>
    </section>
</div>
    
</template>

<script>
import ListOfFilesInline from "~/components/conferences/ListOfFilesInline"

export default {
    components: {
        ListOfFilesInline
    }
}
</script>

<style lang="scss" scoped>

</style>