<template>
<div class="bg-intro">
        <div class="container-regular d-flex flex-column">
            <div class="d-flex flex-column flex-md-row align-items-center mt-4"  data-toggle="collapse" href="#collapseIntro" role="button" aria-expanded="true" aria-controls="collapseIntro">
                <h1 class="flex-grow-1 text-center text-md-left my-3 m-md-0">{{title}}</h1>
                <button type="button" class="btn btn-only-icon"><i class="material-icons">keyboard_arrow_down</i></button>
            </div>
            <div class="collapse show" id="collapseIntro">
                <div class="d-flex align-items-start p-4 w-100 shadow-sm white-box mt-4 mb-3 flex-wrap flex-md-nowrap"> 
                    <div class="p-md-4">
                        <p class="lead pb-3">{{description}}</p>
                        <div class="alert alert-conference shadow-sm">
                            <strong>Next event:</strong><br/>
                            <span>{{nextevent}}</span>
                        </div>
                    </div>
                    <div class="featured-image mt-5 ml-md-5 mt-md-0">
                        <a data-fancybox="gallery" href="/img/conference/jpsg/jpsg.png">
                            <img src="/img/conference/jpsg/jpsg.png" alt="German Bundestag">
                            <i class="material-icons md-36">
                            zoom_in
                            </i>
                        </a>
                        <span class="legend">Joint Parliamentary Scrutiny Group (JPSG)</span>
                    </div>
                </div>
            </div>
            <ConferenceMenu/>
        </div>
    </div>
</template>

<script>
import ConferenceMenu from "~/components/conferences/ConferenceMenu";

export default {
  layout: "default",
  components: {
    ConferenceMenu
  },
  props: {
      title: String,
      description: String,
      nextevent: String
  }
}
</script>

<style lang="scss" scoped>

</style>