<template>
    <div class="container-regular flex-grow-1 ipx-content">
        <div class="tab-content" id="conferenceContent">
            <Home />
            <Meetings/>
            <About/>
        </div>
    </div>
</template>

<script>
import IpexWidget from "~/components/IpexWidget"
import Home from "~/components/conferences/Home"
import Meetings from "~/components/conferences/Meetings"
import About from "~/components/conferences/About"

export default {
  layout: "default",
  components: {
    Home,
    Meetings,
    About,
    IpexWidget
  },
  
  data() {
    return {

    }
  }
}
</script>

<style lang="scss" scoped>

</style>