<template>
    <div class="container-regular flex-grow-1 ipx-content">
        <div class="tab-content" id="conferenceContent">
            <HomeTheme/>
            <MeetingsTheme/>
            <AboutTheme/>
        </div>
    </div>
</template>

<script>
import IpexWidget from "~/components/IpexWidget"
import HomeTheme from "~/components/conferences/HomeTheme"
import MeetingsTheme from "~/components/conferences/MeetingsTheme"
import AboutTheme from "~/components/conferences/AboutTheme"

export default {
  layout: "default",
  components: {
    HomeTheme,
    MeetingsTheme,
    AboutTheme,
    IpexWidget
  },
  
  
}
</script>

<style lang="scss" scoped>

</style>