<template>
    <div class="container-regular flex-grow-1 ipx-content">
        <div class="tab-content" id="conferenceContent">
            <HomeJPSG/>
            <MeetingsJPSG/>
            <AboutJPSG/>
        </div>
    </div>
</template>

<script>
import IpexWidget from "~/components/IpexWidget"
import HomeJPSG from "~/components/conferences/HomeJPSG"
import MeetingsJPSG from "~/components/conferences/MeetingsJPSG"
import AboutJPSG from "~/components/conferences/AboutJPSG"

export default {
  layout: "default",
  components: {
    HomeJPSG,
    MeetingsJPSG,
    AboutJPSG,
    IpexWidget
  },
  
  data() {
    return {

    }
  }
}
</script>

<style lang="scss" scoped>

</style>