<template>
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
        <section class="d-none">
            <h2 class="section-title">Conference themes</h2>
            <div class="themes-gallery">
                <a data-fancybox="themes" href="/img/conference/demo/themes/theme-0.jpg">
                <img src="/img/conference/demo/themes/theme-0.jpg" alt="Conference theme thumbnail" >
                </a>
                <a data-fancybox="themes" href="/img/conference/demo/themes/theme-1.jpg">
                <img src="/img/conference/demo/themes/theme-1.jpg" alt="Conference theme thumbnail">
                </a>
                <a data-fancybox="themes" href="/img/conference/demo/themes/theme-2.jpg">
                <img src="/img/conference/demo/themes/theme-2.jpg" alt="Conference theme thumbnail">
                </a>
                <a data-fancybox="themes" href="/img/conference/demo/themes/theme-3.jpg">
                <img src="/img/conference/demo/themes/theme-3.jpg" alt="Conference theme thumbnail">
                </a>
                <a data-fancybox="themes" href="/img/conference/demo/themes/theme-4.jpg">
                <img src="/img/conference/demo/themes/theme-4.jpg" alt="Conference theme thumbnail">
                </a>
                <a data-fancybox="themes" href="/img/conference/demo/themes/theme-5.jpg">
                <img src="/img/conference/demo/themes/theme-5.jpg" alt="Conference theme thumbnail">
                </a>
                <a data-fancybox="themes" href="/img/conference/demo/themes/theme-6.jpg">
                <img src="/img/conference/demo/themes/theme-6.jpg" alt="Conference theme thumbnail">
                </a>
                <a data-fancybox="themes" href="/img/conference/demo/themes/theme-7.jpg">
                <img src="/img/conference/demo/themes/theme-7.jpg" alt="Conference theme thumbnail">
                </a>
                <a data-fancybox="themes" href="/img/conference/demo/themes/theme-8.jpg">
                <img src="/img/conference/demo/themes/theme-8.jpg" alt="Conference theme thumbnail">
                </a>
                <a data-fancybox="themes" href="/img/conference/demo/themes/theme-9.jpg">
                <img src="/img/conference/demo/themes/theme-9.jpg" alt="Conference theme thumbnail">
                </a>
                <a data-fancybox="themes" href="/img/conference/demo/themes/theme-10.jpg">
                <img src="/img/conference/demo/themes/theme-10.jpg" alt="Conference theme thumbnail">
                </a>
                <a data-fancybox="themes" href="/img/conference/demo/themes/theme-11.jpg">
                <img src="/img/conference/demo/themes/theme-11.jpg" alt="Conference theme thumbnail">
                </a>
                <a data-fancybox="themes" href="/img/conference/demo/themes/theme-12.jpg">
                <img src="/img/conference/demo/themes/theme-12.jpg" alt="Conference theme thumbnail">
                </a>
                <a data-fancybox="themes" href="/img/conference/demo/themes/theme-13.jpg">
                <img src="/img/conference/demo/themes/theme-13.jpg" alt="Conference theme thumbnail">
                </a>
            </div>
            
        </section>
        <section class="d-flex flex-column flex-md-row align-items-start text-center text-md-left">
            <figure class="has-zoom meeting-illu ml-md-5 order-md-1 mb-4 mb-md-0">
                <a data-fancybox="gallery" href="/img/conference/cosac/family.jpg">
                    <img src="/img/conference/cosac/family.jpg" alt="Sample image">
                    <i class="material-icons md-36">
                    zoom_in
                    </i>
                </a>
                <figcaption>This is a sample description of the image for this meeting.</figcaption>
            </figure>
            <div>
                <h2 class="section-title">Meeting title 2020</h2>
                <p class="lead">6th Joint Parliamentary Scrutiny Group (JPSG) on the European Union Agency for Law Enforcement Cooperation (Europol) Co-hosted and co-presided over by the Croatian Parliament and the European Parliament.</p>
            </div>
        </section>
        <section>
            <a-carousel arrows class="d-none custom-carousel custom-gallery-carousel" :afterChange="onChange">
                <div slot="prevArrow" slot-scope="props" class="custom-slick-arrow" style="left: 10px;zIndex: 1">
                    <a-icon type="left-circle" />
                </div>
                <div slot="nextArrow" slot-scope="props" class="custom-slick-arrow" style="right: 10px">
                    <a-icon type="right-circle" />
                </div>
                <div>
                    <figure class="img-wrapper">
                        <a data-fancybox="conference-gallery" href="/img/conference/demo/01.jpg">
                            <img src="/img/conference/demo/01.jpg" alt="Sample image">
                        </a>
                    </figure>
                    <figure class="img-wrapper">
                        <a data-fancybox="conference-gallery" href="/img/conference/demo/02.jpg">
                            <img src="/img/conference/demo/02.jpg" alt="Sample image">
                        </a>
                    </figure>
                    <figure class="img-wrapper">
                        <a data-fancybox="conference-gallery" href="/img/conference/demo/03.jpg">
                            <img src="/img/conference/demo/03.jpg" alt="Sample image">
                        </a>
                    </figure>
                    <figure class="img-wrapper">
                        <a data-fancybox="conference-gallery" href="/img/conference/demo/04.jpg">
                            <img src="/img/conference/demo/04.jpg" alt="Sample image">
                        </a>
                    </figure>
                </div>
                <div>
                    <figure class="img-wrapper">
                        <a data-fancybox="conference-gallery" href="/img/conference/demo/05.jpg">
                            <img src="/img/conference/demo/05.jpg" alt="Sample image">
                        </a>
                    </figure>
                    <figure class="img-wrapper">
                        <a data-fancybox="conference-gallery" href="/img/conference/demo/06.jpg">
                            <img src="/img/conference/demo/06.jpg" alt="Sample image">
                        </a>
                    </figure>
                    <figure class="img-wrapper">
                        <a data-fancybox="conference-gallery" href="/img/conference/demo/07.jpg">
                            <img src="/img/conference/demo/07.jpg" alt="Sample image">
                        </a>
                    </figure>
                    <figure class="img-wrapper">
                        <a data-fancybox="conference-gallery" href="/img/conference/demo/08.jpg">
                            <img src="/img/conference/demo/08.jpg" alt="Sample image">
                        </a>
                    </figure>
                </div>
                <div>
                    <figure class="img-wrapper">
                        <a data-fancybox="conference-gallery" href="/img/conference/demo/09.jpg">
                            <img src="/img/conference/demo/09.jpg" alt="Sample image">
                        </a>
                    </figure>
                    <figure class="img-wrapper default">
                        <img src="/img/conference/demo/sample-gallery-default.jpg" alt="Sample image">
                    </figure>
                    <figure class="img-wrapper default">
                        <img src="/img/conference/demo/sample-gallery-default.jpg" alt="Sample image">
                    </figure>
                    <figure class="img-wrapper default">
                        <img src="/img/conference/demo/sample-gallery-default.jpg" alt="Sample image">
                    </figure>
                </div>
                <div>
                    <figure class="img-wrapper default">
                        <img src="/img/conference/demo/sample-gallery-default.jpg" alt="Sample image">
                    </figure>
                    <figure class="img-wrapper default">
                        <img src="/img/conference/demo/sample-gallery-default.jpg" alt="Sample image">
                    </figure>
                    <figure class="img-wrapper default">
                        <img src="/img/conference/demo/sample-gallery-default.jpg" alt="Sample image">
                    </figure>
                    <figure class="img-wrapper default">
                        <img src="/img/conference/demo/sample-gallery-default.jpg" alt="Sample image">
                    </figure>
                </div>
            </a-carousel>
            <div class="collapsable-list-wrapper">
            <h3 class="list-title d-flex align-items-start justify-content-between mt-0" data-toggle="collapse" href="#test" role="button" aria-expanded="true">
                Joint Parliamentary Scrutiny Group (JPSG) on the European Union Agency for Law Enforcement Cooperation (Europol)
                <button type="button" class="btn btn-only-icon">
                    <i class="material-icons">keyboard_arrow_down</i>
                </button>
            </h3>
            <ul class="ipx-list-files justify-content-between collapse show" id="test">
                <li class="ipx-card-link-category">      
                    Agenda
                </li>
                <li class="ipx-card-link">      
                    <a href="#" class="ipx-link-title"><span class="file-type file-type-pdf">pdf</span>Invitation</a>
                    <div class="file-metas">
                        <div class="lang-tags">
                            <span>EN</span> +
                            <span>FR</span>
                        </div>
                        <span class="file-size">| 381 KB | 04/12/2018</span>
                    </div>
                </li>
                <li class="ipx-card-link">      
                    <a href="#" class="ipx-link-title"><span class="file-type file-type-doc">doc</span>Draft Programme EUSC (12.02.)</a>
                    <div class="file-metas">
                        <div class="lang-tags">
                            <span>EN</span> +
                            <span>FR</span>
                        </div>
                        <span class="file-size">| 381 KB | 04/12/2018</span>
                    </div>
                </li>
                <li class="ipx-card-link-category">      
                    Documents received from Europol
                </li>
                <li class="ipx-card-link">      
                    <a href="#" class="ipx-link-title"><span class="file-type file-type-pdf">pdf</span>Draft agenda Presidential troika</a>
                    <div class="file-metas">
                        <div class="lang-tags">
                            <span>EN</span> +
                            <span>FR</span>
                        </div>
                        <span class="file-size">| 381 KB | 04/12/2018</span>
                    </div>
                </li>
                <li class="ipx-card-link">      
                    <a href="#" class="ipx-link-title"><span class="file-type file-type-pdf">pdf</span>General Information EUSC</a>
                    <div class="file-metas">
                        <div class="lang-tags">
                            <span>EN</span> +
                            <span>FR</span>
                        </div>
                        <span class="file-size">| 381 KB | 04/12/2018</span>
                    </div>
                </li>
                <li class="ipx-card-link">      
                    <a href="#" class="ipx-link-title"><span class="file-type file-type-doc">doc</span>Conclusions on IPEX 2018</a>
                    <div class="file-metas">
                        <div class="lang-tags">
                            <span>EN</span> +
                            <span>FR</span>
                        </div>
                        <span class="file-size">| 381 KB | 04/12/2018</span>
                    </div>
                </li>
                <li class="ipx-card-link">      
                    <a href="#" class="ipx-link-title"><span class="file-type file-type-pdf">pdf</span>IPEX Statistical Report 2018 (23.01.)</a>
                    <div class="file-metas">
                        <div class="lang-tags">
                            <span>EN</span> +
                            <span>FR</span>
                        </div>
                        <span class="file-size">| 381 KB | 04/12/2018</span>
                    </div>
                </li>
                 <li class="ipx-card-link-category">      
                    Written contributions from delegations
                </li>
                <li class="ipx-card-link">      
                    <a href="#" class="ipx-link-title"><span class="file-type file-type-doc">doc</span>List of participants final EN, FR (30.01.)</a>
                    <div class="file-metas">
                        <div class="lang-tags">
                            <span>EN</span> +
                            <span>FR</span>
                        </div>
                        <span class="file-size">| 381 KB | 04/12/2018</span>
                    </div>
                </li>
                <li class="ipx-card-link">      
                    <a href="#" class="ipx-link-title"><span class="file-type file-type-pdf">pdf</span>Minutes of the Meeting of the Secretaries General of the European Union Parliaments (21.02.)</a>
                    <div class="file-metas">
                        <div class="lang-tags">
                            <span>EN</span> +
                            <span>FR</span>
                        </div>
                        <span class="file-size">| 381 KB | 04/12/2018</span>
                    </div>
                </li>
                <li class="ipx-card-link-category">      
                    Other relevant documents
                </li>
                <li class="ipx-card-link">      
                    <a href="#" class="ipx-link-title"><span class="file-type file-type-doc">doc</span>List of participants final EN, FR (30.01.)</a>
                    <div class="file-metas">
                        <div class="lang-tags">
                            <span>EN</span> +
                            <span>FR</span>
                        </div>
                        <span class="file-size">| 381 KB | 04/12/2018</span>
                    </div>
                </li>
            </ul>
        </div>
            <!--<ListOfFilesInline idcol="collapse1" titlecol="Joint Parliamentary Scrutiny Group (JPSG) on the European Union Agency for Law Enforcement Cooperation (Europol)"/>-->
           <div class="collapsable-list-wrapper">
            <h3 class="list-title d-flex align-items-start justify-content-between mt-0" data-toggle="collapse" href="#test2" role="button" aria-expanded="true" >
                JPSG on the European Union Agency for Law Enforcement Cooperation
                <button type="button" class="btn btn-only-icon">
                    <i class="material-icons">keyboard_arrow_down</i>
                </button>
            </h3>
            <ul class="ipx-list-files justify-content-between collapse show" id="test2">
                <li class="ipx-card-link-category">      
                    Agenda
                </li>
                <li class="ipx-card-link">      
                    <a href="#" class="ipx-link-title"><span class="file-type file-type-pdf">pdf</span>Invitation</a>
                    <div class="file-metas">
                        <div class="lang-tags">
                            <span>EN</span> +
                            <span>FR</span>
                        </div>
                        <span class="file-size">| 381 KB | 04/12/2018</span>
                    </div>
                </li>
                <li class="ipx-card-link">      
                    <a href="#" class="ipx-link-title"><span class="file-type file-type-doc">doc</span>Draft Programme EUSC (12.02.)</a>
                    <div class="file-metas">
                        <div class="lang-tags">
                            <span>EN</span> +
                            <span>FR</span>
                        </div>
                        <span class="file-size">| 381 KB | 04/12/2018</span>
                    </div>
                </li>
                <li class="ipx-card-link-category">      
                    Documents received from Europol
                </li>
                <li class="ipx-card-link">      
                    <a href="#" class="ipx-link-title"><span class="file-type file-type-pdf">pdf</span>Draft agenda Presidential troika</a>
                    <div class="file-metas">
                        <div class="lang-tags">
                            <span>EN</span> +
                            <span>FR</span>
                        </div>
                        <span class="file-size">| 381 KB | 04/12/2018</span>
                    </div>
                </li>
                <li class="ipx-card-link">      
                    <a href="#" class="ipx-link-title"><span class="file-type file-type-pdf">pdf</span>General Information EUSC</a>
                    <div class="file-metas">
                        <div class="lang-tags">
                            <span>EN</span> +
                            <span>FR</span>
                        </div>
                        <span class="file-size">| 381 KB | 04/12/2018</span>
                    </div>
                </li>
                <li class="ipx-card-link">      
                    <a href="#" class="ipx-link-title"><span class="file-type file-type-doc">doc</span>Conclusions on IPEX 2018</a>
                    <div class="file-metas">
                        <div class="lang-tags">
                            <span>EN</span> +
                            <span>FR</span>
                        </div>
                        <span class="file-size">| 381 KB | 04/12/2018</span>
                    </div>
                </li>
                <li class="ipx-card-link">      
                    <a href="#" class="ipx-link-title"><span class="file-type file-type-pdf">pdf</span>IPEX Statistical Report 2018 (23.01.)</a>
                    <div class="file-metas">
                        <div class="lang-tags">
                            <span>EN</span> +
                            <span>FR</span>
                        </div>
                        <span class="file-size">| 381 KB | 04/12/2018</span>
                    </div>
                </li>
                 <li class="ipx-card-link-category">      
                    Written contributions from delegations
                </li>
                <li class="ipx-card-link">      
                    <a href="#" class="ipx-link-title"><span class="file-type file-type-doc">doc</span>List of participants final EN, FR (30.01.)</a>
                    <div class="file-metas">
                        <div class="lang-tags">
                            <span>EN</span> +
                            <span>FR</span>
                        </div>
                        <span class="file-size">| 381 KB | 04/12/2018</span>
                    </div>
                </li>
                <li class="ipx-card-link">      
                    <a href="#" class="ipx-link-title"><span class="file-type file-type-pdf">pdf</span>Minutes of the Meeting of the Secretaries General of the European Union Parliaments (21.02.)</a>
                    <div class="file-metas">
                        <div class="lang-tags">
                            <span>EN</span> +
                            <span>FR</span>
                        </div>
                        <span class="file-size">| 381 KB | 04/12/2018</span>
                    </div>
                </li>
                <li class="ipx-card-link-category">      
                    Other relevant documents
                </li>
                <li class="ipx-card-link">      
                    <a href="#" class="ipx-link-title"><span class="file-type file-type-doc">doc</span>List of participants final EN, FR (30.01.)</a>
                    <div class="file-metas">
                        <div class="lang-tags">
                            <span>EN</span> +
                            <span>FR</span>
                        </div>
                        <span class="file-size">| 381 KB | 04/12/2018</span>
                    </div>
                </li>
            </ul>
        </div>
        </section>
    </div>
</template>

<script>
import ListOfFilesInline from "~/components/conferences/ListOfFilesInline"

export default {
    components: {
        ListOfFilesInline
    },
    methods: {
        onChange(a, b, c) {
        console.log(a, b, c);
      },
    }
}
</script>


