<template>
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
        <section class="d-flex flex-column flex-md-row align-items-start text-center text-md-left">
            <figure class="has-zoom meeting-illu ml-md-5 order-md-1 mb-4 mb-md-0">
                <a data-fancybox="gallery" href="/img/samples/sample.jpg">
                    <img src="/img/samples/sample.jpg" alt="Sample image">
                    <i class="material-icons md-36">
                    zoom_in
                    </i>
                </a>
                <figcaption>This is a sample description of the image for this meeting.</figcaption>
            </figure>
            <div class="flex-grow-1">
                <h2 class="section-title">Austria 2019</h2>
                <p class="lead">Webtwo ipsum orkut reddit meebo skype vimeo jajah spock empressr zimbra, mobly napster hipmunk prezi chartly bitly spock. Loopt twones meebo hipmunk, fleck xobni. Convore bebo rovio vimeo zanga handango blekko koofers, loopt twitter imvu flickr kaboodle chegg.</p>
            </div>
        </section>
        <section>
            <ListOfFilesInline idcol="collapse1" titlecol="Conference of the Speakers of European Union Parliaments - 8 - 9 April"/>
            <ListOfFilesInline idcol="collapse2" titlecol="Meeting of the Secretaries General of the European Union Parliaments - 27 - 28 January"/>
        </section>
    </div>
</template>

<script>
import ListOfFilesInline from "~/components/conferences/ListOfFilesInline"
    export default {
        components: {
            ListOfFilesInline
        }
    }
</script>

<style lang="scss" scoped>

</style>