<template>
        <div class="collapsable-list-wrapper">
            <h3 class="list-title d-flex align-items-start justify-content-between mt-0" data-toggle="collapse" :href="'#'+idcol" role="button" aria-expanded="true" :aria-controls="idcol">
                {{titlecol}}
                <button type="button" class="btn btn-only-icon">
                    <i class="material-icons">keyboard_arrow_down</i>
                </button>
            </h3>
            <ul class="ipx-list-files justify-content-between collapse show" :id="idcol">
                <li class="ipx-card-link">      
                    <a href="#" class="ipx-link-title"><span class="file-type file-type-pdf">pdf</span>Invitation</a>
                    <div class="file-metas">
                        <div class="lang-tags">
                            <span>EN</span> +
                            <span>FR</span>
                        </div>
                        <span class="file-size">| 381 KB | 04/12/2018</span>
                    </div>
                </li>
                <li class="ipx-card-link">      
                    <a href="#" class="ipx-link-title"><span class="file-type file-type-doc">doc</span>Draft Programme EUSC (12.02.)</a>
                    <div class="file-metas">
                        <div class="lang-tags">
                            <span>EN</span> +
                            <span>FR</span>
                        </div>
                        <span class="file-size">| 381 KB | 04/12/2018</span>
                    </div>
                </li>
                <li class="ipx-card-link">      
                    <a href="#" class="ipx-link-title"><span class="file-type file-type-pdf">pdf</span>Draft agenda Presidential troika</a>
                    <div class="file-metas">
                        <div class="lang-tags">
                            <span>EN</span> +
                            <span>FR</span>
                        </div>
                        <span class="file-size">| 381 KB | 04/12/2018</span>
                    </div>
                </li>
                <li class="ipx-card-link">      
                    <a href="#" class="ipx-link-title"><span class="file-type file-type-pdf">pdf</span>General Information EUSC</a>
                    <div class="file-metas">
                        <div class="lang-tags">
                            <span>EN</span> +
                            <span>FR</span>
                        </div>
                        <span class="file-size">| 381 KB | 04/12/2018</span>
                    </div>
                </li>
                <li class="ipx-card-link">      
                    <a href="#" class="ipx-link-title"><span class="file-type file-type-doc">doc</span>Conclusions on IPEX 2018</a>
                    <div class="file-metas">
                        <div class="lang-tags">
                            <span>EN</span> +
                            <span>FR</span>
                        </div>
                        <span class="file-size">| 381 KB | 04/12/2018</span>
                    </div>
                </li>
                <li class="ipx-card-link">      
                    <a href="#" class="ipx-link-title"><span class="file-type file-type-pdf">pdf</span>IPEX Statistical Report 2018 (23.01.)</a>
                    <div class="file-metas">
                        <div class="lang-tags">
                            <span>EN</span> +
                            <span>FR</span>
                        </div>
                        <span class="file-size">| 381 KB | 04/12/2018</span>
                    </div>
                </li>
                <li class="ipx-card-link">      
                    <a href="#" class="ipx-link-title"><span class="file-type file-type-doc">doc</span>List of participants final EN, FR (30.01.)</a>
                    <div class="file-metas">
                        <div class="lang-tags">
                            <span>EN</span> +
                            <span>FR</span>
                        </div>
                        <span class="file-size">| 381 KB | 04/12/2018</span>
                    </div>
                </li>
                <li class="ipx-card-link">      
                    <a href="#" class="ipx-link-title"><span class="file-type file-type-pdf">pdf</span>Minutes of the Meeting of the Secretaries General of the European Union Parliaments (21.02.)</a>
                    <div class="file-metas">
                        <div class="lang-tags">
                            <span>EN</span> +
                            <span>FR</span>
                        </div>
                        <span class="file-size">| 381 KB | 04/12/2018</span>
                    </div>
                </li>
            </ul>
        </div>
</template>

<script>
    export default {
        props: {
            idcol: String,
            titlecol: String
        }
    }
</script>

<style lang="scss" scoped>

</style>