<template>
    <section class="tab-pane fade" id="meetings" role="tabpanel" aria-labelledby="meetings-tab">
        

        <div class="conf-meetings-list d-none">
            <h2 class="section-title">Meetings</h2>
            <p class="lead mt-3 mb-5">Mobly napster hipmunk prezi chartly bitly spock. Loopt twones meebo hipmunk, fleck xobni. Convore bebo rovio vimeo zanga class="ipx-card-content p-2"handango blekko koofers, loopt twitter imvu flickr kaboodle chegg.</p>
            <div class="ipx-input-container ipx-input-container-large d-flex my-5">
                <input id="id" type="text" placeholder="Find a meeting" class="form-control ipx-input-large" autofocus>
            </div>
            <div class="ipx-card-list ipx-card-list-2col meetings-container">
                <div class="ipx-card ipx-img-card">
                    <a :click="meetingListShow = !meetingListShow" class="ipx-card-content p-2" href="#">
                        <img src="/img/ipx-icon-calendar.svg" alt="Folder" class=" ipx-card-thumb mini-thumb flex-grow-0 mr-3">
                        <h3 class="d-flex align-items-center flex-grow-1">Austria 2019</h3>
                    </a>
                </div>
                <div class="ipx-card ipx-img-card"><a class="ipx-card-content p-2">
                <img src="/img/ipx-icon-calendar.svg" alt="Folder" class=" ipx-card-thumb mini-thumb flex-grow-0 mr-3"><h3>
                Estonia 2018</h3></a></div>
                <div class="ipx-card ipx-img-card"><a class="ipx-card-content p-2" href="/IPEXL-WEB/euspeakers/getspeakers.do?id=082dbcc55898c90b01589abbb37500fa">
                <img src="/img/ipx-icon-calendar.svg" alt="Folder" class=" ipx-card-thumb mini-thumb flex-grow-0 mr-3"><h3>
                Slovakia 2017</h3></a></div>
                <div class="ipx-card ipx-img-card"><a class="ipx-card-content p-2" href="/IPEXL-WEB/euspeakers/getspeakers.do?id=082dbcc54d8d4eaf014d9095cb270339">
                <img src="/img/ipx-icon-calendar.svg" alt="Folder" class=" ipx-card-thumb mini-thumb flex-grow-0 mr-3"><h3>
                Luxembourg 2016</h3></a></div>
                <div class="ipx-card ipx-img-card"><a class="ipx-card-content p-2" href="/IPEXL-WEB/euspeakers/getspeakers.do?id=082dbcc54a393144014a4d75e8690dec">
                <img src="/img/ipx-icon-calendar.svg" alt="Folder" class=" ipx-card-thumb mini-thumb flex-grow-0 mr-3"><h3>
                Italy 2015</h3></a></div>
                <div class="ipx-card ipx-img-card"><a class="ipx-card-content p-2" href="/IPEXL-WEB/euspeakers/getspeakers.do?id=082dbcc541c6db4c0141cac040dc02ef">
                <img src="/img/ipx-icon-calendar.svg" alt="Folder" class=" ipx-card-thumb mini-thumb flex-grow-0 mr-3"><h3>
                Lithuania 2014</h3></a></div>
                <div class="ipx-card ipx-img-card"><a class="ipx-card-content p-2" href="/IPEXL-WEB/euspeakers/getspeakers.do?id=082dbcc53782a3ff0137bbfaafe71dbb">
                <img src="/img/ipx-icon-calendar.svg" alt="Folder" class=" ipx-card-thumb mini-thumb flex-grow-0 mr-3"><h3>
                Cyprus 2013</h3></a></div>
                <div class="ipx-card ipx-img-card"><a class="ipx-card-content p-2" href="/IPEXL-WEB/euspeakers/getspeakers.do?id=082dbcc530b1bef60130b6491e6c001d">
                <img src="/img/ipx-icon-calendar.svg" alt="Folder" class=" ipx-card-thumb mini-thumb flex-grow-0 mr-3"><h3>Poland 2012</h3></a></div>

                <div class="ipx-card ipx-img-card"><a class="ipx-card-content p-2" href="/IPEXL-WEB/euspeakers/getspeakers.do?id=082dbcc530b1bef60130b64f909f0023">
                <img src="/img/ipx-icon-calendar.svg" alt="Folder" class=" ipx-card-thumb mini-thumb flex-grow-0 mr-3"><h3>Belgium 2011</h3></a></div>

                <div class="ipx-card ipx-img-card"><a class="ipx-card-content p-2" href="/IPEXL-WEB/euspeakers/getspeakers.do?id=082dbcc530b1bef60130b6cd58140086">
                <img src="/img/ipx-icon-calendar.svg" alt="Folder" class=" ipx-card-thumb mini-thumb flex-grow-0 mr-3"><h3>
                Sweden 2010</h3></a></div>
                <div class="ipx-card ipx-img-card"><a class="ipx-card-content p-2" href="/IPEXL-WEB/euspeakers/getspeakers.do?id=082dbcc530b1bef60130b70fbbb100bb">
                <img src="/img/ipx-icon-calendar.svg" alt="Folder" class=" ipx-card-thumb mini-thumb flex-grow-0 mr-3"><h3>
                Extra Conference, Sweden 2009</h3></a></div>
                <div class="ipx-card ipx-img-card"><a class="ipx-card-content p-2" href="/IPEXL-WEB/euspeakers/getspeakers.do?id=082dbcc530c036e60130d0b8a0a41d0f">
                <img src="/img/ipx-icon-calendar.svg" alt="Folder" class=" ipx-card-thumb mini-thumb flex-grow-0 mr-3"><h3>
                France 2009</h3></a></div>
                <div class="ipx-card ipx-img-card"><a class="ipx-card-content p-2" href="/IPEXL-WEB/euspeakers/getspeakers.do?id=082dbcc530e432c20130e528aff20134">
                <img src="/img/ipx-icon-calendar.svg" alt="Folder" class=" ipx-card-thumb mini-thumb flex-grow-0 mr-3"><h3>
                Portugal 2008</h3></a></div>
                <div class="ipx-card ipx-img-card"><a class="ipx-card-content p-2" href="/IPEXL-WEB/euspeakers/getspeakers.do?id=082dbcc530e432c20130e5a38ebb024e">
                <img src="/img/ipx-icon-calendar.svg" alt="Folder" class=" ipx-card-thumb mini-thumb flex-grow-0 mr-3"><h3>
                Slovakia 2007</h3></a></div>
                <div class="ipx-card ipx-img-card"><a class="ipx-card-content p-2" href="/IPEXL-WEB/euspeakers/getspeakers.do?id=082dbcc530e432c20130e615b59d02f6">
                <img src="/img/ipx-icon-calendar.svg" alt="Folder" class=" ipx-card-thumb mini-thumb flex-grow-0 mr-3"><h3>
                Denmark 2006</h3></a></div>
                <div class="ipx-card ipx-img-card"><a class="ipx-card-content p-2" href="/IPEXL-WEB/euspeakers/getspeakers.do?id=082dbcc5316129480131942a651c195d">
                <img src="/img/ipx-icon-calendar.svg" alt="Folder" class=" ipx-card-thumb mini-thumb flex-grow-0 mr-3"><h3>
                Hungary 2005</h3></a></div>
                <div class="ipx-card ipx-img-card"><a class="ipx-card-content p-2" href="/IPEXL-WEB/euspeakers/getspeakers.do?id=082dbcc5319ee5f60131ae26c80b043c">
                <img src="/img/ipx-icon-calendar.svg" alt="Folder" class=" ipx-card-thumb mini-thumb flex-grow-0 mr-3"><h3>
                The Netherlands 2004</h3></a></div>
                <div class="ipx-card ipx-img-card"><a class="ipx-card-content p-2" href="/IPEXL-WEB/euspeakers/getspeakers.do?id=082dbcc5319ee5f60131ae2c4ab3044c">
                <img src="/img/ipx-icon-calendar.svg" alt="Folder" class=" ipx-card-thumb mini-thumb flex-grow-0 mr-3"><h3>
                Greece 2003</h3></a></div>
                <div class="ipx-card ipx-img-card"><a class="ipx-card-content p-2" href="/IPEXL-WEB/euspeakers/getspeakers.do?id=082dbcc5319ee5f60131ae3333a50464">
                <img src="/img/ipx-icon-calendar.svg" alt="Folder" class=" ipx-card-thumb mini-thumb flex-grow-0 mr-3"><h3>
                Spain 2002</h3></a></div>
                <div class="ipx-card ipx-img-card"><a class="ipx-card-content p-2" href="/IPEXL-WEB/euspeakers/getspeakers.do?id=082dbcc5319ee5f60131ae3b7f740480">
                <img src="/img/ipx-icon-calendar.svg" alt="Folder" class=" ipx-card-thumb mini-thumb flex-grow-0 mr-3"><h3>
                Sweden 2001</h3></a></div>
                <div class="ipx-card ipx-img-card"><a class="ipx-card-content p-2" href="/IPEXL-WEB/euspeakers/getspeakers.do?id=082dbcc5319ee5f60131ae42612204a0">
                <img src="/img/ipx-icon-calendar.svg" alt="Folder" class=" ipx-card-thumb mini-thumb flex-grow-0 mr-3"><h3>
                Italy 2000</h3></a></div>
                <div class="ipx-card ipx-img-card"><a class="ipx-card-content p-2" href="/IPEXL-WEB/euspeakers/getspeakers.do?id=082dbcc5319ee5f60131ae4af9e504cf">
                <img src="/img/ipx-icon-calendar.svg" alt="Folder" class=" ipx-card-thumb mini-thumb flex-grow-0 mr-3"><h3>France 2000</h3></a></div>
            </div>
        </div>
       
      
        <div class="collapsable-list-wrapper">
            <h2 class="section-title">
                Estonia 2018
                <a href="/lists/list-of-news" class="btn btn-action btn-white d-inline-flex align-items-center ml-3 pl-0" type="button"><i class="material-icons mx-2">keyboard_arrow_left</i>Back to list</a>
            </h2>
            <h3 class="list-title d-flex align-items-start justify-content-between mt-0" data-toggle="collapse" href="#test" role="button" aria-expanded="true" :aria-controls="test">
                Joint Parliamentary Scrutiny Group (JPSG) on the European Union Agency for Law Enforcement Cooperation (Europol)
                <button type="button" class="btn btn-only-icon">
                    <i class="material-icons">keyboard_arrow_down</i>
                </button>
            </h3>
            <ul class="ipx-list-files justify-content-between collapse show" id="test">
                <li class="ipx-card-link-category">      
                    Agenda
                </li>
                <li class="ipx-card-link">      
                    <a href="#" class="ipx-link-title"><span class="file-type file-type-pdf">pdf</span>Invitation</a>
                    <div class="file-metas">
                        <div class="lang-tags">
                            <span>EN</span> +
                            <span>FR</span>
                        </div>
                        <span class="file-size">| 381 KB | 04/12/2018</span>
                    </div>
                </li>
                <li class="ipx-card-link">      
                    <a href="#" class="ipx-link-title"><span class="file-type file-type-doc">doc</span>Draft Programme EUSC (12.02.)</a>
                    <div class="file-metas">
                        <div class="lang-tags">
                            <span>EN</span> +
                            <span>FR</span>
                        </div>
                        <span class="file-size">| 381 KB | 04/12/2018</span>
                    </div>
                </li>
                <li class="ipx-card-link-category">      
                    Documents received from Europol
                </li>
                <li class="ipx-card-link">      
                    <a href="#" class="ipx-link-title"><span class="file-type file-type-pdf">pdf</span>Draft agenda Presidential troika</a>
                    <div class="file-metas">
                        <div class="lang-tags">
                            <span>EN</span> +
                            <span>FR</span>
                        </div>
                        <span class="file-size">| 381 KB | 04/12/2018</span>
                    </div>
                </li>
                <li class="ipx-card-link">      
                    <a href="#" class="ipx-link-title"><span class="file-type file-type-pdf">pdf</span>General Information EUSC</a>
                    <div class="file-metas">
                        <div class="lang-tags">
                            <span>EN</span> +
                            <span>FR</span>
                        </div>
                        <span class="file-size">| 381 KB | 04/12/2018</span>
                    </div>
                </li>
                <li class="ipx-card-link">      
                    <a href="#" class="ipx-link-title"><span class="file-type file-type-doc">doc</span>Conclusions on IPEX 2018</a>
                    <div class="file-metas">
                        <div class="lang-tags">
                            <span>EN</span> +
                            <span>FR</span>
                        </div>
                        <span class="file-size">| 381 KB | 04/12/2018</span>
                    </div>
                </li>
                <li class="ipx-card-link">      
                    <a href="#" class="ipx-link-title"><span class="file-type file-type-pdf">pdf</span>IPEX Statistical Report 2018 (23.01.)</a>
                    <div class="file-metas">
                        <div class="lang-tags">
                            <span>EN</span> +
                            <span>FR</span>
                        </div>
                        <span class="file-size">| 381 KB | 04/12/2018</span>
                    </div>
                </li>
                 <li class="ipx-card-link-category">      
                    Written contributions from delegations
                </li>
                <li class="ipx-card-link">      
                    <a href="#" class="ipx-link-title"><span class="file-type file-type-doc">doc</span>List of participants final EN, FR (30.01.)</a>
                    <div class="file-metas">
                        <div class="lang-tags">
                            <span>EN</span> +
                            <span>FR</span>
                        </div>
                        <span class="file-size">| 381 KB | 04/12/2018</span>
                    </div>
                </li>
                <li class="ipx-card-link">      
                    <a href="#" class="ipx-link-title"><span class="file-type file-type-pdf">pdf</span>Minutes of the Meeting of the Secretaries General of the European Union Parliaments (21.02.)</a>
                    <div class="file-metas">
                        <div class="lang-tags">
                            <span>EN</span> +
                            <span>FR</span>
                        </div>
                        <span class="file-size">| 381 KB | 04/12/2018</span>
                    </div>
                </li>
                <li class="ipx-card-link-category">      
                    Other relevant documents
                </li>
                <li class="ipx-card-link">      
                    <a href="#" class="ipx-link-title"><span class="file-type file-type-doc">doc</span>List of participants final EN, FR (30.01.)</a>
                    <div class="file-metas">
                        <div class="lang-tags">
                            <span>EN</span> +
                            <span>FR</span>
                        </div>
                        <span class="file-size">| 381 KB | 04/12/2018</span>
                    </div>
                </li>
            </ul>
        </div>
            <!--<ListOfFilesInline idcol="collapse1" titlecol="Joint Parliamentary Scrutiny Group (JPSG) on the European Union Agency for Law Enforcement Cooperation (Europol)"/>-->
           <div class="collapsable-list-wrapper">
            <h3 class="list-title d-flex align-items-start justify-content-between mt-0" data-toggle="collapse" href="#test2" role="button" aria-expanded="true" :aria-controls="test2">
                JPSG on the European Union Agency for Law Enforcement Cooperation
                <button type="button" class="btn btn-only-icon">
                    <i class="material-icons">keyboard_arrow_down</i>
                </button>
            </h3>
            <ul class="ipx-list-files justify-content-between collapse show" id="test2">
                <li class="ipx-card-link-category">      
                    Agenda
                </li>
                <li class="ipx-card-link">      
                    <a href="#" class="ipx-link-title"><span class="file-type file-type-pdf">pdf</span>Invitation</a>
                    <div class="file-metas">
                        <div class="lang-tags">
                            <span>EN</span> +
                            <span>FR</span>
                        </div>
                        <span class="file-size">| 381 KB | 04/12/2018</span>
                    </div>
                </li>
                <li class="ipx-card-link">      
                    <a href="#" class="ipx-link-title"><span class="file-type file-type-doc">doc</span>Draft Programme EUSC (12.02.)</a>
                    <div class="file-metas">
                        <div class="lang-tags">
                            <span>EN</span> +
                            <span>FR</span>
                        </div>
                        <span class="file-size">| 381 KB | 04/12/2018</span>
                    </div>
                </li>
                <li class="ipx-card-link-category">      
                    Documents received from Europol
                </li>
                <li class="ipx-card-link">      
                    <a href="#" class="ipx-link-title"><span class="file-type file-type-pdf">pdf</span>Draft agenda Presidential troika</a>
                    <div class="file-metas">
                        <div class="lang-tags">
                            <span>EN</span> +
                            <span>FR</span>
                        </div>
                        <span class="file-size">| 381 KB | 04/12/2018</span>
                    </div>
                </li>
                <li class="ipx-card-link">      
                    <a href="#" class="ipx-link-title"><span class="file-type file-type-pdf">pdf</span>General Information EUSC</a>
                    <div class="file-metas">
                        <div class="lang-tags">
                            <span>EN</span> +
                            <span>FR</span>
                        </div>
                        <span class="file-size">| 381 KB | 04/12/2018</span>
                    </div>
                </li>
                <li class="ipx-card-link">      
                    <a href="#" class="ipx-link-title"><span class="file-type file-type-doc">doc</span>Conclusions on IPEX 2018</a>
                    <div class="file-metas">
                        <div class="lang-tags">
                            <span>EN</span> +
                            <span>FR</span>
                        </div>
                        <span class="file-size">| 381 KB | 04/12/2018</span>
                    </div>
                </li>
                <li class="ipx-card-link">      
                    <a href="#" class="ipx-link-title"><span class="file-type file-type-pdf">pdf</span>IPEX Statistical Report 2018 (23.01.)</a>
                    <div class="file-metas">
                        <div class="lang-tags">
                            <span>EN</span> +
                            <span>FR</span>
                        </div>
                        <span class="file-size">| 381 KB | 04/12/2018</span>
                    </div>
                </li>
                 <li class="ipx-card-link-category">      
                    Written contributions from delegations
                </li>
                <li class="ipx-card-link">      
                    <a href="#" class="ipx-link-title"><span class="file-type file-type-doc">doc</span>List of participants final EN, FR (30.01.)</a>
                    <div class="file-metas">
                        <div class="lang-tags">
                            <span>EN</span> +
                            <span>FR</span>
                        </div>
                        <span class="file-size">| 381 KB | 04/12/2018</span>
                    </div>
                </li>
                <li class="ipx-card-link">      
                    <a href="#" class="ipx-link-title"><span class="file-type file-type-pdf">pdf</span>Minutes of the Meeting of the Secretaries General of the European Union Parliaments (21.02.)</a>
                    <div class="file-metas">
                        <div class="lang-tags">
                            <span>EN</span> +
                            <span>FR</span>
                        </div>
                        <span class="file-size">| 381 KB | 04/12/2018</span>
                    </div>
                </li>
                <li class="ipx-card-link-category">      
                    Other relevant documents
                </li>
                <li class="ipx-card-link">      
                    <a href="#" class="ipx-link-title"><span class="file-type file-type-doc">doc</span>List of participants final EN, FR (30.01.)</a>
                    <div class="file-metas">
                        <div class="lang-tags">
                            <span>EN</span> +
                            <span>FR</span>
                        </div>
                        <span class="file-size">| 381 KB | 04/12/2018</span>
                    </div>
                </li>
            </ul>
           </div>
   
    </section>
</template>

<script>

    export default {
        components: {
           
        },
        
    }
</script>

<style lang="scss" scoped>

</style>