<template>
    <section class="tab-pane fade" id="meetings" role="tabpanel" aria-labelledby="meetings-tab">
        <h2 class="section-title">Meetings</h2>
        <p class="lead mt-3 mb-5">Mobly napster hipmunk prezi chartly bitly spock. Loopt twones meebo hipmunk, fleck xobni. Convore bebo rovio vimeo zanga class="ipx-card-content p-2"handango blekko koofers, loopt twitter imvu flickr kaboodle chegg.</p>
        <div class="ipx-input-container ipx-input-container-large d-flex my-5">
            <input id="id" type="text" placeholder="Find a meeting" class="form-control ipx-input-large" autofocus>
        </div>
        <div class="ipx-card-list ipx-card-list-2col meetings-container">
            <div class="ipx-card ipx-img-card">
                <a class="ipx-card-content p-2" href="#">
                    <img src="/img/ipx-icon-calendar.svg" alt="Folder" class=" ipx-card-thumb mini-thumb flex-grow-0 mr-3">
                    <h3 class="d-flex align-items-center flex-grow-1">Austria 2019</h3>
                </a>
            </div>
            <div class="ipx-card ipx-img-card"><a class="ipx-card-content p-2" href="/IPEXL-WEB/euspeakers/getspeakers.do?id=082dbcc55d1a225d015d1bfe7cce00ed">
            <img src="/img/ipx-icon-calendar.svg" alt="Folder" class=" ipx-card-thumb mini-thumb flex-grow-0 mr-3"><h3>
            Croatia 2020</h3></a></div>
            <div class="ipx-card ipx-img-card"><a class="ipx-card-content p-2" href="/IPEXL-WEB/euspeakers/getspeakers.do?id=082dbcc55898c90b01589abbb37500fa">
            <img src="/img/ipx-icon-calendar.svg" alt="Folder" class=" ipx-card-thumb mini-thumb flex-grow-0 mr-3"><h3>
            Slovakia 2017</h3></a></div>
            <div class="ipx-card ipx-img-card"><a class="ipx-card-content p-2" href="/IPEXL-WEB/euspeakers/getspeakers.do?id=082dbcc54d8d4eaf014d9095cb270339">
            <img src="/img/ipx-icon-calendar.svg" alt="Folder" class=" ipx-card-thumb mini-thumb flex-grow-0 mr-3"><h3>
            Luxembourg 2016</h3></a></div>
        </div>
    </section>
</template>

<script>

    export default {
    }
</script>

<style lang="scss" scoped>

</style>