<template>
    <section class="tab-pane fade" id="meetings" role="tabpanel" aria-labelledby="meetings-tab">
        <h2 class="section-title">Meetings</h2>
        <p class="lead mt-3 mb-5">Mobly napster hipmunk prezi chartly bitly spock. Loopt twones meebo hipmunk, fleck xobni. Convore bebo rovio vimeo zanga class="ipx-card-content p-2"handango blekko koofers, loopt twitter imvu flickr kaboodle chegg.</p>
        <div class="ipx-input-container ipx-input-container-large d-flex my-5">
            <input id="id" type="text" placeholder="Find a meeting" class="form-control ipx-input-large" autofocus>
        </div>
        <div class="ipx-card-list ipx-card-list-2col meetings-container">
            <div class="ipx-card ipx-img-card">
                <a class="ipx-card-content p-2" href="#">
                    <img src="/img/ipx-icon-calendar.svg" alt="Folder" class=" ipx-card-thumb mini-thumb flex-grow-0 mr-3">
                    <h3 class="d-flex align-items-center flex-grow-1">Austria 2019</h3>
                </a>
            </div>
            <div class="ipx-card ipx-img-card"><a class="ipx-card-content p-2" href="/IPEXL-WEB/euspeakers/getspeakers.do?id=082dbcc55d1a225d015d1bfe7cce00ed">
            <img src="/img/ipx-icon-calendar.svg" alt="Folder" class=" ipx-card-thumb mini-thumb flex-grow-0 mr-3"><h3>
            Estonia 2018</h3></a></div>
            <div class="ipx-card ipx-img-card"><a class="ipx-card-content p-2" href="/IPEXL-WEB/euspeakers/getspeakers.do?id=082dbcc55898c90b01589abbb37500fa">
            <img src="/img/ipx-icon-calendar.svg" alt="Folder" class=" ipx-card-thumb mini-thumb flex-grow-0 mr-3"><h3>
            Slovakia 2017</h3></a></div>
            <div class="ipx-card ipx-img-card"><a class="ipx-card-content p-2" href="/IPEXL-WEB/euspeakers/getspeakers.do?id=082dbcc54d8d4eaf014d9095cb270339">
            <img src="/img/ipx-icon-calendar.svg" alt="Folder" class=" ipx-card-thumb mini-thumb flex-grow-0 mr-3"><h3>
            Luxembourg 2016</h3></a></div>
            <div class="ipx-card ipx-img-card"><a class="ipx-card-content p-2" href="/IPEXL-WEB/euspeakers/getspeakers.do?id=082dbcc54a393144014a4d75e8690dec">
            <img src="/img/ipx-icon-calendar.svg" alt="Folder" class=" ipx-card-thumb mini-thumb flex-grow-0 mr-3"><h3>
            Italy 2015</h3></a></div>
            <div class="ipx-card ipx-img-card"><a class="ipx-card-content p-2" href="/IPEXL-WEB/euspeakers/getspeakers.do?id=082dbcc541c6db4c0141cac040dc02ef">
            <img src="/img/ipx-icon-calendar.svg" alt="Folder" class=" ipx-card-thumb mini-thumb flex-grow-0 mr-3"><h3>
            Lithuania 2014</h3></a></div>
            <div class="ipx-card ipx-img-card"><a class="ipx-card-content p-2" href="/IPEXL-WEB/euspeakers/getspeakers.do?id=082dbcc53782a3ff0137bbfaafe71dbb">
            <img src="/img/ipx-icon-calendar.svg" alt="Folder" class=" ipx-card-thumb mini-thumb flex-grow-0 mr-3"><h3>
            Cyprus 2013</h3></a></div>
            <div class="ipx-card ipx-img-card"><a class="ipx-card-content p-2" href="/IPEXL-WEB/euspeakers/getspeakers.do?id=082dbcc530b1bef60130b6491e6c001d">
            <img src="/img/ipx-icon-calendar.svg" alt="Folder" class=" ipx-card-thumb mini-thumb flex-grow-0 mr-3"><h3>Poland 2012</h3></a></div>

            <div class="ipx-card ipx-img-card"><a class="ipx-card-content p-2" href="/IPEXL-WEB/euspeakers/getspeakers.do?id=082dbcc530b1bef60130b64f909f0023">
            <img src="/img/ipx-icon-calendar.svg" alt="Folder" class=" ipx-card-thumb mini-thumb flex-grow-0 mr-3"><h3>Belgium 2011</h3></a></div>

            <div class="ipx-card ipx-img-card"><a class="ipx-card-content p-2" href="/IPEXL-WEB/euspeakers/getspeakers.do?id=082dbcc530b1bef60130b6cd58140086">
            <img src="/img/ipx-icon-calendar.svg" alt="Folder" class=" ipx-card-thumb mini-thumb flex-grow-0 mr-3"><h3>
            Sweden 2010</h3></a></div>
            <div class="ipx-card ipx-img-card"><a class="ipx-card-content p-2" href="/IPEXL-WEB/euspeakers/getspeakers.do?id=082dbcc530b1bef60130b70fbbb100bb">
            <img src="/img/ipx-icon-calendar.svg" alt="Folder" class=" ipx-card-thumb mini-thumb flex-grow-0 mr-3"><h3>
            Extra Conference, Sweden 2009</h3></a></div>
            <div class="ipx-card ipx-img-card"><a class="ipx-card-content p-2" href="/IPEXL-WEB/euspeakers/getspeakers.do?id=082dbcc530c036e60130d0b8a0a41d0f">
            <img src="/img/ipx-icon-calendar.svg" alt="Folder" class=" ipx-card-thumb mini-thumb flex-grow-0 mr-3"><h3>
            France 2009</h3></a></div>
            <div class="ipx-card ipx-img-card"><a class="ipx-card-content p-2" href="/IPEXL-WEB/euspeakers/getspeakers.do?id=082dbcc530e432c20130e528aff20134">
            <img src="/img/ipx-icon-calendar.svg" alt="Folder" class=" ipx-card-thumb mini-thumb flex-grow-0 mr-3"><h3>
            Portugal 2008</h3></a></div>
            <div class="ipx-card ipx-img-card"><a class="ipx-card-content p-2" href="/IPEXL-WEB/euspeakers/getspeakers.do?id=082dbcc530e432c20130e5a38ebb024e">
            <img src="/img/ipx-icon-calendar.svg" alt="Folder" class=" ipx-card-thumb mini-thumb flex-grow-0 mr-3"><h3>
            Slovakia 2007</h3></a></div>
            <div class="ipx-card ipx-img-card"><a class="ipx-card-content p-2" href="/IPEXL-WEB/euspeakers/getspeakers.do?id=082dbcc530e432c20130e615b59d02f6">
            <img src="/img/ipx-icon-calendar.svg" alt="Folder" class=" ipx-card-thumb mini-thumb flex-grow-0 mr-3"><h3>
            Denmark 2006</h3></a></div>
            <div class="ipx-card ipx-img-card"><a class="ipx-card-content p-2" href="/IPEXL-WEB/euspeakers/getspeakers.do?id=082dbcc5316129480131942a651c195d">
            <img src="/img/ipx-icon-calendar.svg" alt="Folder" class=" ipx-card-thumb mini-thumb flex-grow-0 mr-3"><h3>
            Hungary 2005</h3></a></div>
        </div>
    </section>
</template>

<script>

    export default {
    }
</script>

<style lang="scss" scoped>

</style>