/*  ANT REDESIGN */
app-top-navbar {
  background: @basedark;
}
.ant-custom {
  .ant-select-dropdown-menu-item {}
  .ant-select {
    .ant-select-selection-selected-value {
      //color:black !important;
    }
  }
  .ant-select-dropdown-menu {
    padding:0;
    .ant-select-dropdown-menu-item {
      padding:.6rem 1rem !important;
      color:black !important;
      &.ant-select-dropdown-menu-item-selected {
        color:@baseflash !important;
        background:#f1f1f1 !important;
        &:hover {
          color:@baseflash !important;
          background:#f1f1f1 !important;
        }
      }
      &:hover,
      &.ant-select-dropdown-menu-item-active {
        color:@baseflash !important;
        background:none !important;
      }
      &:first-child {
        
      }
      &:last-child {
        
      }
    }
  }
}


/* //////////////////////////////////////////// */
/*  TOOLTIPS */
/* //////////////////////////////////////////// */
.ipx-tooltip {
  &.ant-tooltip {
   // max-width: 180px;
    &:hover {
      text-decoration:none !important;
    }
    .ant-tooltip-inner {
      background:white;
      color:#000000;
      font-size:.9rem;
      text-align: center;
      padding:.75rem;
      box-shadow: 0 4px 8px rgba(0,0,0,.15);
    }
    .ant-tooltip-arrow {
      //border-top-color: white;
      &::before {
        background-color: white !important;
      }
    }
  }
  &.ipx-tooltip-align-left {
    .ant-tooltip-inner {
      text-align:left;
      h5 {
        padding-top:0;
        margin-bottom:.5rem;
        font-size:1rem;
        font-weight:600;
      }
    }
  }
}
.ant-tooltip-placement-top .ant-tooltip-arrow, .ant-tooltip-placement-topLeft .ant-tooltip-arrow, .ant-tooltip-placement-topRight .ant-tooltip-arrow {
  border-top-color: white !important;
}

/* //////////////////////////////////////////// */
/*  BUTTONS */
/* //////////////////////////////////////////// */

.section-ipex,
.ipx-drawer,
.ipex-modal,
.ant-modal-custom .ant-modal {
  .ant-btn {
    display: inline-flex;
    display: -ms-inline-flexbox !important;
    -ms-flex-align: center !important;
    align-items: center !important;
    position: relative;
    height: auto;
    padding: 0.4rem 1rem;
    border-radius: 3rem;
    border: none;
    background-color: @gray3;
    color: #111111;
    background-image: none;
    box-shadow: none;
    font-size: 0.95rem;
    text-transform: uppercase;
    line-height: 1.5;
    text-align: center;
    vertical-align: middle;
    &.active,
    &:active,
    &:focus,
    &:hover {
      border-color: #40a9ff;
      background-color: #fff;
      color: #111111;
      text-decoration: none;
    }
    &.ant-btn-primary {
      background-color: @baseflash;
      box-shadow: none;
      color: #fff;
      text-shadow: none;
      &:focus,
      &:hover {
        border-color: @baseflash;
        background-color: @baseflash;
        background: @baseflash;
        color: #fff;
      }
    }
  }
  .ant-tag {
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    height: 28px;
    margin: 0 0.5rem 0.5rem 0;
    padding: 0 0.75rem;
    border: 2px solid @gray3;
    border-radius: 2rem;
    background: #ffffff;
    color: #000000;
    font-size: 0.85rem;
  }
}

.section-ipex,
.ipx-drawer {
  .ant-dropdown-menu {
    border-radius: 0.75rem;
  }
  .ant-dropdown-menu-item,
  .ant-dropdown-menu-submenu-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.55rem 0.75rem;
    color: #000000;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    white-space: nowrap;
    cursor: pointer;
    transition: all 0.3s;
    &:first-child {
      padding-top: 0.75rem;
    }
    &:last-child {
      padding-bottom: 0.75rem;
    }
    &:hover {
      color: @baseflash;
      background: white;
      .count {
        color: @baseflash;
      }
    }
    .count {
      flex-grow: 1;
      display: flex;
      justify-content: flex-end;
      margin-left: 2rem;
      color: #000000;
    }
  }
}

/* //////////////////////////////////////////// */
/*  MODAL */
/* //////////////////////////////////////////// */
/*
.ant-modal {
  &.ant-modal-custom {
    width:700px !important;
    max-width:90vw;
    .ant-modal-header {
      padding: 2rem 2rem 1rem;
      border-bottom: none;
      border-radius: .5rem .5rem 0 0;
      background: #fff;
      color: rgba(0,0,0,.65);
    }
    .ant-modal-title {
      margin: 0;
      color: rgba(0,0,0,.85);
      font-size: 1.2rem;
      font-weight: 700;
      line-height: 22px;
      text-transform: uppercase;
    }
    .ant-modal-body {
      word-wrap: break-word;
      padding: 0.5rem 2rem;
      font-size: 1rem;
      line-height: inherit;
      color:#000;
    }
    .ant-modal-content {
      border-radius: .5rem;
    }
    .ant-modal-footer {
      padding: 2rem;
      font-size: 1rem;
      border-top: none;
      color:#000;
    }
  }
}
*/
.ant-modal-custom {
  .ant-modal {
    width:700px !important;
    max-width:90vw;
    .ant-modal-header {
      padding: 2rem 2rem 1rem;
      border-bottom: none;
      border-radius: .5rem .5rem 0 0;
      background: #fff;
      color: rgba(0,0,0,.65);
    }
    .ant-modal-title {
      margin: 0;
      color: rgba(0,0,0,.85);
      font-size: 1.2rem;
      font-weight: 700;
      line-height: 22px;
      text-transform: uppercase;
    }
    .ant-modal-body {
      word-wrap: break-word;
      padding: 0.5rem 2rem;
      font-size: 1rem;
      line-height: inherit;
      color:#000;
    }
    .ant-modal-content {
      border-radius: .5rem;
    }
    .ant-modal-footer {
      padding: 2rem;
      font-size: 1rem;
      border-top: none;
      color:#000;
    }
  }
}

/* //////////////////////////////////////////// */
/*  ANT DRAWERS */
/* //////////////////////////////////////////// */

/* //////////////////////////////////////////// */
/*  ANT COLLAPSES */
/* //////////////////////////////////////////// */
.section-ipex {
  .ant-collapse {
    border: none;
    background:none;
    > .ant-collapse-item {
      > .ant-collapse-header {
        display:flex;
        padding-left:0;
        i {
          order:1;
          margin-left:auto;
        }
      }
    }
  }
  .ant-collapse-content {
    > .ant-collapse-content-box {
      padding-left:0;
      padding-right:0;
    }
  }
  app-refine-search {
    width:100%;
  }
}
.visual-layout {
  .ipx-content {
    .ant-collapse {
      > .ant-collapse-item {
        border-bottom: none;
        border-radius:0 !important;
      }
    }
    .ant-collapse-header {
      font-weight:600;
      font-size:1rem;
      display:flex;
      align-items:center;
      justify-content:space-between;
      min-width:100%;
      border-bottom: 1px solid #000;
      border-radius:0 !important;
      &:hover {
        .anticon {
          padding: .5rem;
          background: @gray1;
          color:#000;
          transition:all ease .25s;
          &:hover {
            background: darken(@gray1,5%);
          }
        }
      }
      .anticon {
        margin-left: 1.5rem !important;
        padding: .5rem;
        color:#000;
        background: @gray2;
        border-radius: 10rem;
        transition:all ease .25s;
      }
    }
    .ant-collapse-content {
      border-top: none;
    }
  }
}

.custom-carousel {
  &.ant-carousel {
    margin-bottom:3rem;
    .custom-slick-arrow {
      width: 36px;
      height: 36px;
      font-size: 36px;
      color: #fff;
      background-color: #222;
      background-color: @basedark;
      border-radius:60px;
      opacity: .6;
      transition: all ease .2s;
      border:none;
      &:before {
        display: none;
      }
      &:hover {
        opacity: 1;
      }
    }
    .slick-next {
      right:-18px !important;
    }
    .slick-prev {
      left:-18px !important;
    }
    .slick-dots {
      display:none !important;
    }
    &.custom-gallery-carousel {
      .slick-slide {
        div {
          div {
            display:flex !important;
            justify-content: space-between;
            align-items:center;
            flex-wrap:wrap;
            .img-wrapper {
              display: flex;
              width:calc(25% - .75rem);
              max-height:150px;
              min-height:150px;
              border-radius:4px;
              margin-top:.75rem;
              margin-bottom: 0;
              background:@base;
              overflow:hidden;
              &.default {
                background:none;
                img {
                  opacity:1;
                  &:hover {
                    cursor:default;
                  }
                }
              }
              @media @md-down {
                width:calc(50% - .375rem);
                max-height:200px;
              }
              @media @sm-down {
                width:calc(50% - .375rem);
                max-height:150px;
              }
              img {
                opacity:.8;
                min-height:150px;
                object-fit: cover;
                object-position: 50% 50%;
                border-radius:4px;
                transition: all ease .2s;
                &:hover {
                  opacity:1;
                  cursor:pointer;
                }
              }
            }
          }
        }
      }
    }
  }
}