.container-backoffice {
  width: 100vw;
  max-width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  @media screen and (min-width: 1441px) {
    width: @xxl;
  }
  @media screen and (min-width: 1000px) and (max-width: 1441px) {
    width: 100%;
  }
}
.manager-block {
  border: 1px solid rgba(110, 110, 110, 0.36);
  border-radius: 12px;
  display: inline-flex;
  flex-flow: column wrap;

  width: 30%;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2.5rem 1.5em;
  margin: 0.5rem;
  @media @sm-down {
    width: 45%;
  }
  &:hover {
    cursor: pointer;
    //color: #fff;
    border-color: @primary-color;
    background-color: #f7f7f7;
  }
  img {
    // max-width: 80px;
    max-height: 50px;
    margin-bottom: 2rem;
  }
  i.anticon {
    font-size: 2.8em;
    margin-bottom: 2rem;
  }
}
.dashboard {
  app-manager-item {
    display: flex;
    flex: 0 0 33.33%;
    .manager-block {
      width: 100%;
      margin: 0px;
      margin-right: 0.5rem;
      margin-bottom: 0.5rem;
    }
  }
}

.appSelector {
  display: flex;
  flex-wrap: wrap;
  .ant-checkbox-wrapper + .ant-checkbox-wrapper {
    margin-left: 0px;
  }
  label {
    width: 50px;
    display: flex;
    flex: 0 0 33.333%;
  }
}
.highlights-summary {
  .ant-tabs-ink-bar {
    //background-color: #343746;
  }

  .ant-tabs-nav {
    .ant-tabs-tab {
      border-right: 1px solid #6e6e6e;
      border-left: 1px solid #6e6e6e;
      border-top: 1px solid #6e6e6e;
      margin: 0 6px 0 0;
      font-size: 0.85em;
      //color: lighten(@primary-color, 50%);
      &.ant-tabs-tab-active {
        border-bottom: none;
      }
    }
  }
  .ant-tabs-tabpane {
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    max-height: 203px;
    padding-top: 2rem;
    p {
      margin-bottom: 0;
    }
    & > * {
      flex: 1 1 8px;
    }
  }
}

.data-block {
  text-align: center;
  border-right: 1px solid rgba(110, 110, 110, 0.36);
  &:last-child {
    border-right: none;
  }
  h1 {
    font-weight: 300;
  }
}

.doc-icon {
  width: 12px;
}

.new-container-search {
  .manager-block {
    width: 49%;
    margin: 0px;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
  }
}

.all-apps {
  display: inline-flex;
  justify-content: space-between;
  flex-wrap: wrap;
  .manager-block {
    width: 32%;
    margin: 0px;
    margin-bottom: 1rem;
    border-radius: 0.25rem;
    border: 1px solid rgba(0, 0, 0, 0.125);
    &.disabled {
      cursor: no-drop;
    }
  }
  .card {
    width: 100%;
    ul {
      padding-left: 0;
      li {
        list-style: none;
      }
    }
  }
}
