.ipx-title-wrapper {
  display:flex;
  flex-direction:column;
  .ipx-card-title {
    display:flex;
    h3 {
      flex-grow:1;
      + .ipx-tag {
        margin-left:.5rem;
      }
    }
  }
  .ipx-tags {
    display:flex;
    margin:.5rem 0 1rem;
  }
}

/* ////////////////////////////////////////////////////////// */
/* HOME DATEPICKER */
/* ////////////////////////////////////////////////////////// */

.ipx-datepicker {
  background: none !important;
  padding: 0 !important;
  padding-right: 2rem !important;
  width:100%;
  padding:0 !important;
  .mat-calendar {
    width:100%;
    padding:1rem 0 0 .5rem;
  }
}
.mat-calendar-table-header {
  th {
    font-weight: 300 !important;
    font-size: 0.75rem !important;
    color: #111 !important;
  }
}
.mat-calendar-controls {
  display: flex !important;
  padding: 0 !important;
  margin: 0 !important;
  margin-bottom: 0.5rem !important;
  button {
    border-radius: 10rem !important;
    color: #000 !important;
    border: 2px solid #f1f1f1 !important;
    background: none !important;
    padding: 0 0.75rem !important;
    transition: all ease 0.3s !important;
    &:hover {
      border-color: #ddd !important;
    }
  }
}
.mat-calendar-period-button {
  padding: 0 0.75rem !important;
}
.mat-calendar-next-button {
  margin-left:.25rem;
}
.mat-calendar-body-cell-content {
  border: none !important;
}
.example-custom-date-class {
  background: #308dca !important;
  color: white !important;
  border-radius: 100% !important;
}
.mat-button-wrapper {
  border-radius: 10rem !important;
  padding: 0 !important;
}
.mat-calendar-arrow {
  margin-left: 0.5rem !important;
  transform: rotate(0deg) !important;
}
.mat-calendar-body-label {
  font-weight: 700 !important;
}
.mat-icon-button {
  width: 42px !important;
  height: 42px !important;
  line-height: 42px !important;
}

/* ////////////////////////////////////////////////////////// */
/* SLIDING KEYWORDS */
/* ////////////////////////////////////////////////////////// */

.sliding-keywords {
  display: flex;
  max-width: 100%;
  /*width:500px;*/
  //overflow-x: auto;
  //overflow-y: hidden;
  margin: 0 0.5rem;
  -webkit-overflow-scrolling: touch;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  @media @sm-up {
    margin: 0;
  }
}

.sliding-keywords .btn {
  flex-shrink: 0;
  margin-bottom: 8px;
  scroll-snap-align: start;
  //transition:all ease .2s;
  &:hover {
    color: @baseflashlight;
    // transform: scale(1.025);
  }
  font-weight: 600;
  font-size: 0.85rem;
  border-right: 1px solid #e5e5e5;
  border-radius: 0;
  color: #444;
  &:last-child {
    border-right: none;
  }
}

.home-view-more {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-top: 1rem;
  @media @sm-down {
    justify-content: center;
  }
}

/* ////////////////////////////////////////////////////////// */
/* HOMEBLOCKS */
/* ////////////////////////////////////////////////////////// */

.home-map {
  background: @gray3 url("../../assets/img/map-europe-3.svg");
  background-repeat: no-repeat;
  background-position: 101% 0;
  background-size: contain;
}
.homeblock {
  padding-top: 3rem;
  border-bottom: 1px solid @gray1;
  /*.ipx-tag {
    font-size: 0;
    padding: 0;
    height: 8px;
    width: 8px;
  }*/
}
.container-home-share {
  .ipx-thumb-large {
    width: 200px;
    max-width: 200px;
    margin-right: 3rem;
    flex-shrink: 0;
  }
  .homeblock-title {
    .is-share {
      -ms-flex-pack: center;
      -ms-flex-align: center;
      display: -ms-flexbox;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 28px;
      height: 28px;
      margin-right: 0.5rem;
      border-radius: 2rem;
      color: white;
      background: @base url("../../assets/icons/ipx-icon-home-share.svg");
      background-size: 12px;
      background-repeat: no-repeat;
      background-position: center;
      @media @sm-down {
        width: 70px;
        height: 70px;
        border-radius: 100px;
        background-size: 28px;
      }
    }
    h2 {
      @media @md-up {
        font-size: 1.4rem;
        font-weight: 300;
      }
    }
  }
  a {
    &:hover {
      text-decoration: none;
    }
  }
  .large-title {
    font-size: 2.2rem;
    line-height: 2.8rem;
    color: @base;
  }
  .badge {
    display: inline-flex;
    background: @gray1;
    padding: 0.45em 0.7em;
    margin-right: 0.4rem;
    border-radius: 0.3rem;
    font-size: 1rem;
    font-weight: 300;
    /*&:hover {
          background:darken(@gray1,4%);
      }*/
  }
  .carousel-control-prev,
  .carousel-control-next {
    width: 1rem;
    opacity: 0.85;
    transition: opacity 0.3s ease;
    .btn {
      background: #bbb;
    }
    &:hover {
      .btn {
        background: #999;
      }
    }
  }
  .btn-disc {
    width: 48px;
    height: 48px;
    background: #999;
    .material-icons {
      font-size: 36px;
      color: white;
    }
  }
}

.homeblock-title {
  display: flex;
  align-items: center;
  + .carousel {
    margin-top: 1.5rem;
  }
  h2 {
    margin: 0;
    padding: 0;
    color: @base;
    font-size: 1.75rem;
    font-weight: 300;
  }
  .is-share,
  .is-important,
  .is-high,
  .is-calendar,
  .is-news {
    background: @gray3;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: @border-radius-xl;
    margin-right: 0.75rem;
    @media @sm-down {
      width: 70px;
      height: 70px;
      border-radius: @border-radius-xl*2;
    }
  }
  .is-share {
    color: white;
    //background:@base url(/assets/icons/ipx-icon-home-share.svg);
    background: @base url("../../assets/icons/ipx-icon-home-share.svg");
    background-size: 18px;
    background-repeat: no-repeat;
    background-position: center;
    @media @sm-down {
      background-size: 28px;
    }
  }
  .is-important {
    color: white;
    //background:@baseflash url(/assets/icons/ipx-icon-home-important.svg);
    background: @baseflash url("../../assets/icons/ipx-icon-home-important.svg");
    background-size: 18px;
    background-repeat: no-repeat;
    background-position: center;
    @media @sm-down {
      background-size: 28px;
    }
  }
  .is-high {
    color: white;
    //background:@baseflashlight url(/assets/icons/ipx-icon-home-activity.svg);
    background: @baseflashlight
      url("../../assets/icons/ipx-icon-home-activity.svg");
    background-size: 18px;
    background-repeat: no-repeat;
    background-position: center;
    @media @sm-down {
      background-size: 28px;
    }
  }
  .is-calendar {
    color: white;
    //background:@cyan url(/assets/icons/ipx-icon-home-events.svg);
    background: @cyan url("../../assets/icons/ipx-icon-home-events.svg");
    background-size: 22px;
    background-repeat: no-repeat;
    background-position: center;
    @media @sm-down {
      background-size: 36px;
    }
  }
  .is-news {
    color: white;
    //background:#98b2ca url(/assets/icons/ipx-icon-home-news.svg);
    background: #98b2ca url("../../assets/icons/ipx-icon-home-news.svg");
    background-size: 22px;
    background-repeat: no-repeat;
    background-position: center;
    @media @sm-down {
      background-size: 36px;
    }
  }
}

/* Ant select for filtering homeblocks */

.homeblock-filter {
  width:auto;
  max-width: 100%;
  overflow: hidden;
  .ant-select {
    border-color:#f1f1f1;
    width:100%;
    margin-top:1.25rem;
    padding:0 1rem;
    @media @md-up {
      margin-top:0;
      padding:0;
    }
  }
  &.homeblock-filter-input {
    
    width:100%;
    @media @md-up {
      width:auto;
    }
    @media @md-up {
      //min-width:280px;
      width:auto;
      flex-grow:1;
      max-width:270px;
      //width:240px;
    }
  }
}

/* //////////////////////////////////////////////////// */
/* HOME CARDS */
/* //////////////////////////////////////////////////// */
.bordered-cards {
  .ipx-card {
    border: none;
    border-radius: 3px;
    @media @md-up {
    }
    .ipx-card-content {
      width: 100%;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      padding-left: 1.5rem;
    }
    &.home-share {
      border-color: @base;
    }
    &.home-high {
      border-color: @accent;
    }
    &.home-events {
      border-color: @cyan;
    }
    &.home-news {
      border-color: @gray1;
    }
  }
}
.bordered-cards {
  border: none;
  border-radius: 3px;
  .ipx-card {
    @media @md-up {
      width: calc(50% - 0.5rem);
      margin-bottom: 2%;
      flex-grow: 1 !important;
      border-left: 3px solid #ccc;
    }
    @media @lg-up {
      width: calc(33% - 0.5rem);
      margin-bottom: 2%;
      flex-grow: 1 !important;
    }
  }
}

.ipx-card {
  &.home-events {
    .ipx-card-title {
      color: #006ed0;
      font-weight: 300;
      font-size: 1.7rem;
      margin-bottom: 0.75rem;
    }
    .ipx-card-description {
      font-weight: 300;
      color: #175287;
      font-size: 1.3rem;
    }
    .time {
      color: #666;
      font-weight: 300;
      display: flex;
    }
    .home-event-meta {
      margin-bottom: 0.5rem;
    }
    .place {
      font-weight: 600;
    }
  }
  &.home-news {
    .ipx-card-title {
      color: #666;
      font-weight: 300;
      display: flex;
    }
    .ipx-card-description {
      font-size: 1.1rem;
      padding-bottom: 0.25rem;
    }
  }
  &.home-document {
    .ipx-card-title {
      color: @base;
      font-weight: 400;
      font-size: 1.3rem;
      line-height: 1.8rem;
      h3 {
        color: @base;
        font-weight: 400;
        font-size: 1.3rem;
        line-height: 1.8rem;
      }
    }
  }
}

/* //////////////////////////////////////////////////// */
/* HOME VIDEO BLOCK */
/* //////////////////////////////////////////////////// */

.videoblock {
  @media @md-down {
    flex-direction: column;
    .iframe-container {
      padding-bottom: 56%;
    }
    .video-description {
      width: 100%;
      margin-right: 0;
      h2 {
        padding-top: 1.5rem;
      }
    }
  }
}

.video-description {
  padding: 0 1rem;
  font-size: 1.1rem;
  width: 60%;
  margin-right: 2%;
  h2 {
    color: @base;
    font-size: 1.9rem;
    font-weight: 300;
    line-height: 2.5rem;
    margin-bottom: 1rem;
  }
  @media @md-down {
    h2 {
      padding-top: 0;
    }
  }
}

.iframe-container {
  position: relative;
  width: 100%;
  padding-bottom: 33.8%;
  height: 0;
  margin-right: 2%;
  border-radius: 5px;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
  }
}

/* //////////////////////////////////////////////////// */
/* SUBSCRIPTIONS */
/* //////////////////////////////////////////////////// */

.stored-search-box {
  min-width: 260px;
  flex-grow: 1;
  font-size: 1.1rem;
  color: black;
}
