@newcontentcolor: #8356ff;//#ff6f56;
@newcontentcolor2: rgb(176, 112, 235);//#d46bee;
@newcontentcolor3: #45d1ca;//#d46bee;

@ncpurple1: #8356ff;
@ncpurple2: rgb(176, 112, 235);
@ncpurplelinks: #6d5dc1;

@ncgreen: rgb(183, 236, 218);
@ncgreen2: rgb(59, 194, 187);

/* /////////////////////////////////////////////// */
/* NEWCONTENT BOX (module with one result + header)
/* /////////////////////////////////////////////// */

.newcontentbox {
    background:lighten(@newcontentcolor, 58%);
    background:  
    linear-gradient(194deg,
    lighten(@ncpurple1, 26%) 0%, 
    lighten(@ncpurple2, 26%) 30%, 
    lighten(@baseflash, 48%) 100%);
    > div {
      position:relative;
    }
    a {
        color:@ncpurplelinks;
    }
    h1 {
        font-weight:800;
        margin-bottom:.5rem;
    }
    h3 {
        font-weight:800;
        font-size:1.4rem;
    }
    ul {
        list-style-type: square;
        margin-left:1.1rem;
    }
    @media @xs-down {
        padding-bottom:1.5rem;
    }
    .link-icon {
        position:absolute;
        top:-1.4rem;
        left:-.8rem;
        font-size:3rem;
        color:@ncpurplelinks;
        transform:rotate(-15deg);
    }
    .badge {
        display:inline-flex;
        align-items:center;
        justify-content: center;
        font-weight:400;
        font-size:.8rem;
        padding:.3rem .6rem;
        margin:.3rem .5rem .3rem 0;
        border-radius: 2rem;
        transition:all ease .25s;
        background:rgba(255,255,255,.35);
        color:#000;
        .material-icons {
            color:#999;
        }
        &:hover {
            cursor:text;
            .material-icons {
                transition:all ease .3s;
                color:#444; 
                &:hover {
                    color:#111;
                }
            }
        }
    }
    .files {
        margin-bottom: .5rem;
        cursor:default;
        .badge {
            padding:.35rem .5rem;
            margin-right:.25rem;
            color:white;
            font-weight:800;
            background:@ncpurplelinks; 
        }
    }
    .newcontent-metas {
        > div {
            display:flex;
            flex-wrap:wrap;
            padding:0;
        }
    }
    /* FLAGS IN BADGES */
    .nc-flag {
        box-shadow:none !important;
        width:15px !important;
    }
    /* LABELS IN METAS */
    .nc-label {
        font-weight:600;
        font-size:.9rem;
        flex-shrink: 0;
    }
    .btn-load {
        background:rgba(255,255,255,.5);
        &:hover {
          background:rgba(255,255,255,.7);
        }
    }
    .nc-item {
        display:flex;
        justify-content: space-between;
        transition:all ease .2s;
        padding-top:1.5rem;
        .nc-link {
          display:flex;
          align-items:flex-start;
          justify-content:flex-end;
          width:60px;
          flex-shrink:0;
          padding-top:.5rem;
        }
        .nc-open-icon {
            border-radius:10rem;
            text-decoration:none;
            margin-top:1rem;
            padding:.25rem;
            font-size:2.5rem;
            transition:all ease .25s;
            background:@ncpurplelinks;
            color:white;
            opacity:.9;
            &:hover {
              cursor:pointer;
              transform:scale(1.1);
              text-decoration:none;
              opacity:1;
                background:darken(@ncpurplelinks,5%);
            }
        }
        .newcontent-metas {
            > div {
              display:flex;
              flex-wrap:wrap;
              padding:0;
            }
            p {
                font-size:.9rem;
                margin:.5rem 0;;
                strong {
                    margin-right:.4rem;
                    font-size: .85rem;
                    font-weight: 700;
                }
            }   
        }
    }
    .nc-list {
        position:relative;
        width:100%;
        padding-top:2.5rem;
        a {
            color:@baseflash;
        }
        .nc-item {
            display:flex;
            justify-content: space-between;
            background:#ccc;
            border-radius:.5rem;
            padding:.75rem 1.5rem 1.25rem;
            margin-bottom:.6rem;
            background:rgba(255,255,255,.3);
            transition:all ease .2s;
            .nc-link {
                justify-content:flex-end;
                .nc-open-icon {
                    display:none;
                    margin-top:0;
                    border-radius:10rem;
                    text-decoration:none;
                    padding:.25rem;
                    font-size:2.5rem;
                    transition:all ease .2s;
                    &:hover {
                        cursor:pointer;
                        transform:scale(1.1);
                        text-decoration:none;
                    }
                }
            }
            .newcontent-metas {
                p {
                    margin:0;
                }   
            }
            .nc-title {
                h3 {
                    font-weight:700;
                    font-size:1.1rem;
                    padding-bottom:.5rem;
                    padding-top:.5rem;
                    transition:all ease .2s;
                }
                p {
                    display:flex;
                    align-items:center;
                }
            }
            &:hover {
                background:rgba(255,255,255,.6);
                cursor:pointer;
                .nc-title {
                    color:@baseflash;
                    cursor: pointer;
                }
                .nc-link {
                    .nc-open-icon {
                        display:inline-flex;
                        background:none;
                        transition:all ease .2s;
                        opacity:1;
                        color:@ncpurplelinks;
                    }
                }
            }
        }
        .nc-count {
            position:absolute;
            top:-1rem;
            left:0;
            font-size:.8rem;
            color:#000;
            display:flex;
            justify-content:center;
            align-items:center;
            width:100%;
            p {
                margin:0;
                background:rgba(255,255,255,.85);
                border-radius:5rem;
                padding:.1rem .75rem;
                display:flex;
                text-transform:uppercase;
                justify-content:center;
                align-items:center;
                border:2px solid lighten(@ncpurple1, 26%);
            }
            strong {
              color:@ncpurplelinks;
              font-weight:800;
              font-size:1rem;
              margin-right:.5rem;
            }
        }
        h3 {
            font-weight:normal;
            display:inline-flex;
            align-items:flex-end;
            strong {
                margin-right:.5rem;
                font-size:2rem;
            }
        }
        .link-icon {
            @media @xs-down {
                background:none;
                color:@ncpurplelinks;
            }
        }
        .nc-open-icon {
            border-radius:10rem;
            text-decoration:none;
            padding:.25rem;
            font-size:2.5rem;
            transition:all ease .25s;
            opacity:.5;
            background:@ncpurplelinks;
            &:hover {
              cursor:pointer;
              transform:scale(1.1);
              text-decoration:none;
              opacity:1;
              background:darken(@ncpurplelinks,5%);
            }
        }
    }
}

/* /////////////////////////////////////////////// */
/* NEW CONTENT DETAILS
/* /////////////////////////////////////////////// */

.ipx-intro {
    &.newcontentbox {
        .container-regular {
            position:relative;
            .link-icon {
              position:absolute;
              top:auto;
              bottom:-5.5rem;
              left:-.75rem;
              font-size:4rem;
                @media @xs-down {
                  position:static !important;
                  display:flex;
                  padding:.6rem;
                  font-size:2.56rem !important;
                  border-radius:10rem !important;
                  background:darken(@newcontentcolor2,5%);
                  background:lighten(@newcontentcolor, 58%);
                  background:  linear-gradient(48deg, @newcontentcolor 2%, @newcontentcolor2 100%);
                  color:#ffffff;
                }
            }
        }
    }
}


  /* /////////////////////////////////////////////// */
/* MODULE FOR LINKED IPEX PAGES
/* /////////////////////////////////////////////// */

.linked-pages {
    ul {
        list-style-type:none;
    }
    a {
        position:relative;
        display: flex;
        align-items:center;
        padding:.65rem 1.25rem;
        transition:all ease .3s;
        font-size:1.1rem;
        margin-bottom:.75rem;
        border-radius:.5rem;
        color:black;
        background:#f9f9f9;
        &::before {
            content:"";
            position:absolute;
            top:0;
            left:0;
            bottom:0;
            width:5px;
            border-radius:.3rem 0 0 .3rem;
            background:lighten(@newcontentcolor, 58%);
            background:  linear-gradient(194deg, lighten(@newcontentcolor, 20%) 0%, lighten(@baseflash, 45%) 100%);
        }
        &:hover {
            text-decoration:none;
            background:#f5f5f5;
            color:@baseflash;
            border-color:lighten(@newcontentcolor, 15%);
            &::before {
                border-radius:.3rem 0 0 .3rem;
                background:lighten(@newcontentcolor, 58%);
                background:  linear-gradient(194deg, lighten(@newcontentcolor, 10%) 0%, lighten(@baseflash, 35%) 100%);
            }
            .material-icons {
                color:@baseflash;
            }
        }
        .page-type {
            color:#000;
            font-weight:700;
            font-size:.85rem;
        }
        .material-icons {
            color:#ccc;
        }
        > div {
            padding-right:3rem;
        }
    }
}

/* /////////////////////////////////////////////// */
/* NEW CONTENT CARD (Search results)
/* /////////////////////////////////////////////// */

.newcontent-card {
    position:relative;
    .ipx-card-title {
        display:flex;
        align-items:center;
        color:black;
    }
    &::before {
        content:"";
        position:absolute;
        top:-2px;
        left:-2px;
        bottom:-2px;
        width:6px;
        border-radius:.3rem 0 0 .3rem;
        background:lighten(@newcontentcolor, 58%);
        background:  linear-gradient(194deg, lighten(@newcontentcolor, 20%) 0%, lighten(@baseflash, 45%) 100%);
    }
    &:hover {
      border-color:lighten(@newcontentcolor, 15%);
      &::before {
        border-radius:.3rem 0 0 .3rem;
        background:lighten(@newcontentcolor, 58%);
        background:  linear-gradient(194deg, lighten(@newcontentcolor, 10%) 0%, lighten(@baseflash, 35%) 100%);
      }
    }
    .ipx-card-content {
        padding-bottom:.7rem;
      }
    .link-icon {
        padding:0;
        margin-top:-.4rem;
        font-size:2rem;
        transform:rotate(-15deg);
        color:darken(@newcontentcolor2,5%);
    }
    // IN SEARCH RESULTS
    &.result-item {
        &::before {
          display:none;
        }
    }
}