/* /////////////////////////////////////////////
COMMON STYLES
///////////////////////////////////////////// */

@featured-width: 60%;
@arrondi: .3rem;

.visual-layout {
    .bg-intro {
        padding-bottom: 1.5rem;
    }

    h1 {
        color: @white;
        font-weight: 600;
        padding-top: 0;
        margin-bottom: 0;
        font-size: 1.75rem;
        //text-shadow: 0px 2px 20px rgba(0,0,0,0.7);
    }

    .white-box {
        justify-content:space-between;
        background: @white;
        border-radius: @border-radius;
        > div {
            &:first-child {
                //flex-grow:1;
            }
        }
        .legend {
            color: #666;
            font-size: 0.9rem;
            justify-content: center;
            padding: 0.2rem 1rem;
            display: flex;
            max-width: 450px;
            text-align:center;
        }
    }
    .has-zoom,
    .featured-image {
         .material-icons {
            position: absolute;
            right: 0.5rem;
            top: 0.5rem;
            color: white;
            opacity: 0.4;
            transition: all ease 0.3s;
        }
        &:hover {
            .material-icons {
                opacity: 1;
            }
        }
    }
    .featured-image,
    .meeting-illu {
        display:flex;
        flex-direction:column;
        height: auto;
        position: relative;
        border-radius: @arrondi;
        //width:500px;
        max-width:450px;
        //flex-shrink:1;
        figcaption {
            display: flex;
            justify-content: center;
            padding: .2rem 1rem;
            color: #666;
            font-size: .9rem;
            text-align:center;
        }
        img {
            min-width:450px;
            //width:400px;
            width:100%;
            max-width:100%;
            height:auto;
            border-radius: @arrondi;
            @media @md-down {
                width:100%;
                min-width: 250px;
                text-align: center;
            }
        }
    }
    .meeting-illu {
        img {
            min-width:300px;
            width:300px;
            max-width:100%;
            @media @md-down {
                max-width:100%;
                width:100%;
            }
        }
    }
}

/* /////////////////////////////////////////////
PARLIAMENTS
///////////////////////////////////////////// */

.visual-layout {
    .white-box {
        h5 {
            font-weight: 400;

            &.name {
                font-weight: 600;
            }
        }
    }
}

.parliament-websites {
    padding-left: 1.5rem;
    border: none;
    border-left: 5px solid #006ed0;
    border-radius: 4px;
    background: #f9f9f9;
    margin-bottom: 2.5rem;
    img {
      width:180px;
      height:auto;
    }
    h5 {
      margin: 0;
      padding: 0;
      font-size: 1rem;
      font-weight: 700;
      padding: .25rem 0 .75rem;
    }
    a {
      background: #fff;
      font-size: .95rem;
      padding: .2rem .75rem;
      margin-right: .5rem;
      margin-bottom: .5rem;
      border-radius: 5rem;
      color: #000;
      .material-icons {
        font-size: 18px;
        opacity: .85;
      }
      &:hover {
        color: @baseflash;
        text-decoration: none;
        .material-icons {
          opacity: 1;
        }
      }
    }
  }
  .website-links {
    h4 {
      font-size:.9rem;
      font-weight:800;
    }
    a {
      //background:#f5f5f5;
      //padding:.2rem .8rem;
      padding:0;
      background:none;
      font-size:.9rem;
      margin:0  1rem .65rem 0;
      //border-radius:50px;
      color:#000;
      &:hover {
        color:@baseflash;
        text-decoration:none;
        //background:#eee;
      }
    }
  }
  .parliament-content {
    ul {
      padding-left:1.5rem;
    }
    .summary {
      //margin-bottom:2rem;
      font-weight:700;
      font-size:1.1rem;
      &::after {
        display:block;
        width:200px;
        height:3px;
        background:black;
        border-radius:10px;
        content:"";
        margin:1.5rem 0 3rem;
      }
    }
    h2 {
    //  padding-top: 2rem;
    padding-bottom: 1rem;
    font-weight: 800;
    font-size: 1.4rem;
      &:first-child {
        padding-top:0;
      }
    }
  }
/* /////////////////////////////////////////////
CONFERENCES
///////////////////////////////////////////// */

.conference-logo {
    min-width: 180px;

    figcaption {
        margin-top: 1rem;
        font-size: .8rem;
        color: #999;
        text-align: center;
    }

    @media @md-down {
        min-width: 250px;
        max-width: 60%;
        text-align: center;
    }
}
.alert-conference {
    border: none;
    background: @gray3;
    border-left: 5px solid @baseflash;
    border-radius: @border-radius;
    padding-left: 1.5rem;
  
    ul {
      padding-left: 1rem;
      margin-top: 1rem;
    }
  }
  .sharing-module {
    border-top: 6px solid transparent;
  }

.themes-gallery {
  /*display:grid;
  grid-template-columns: repeat(auto-fit, minmax(calc(100% / 9), 1fr));
  
    grid-auto-flow:dense;
    grid-gap: 1vw;*/
    display:flex;
    flex-wrap:wrap;
justify-content:space-between;
  margin-bottom:3rem;
  margin-top:1rem;
  a[data-fancybox] {
    //min-width:80px;
    width:12%;
    margin:1%;
    max-width:12%;
    flex-grow:1;
    height:auto;
    background-color:white !important;
    img {
      border-radius:4px;
      box-shadow: 0 6px 15px -9px rgba(0,0,0,.6);
      opacity: .9 !important;
      &:hover {
        opacity:1 !important;
      }
    }
  }
}
/* ///////////////////////////////////////////////////////////////////////////////////////////////// */
// CONFERENCE THEME 0 - IPEX DEFAULT 
/* ///////////////////////////////////////////////////////////////////////////////////////////////// */
.parliament-theme + .sharing-module {
  border-top-color: #1e6cb3;
}

.parliament-theme .bg-intro {
  background: linear-gradient(-45deg, rgba(23, 82, 135, 0.6) -20%, rgba(23, 82, 135, 0.85) 100%), url("/img/parliaments/large/germany/bundestag02.jpg");
  background-size: cover;
  background-position: 0 center;
}

.parliament-theme .bg-intro .btn-only-icon {
  background: #081d30;
  color: #FFFFFF;
}

.parliament-theme a[data-fancybox] {
  background: none;
  border-radius: .3rem;
}
  

/* ///////////////////////////////////////////////////////////////////////////////////////////////// */
// CONFERENCE THEME 0 - IPEX DEFAULT 
/* ///////////////////////////////////////////////////////////////////////////////////////////////// */
.conference-theme0 + .sharing-module {
  border-top-color: #1e6cb3;
}
  .conference-theme0 .internal-navigation li .nav-link {
    margin: 0 .4rem .8rem;
    color: #FFFFFF;
    font-weight: 600;
    text-transform: uppercase;
    background: #1e6cb3;
    -webkit-box-shadow: 0px 11px 25px -9px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 6px 15px -9px rgba(0, 0, 0, 0.6);
    -webkit-transition: all ease .2s;
    transition: all ease .2s;
  }
  
  .conference-theme0 .internal-navigation li .nav-link:hover {
    background: #2176c4;
    -webkit-box-shadow: 0px 11px 25px -9px rgba(0, 0, 0, 0.6);
            box-shadow: 0px 11px 25px -9px rgba(0, 0, 0, 0.6);
  }
  
  .conference-theme0 .internal-navigation li .nav-link.active {
    opacity: 1;
    background: #081d30;
    color: #FFFFFF;
  }
  
  .conference-theme0 .bg-intro {
    background: linear-gradient(-45deg, rgba(23, 82, 135, 0.6) -20%, rgba(23, 82, 135, 0.85) 100%), url("/img/parliaments-materials/europe/europa.jpg");
    background-size: cover;
    background-position: 0 center;
  }
  
  .conference-theme0 .bg-intro .btn-only-icon {
    background: #081d30;
    color: #FFFFFF;
  }
  
  .conference-theme0 .alert-conference {
    border-left-color: #2176c4;
  }
  
  .conference-theme0 a[data-fancybox] {
    background: #2176c4;
    border-radius: .3rem;
  }
  
  .conference-theme0 a[data-fancybox] img {
    opacity: .8;
    -webkit-transition: all ease .2s;
    transition: all ease .2s;
  }
  
  .conference-theme0 a[data-fancybox] img:hover {
    opacity: 1;
  }

/* ///////////////////////////////////////////////////////////////////////////////////////////////// */
// CONFERENCE THEME 1 - AQUA 
/* ///////////////////////////////////////////////////////////////////////////////////////////////// */

.conference-theme1 + .sharing-module {
  border-top-color: #0aa590;
}
  .conference-theme1 .internal-navigation li .nav-link {
    margin: 0 .4rem .8rem;
    color: #FFFFFF;
    font-weight: 600;
    text-transform: uppercase;
    background: #0aa590;
    -webkit-box-shadow: 0px 11px 25px -9px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 6px 15px -9px rgba(0, 0, 0, 0.6);
    -webkit-transition: all ease .2s;
    transition: all ease .2s;
  }
  
  .conference-theme1 .internal-navigation li .nav-link:hover {
    background: #0bb8a1;
    -webkit-box-shadow: 0px 11px 25px -9px rgba(0, 0, 0, 0.6);
            box-shadow: 0px 11px 25px -9px rgba(0, 0, 0, 0.6);
  }
  
  .conference-theme1 .internal-navigation li .nav-link.active {
    opacity: 1;
    background: #022823;
    color: #FFFFFF;
  }
  
  .conference-theme1 .bg-intro {
    background: linear-gradient(-45deg, rgba(8, 136, 119, 0.5) -20%, rgba(8, 136, 119, 0.9) 100%), url("/img/parliaments-materials/europe/europa.jpg");
    background-size: cover;
    background-position: 0 center;
  }
  
  .conference-theme1 .bg-intro .btn-only-icon {
    background: #022823;
    color: #FFFFFF;
  }
  
  .conference-theme1 .alert-conference {
    border-left-color: #088877;
  }
  
  .conference-theme1 a[data-fancybox] {
    background: #0bb8a1;
    border-radius: .3rem;
  }
  
  .conference-theme1 a[data-fancybox] img {
    opacity: .8;
    -webkit-transition: all ease .2s;
    transition: all ease .2s;
  }
  
  .conference-theme1 a[data-fancybox] img:hover {
    opacity: 1;
  }

/* ///////////////////////////////////////////////////////////////////////////////////////////////// */
// CONFERENCE THEME 2 - PURPLE BLUE 
/* ///////////////////////////////////////////////////////////////////////////////////////////////// */

.conference-theme2 + .sharing-module {
  border-top-color: #4b3e9b;
}
  .conference-theme2 .internal-navigation li .nav-link {
    margin: 0 .4rem .8rem;
    color: #FFFFFF;
    font-weight: 600;
    text-transform: uppercase;
    background: #4b3e9b;
    -webkit-box-shadow: 0px 11px 25px -9px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 6px 15px -9px rgba(0, 0, 0, 0.6);
    -webkit-transition: all ease .2s;
    transition: all ease .2s;
  }
  
  .conference-theme2 .internal-navigation li .nav-link:hover {
    background: #5644c0;
    -webkit-box-shadow: 0px 11px 25px -9px rgba(0, 0, 0, 0.6);
            box-shadow: 0px 11px 25px -9px rgba(0, 0, 0, 0.6);
  }
  
  .conference-theme2 .internal-navigation li .nav-link.active {
    opacity: 1;
    background: #030207;
    color: #FFFFFF;
  }
  
  .conference-theme2 .bg-intro {
    background: linear-gradient(-45deg, rgba(74, 62, 155, 0.75) -20%, rgba(73,39,133,0.95) 100%), url("/img/parliaments-materials/europe/europa.jpg");
    background-size: cover;
    background-position: 0 center;
  }
  
  .conference-theme2 .bg-intro .btn-only-icon {
    background: #161036;
    color: #FFFFFF;
  }
  
  .conference-theme2 .alert-conference {
    border-left-color: #5644c0;
  }
  
  .conference-theme2 a[data-fancybox] {
    background: #5644c0;
    border-radius: .3rem;
  }
  
  .conference-theme2 a[data-fancybox] img {
    opacity: .8;
    -webkit-transition: all ease .2s;
    transition: all ease .2s;
  }
  
  .conference-theme2 a[data-fancybox] img:hover {
    opacity: 1;
  }  

/* ///////////////////////////////////////////////////////////////////////////////////////////////// */
// CONFERENCE THEME 3 - YELLOW 
/* ///////////////////////////////////////////////////////////////////////////////////////////////// */

.conference-theme3 + .sharing-module {
  border-top-color: #e7ad2e;
}
  .conference-theme3 .internal-navigation li .nav-link {
    margin: 0 .4rem .8rem;
    color: #ffffff;
    font-weight: 600;
    text-transform: uppercase;
    background: #e7ad2e;
    -webkit-box-shadow: 0px 11px 25px -9px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 6px 15px -9px rgba(0, 0, 0, 0.6);
    -webkit-transition: all ease .2s;
    transition: all ease .2s;
  }
  
  .conference-theme3 .internal-navigation li .nav-link:hover {
    background: #f1b940;
    -webkit-box-shadow: 0px 11px 25px -9px rgba(0, 0, 0, 0.6);
            box-shadow: 0px 11px 25px -9px rgba(0, 0, 0, 0.6);
  }
  
  .conference-theme3 .internal-navigation li .nav-link.active {
    opacity: 1;
    background: #2c1f03;
    color: #FFFFFF;
  }
  
  .conference-theme3 .bg-intro {
    background: linear-gradient(-45deg, rgba(255, 192, 56, 0.788) -20%, rgba(216, 156, 27, 0.95) 100%), url("/img/parliaments-materials/europe/europa.jpg");
    background-size: cover;
    background-position: 0 center;
  }
  
  .conference-theme3 .bg-intro .btn-only-icon {
    background: #2c1f03;
    color: #FFFFFF;
  }
  
  .conference-theme3 .alert-conference {
    border-left-color: #d79d22;
  }
  
  .conference-theme3 a[data-fancybox] {
    background: #d79d22;
    border-radius: .3rem;
  }
  
  .conference-theme3 a[data-fancybox] img {
    opacity: .8;
    -webkit-transition: all ease .2s;
    transition: all ease .2s;
  }
  
  .conference-theme3 a[data-fancybox] img:hover {
    opacity: 1;
  }

/* ///////////////////////////////////////////////////////////////////////////////////////////////// */
// CONFERENCE THEME 4 - PURPLE 
/* ///////////////////////////////////////////////////////////////////////////////////////////////// */

.conference-theme4 + .sharing-module {
  border-top-color: #8856a6;
}
  .conference-theme4 .internal-navigation li .nav-link {
    margin: 0 .4rem .8rem;
    color: #FFFFFF;
    font-weight: 600;
    text-transform: uppercase;
    background: #8856a6;
    -webkit-box-shadow: 0px 11px 25px -9px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 6px 15px -9px rgba(0, 0, 0, 0.6);
    -webkit-transition: all ease .2s;
    transition: all ease .2s;
  }
  
  .conference-theme4 .internal-navigation li .nav-link:hover {
    background: #9b61be;
    -webkit-box-shadow: 0px 11px 25px -9px rgba(0, 0, 0, 0.6);
            box-shadow: 0px 11px 25px -9px rgba(0, 0, 0, 0.6);
  }
  
  .conference-theme4 .internal-navigation li .nav-link.active {
    opacity: 1;
    background: #170629;
    color: #FFFFFF;
  }
  
  .conference-theme4 .bg-intro {
    background: linear-gradient(-45deg, rgba(108, 57, 131, 0.75) -20%, rgba(116, 26, 142, 0.9) 100%), url("/img/parliaments-materials/europe/europa.jpg");
    background-size: cover;
    background-position: 0 center;
  }
  
  .conference-theme4 .bg-intro .btn-only-icon {
    background: #170629;
    color: #FFFFFF;
  }
  
  .conference-theme4 .alert-conference {
    border-left-color: #9b61be;
  }
  
  .conference-theme4 a[data-fancybox] {
    background: #9b61be;
    border-radius: .3rem;
  }
  
  .conference-theme4 a[data-fancybox] img {
    opacity: .8;
    -webkit-transition: all ease .2s;
    transition: all ease .2s;
  }
  
  .conference-theme4 a[data-fancybox] img:hover {
    opacity: 1;
  }


/* ///////////////////////////////////////////////////////////////////////////////////////////////// */
// CONFERENCE THEME 6 - DARK SAND OR KAKI
/* ///////////////////////////////////////////////////////////////////////////////////////////////// */

.conference-theme5 + .sharing-module {
  border-top-color: rgb(113,100,34);
}
  .conference-theme5 .internal-navigation li .nav-link {
    margin: 0 .4rem .8rem;
    color: #ffffff;
    font-weight: 600;
    text-transform: uppercase;
    background: rgb(113,100,34);
    -webkit-box-shadow: 0px 11px 25px -9px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 6px 15px -9px rgba(0, 0, 0, 0.6);
    -webkit-transition: all ease .2s;
    transition: all ease .2s;
  }
  
  .conference-theme5 .internal-navigation li .nav-link:hover {
    background: rgb(141,124,37);
    -webkit-box-shadow: 0px 11px 25px -9px rgba(0, 0, 0, 0.6);
            box-shadow: 0px 11px 25px -9px rgba(0, 0, 0, 0.6);
  }
  
  .conference-theme5 .internal-navigation li .nav-link.active {
    opacity: 1;
    background: rgb(45,38,6);
    color: #FFFFFF;
  }
  
  .conference-theme5 .bg-intro {
    background: linear-gradient(-45deg, rgba(128, 111, 27, 0.7)  -20%, rgba(87, 79, 14, 0.9) 100%), url("/img/parliaments-materials/europe/europa.jpg");
    background-size: cover;
    background-position: 0 center;
  }
  
  .conference-theme5 .bg-intro .btn-only-icon {
    background: rgb(45,38,6);
    color: #FFFFFF;
  }
  
  .conference-theme5 .alert-conference {
    border-left-color: rgb(162,142,40);
  }
  
  .conference-theme5 a[data-fancybox] {
    background: rgb(162,142,40);
    border-radius: .3rem;
  }
  
  .conference-theme5 a[data-fancybox] img {
    opacity: .8;
    -webkit-transition: all ease .2s;
    transition: all ease .2s;
  }
  
  .conference-theme5 a[data-fancybox] img:hover {
    opacity: 1;
  }

/* ///////////////////////////////////////////////////////////////////////////////////////////////// */
// CONFERENCE THEME 6 - RED
/* ///////////////////////////////////////////////////////////////////////////////////////////////// */

.conference-theme6 + .sharing-module {
  border-top-color: #be2c39;
}
.conference-theme6 .internal-navigation li .nav-link {
  margin: 0 .4rem .8rem;
  color: #FFFFFF;
  font-weight: 600;
  text-transform: uppercase;
  background: #be2c39;
  -webkit-box-shadow: 0px 11px 25px -9px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 6px 15px -9px rgba(0, 0, 0, 0.6);
  -webkit-transition: all ease .2s;
  transition: all ease .2s;
}

.conference-theme6 .internal-navigation li .nav-link:hover {
  background: #d63e4b;
  -webkit-box-shadow: 0px 11px 25px -9px rgba(0, 0, 0, 0.6);
          box-shadow: 0px 11px 25px -9px rgba(0, 0, 0, 0.6);
}

.conference-theme6 .internal-navigation li .nav-link.active {
  opacity: 1;
  background: #24080b;
  color: #FFFFFF;
}

.conference-theme6 .bg-intro {
  background: linear-gradient(-45deg, rgba(177, 44, 57, 0.7) -20%, rgba(226,1,22,0.9) 100%), url("/img/parliaments-materials/europe/europa.jpg");
  background-size: cover;
  background-position: 0 center;
}

.conference-theme6 .bg-intro .btn-only-icon {
  background: #24080b;
  color: #FFFFFF;
}

.conference-theme6 .alert-conference {
  border-left-color: #d93f6a;
}

.conference-theme6 a[data-fancybox] {
  background: #d93f6a;
  border-radius: .3rem;
}

.conference-theme6 a[data-fancybox] img {
  opacity: .8;
  -webkit-transition: all ease .2s;
  transition: all ease .2s;
}

.conference-theme6 a[data-fancybox] img:hover {
  opacity: 1;
}

/* ///////////////////////////////////////////////////////////////////////////////////////////////// */
// CONFERENCE THEME 7 - CARAFE
/* ///////////////////////////////////////////////////////////////////////////////////////////////// */

.conference-theme7 + .sharing-module {
  border-top-color: rgb(159,61,61);
}
  .conference-theme7 .internal-navigation li .nav-link {
    margin: 0 .4rem .8rem;
    color: #FFFFFF;
    font-weight: 600;
    text-transform: uppercase;
    background: rgb(159,61,61);
    -webkit-box-shadow: 0px 11px 25px -9px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 6px 15px -9px rgba(0, 0, 0, 0.6);
    -webkit-transition: all ease .2s;
    transition: all ease .2s;
  }
  
  .conference-theme7 .internal-navigation li .nav-link:hover {
    background: rgb(183,75,75);
    -webkit-box-shadow: 0px 11px 25px -9px rgba(0, 0, 0, 0.6);
            box-shadow: 0px 11px 25px -9px rgba(0, 0, 0, 0.6);
  }
  
  .conference-theme7 .internal-navigation li .nav-link.active {
    opacity: 1;
    background: rgb(28,6,6);
    color: #FFFFFF;
  }
  
  .conference-theme7 .bg-intro {
    background: linear-gradient(-45deg, rgba(138,23,23,0.7) -20%, rgba(78, 9, 9, 0.9) 100%), url("/img/parliaments-materials/europe/europa.jpg");
    background-size: cover;
    background-position: 0 center;
  }
  
  .conference-theme7 .bg-intro .btn-only-icon {
    background: rgb(28,6,6);
    color: #FFFFFF;
  }
  
  .conference-theme7 .alert-conference {
    border-left-color: rgb(183,75,75);
  }
  
  .conference-theme7 a[data-fancybox] {
    background: rgb(183,75,75);
    border-radius: .3rem;
  }
  
  .conference-theme7 a[data-fancybox] img {
    opacity: .8;
    -webkit-transition: all ease .2s;
    transition: all ease .2s;
  }
  
  .conference-theme7 a[data-fancybox] img:hover {
    opacity: 1;
  }

/* ///////////////////////////////////////////////////////////////////////////////////////////////// */
// CONFERENCE THEME 8 - PINK FUSHIA
/* ///////////////////////////////////////////////////////////////////////////////////////////////// */

.conference-theme8 + .sharing-module {
  border-top-color: rgb(187,91,145);
}
  .conference-theme8 .internal-navigation li .nav-link {
    margin: 0 .4rem .8rem;
    color: #FFFFFF;
    font-weight: 600;
    text-transform: uppercase;
    background: rgb(187,91,145);
    -webkit-box-shadow: 0px 11px 25px -9px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 6px 15px -9px rgba(0, 0, 0, 0.6);
    -webkit-transition: all ease .2s;
    transition: all ease .2s;
  }
  
  .conference-theme8 .internal-navigation li .nav-link:hover {
    background: rgb(200,100,156);
    -webkit-box-shadow: 0px 11px 25px -9px rgba(0, 0, 0, 0.6);
            box-shadow: 0px 11px 25px -9px rgba(0, 0, 0, 0.6);
  }
  
  .conference-theme8 .internal-navigation li .nav-link.active {
    opacity: 1;
    background: #310a1d;
    color: #FFFFFF;
  }
  
  .conference-theme8 .bg-intro {
    background: linear-gradient(-45deg, rgba(196, 80, 143, 0.65) -20%, rgba(183,23,112,0.9) 100%), url("/img/parliaments-materials/europe/europa.jpg");
    background-size: cover;
    background-position: 0 center;
  }
  
  .conference-theme8 .bg-intro .btn-only-icon {
    background: #310a1d;
    color: #FFFFFF;
  }
  
  .conference-theme8 .alert-conference {
    border-left-color: rgb(187,91,145);
  }
  
  .conference-theme8 a[data-fancybox] {
    background: rgb(187,91,145);
    border-radius: .3rem;
  }
  
  .conference-theme8 a[data-fancybox] img {
    opacity: .8;
    -webkit-transition: all ease .2s;
    transition: all ease .2s;
  }
  
  .conference-theme8 a[data-fancybox] img:hover {
    opacity: 1;
  }

/* ///////////////////////////////////////////////////////////////////////////////////////////////// */
// CONFERENCE THEME 9
/* ///////////////////////////////////////////////////////////////////////////////////////////////// */

.conference-theme9 + .sharing-module {
  border-top-color: #518251;
}
  .conference-theme9 .internal-navigation li .nav-link {
    margin: 0 .4rem .8rem;
    color: #FFFFFF;
    font-weight: 600;
    text-transform: uppercase;
    background: #518251;
    -webkit-box-shadow: 0px 11px 25px -9px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 6px 15px -9px rgba(0, 0, 0, 0.6);
    -webkit-transition: all ease .2s;
    transition: all ease .2s;
  }
  
  .conference-theme9 .internal-navigation li .nav-link:hover {
    background: #618f61;
    -webkit-box-shadow: 0px 11px 25px -9px rgba(0, 0, 0, 0.6);
            box-shadow: 0px 11px 25px -9px rgba(0, 0, 0, 0.6);
  }
  
  .conference-theme9 .internal-navigation li .nav-link.active {
    opacity: 1;
    background: #0e260e;
    color: #FFFFFF;
  }
  
  .conference-theme9 .bg-intro {
    background: linear-gradient(-45deg, rgba(43,113,43,0.7) -20%, rgba(43, 113, 70, 0.9) 100%), url("/img/parliaments-materials/europe/europa.jpg");
    background-size: cover;
    background-position: 0 center;
  }
  
  .conference-theme9 .bg-intro .btn-only-icon {
    background: #0e260e;
    color: #FFFFFF;
  }
  
  .conference-theme9 .alert-conference {
    border-left-color: #2c7d2c;
  }
  
  .conference-theme9 a[data-fancybox] {
    background: #4a884a;
    border-radius: .3rem;
  }
  
  .conference-theme9 a[data-fancybox] img {
    opacity: .8;
    -webkit-transition: all ease .2s;
    transition: all ease .2s;
  }
  
  .conference-theme9 a[data-fancybox] img:hover {
    opacity: 1;
  }

/* ///////////////////////////////////////////////////////////////////////////////////////////////// */
// CONFERENCE THEME 10
/* ///////////////////////////////////////////////////////////////////////////////////////////////// */

.conference-theme10 + .sharing-module {
  border-top-color: #85956c;
}
  .conference-theme10 .internal-navigation li .nav-link {
    margin: 0 .4rem .8rem;
    font-weight: 600;
    text-transform: uppercase;
    -webkit-box-shadow: 0px 11px 25px -9px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 6px 15px -9px rgba(0, 0, 0, 0.6);
    -webkit-transition: all ease .2s;
    transition: all ease .2s;
    background:#85956c;
    color:white;
  }
  
  .conference-theme10 .internal-navigation li .nav-link:hover {
    background: #9bab7d;
    -webkit-box-shadow: 0px 11px 25px -9px rgba(0, 0, 0, 0.6);
            box-shadow: 0px 11px 25px -9px rgba(0, 0, 0, 0.6);
   
  }
  
  .conference-theme10 .internal-navigation li .nav-link.active {
    opacity: 1;
    background: #323828;
    color: #FFFFFF;
  }
  
  .conference-theme10 .bg-intro {
    background: linear-gradient(-45deg, rgba(112, 122, 76, 0.7) -20%, rgba(84, 97, 60, 0.9) 100%), url("/img/parliaments-materials/europe/europa.jpg");
    background-size: cover;
    background-position: 0 center;
  }
  
  .conference-theme10 .bg-intro .btn-only-icon {
    background: #323828;
    color: #FFFFFF;
  }
  
  .conference-theme10 .alert-conference {
    border-left-color: #889c64;
  }
  
  .conference-theme10 a[data-fancybox] {
    background: #9bac7d;
    border-radius: .3rem;
  }
  
  .conference-theme10 a[data-fancybox] img {
    opacity: .8;
    -webkit-transition: all ease .2s;
    transition: all ease .2s;
  }
  
  .conference-theme10 a[data-fancybox] img:hover {
    opacity: 1;
  }

/* ///////////////////////////////////////////////////////////////////////////////////////////////// */
// CONFERENCE THEME 11 : IPEX FLASH
/* ///////////////////////////////////////////////////////////////////////////////////////////////// */


.conference-theme11 + .sharing-module {
  border-top-color: #006ed0;
}
  .conference-theme11 .internal-navigation li .nav-link {
    margin: 0 .4rem .8rem;
    color: #FFFFFF;
    font-weight: 600;
    text-transform: uppercase;
    background: #006ed0;
    -webkit-box-shadow: 0px 11px 25px -9px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 6px 15px -9px rgba(0, 0, 0, 0.6);
    -webkit-transition: all ease .2s;
    transition: all ease .2s;
  }
  
  .conference-theme11 .internal-navigation li .nav-link:hover {
    background: #0b82ed;
    -webkit-box-shadow: 0px 11px 25px -9px rgba(0, 0, 0, 0.6);
            box-shadow: 0px 11px 25px -9px rgba(0, 0, 0, 0.6);
  }
  
  .conference-theme11 .internal-navigation li .nav-link.active {
    opacity: 1;
    background: #02223e;
    color: #FFFFFF;
  }
  
  .conference-theme11 .bg-intro {
    background: linear-gradient(-45deg, rgba(23, 82, 135, 0.7) 0%, rgba(0,110,208,0.9) 90%), url("/img/parliaments-materials/europe/europa.jpg");
    background-size: cover;
    background-position: 0 center;
  }
  
  .conference-theme11 .bg-intro .btn-only-icon {
    background: #081d30;
    color: #FFFFFF;
  }
  
  .conference-theme11 .alert-conference {
    border-left-color: #006ed0;
  }
  
  .conference-theme11 a[data-fancybox] {
    background: #006ed0;
    border-radius: .3rem;
  }
  
  .conference-theme11 a[data-fancybox] img {
    opacity: .8;
    -webkit-transition: all ease .2s;
    transition: all ease .2s;
  }
  
  .conference-theme11 a[data-fancybox] img:hover {
    opacity: 1;
  }

  /* ///////////////////////////////////////////////////////////////////////////////////////////////// */
// CONFERENCE THEME 12 : COSAC BLUE
/* ///////////////////////////////////////////////////////////////////////////////////////////////// */

.conference-theme12 + .sharing-module {
  border-top-color: #2124cc;
}
.conference-theme12 .internal-navigation li .nav-link {
    margin: 0 .4rem .8rem;
    color: #FFFFFF;
    font-weight: 600;
    text-transform: uppercase;
    background: #2124cc;
  
    -webkit-box-shadow: 0px 11px 25px -9px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 6px 15px -9px rgba(0, 0, 0, 0.6);
    -webkit-transition: all ease .2s;
    transition: all ease .2s;
  }
  
  .conference-theme12 .internal-navigation li .nav-link:hover {
    background: #2e31e3;
    -webkit-box-shadow: 0px 11px 25px -9px rgba(0, 0, 0, 0.6);
            box-shadow: 0px 11px 25px -9px rgba(0, 0, 0, 0.6);
  }
  
  .conference-theme12 .internal-navigation li .nav-link.active {
    opacity: 1;
    background: #04053d;
    color: #FFFFFF;
  }
  
  .conference-theme12 .bg-intro {
    background: linear-gradient(-45deg, rgba(47,62,191,0.6) 0%, rgba(47,62,191,0.9) 90%), url("/img/parliaments-materials/europe/europa.jpg");
    background-size: cover;
    background-position: 0 center;
  }
  
  .conference-theme12 .bg-intro .btn-only-icon {
    background: #04053d;
    color: #FFFFFF;
  }
  
  .conference-theme12 .alert-conference {
    border-left-color: #2e31e3;
  }
  
  .conference-theme12 a[data-fancybox] {
    background: #2e31e3;
    border-radius: .3rem;
  }
  
 .conference-theme12 a[data-fancybox] img {
    opacity: .8;
    -webkit-transition: all ease .2s;
    transition: all ease .2s;
  }
  
  .conference-theme12 a[data-fancybox] img:hover {
    opacity: 1;
  }

      /* ///////////////////////////////////////////////////////////////////////////////////////////////// */
// CONFERENCE THEME 13 : FRESH
/* ///////////////////////////////////////////////////////////////////////////////////////////////// */

.conference-theme13 + .sharing-module {
  border-top-color: rgb(163, 173, 74);
}
.conference-theme13 .internal-navigation li .nav-link {
  margin: 0 .4rem .8rem;
  color: #FFFFFF;
  font-weight: 600;
  text-transform: uppercase;
  background: rgb(163, 173, 74);

  -webkit-box-shadow: 0px 11px 25px -9px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 6px 15px -9px rgba(0, 0, 0, 0.6);
  -webkit-transition: all ease .2s;
  transition: all ease .2s;
}

.conference-theme13 .internal-navigation li .nav-link:hover {
  background: rgb(177, 189, 77);
  -webkit-box-shadow: 0px 11px 25px -9px rgba(0, 0, 0, 0.6);
          box-shadow: 0px 11px 25px -9px rgba(0, 0, 0, 0.6);
}

.conference-theme13 .internal-navigation li .nav-link.active {
  opacity: 1;
  background: #303305;
  color: #FFFFFF;
}

.conference-theme13 .bg-intro {
  background: linear-gradient(-45deg, rgba(193,208,68,0.6) 0%, rgba(124, 136, 18, 0.9) 90%), url("/img/parliaments-materials/europe/europa.jpg");
  background-size: cover;
  background-position: 0 center;
}

.conference-theme13 .bg-intro .btn-only-icon {
  background: #303305;
  color: #FFFFFF;
}

.conference-theme13 .alert-conference {
  border-left-color: rgb(161,170,80);
}

.conference-theme13 a[data-fancybox] {
  background: rgb(161,170,80);
  border-radius: .3rem;
}

.conference-theme13 a[data-fancybox] img {
  opacity: .8;
  -webkit-transition: all ease .2s;
  transition: all ease .2s;
}

.conference-theme13 a[data-fancybox] img:hover {
  opacity: 1;
}