/* Impacted elements:

+ General styles
+ Calendar of events
+ List of News
+ News details
+ List of documents
+ Parliament details
+ Conference page
+ Landing page
+ Liste de résultats: All
+ IPEX Board
+ Secretaries general
+ go to top

*/

@media print {

  /* ****************************** */
  /* HIDDEN ELEMENTS */
  /* ****************************** */

  .noprint,
  .ipx-header,
  .my-ipex-dropdown,
  .ipx-thumb,
  .ipx-thumb-caption,
  .ipx-footer,
  .detail-buttons .btn-action,
  .ipx-filters,
  .ipx-card-menu,
  .d-flex.timeline,
  .btn-load,
  .ipx-input-container,
  .ipx-filters,
  .ipx-widget,
  .flag,
  .back-to-top,
  .d-flex.previousnext-navigation,
  .ipx-intro-detail,
  .ipx-widget.d-flex,
  .ipx-input-container.d-flex,
  iframe,
  a.carousel-control-prev button,
  a.carousel-control-next button,
  .btn.btn-action,
  .page-divider {
    display:none !important;
  }

  /* ****************************** */
  /* GENERAL */
  /* ****************************** */

  a {
    text-decoration:none !important;
  }
  h1 {
    &.page-title {
      font-size:24pt !important;
      font-weight:bold !important;
      //page-break-before: always;
    }
  }
  h1, h2, h3, h4, h5 {
    page-break-after: avoid;
  }
  figure {
    page-break-inside: avoid;
  }
  table {
    page-break-inside: avoid;
    break-inside: avoid;
  }
  .d-flex {
    display:block !important;
    width:100% !important;
    margin:0 !important;
    padding:0 !important;
  }

  /* ****************************** */
  /* PAGE */
  /* ****************************** */

  @page {
    margin: 2cm 3cm;
  }
  /*@page:right {
      @bottom-right {
        content: counter(page);
      }
  }
  @page:left {
      @bottom-left {
        content: counter(page);
      }
  }*/

  /* ****************************** */
  /* LAYOUT */
  /* ****************************** */

  .main-wrapper {
    min-height: auto;
    &::before {
      text-align:center;
      width:100%;
      display:block;
      content: "IPEX.eu | The platform for EU Interparliamentary Exchange";
      font-size:14pt;
      font-weight:300;
      //text-transform:uppercase;
      background: url("/img/ipex-logo.svg") !important;
      background-repeat:no-repeat !important;
      background-position:center !important;
      margin-bottom:1cm;
    }
    &::after {
      text-align:center;
      width:100%;
      display:block;
      content: "Please see www.ipex.eu for latest updates.";
    }
  }
  .page-content {
    padding-bottom: 1cm;
    background: @white;
  }
  .container-regular {
    max-width: 100% !important;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    .ipx-content {
      margin:1cm 0 !important;
    }
  }
  .container-large {
    max-width: 100% !important;
    width:100% !important;
    padding-left: 0;
    padding-right: 0;
    margin-right: 0;
    margin-left: 0;
    @media @xl-up {
      max-width: 100%;
      padding: 0;
      margin-left:auto;
      margin-right:auto;
      &.container-home-share {
        max-width: calc(100% - 10vw);
        min-width:1140px;
        .carousel.featured-info {
          padding: 0 calc(2rem + 5vw);
          .carousel-inner {
            max-width:1140px;
            margin:0 auto;
          }
        }
      }
    }
  }
  section {
    padding-bottom: 1cm;
  }
  .section-title {
    padding-top:0 !important;
    margin-bottom:4mm;
    font-weight:800;
  }

  /* ****************************** */
  /* CONFERENCE LAYOUT */
  /* ****************************** */

  .visual-layout {
    .bg-intro {
      h1 {
        font-weight: bold;
        color: black;
        + .btn {
          &.btn-only-icon {
            display:none;
          }
        }
      }
      //.featured-image,
      .internal-navigation {
        display:none;
      }
    }
    .conference-logo {
      justify-content: center;
      img {
        max-width:180px;
      }
    }
  }
  .white-box,
  .alert-conference {
    box-shadow:none !important;
  }
  .white-box {
    margin-top:1cm !important;
    > div {
      display: inline-block !important;
      width:45% !important;
      margin:0 !important;
      vertical-align:top;
    }
    .featured-image {
      display:inline-block !important;
      float:right;
      img {
        display:block !important;
      }
    }
  }
  .alert-conference {
    padding-left: 0;
    border-left: none;
    border-radius: 0;
    background: none;
    div.d-flex {
      a[href]:after {
        content: ": " attr(href);
      }
      a {
        .material-icons {
          display:none;
        }
      }
    }
  }

  .carousel.gallery {
    text-align:center;
    display:none !important;
    a {
      display:inline !important;
      img {
        width:20%;
      }
    }
  }

  /* ****************************** */
  /* IPEX ELEMENTS */
  /* ****************************** */
  .ipx-intro {
    padding: 1cm 0;
    h1 {
      font-weight:bold;
      font-size:24pt;
      margin-bottom:.4cm;
    }
  }
  .ipx-cards-list {
    border:none;
  }

  /* ****************************** */
  /* IPEX CARDS */
  /* ****************************** */

  .ipx-card {
    display: block !important;
    /*-webkit-column-break-inside: avoid;
      page-break-inside: avoid;
           break-inside: avoid;*/
    border:none !important;
    padding-bottom:.4cm  !important;
    margin-bottom:.6cm  !important;
    border-radius:0 !important;
    &.ipx-country-card {
      .chamber {
        margin-top:3mm !important;
      }
    }
    h3 {
      margin-bottom:.25cm;
      &.ipx-card-title {
        font-size: 14pt;
        font-weight: 600;
        line-height: 17pt;
        color:black !important;
      }
    }
    .ipx-card-content {
      font-size: 14pt;
      padding:0 !important;
      text-decoration:none !important;
    }
    .ipx-card-thumb {
      display:none;
      + div {
        padding-left:0;
      }
    }
    .ipx-card-footer {
      small {
        margin-top:4mm;
        font-weight:bold;
        .material-icons {
          display:none;
        }
      }

    }
    border-bottom:1pt #ccc dotted !important;
    &:last-child {
      border-bottom:none !important;
    }
  }
  .ipx-card-scrutiny {
    display:block;
    .flag {
      display:none;
    }
  }
  .ipx-person-card {
    .buttons {
      display:none !important;
    }
  }
  .secretaries {
    span {
      span:first-child {
        margin-top:4mm;
      }
    }
  }
  /* //////////////////////// */
  /* FORMS */
  /* //////////////////////// */
  .intro-doc {
    float:right;
    width:33%;
    margin-left:1cm;
    margin-bottom:1cm;
    .dossier-ref {
      margin-bottom:.5cm;
    }
    .related-documents {
      padding-top:.25cm !important;
      display:block !important;
      a {
        padding-top:.25cm !important;
      }
    }
    &.intro-scrutiny {
      float:none;
      width:100%;
      margin-left:0;
      margin-bottom:0 !important;
      .scrutiny-status {
        display:none !important;
      }
      .ipx-intro-light {
        padding:0 !important;
      }
    }
  }
  .ipx-filters {
    display:none !important;
    label {
      margin-bottom:0 !important;
    }
  }
  .ipx-card.ipx-card-scrutiny {
    padding:0 !important;
    .chamber {
      font-size:16pt !important;
      padding: 0 !important;
      margin: 0 !important;
    }
    .country {
      padding:0 !important;
      margin-bottom:.5cm;
      font-weight:600;
      font-size:13pt;
    }
    div {
      &:nth-child(4) {
        order:-2;   
      }
    }
    button {
      box-shadow:none !important;
        background:none !important;
        color:black !important;
        padding:.15cm .25cm 0 0 !important;
        &::after {
          content: attr(title);
          display:block !important;
          font-weight:400;
        }
        
      span {
        display:none !important;
      }
      &::after {
        
        
      }
      
    }
    .btn.btn-action {
      display:none !important;
    }
  }
  .ipx-link {
    div {
      div {
        &:last-child {
          display:none !important;
        }
      }
    }
  }
  .file-metas {
    display:none !important;
  }
  .document-activity {
    padding:.5cm 0;
  }
  .collapsable-list-wrapper {
    margin-top:1cm !important;
  }
  h3[data-toggle="collapse"] {
    button.btn.btn-only-icon {
      display:none !important;
      .material-icons {
        display:none !important;
      }
    }
  }
  .accordion {
    .ipx-accordion-item {
      h3 {
        margin-top:.5cm !important;
        padding-bottom:0.2cm !important;
        margin-bottom:0 !important;
        
      }
      ul {
        margin-top:0.25cm !important;
        li {
          padding:.2cm 0 !important;
        }
      }
    }
    .collapse {
      display:block !important;
    }
  }
  .accordion .ipx-accordion-item:last-child h3.list-title[aria-expanded=false],
  .accordion .ipx-accordion-item:last-child h3.list-title[aria-expanded=true] {
    border-bottom: 1px solid #000 !important;
  }
} // end of @media print

