ep-sidebar {
  border-width: 0px;
  height: 100%;
  .logo {
    img {
      padding-bottom: 1rem;
    }
  }
  .ant-layout-sider-children {
    > div {
      background: transparent;
    }
  }
  hr {
    background: rgba(221, 221, 221, 0.31);
    width: 88%;
  }

  .ant-layout-sider-children {
    > div {
      background: @mainColor;
    }
  }

  .ant-menu-dark {
    background: transparent;
    .ant-menu-item {
      //height: 45px;
      line-height: 45px;
      font-size: 0.4em;

      &:hover {
        color: lighten(@primary-color, 40%) !important;
      }

      &-selected {
        background: transparent !important;
        color: lighten(@primary-color, 40%);
        font-weight: 600;
      }
    }
    .ant-menu-sub {
    }
  }
  ul.ant-menu {
    > li.ant-menu-item {
      font-size: 1em !important;
      padding-left: 1rem !important;
    }
    > li.ant-menu-submenu-inline {
      // padding-top: 1rem;
      // padding-bottom: 1rem;
      .ant-menu-submenu-title {
        font-size: 1.1em !important;
        padding-left: 1rem !important;
      }
      .ant-menu-sub {
        // background: #1e1f34;
        li {
          padding-left: 2rem !important;
          font-size: 1.1em !important;
        }
      }
    }
    > li.ant-menu-submenu-open {
      .ant-menu-submenu-title {
        color: #fff;
        font-weight: 600;
        //margin-bottom: 1rem;
      }
      .ant-menu-sub {
        padding-left: 1rem;
        padding-top: 0px;
        padding-bottom: 1rem;
        .ant-menu-item {
          font-size: 0.8rem !important;
        }
      }
    }
  }
}

.main-sidebar {
  .ant-tabs {
    color: rgba(219, 219, 219, 0.5);
    &-bar {
      border-bottom-color: rgba(219, 219, 219, 0.5);
    }
  }
  .ant-tabs-ink-bar {
    background: #fff;
  }
  .ant-tabs-nav {
    ant-tabs-tab {
      color: #fff;
    }
    .ant-tabs-tab-active {
      color: #fff;
    }
  }
}
