/* ////////////////////////////////////////////////////////////////// */
/* DATEPICKER custom
/* ////////////////////////////////////////////////////////////////// */

.ipx-datepicker {
  background:#f9f9f9 !important;
  padding:0 !important;
  margin:1.25rem 0 0;
  border-radius:.75rem;
}
.ipx-datepicker .mat-calendar {
  width: 100%;
  padding: .5rem;
  font-size:14px !important;
}
.isolang {
  background:#fff;
  width:18px;
  font-size:1rem;
  display:inline-flex;
  justify-content:flex-start;
  align-items:center;
}
.language-zone .dropdown-item {
  padding: .25rem 1.5rem .25rem 1rem;
  transition: all ease .1s;
  &.current-lang {
    color:@baseflash !important;
  }
  &:hover {
    color:@baseflash !important;
  }
}

/* ////////////////////////////////////////////////////////////////// */
/* ONGOING Class for elements in development (not fully functional)
/* ////////////////////////////////////////////////////////////////// */

@inprogresscolor: rgb(252, 68, 1);
@inprogresscolorlight: lighten(@inprogresscolor, 40%);

.ongoing {
  position:relative;
  border:@inprogresscolor 1px dashed;
  border-radius:4px;
  &::before {
    content:"In progress";
    background:@inprogresscolor;
    color:white;
    position:absolute;
    top:-1px;
    left:-1px;
    font-weight:600;
    font-size:10px;
    text-transform: uppercase;
    z-index:101;
    padding:.1rem .4rem .2rem .3rem;
    border-radius:4px 0 4px 0;
    
  }
  &::after {
    display:flex;
    justify-content: center;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    z-index:100;
    background:#f1f1f1;
    content:"";
    opacity:.75;
    border-radius:4px;
  }
}

.dropdown-menu.dropdown-menu-search:hover {
  display:block;
}
.trigger-search:hover {
  + .dropdown-menu {
    &.dropdown-menu-search {
      display:block;
    }
  }
}

.forgot {
  a {
     color:#666;
    &:hover {
      color:@baseflash;
        text-decoration:none;
    }
  }
}
.ce-toolbar__content,
.ce-block__content,
.cdx-block {
  max-width:100%;
  width:100%;
}
h2 {
  &.ce-header {
    display:block;
    padding-top: 2rem;
    //margin-bottom: 1rem !important;
    font-weight: 700;
    font-size: 1.7rem;
  }
}

/* //////////////////////// */
/* Edit icon for editor
/* //////////////////////// */
.editable {
  position:relative;
  .editable-icon {
    position:absolute;
    top:0;
    right:0;
    display:inline-flex;
    justify-content:center;
    align-items:center;
    height:36px;
    width:36px;
    padding:.3rem .8rem;
    font-size:20px;
    color:rgb(196, 196, 196);
    border-radius:5rem;
    background:white;
    //transition:all ease .3s;
    animation: colorblink 1s infinite;
    border:4px solid rgb(196, 196, 196);
    &:hover {
      opacity:1;
      animation: none;
      cursor:pointer !important;
      border:4px solid rgb(238, 82, 43);
      background: rgb(238, 82, 43);
      color:white !important;
    }
  }
  &:hover {
    .editable-icon {
      opacity:1;
      color:white !important;
      cursor:pointer !important;
    }
  }
}

@keyframes colorblink { 
  0% {}
  50% { 
    
    color:rgb(238, 82, 43);
    border:4px solid rgb(238, 82, 43); 
  } 
}

.ipx-card-exp {
  //border-left-width:5px;
  &:hover {
    //border-left-width:5px;
    //border-color:desaturate(lighten(@green,25%), 5%);
    //border-left-color:@green;
  }
  .ipx-card-content {
    padding:1.5rem 1.5rem 1rem !important;
  }
  //border-left-color:@green;
  &.is-expiring {
    //border-left-color:@red;
    &:hover {
      //border-left-color:@red;
    }
  }
}
.deadline-activity {
  ul {
    display:flex;
    list-style-type: none;
    margin-left:-.25rem;
    margin-bottom:0;
    flex-wrap:wrap;
    li {
      a {
        display:inline-flex;
        align-items:center;
        background:#f9f9f9;
        font-size:.9rem;
        padding:.1rem .5rem;
        margin-right:.5rem;
        margin-bottom:.5rem;
        border-radius:3rem;
        
        transition:all ease .2s;
        &:hover {
          background:#f1f1f1;
        }
      }
    }
  }
}

.deadlines {
  .ipx-card-list {
    padding:0;
  }
  h4 {
    font-size:1.1rem;
    font-weight:700;
    margin-bottom:.5rem;
    padding-top:1rem;
  }
}

.ipx-card-exp {
  position:relative;
  .ipx-card-title {
      display:flex;
      align-items:center;
      color:black;
  }
  .date {
    font-size:1rem;
    color:darken(@green, 7%);
    font-weight:700;
    margin-top:-10px;
    .material-icons {
      margin-right:.25rem;
    }
  }
  &::before {
      content:"";
      position:absolute;
      top:-2px;
      left:-2px;
      bottom:-2px;
      width:6px;
      border-radius:.3rem 0 0 .3rem;
      background:lighten(@green, 58%);
      background:  linear-gradient(194deg, lighten(@green, 20%) 0%, #9edcb3 100%);
  }
  &:hover {
    border-color:lighten(@green, 15%);
    &::before {
      border-radius:.3rem 0 0 .3rem;
      background:lighten(@green, 58%);
      background:  linear-gradient(194deg, lighten(@green, 10%) 0%, #9edcb3 100%);
    }
    .ipx-card-title {
      color:black;
  }
  }
  .ipx-card-content {
      padding-bottom:.7rem;
    }
}

.is-expiring {
  .ipx-card-exp {
    .date {
      color:@red;
    }
    &::before {
        content:"";
        background:lighten(@red, 58%);
        background:  linear-gradient(194deg, lighten(@red, 5%) 0%, #ff7a33 100%);
    }
    &:hover {
      border-color:lighten(@red, 15%);
      &::before {
        background:lighten(@red, 58%);
        background:  linear-gradient(194deg, lighten(@red, 5%) 0%, #ff7a33 100%);
      }
    } 
  }
}

// ///////////////////////////////
// EMPTY CARDS ON HOME CAROUSELS 
// ///////////////////////////////

.empty-card-content {
  flex-grow:1;
  display:flex;
  flex-direction:column;
  span {
    background:#f6f6f6;
    height:1.75rem;
    width:80%;
    margin-bottom:1rem;
    border-radius:.3rem;
  }
}

/* IMPORTANT */
.home-document {
  .empty-card-content {
    span {
      width:95%;
      flex-grow:1;
      &:first-child {
        width:85%;
        flex-grow:0;
      }
      &:last-child {
        width:5rem;
        margin-top:.75rem;
        margin-bottom:.25rem;
        flex-grow:0;
      }
    }
  }
}

/* HIGH ACTIVITY */
.home-high {
  .empty-card-content {
    span {
      width:40px;
      flex-grow:0;
      &:first-child {
        width:95%;
      }
      &:last-child {
        width:95%;
        flex-grow:1;
        margin-top:.75rem;
        margin-bottom:0;
      }
    }
  }
}

/* EVENTS */
.home-events {
  .empty-card-content {
    span {
      width:50%;
      flex-grow:0;
      height:1.25rem;
      &:first-child {
        width:70%;
        flex-grow:0;
        height:1.9rem;
      }
      &:last-child {
        width:95%;
        height:1.75rem;
        margin-top:.75rem;
        margin-bottom:0;
        flex-grow:1;
      }
    }
  }
}

/* NEWS */
.home-news {
  .empty-card-content {
    span {
      width:95%;
      flex-grow:1;
      &:first-child {
        width:35%;
        flex-grow:0;
      }
      &:last-child {
        width:65%;
        margin-top:.75rem;
        margin-bottom:0;
        flex-grow:0;
      }
    }
  }
}

.contactpoint {
  .email,
  .phone {
    margin-top:.2rem;
  }
}
.hasalot {
  display:flex;
  //flex-direction:column;
  flex-wrap:wrap;
  //align-items:flex-start;
  > h5 {
    margin-bottom:1rem;
  }
  .contactpoint {
    h5 {
      font-size:1rem;
      font-weight:400;
        background:#f1f1f1;
        padding:0;
        padding:.4rem .8rem;
        margin:0 .75rem .75rem 0;
        border-radius:50px;
        transition:all ease .3s;
        &:hover {
          background: darken(#f1f1f1, 5%);
          cursor:pointer;
        }
    }
    .email,
    .phone {
      display:none;
    }
  }
}


.badges-categories{
  margin-top:.5rem;
  .badge {
    -webkit-transition: all .3s ease;
    -o-transition: all ease .3s;
    margin-right: .5rem;
    margin-bottom: .5rem;
    padding: .4rem .6rem;
    border: 1px solid #f5f5f5;
    border-radius: 4px;
    background-color: #f1f1f1;
    color: #000;
    font-size: .9rem;
    font-weight: 300;
    transition: all .3s ease;
  }
}