<template>
  <div class="d-flex flex-column flex-grow-1">
    <div class="breadcrumb-container">
      <Breadcrumbs :breadcrumbs="breadcrumbs" :breadcurrent="pagetitle" />
    </div>
    <div class="ipx-intro">
      <div class="container-regular d-flex">
        <img
          src="/img/ipx-icon-news.svg"
          alt="This is the alt attribute for the image"
          class="ipx-thumb flex-grow-0 flex-shrink-0"
        />
        <div class="d-flex flex-column w-100">
          <h1>CMS Front Editor demo</h1>
          <p class="lead mb-0 mr-md-5">
            This page uses Editor.js as front-end editor. Sit amet consectetur adipisicing elit. Numquam assumenda earum, nemo quas incidunt quisquam mollitia alias voluptas eaque dolores fugit est, laborum, in veritatis illum non? Eaque, in nesciunt.
          </p>
          <small class="ipx-thumb-caption"
            >Image: Here comes the description of the featured image.</small
          >
        </div>
      </div>
    </div>
    <div class="container-regular flex-grow-1 ipx-content">
      <section class="editable">
        <editor
          autofocus
          holder-id="codex-editor"
          save-button-id="save-button"
          :init-data="initData"
          @save="save"
          @ready="onReady"
          @change="onChange"
        />
      </section>
    </div>
    <IpexWidget />
  </div>
</template>

<script>
import Breadcrumbs from "~/components/navigation/Breadcrumbs";
import ContentHeader from "~/components/layout/ContentHeader";
import ContentLanding from "~/components/layout/ContentLanding";
import IpexWidget from "~/components/IpexWidget";

export default {
  layout: "default",
  components: {
    Breadcrumbs,
    ContentHeader,
    ContentLanding,
    IpexWidget
  },
  data() {
    return {
      page: "landing",
      pagetitle: "Landing page template",
      breadcrumbs: [
        {
          text: "Home",
          link: "/"
        }
      ]
    };
  }
};
</script>
