<template>
  <div class="d-flex flex-column flex-grow-1">
    <div class="breadcrumb-container">
      <Breadcrumbs :breadcrumbs="breadcrumbs" :breadcurrent="pagetitle"/>
    </div>
    <ContentHeader :imgSrc="'/img/ipx-icon-folder.svg'" :imgAlt="'This is the alt attribute for the image'" :imgCaption="'This is the thumbnail caption.'" :title="'Different types of lists'" :description="'These are different type of lists for cards. Atque modi exercitationem minus Inventore sapiente reiciendis omnis repellendus perspiciatis totam ducimus ipsum pariatur.'"/>
    <div class="container-regular flex-grow-1 ipx-content">
        <section>
            <h2 class="section-title">
                Basic list with load more button
            </h2>
            <div class="ipx-card-list">
                <CardBasic/>
                <CardImage/>
            </div>
            <Pagination/>
        </section>
        <section>
            <h2 class="section-title">
                Basic list with pagination
            </h2>
            <div class="ipx-card-list">
                <CardBasic/>
                <CardImage/>
            </div>
            <LoadMore/>
        </section>
    </div>
  </div>
</template>

<script>
import Breadcrumbs from "~/components/navigation/Breadcrumbs"
import ContentHeader from "~/components/layout/ContentHeader"
import CardBasic from "~/components/cards/CardBasic"
import CardImage from "~/components/cards/CardImage"
import LoadMore from "~/components/LoadMore";
import Pagination from "~/components/Pagination";

export default {
  layout: "default",
  components: {
    Breadcrumbs,
    ContentHeader,
    CardBasic,
    CardImage,
    LoadMore,
    Pagination
  },
  data() {
    return {
      page: "landing",
      pagetitle: "Lists of cards",
      breadcrumbs: [
        {
          text: "Home",
          link: "/"
        }
      ]
    }
  }
}
</script>