<template>
  <div class="d-flex flex-column flex-grow-1">
    <div class="breadcrumb-container">
      <Breadcrumbs :breadcrumbs="breadcrumbs" :breadcurrent="pagetitle" />
    </div>
    <div class="container-large flex-grow-1 ipx-content">
      <section>
        <div class="d-flex justify-content-between align-items-center w-100 flex-wrap mb-4">
          <h1 class="page-title">
              IPEX Board
          </h1>
          <div class="detail-buttons">
            <button class="btn btn-action btn-flash btn-menu d-flex align-items-center dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Open menu">
              Export
            </button>
            <div class="dropdown-menu dropdown-menu-right shadow-sm">
              <ul>
                <li><a class="dropdown-item" href="#">Print</a></li>
                <li><a class="dropdown-item" href="#">Export PDF</a></li>
                <li><a class="dropdown-item" href="#">Export XML</a></li>
                <li><a class="dropdown-item" href="#">Export XLS</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="detail-intro d-flex align-items-start flex-wrap">
          <div class="detail-info d-flex flex-column w-100">
            <div class="article4">
              <ul class=""><li>
                1. The Board consists of members representing:
                <ul><li>a. the national Parliaments holding the previous, current and upcoming Presidency of the Conference of Speakers of the European Union Parliaments;</li> <li>b. the national Parliament of the member state holding the Presidency of the Council of the European Union during the first semester of the year in which the Board takes office;</li> <li>c. other national Parliaments that wish to participate and commit to contributing to working groups set up by the Board;</li> <li>d. the European Parliament.</li></ul></li> <li>2. COSAC, the ECPRD, the European Commission and the Council participate in and contribute to Board meetings.</li> <li>3. The Chair may invite other relevant organizations or individuals to Board meetings.</li></ul> <p class="source">IPEX Guidelines, Article 4 (Composition of the Board)</p>
            </div>
          </div>
        </div>
      
        <InputLarge :id="'FilterParl'" :placeholder="'Find a parliament or a country'" :button="'Search'" :hasButton="false"/>
      </section>
      <section>
        <h2 class="section-title">Board chair</h2>
        <div class="ipx-card-list ipx-card-list-1col">
          <div
            v-for="(item, index) in board.chair"
            class="ipx-card ipx-person-card ipx-nolink-card ipx-chair-card"
            :key="index"
          >
            <div class="ipx-card-content d-flex flex-column">
              <h5 class="pt-0 ipx-contact-name d-flex justify-content-between">{{item.name}} 
               
                <img class="flag flag-md mr-2 flag-ee" src="/img/flags/ee.svg" alt="">
                </h5>
              <span class="chamber">{{item.chamber}}</span>
              <span class="email">
                Email:
                <a :href="'mailto:'+item.email" title="Send an email">{{item.email}}</a>
              </span>
              <span class="phone">
                Phone:
                <a :href="'tel:'+item.telephone" title="Call this number">{{item.telephone}}</a>
              </span>
              <div class="buttons d-flex align-items-end flex-grow-1 mt-3">
                <a :href="'mailto:'+item.email" class="btn btn-disc d-flex d-md-none mr-2" title="Send an email">
                  <i class="material-icons">mail</i>
                </a>
                <a :href="'tel:'+item.telephone" title="Call this number" class="btn btn-disc d-flex d-md-none mr-2">
                  <i class="material-icons">phone</i>
                </a>
                <div class="d-flex flex-grow-1 justify-content-end justify-content-md-start">
                  <a
                    class="btn btn-sm btn-icon-start export-vcard justify-self-end p-0 d-flex flex-row"
                  >
                    <i class="material-icons mr-2">contact_mail</i>Export v-card
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <h2 class="section-title">Board members</h2>
        <div class="ipx-card-list ipx-card-list-3col">
          <div
            v-for="(item, index) in board.members"
            class="ipx-card ipx-person-card ipx-nolink-card"
            :key="index"
          >
            <div class="ipx-card-content d-flex flex-column">
              <h5 class="pt-0 ipx-contact-name">{{item.name}}</h5>
              <span class="chamber">{{item.chamber}}</span>
              <span class="email">
                Email:
                <a :href="'mailto:'+item.email" title="Send an email">{{item.email}}</a>
              </span>
              <span class="phone">
                Phone:
                <a :href="'tel:'+item.telephone" title="Call this number">{{item.telephone}}</a>
              </span>
              <div class="buttons d-flex align-items-end flex-grow-1 mt-3">
                <a :href="'mailto:'+item.email" class="btn btn-disc d-flex d-md-none mr-2" title="Send an email">
                  <i class="material-icons">mail</i>
                </a>
                <a :href="'tel:'+item.telephone" title="Call this number" class="btn btn-disc d-flex d-md-none mr-2">
                  <i class="material-icons">phone</i>
                </a>
                <div class="d-flex flex-grow-1 justify-content-end justify-content-md-start">
                  <a
                    class="btn btn-sm btn-icon-start export-vcard justify-self-end p-0 d-flex flex-row"
                  >
                    <i class="material-icons mr-2">contact_mail</i>Export v-card
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <h2 class="section-title">Board contributors</h2>
        <div class="ipx-card-list ipx-card-list-3col">
          <div
            v-for="(item, index) in board.contributors"
            class="ipx-card ipx-person-card ipx-nolink-card"
            :key="index"
          >
            <div class="ipx-card-content d-flex flex-column">
              <h5 class="pt-0 ipx-contact-name">{{item.name}}</h5>
              <span class="chamber">{{item.chamber}}</span>
              <span class="email">
                Email:
                <a :href="'mailto:'+item.email" title="Send an email">{{item.email}}</a>
              </span>
              <span class="phone">
                Phone:
                <a :href="'tel:'+item.telephone" title="Call this number">{{item.telephone}}</a>
              </span>
              <div class="buttons d-flex align-items-end flex-grow-1 mt-3">
                <a :href="'mailto:'+item.email" class="btn btn-disc d-flex d-md-none mr-2" title="Send an email">
                  <i class="material-icons">mail</i>
                </a>
                <a :href="'tel:'+item.telephone" title="Call this number" class="btn btn-disc d-flex d-md-none mr-2">
                  <i class="material-icons">phone</i>
                </a>
                <div class="d-flex flex-grow-1 justify-content-end justify-content-md-start">
                  <a
                    class="btn btn-sm btn-icon-start export-vcard justify-self-end p-0 d-flex flex-row"
                  >
                    <i class="material-icons mr-2">contact_mail</i>Export v-card
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</template>

<script>
import Breadcrumbs from "~/components/navigation/Breadcrumbs";
import ContentHeaderContact from "~/components/layout/ContentHeaderContact";
import CardParliamentsList from "~/components/cards/CardParliamentsList";
import Board from "@/components/data/Board.json";
import InputLarge from "~/components/forms/InputLarge";

export default {
  layout: "default",
  components: {
    Breadcrumbs,
    ContentHeaderContact,
    CardParliamentsList,
    InputLarge
  },
  data() {
    return {
      page: "landing",
      pagetitle: "IPEX Board",
      board: Board,
      breadcrumbs: [
        {
          text: "Home",
          link: "/"
        },
        {
          text: "About IPEX",
          link: "/"
        }
      ]
    };
  }
};
</script>