<template>
  <div class="d-flex flex-column flex-grow-1">
    <div class="breadcrumb-container">
      <Breadcrumbs :breadcrumbs="breadcrumbs" :breadcurrent="pagetitle"/>
    </div>
    <ContentHeader :imgSrc="'/img/ipx-icon-documents.svg'" :imgAlt="'This is the alt attribute for the image'" :imgCaption="'This is the thumbnail caption.'" :title="'Different layouts for cards'" :description="'Welcome to your very personal space. With My IPEX, you can create your own IPEX experience, save your searches, manage update notifications and much more...'"/>
    <div class="container-regular flex-grow-1 ipx-content">
        <section>
            <h2 class="section-title">
                My stored searches
            </h2>
            <div class="ipx-card-list">
                <CardImageMenu/>
            </div>
            <nav aria-label="Page navigation example" class="d-flex  justify-content-center">
                <ul class="pagination">
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1">Previous</a>
                    </li>
                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">...</a></li>
                    <li class="page-item"><a class="page-link" href="#">13</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#">Next</a>
                    </li>
                </ul>
            </nav>
        </section>
    </div>
  </div>
</template>
<script>
import Breadcrumbs from "~/components/navigation/Breadcrumbs";
import ContentHeader from "~/components/layout/ContentHeader";
import CardBasic from "~/components/cards/CardBasic";
import CardConference from "~/components/cards/CardConference";
import CardDocument from "~/components/cards/CardDocument";
import CardEvent from "~/components/cards/CardEvent";
import CardFooter from "~/components/cards/CardFooter";
import CardImage from "~/components/cards/CardImage";
import CardImageMenu from "~/components/cards/CardImageMenu";
import CardLongDescriptionEllipsis from "~/components/cards/CardLongDescriptionEllipsis";
import CardLongTitle from "~/components/cards/CardLongTitle";
import CardLongTitleEllipsis from "~/components/cards/CardLongTitleEllipsis";
import CardMenu from "~/components/cards/CardMenu";
import CardThin from "~/components/cards/CardThin";
import CardThinMenu from "~/components/cards/CardThinMenu";
import CardsCarousel from "~/components/cards/CardsCarousel";

export default {
  layout: "default",
  components: {
    Breadcrumbs,
    ContentHeader,
    CardBasic,
    CardConference,
    CardDocument,
    CardEvent,
    CardFooter,
    CardImage,
    CardImageMenu,
    CardLongDescriptionEllipsis,
    CardLongTitle,
    CardLongTitleEllipsis,
    CardMenu,
    CardThin,
    CardThinMenu,
    CardsCarousel
  },
  data() {
    return {
      page: "landing",
      pagetitle: "My stored searches",
      breadcrumbs: [
        {
          text: "Home",
          link: "/"
        }
      ]
    }
  }
}
</script>