<template>
  <div class="d-flex flex-column flex-grow-1">
    <div class="breadcrumb-container">
      <Breadcrumbs :breadcrumbs="breadcrumbs" :breadcurrent="pagetitle"/>
    </div>
    <ContentHeader :imgSrc="'/icons/ipx-icon-news-large.svg'" :imgAlt="'This is the alt attribute for the image'" :imgCaption="'This is the thumbnail caption.'" :title="'News from Parliaments'" :description="'The latest news from and about EU Parliaments. Itaque inventore, eos consectetur aut nostrum ex ab vitae corporis recusandae, quae cumque veritatis consequuntur at, ipsa earum. Laudantium magni omnis natus.'"/>
    <div class="container-regular flex-grow-1 ipx-content">
        <section>
          <InputLarge :id="'FilterParl'" :placeholder="'Search in all news'" :button="'Search'" :hasButton="true"/>
        </section>
        <section>
            <h2 class="section-title">
                List of news
            </h2>
            <FiltersNews/>
            <div class="ipx-card-list">
                <CardNews :imgSrc="'/img/parliaments-materials/img-box-italian-senate.jpg'" :title="'On 19 March 2019, the Italian Prime Minister, Giuseppe Conte, gave a statement to the Parliament on the upcoming European Council, to be held on 21 and 22 March.'" :date="'20/03/2019'" :source="'The Italian Senate and Chamber of Deputies'"/>
            </div>
            <LoadMore/>
        </section>
    </div>
  </div>
</template>

<script>
import Breadcrumbs from "~/components/navigation/Breadcrumbs"
import ContentHeader from "~/components/layout/ContentHeader"
import CardBasic from "~/components/cards/CardBasic"
import CardImage from "~/components/cards/CardImage"
import CardNews from "~/components/cards/CardNews"
import LoadMore from "~/components/LoadMore"
import Pagination from "~/components/Pagination"
import InputLarge from "~/components/forms/InputLarge"
import FiltersNews from "~/components/forms/FiltersNews"

export default {
  layout: "default",
  components: {
    Breadcrumbs,
    ContentHeader,
    CardBasic,
    CardImage,
    CardNews,
    LoadMore,
    Pagination,
    InputLarge,
    FiltersNews
  },
  data() {
    return {
      page: "landing",
      pagetitle: "News from Parliaments",
      breadcrumbs: [
        {
          text: "Home",
          link: "/"
        },
        {
          text: "Parliaments",
          link: "/"
        }
      ]
    }
  }
}
</script>