<template>
  <div class="d-flex flex-column flex-grow-1">
    <div class="breadcrumb-container">
      <Breadcrumbs :breadcrumbs="breadcrumbs" :breadcurrent="pagetitle" />
    </div>
    <div class="container-large flex-grow-1 ipx-content">
      <section>
        <div class="d-flex justify-content-center justify-content-md-between align-items-center w-100 flex-wrap mb-4">
          <h1 class="page-title">
              Secretaries general information
          </h1>
          <div class="detail-buttons">
            <button class="btn btn-action btn-flash btn-menu d-flex align-items-center dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Open menu">
              Export
            </button>
            <div class="dropdown-menu dropdown-menu-right shadow-sm">
              <ul>
                <li><a class="dropdown-item" href="#">Print</a></li>
                <li><a class="dropdown-item" href="#">Export PDF</a></li>
                <li><a class="dropdown-item" href="#">Export XML</a></li>
                <li><a class="dropdown-item" href="#">Export XLS</a></li>
              </ul>
            </div>
          </div>
        </div>
        <InputLarge :id="'FilterParl'" :placeholder="'Find a parliament, a country or a person'" :button="'Search'" :hasButton="false"/>
      </section>
      <section>
        <h2 class="section-title">
            EU Institutions
        </h2>
        <div class="ipx-card-list ipx-card-list-2col">
          <div class="ipx-card ipx-country-card ipx-nolink-card w-100 mr-0" v-for="(item, index) in contacts.countries" :key="index" :iso="item.countrycode" :name="item.country" v-if="item.isEU">
            <div class="ipx-card-content">
              <h5 class="pt-0 mb-0">
                  <img :class="'flag flag-sm mr-2 flag-'+item.countrycode" :src="'/img/flags/'+item.countrycode+'.svg'" alt="">
                  {{item.country}}
              </h5>
              <div class="d-flex flex-wrap">
                <div v-for="(chamb, index) in item.chambers" class="d-flex flex-column chamber" :key="index">
                  <span class="mt-3 mb-1 font-weight-bold">{{chamb.name}}</span>
                  <div class="secretaries d-flex" v-for="(item, index) in chamb.secretaries" :key="index">
                    <span class="d-flex flex-column">
                      <span class="">{{item.name}}</span>
                      <a href="#" class="underline ">+44 256 897 369</a>
                      <a href="#" class="underline ellipsis">exampletest@example.com</a>
                      <div class="buttons d-flex align-items-end flex-grow-1 mt-3">
                        <a class="btn btn-disc mr-2" title="Email">
                          <i class="material-icons">mail</i>
                        </a>
                        <a class="btn btn-disc mr-2" title="Telephone">
                          <i class="material-icons">phone</i>
                        </a>
                        <a class="btn btn-disc mr-2 d-none" title="Export v-card">
                          <i class="material-icons">contact_mail</i>
                        </a>
                      </div>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section>
        <h2 class="section-title">
            EU Members states
        </h2>
        <div class="ipx-card-list ipx-card-list-2col">
          <div class="ipx-card ipx-country-card ipx-nolink-card" v-for="(item, index) in contacts.countries" :key="index" :iso="item.countrycode" :name="item.country" v-if="!item.isCandidate && !item.isFormer && !item.isEU">
            <div class="ipx-card-content">
              <h5 class="pt-0 mb-0">
           
                  <img :class="'flag flag-sm mr-2 flag-'+item.countrycode" :src="'/img/flags/'+item.countrycode+'.svg'" alt="">
                  {{item.country}}
              </h5>
              <div class="d-flex flex-wrap">
                <div v-for="(chamb, index) in item.chambers" class="d-flex flex-column chamber" :key="index">
                  <span class="mt-3 mb-1 font-weight-bold">{{chamb.name}}</span>
                  <div class="secretaries d-flex" v-for="(item, index) in chamb.secretaries" :key="index">
                    <span class="d-flex flex-column">
                      <span class="">{{item.name}}</span>
                      <a href="" class="underline ">+44 256 897 369</a>
                      <a href="" class="underline ellipsis">exampletest@example.com</a>
                      <div class="buttons d-flex align-items-end flex-grow-1 mt-3">
                        <a class="btn btn-disc mr-2" title="Email">
                          <i class="material-icons">mail</i>
                        </a>
                        <a class="btn btn-disc mr-2" title="Telephone">
                          <i class="material-icons">phone</i>
                        </a>
                        <a class="btn btn-disc mr-2 d-none" title="Export v-card">
                          <i class="material-icons">contact_mail</i>
                        </a>
                      </div>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section>
        <h2 class="section-title">
            Former EU members
        </h2>
        <div class="ipx-card-list ipx-card-list-2col">
          <div class="ipx-card ipx-country-card ipx-nolink-card" v-for="(item, index) in contacts.countries" :key="index" :iso="item.countrycode" :name="item.country" v-if="item.isFormer">
            <div class="ipx-card-content">
              <h5 class="pt-0 mb-0">
                <img :class="'flag flag-sm mr-2 flag-'+item.countrycode" :src="'/img/flags/'+item.countrycode+'.svg'" alt="">
                 
                  {{item.country}}
              </h5>
              <div class="d-flex flex-wrap">
                <div v-for="(chamb, index) in item.chambers" class="d-flex flex-column chamber" :key="index">
                  <span class="mt-3 mb-1 font-weight-bold">{{chamb.name}}</span>
                  <div class="secretaries d-flex" v-for="(item, index) in chamb.secretaries" :key="index">
                    <span class="d-flex flex-column">
                      <span class="">{{item.name}}</span>
                      <a href="" class="underline ">+44 256 897 369</a>
                      <a href="" class="underline ellipsis">exampletest@example.com</a>
                      <div class="buttons d-flex align-items-end flex-grow-1 mt-3">
                        <a class="btn btn-disc mr-2" title="Email">
                          <i class="material-icons">mail</i>
                        </a>
                        <a class="btn btn-disc mr-2" title="Telephone">
                          <i class="material-icons">phone</i>
                        </a>
                        <a class="btn btn-disc mr-2 d-none" title="Export v-card">
                          <i class="material-icons">contact_mail</i>
                        </a>
                      </div>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section>
        <h2 class="section-title">
            Candidate countries
        </h2>
        <div class="ipx-card-list ipx-card-list-2col">
          <div class="ipx-card ipx-country-card ipx-nolink-card" v-for="(item, index) in contacts.countries" :key="index" :iso="item.countrycode" :name="item.country" v-if="item.isCandidate">
            <div class="ipx-card-content">
              <h5 class="pt-0 mb-0">
                  <img :class="'flag flag-sm mr-2 flag-'+item.countrycode" :src="'/img/flags/'+item.countrycode+'.svg'" alt="">
                  {{item.country}}
              </h5>
              <div class="d-flex flex-wrap">
                <div v-for="(chamb, index) in item.chambers" class="d-flex flex-column chamber" :key="index">
                  <span class="mt-3 mb-1 font-weight-bold">{{chamb.name}}</span>
                  <div class="secretaries d-flex" v-for="(item, index) in chamb.secretaries" :key="index">
                    <span class="d-flex flex-column">
                      <span class="">{{item.name}}</span>
                      <a href="" class="underline ">+44 256 897 369</a>
                      <a href="" class="underline ellipsis">exampletest@example.com</a>
                      <div class="buttons d-flex align-items-end flex-grow-1 mt-3">
                        <a class="btn btn-disc mr-2" title="Email">
                          <i class="material-icons">mail</i>
                        </a>
                        <a class="btn btn-disc mr-2" title="Telephone">
                          <i class="material-icons">phone</i>
                        </a>
                        <a class="btn btn-disc mr-2 d-none" title="Export v-card">
                          <i class="material-icons">contact_mail</i>
                        </a>
                      </div>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</template>

<script>
import Breadcrumbs from "~/components/navigation/Breadcrumbs";
import ContentHeaderContact from "~/components/layout/ContentHeaderContact";
import CardParliamentsList from "~/components/cards/CardParliamentsList";
import Contacts from "@/components/data/Contacts.json";
import InputLarge from "~/components/forms/InputLarge";

export default {
  layout: "default",
  components: {
    Breadcrumbs,
    ContentHeaderContact,
    CardParliamentsList,
    InputLarge
  },
  data() {
    return {
      page: "landing",
      pagetitle: "Secretaries general",
      contacts: Contacts,
      breadcrumbs: [
        {
          text: "Home",
          link: "/"
        },
        {
          text: "About IPEX",
          link: "/"
        }
      ]
    };
  }
};
</script>