<template>
  <div class="d-flex flex-column flex-grow-1">
    <div class="ongoing">
        <div class="container-large d-flex justify-content-center">
            [ONGOING WORK] This page is not yet done and cannot be used as a reference.
        </div>
    </div>
    <div class="breadcrumb-container">
      <Breadcrumbs :breadcrumbs="breadcrumbs" :breadcurrent="pagetitle"/>
    </div>
    <div class="container-regular">
      <section>
        <div class="results-summary d-flex align-items-center justify-content-between" >
          <div class="results-count">
            <span>889</span>
            Results
            <span class="diplay-nbr">Display 1-10 of 889</span>
          </div>
          <div class="results-buttons d-flex">
            <button type="button" class="btn btn-action d-inline-flex align-items-center mr-3" data-toggle="modal" data-target="#modalSaveSearch">
            Save search
            </button>
            <div class="vertical-separator"></div>
            <button type="button" class="btn btn-thin btn-action btn-white d-inline-flex align-items-center pr-0" data-toggle="collapse" href="#collapseConfDocs1" role="button" aria-expanded="true" aria-controls="collapseConfDocs1">
            <i class="material-icons mx-2">search</i>Refine search
            <i class="material-icons icon-flash ml-2">keyboard_arrow_down</i>
            </button>
          </div>
          </div>
            <div class="results-criteria collapse show d-none" id="collapseConfDocs1">
              <div class="criteria-selects d-flex flex-wrap">
                <select name="" id="" class="form-control select-ipex mr-2 mb-2 flex-grow-1">
                  <option value="Search type">Search type</option>
                  <option value="Reference codes">Reference codes</option>
                  <option value="Celex category">Celex category</option>
                  <option value="Eurovoc">Eurovoc</option>
                  <option value="Institution">Institution</option>
                </select>
                <select name="" id="" class="form-control select-ipex mr-2 mb-2 flex-grow-1">
                  <option value="Reference codes">Reference codes</option>
                  <option value="Celex category">Celex category</option>
                  <option value="Eurovoc">Eurovoc</option>
                  <option value="Institution">Institution</option>
                </select>
                <select name="" id="" class="form-control select-ipex mr-2 mb-2 flex-grow-1">
                  <option value="Celex category">Celex category</option>
                  <option value="Eurovoc">Eurovoc</option>
                  <option value="Institution">Institution</option>
                </select>
                <select name="" id="" class="form-control select-ipex mr-2 mb-2 flex-grow-1">
                  <option value="Eurovoc">Eurovoc</option>
                  <option value="Institution">Institution</option>
                </select>
                <select name="" id="" class="form-control select-ipex mb-2 flex-grow-1">
                  <option value="Institution">Institution</option>
                </select>
              </div>
            </div>
      </section>
    </div>
    <div class="container-regular flex-grow-1 ipx-content">
        <section>
            <h2 class="section-title">
                Your results
            </h2>
            <div class="ipx-card-list">
                <CardNews :imgSrc="'/img/parliaments-materials/img-box-italian-senate.jpg'" :title="'On 19 March 2019, the Italian Prime Minister, Giuseppe Conte, gave a statement to the Parliament on the upcoming European Council, to be held on 21 and 22 March.'" :date="'20/03/2019'" :source="'The Italian Senate and Chamber of Deputies'"/>
                <div class="ipx-card has-menu">
                  <a href="/" class="ipx-card-content w-100">
                    <h3 class="ipx-card-title d-flex flex-column flex-sm-row">
                      <span class="flex-shrink-0">COM/2006/0147FIN</span>
                        <div class="ipx-tags flex-grow-1 justify-center-end d-flex align-items-center mt-2 mt-sm-0">
                          <span title="Yellow card" class="btn btn-yellowcard rounded ipx-tag shadow-sm ml-sm-2">Y<span class="sr-only">Yellow card</span></span>
                          <div class="scrutiny-status flex-grow-1 d-flex justify-content-sm-end">
                            <span title="A reasoned opinion has been sent" class="btn btn-opinion ipx-tag shadow-sm">R<span class="sr-only">Reasoned opinion</span></span>
                            <span title="Political Dialogue" class="btn btn-dialog ipx-tag shadow-sm">D<span class="sr-only">Political Dialogue</span></span>
                            <span title="There is important information to exchange" class="btn btn-exchange ipx-tag shadow-sm">E<span class="sr-only">Exchange</span></span>
                          </div>
                        </div>
                    </h3>
                    <p class="ipx-card-description">
                      Proposal for a Council Regulation concerning the implementation of the Agreement concluded by the EC following negotiations in the framework of Article XXIV.6 of GATT 1994, amending Annex I to Regulation (EEC) No 2658/87 on the tariff and statistical nomenclature and on the Common Customs Tariff.
                    </p>
                  </a>
                  <div class="ipx-card-menu">
                      <button class="btn btn-disc" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Open menu">
                          <i class="material-icons">more_vert</i>
                      </button>
                      <div class="dropdown-menu dropdown-menu-right shadow-sm">
                          <ul>
                          <li><a class="dropdown-item" href="#">Save to favourites</a></li>
                          <li><a class="dropdown-item" href="#">Export</a></li>
                          </ul>
                      </div>
                  </div>
                </div>
            </div>
            <LoadMore/>
        </section>
    </div>
    <ModalSaveSearch/>
  </div>
</template>

<script>
import Breadcrumbs from "~/components/navigation/Breadcrumbs"
import ContentHeader from "~/components/layout/ContentHeader"
import CardBasic from "~/components/cards/CardBasic"
import CardImage from "~/components/cards/CardImage"
import CardNews from "~/components/cards/CardNews"
import LoadMore from "~/components/LoadMore"
import Pagination from "~/components/Pagination"
import InputLarge from "~/components/forms/InputLarge"
import FiltersNews from "~/components/forms/FiltersNews"
import ModalSaveSearch from "~/components/ModalSaveSearch"

export default {
  layout: "default",
  components: {
    Breadcrumbs,
    ContentHeader,
    CardBasic,
    CardImage,
    CardNews,
    LoadMore,
    Pagination,
    InputLarge,
    FiltersNews,
    ModalSaveSearch
  },
  data() {
    return {
      page: "landing",
      pagetitle: "List of results",
      breadcrumbs: [
        {
          text: "Home",
          link: "/"
        },
        {
          text: "Advanced search",
          link: "/"
        }
      ]
    }
  }
}
</script>