<template>
    <div>
    <h2>The Finnish Eduskunta and the European Union</h2>
        <p>The Finnish Parliament decides what position Finland should take in EU decision-making on matters that fall within Parliament's competence. All of Parliament's committees and Members are involved in EU matters. The sector committees issue statements on each dossier, after which the Grand Committee or the Foreign Affairs Committee approve Parliament's position.</p>
        <p>Ministers attending Council meetings receive a political mandate from Parliament. There are provisions in the Finnish Constitution concerning the participation of Parliament in the national preparation of decision-making at European level.</p>
        <p>The Constitution requires the Government to furnish Parliament with information regarding the preparation of matters within the EU. Government must also hear the views of Parliament regarding matters on the agenda of the Union and must explain and justify the policies which it adopts within the EU on various issues. It is a constitutional requirement that the Government and each individual Minister enjoys the confidence of Parliament in all of their activities.</p>
        <p>The Committee also scrutinize implementing and delegated acts as well as the Government’s handling of court cases before the European Court of Justice. The EU system is scrutinized by issuing (reasoned) opinions to the EU institutions.</p>
    </div>
</template>