<template>
    <div class="d-flex flex-column flex-grow-1">
        <div class="breadcrumb-container">
        <Breadcrumbs :breadcrumbs="breadcrumbs" :breadcurrent="pagetitle"/>
        </div>
        <ContentHeader :hasThumbnail="false" :imgSrc="'/icons/ipx-icon-deadline-large.svg'" :imgCaption="'This is the thumbnail caption.'" :title="'Deadlines'" :description="'You will find below Dossiers with deadlines and their linked procedures and documents. adipisicing elit. Quis quisquam quae libero ad ipsa harum voluptatibus aspernatur debitis nostrum aut mollitia enim placeat distinctio consectetur sapiente ea. Quis quisquam quae libero ad ipsa harum voluptatibus aspernatur debitis nostrum'"/>
        <div class="container-regular ipx-content">
            <section class="deadlines is-expiring">
                <h2 role="button" class="section-title ipx-collapse-section-title d-flex align-items-start justify-content-between mt-0">
                    Expiring indicative deadlines
                    <button type="button" class="btn d-inline-flex justify-content-center align-items-center p-0 ml-4">
                        <i class="material-icons md-36">keyboard_arrow_down</i>
                    </button>
                </h2>
                <div class="ipx-card-list">
                    <div class="ipx-card ipx-card-exp" v-if="item.isExp" v-for="(item, index) in DeadlineData.documents" :key="index" v-bind:class="{ 'is-expiring': item.isExp }">
                        <a href="/" class="ipx-card-content">
                            <h3 class="ipx-card-title d-flex flex-column flex-sm-row align-items-start align-items-sm-center">
                                <span class="flex-shrink-0 flex-grow-1">{{item.reference}}</span>
                                <span class="date d-flex align-items-center mt-1 mt-sm-0"><i class="material-icons">arrow_forward</i>{{item.deadline}}</span>
                            </h3>
                            <p class="ipx-card-description">
                                {{item.title}}
                            </p>
                            <div class="d-flex justify-content-between p-0 flex-wrap">
                                <div class="deadline-activity">
                                    <h4>Documents</h4>
                                    <ul>
                                        <li v-for="(element, index) in item.documents" :key="index">
                                            <a href="#" :title="'View Document '+element">{{element}}</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="text-center">
                    <button class="btn btn-load">
                        View all expiring deadlines
                    </button>
                </div>
            </section>
            <section class="deadlines">
                <h2 role="button" class="section-title ipx-collapse-section-title d-flex align-items-start justify-content-between mt-0">
                    New procedures - Subject to a deadline
                    <button type="button" class="btn d-inline-flex justify-content-center align-items-center p-0 ml-4">
                        <i class="material-icons md-36">keyboard_arrow_down</i>
                    </button>
                </h2>
                <div class="ipx-card-list">
                    <div class="ipx-card ipx-card-exp" v-if="!item.isExp" v-for="(item, index) in DeadlineData.documents" :key="index" v-bind:class="{ 'is-expiring': item.isExp }">
                        <a href="/" class="ipx-card-content">
                            <h3 class="ipx-card-title d-flex flex-column flex-sm-row align-items-start align-items-sm-center">
                                <span class="flex-shrink-0 flex-grow-1">{{item.reference}}</span>
                                <span class="date d-flex align-items-center mt-1 mt-sm-0"><i class="material-icons">arrow_forward</i>{{item.deadline}}</span>
                            </h3>
                            <p class="ipx-card-description">
                                {{item.title}}
                            </p>
                            <div class="d-flex justify-content-between p-0 flex-wrap">
                                <div class="deadline-activity">
                                    <h4>Documents</h4>
                                    <ul>
                                        <li v-for="(element, index) in item.documents" :key="index">
                                            <a href="#">{{element}}</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="text-center">
                    <button class="btn btn-load">
                        New procedures with deadlines
                    </button>
                </div>
            </section>
        </div>
    </div>
</template>

<script>
import Breadcrumbs from "~/components/navigation/Breadcrumbs";
import ContentHeader from "~/components/layout/ContentHeader";
import ContentLanding from "~/components/layout/ContentLanding";
import IpexWidget from "~/components/IpexWidget"
import LoadMore from "~/components/LoadMore"
import DeadlineData from "~/data/DeadlineData.json"

export default {
  layout: "default",
  components: {
    Breadcrumbs,
    ContentHeader,
    ContentLanding,
    IpexWidget,
    LoadMore
  },
  data() {
    return {
      page: "landing",
      pagetitle: "Deadlines",
      DeadlineData: DeadlineData,
      breadcrumbs: [
        {
          text: "Home",
          link: "/"
        },
        {
          text: "Documents",
          link: "/documents"
        }
      ]
    }
  }
}
</script>