<template>
    <div class="d-flex flex-column flex-grow-1">
        <div class="breadcrumb-container">
            <Breadcrumbs :breadcrumbs="breadcrumbs" :breadcurrent="pagetitle"/>
        </div>
        <ContentHeaderDocument/>
        <div class="container-regular flex-grow-1 ipx-content">
            <section>
                <h1 class="page-title">
                    COM/2006/0147FIN
                </h1>
                
                <p class="lead pt-3 pb-2">
                Proposal for a Council Regulation concerning the implementation of the Agreement concluded by the EC following negotiations in the framework of Article XXIV.6 of GATT 1994, amending Annex I to Regulation (EEC) No 2658/87 on the tariff and statistical nomenclature and on the Common Customs Tariff 
                </p>
                
                <div class="d-flex justify-content-between p-0 flex-wrap pt-3 mb-4">
                    <div class="document-activity mr-5">
                        <div>
                            <span title="1 Reasoned opinion has been sent" class="btn btn-opinion ipx-tag shadow-sm">
                                <span class="tag-symbol">R</span>
                                    <span class="tag-count">3</span>
                                    <span class="sr-only">3 reasoned opinions have been sent</span>
                            </span>
                            <span>
                                3 reasoned opinions have been sent
                            </span>
                        </div>
                        <div>
                            <span title="Political Dialogue" class="btn btn-dialog ipx-tag shadow-sm">
                                <span class="tag-symbol">D</span>
                                <span class="tag-count">2</span>
                                <span class="sr-only">2 Political Dialogues</span>
                            </span>
                            <span>
                                2 political dialogues
                            </span>
                        </div>
                        <div>
                            <span title="There is important information to exchange" class="btn btn-exchange ipx-tag shadow-sm">
                                <span class="tag-symbol">E</span>
                                <span class="tag-count">1</span>
                                <span class="sr-only">1 important information to exchange</span>
                            </span>
                            <span>
                                1 important information to exchange
                            </span>
                        </div>
                    </div>
                    <TimelineDocument/>
                </div>
                 <div class="badges-categories">
                    <a href="#" title="See EC"><span class="badge">EC</span></a>
                    <a href="#" title="See European Semester"><span class="badge">European Semester</span></a>
                </div>
            </section>
            <section class="noprint">
                <ExternalContents/>
            </section>
            <section>
                <h2 role="button" class="section-title ipx-collapse-section-title d-flex align-items-start justify-content-between mt-0" aria-expanded="true">
                    Scrutinies
                    <button type="button" class="btn d-inline-flex justify-content-center align-items-center p-0 ml-4">
                        <i class="material-icons md-36">keyboard_arrow_down</i>
                    </button>
                </h2>
                <div class="ipx-collapse-section-content">
                    <FiltersScrutinies/>
                    <Scrutinies/>
                </div>
            </section>
            <section>
                <h2 role="button" class="section-title ipx-collapse-section-title d-flex align-items-start justify-content-between mt-0">
                    Languages
                    <button type="button" class="btn d-inline-flex justify-content-center align-items-center p-0 ml-4">
                        <i class="material-icons md-36">keyboard_arrow_down</i>
                    </button>
                </h2>
                <div class="ipx-collapse-section-content">
                    <Languages/>
                </div>
            </section>
            <section>
                <h2 class="section-title ipx-collapse-section-title d-flex align-items-center justify-content-between mt-0" role="button" aria-expanded="true">
                    List of files sorted by languages
                    <button type="button" class="btn d-inline-flex justify-content-center align-items-center p-0">
                        <i class="material-icons md-36">keyboard_arrow_down</i>
                    </button>
                </h2>
                <ListFilesByLanguages/>
            </section>
            <section>
                <h2 role="button" class="section-title ipx-collapse-section-title d-flex align-items-start justify-content-between mt-0" aria-expanded="true">
                    Example of a title for a collapsible box. Action should on the entire title (not only button)
                    <button type="button" class="btn d-inline-flex justify-content-center align-items-center p-0 ml-4">
                        <i class="material-icons md-36">keyboard_arrow_down</i>
                    </button>
                </h2>
                <div class="ipx-collapse-section-content">
                    <p>This is the collapsible box content, wrapped in a div. You should I guess use an id for that div to be targeted. You should also add a class to the h2.section-title specifying that content is collapsed or not.</p>
                </div>
            </section>
            <section>
                <h2 role="button" class="section-title ipx-collapse-section-title d-flex align-items-start justify-content-between mt-0" aria-expanded="true">
                    Other documents (8)
                    <button type="button" class="btn d-inline-flex justify-content-center align-items-center p-0 ml-4">
                        <i class="material-icons md-36">keyboard_arrow_down</i>
                    </button>
                </h2>
                <div class="ipx-collapse-section-content">
                <ul class="ipx-list-files ipx-list-2col justify-content-between collapse show" :id="idcol">
                <li class="ipx-card-link">      
                    <a href="#" class="ipx-link-title"><span class="file-type file-type-pdf">pdf</span>Invitation</a>
                    <div class="file-metas">
                        <div class="lang-tags">
                            <span>EN</span> +
                            <span>FR</span>
                        </div>
                        <span class="file-size">| 381 KB | 04/12/2018</span>
                    </div>
                </li>
                <li class="ipx-card-link">      
                    <a href="#" class="ipx-link-title"><span class="file-type file-type-doc">doc</span>Draft Programme EUSC (12.02.)</a>
                    <div class="file-metas">
                        <div class="lang-tags">
                            <span>EN</span> +
                            <span>FR</span>
                        </div>
                        <span class="file-size">| 381 KB | 04/12/2018</span>
                    </div>
                </li>
                <li class="ipx-card-link">      
                    <a href="#" class="ipx-link-title"><span class="file-type file-type-pdf">pdf</span>Draft agenda Presidential troika</a>
                    <div class="file-metas">
                        <div class="lang-tags">
                            <span>EN</span> +
                            <span>FR</span>
                        </div>
                        <span class="file-size">| 381 KB | 04/12/2018</span>
                    </div>
                </li>
                <li class="ipx-card-link">      
                    <a href="#" class="ipx-link-title"><span class="file-type file-type-pdf">pdf</span>General Information EUSC</a>
                    <div class="file-metas">
                        <div class="lang-tags">
                            <span>EN</span> +
                            <span>FR</span>
                        </div>
                        <span class="file-size">| 381 KB | 04/12/2018</span>
                    </div>
                </li>
                <li class="ipx-card-link">      
                    <a href="#" class="ipx-link-title"><span class="file-type file-type-doc">doc</span>Conclusions on IPEX 2018</a>
                    <div class="file-metas">
                        <div class="lang-tags">
                            <span>EN</span> +
                            <span>FR</span>
                        </div>
                        <span class="file-size">| 381 KB | 04/12/2018</span>
                    </div>
                </li>
                <li class="ipx-card-link">      
                    <a href="#" class="ipx-link-title"><span class="file-type file-type-pdf">pdf</span>IPEX Statistical Report 2018 (23.01.)</a>
                    <div class="file-metas">
                        <div class="lang-tags">
                            <span>EN</span> +
                            <span>FR</span>
                        </div>
                        <span class="file-size">| 381 KB | 04/12/2018</span>
                    </div>
                </li>
                <li class="ipx-card-link">      
                    <a href="#" class="ipx-link-title"><span class="file-type file-type-doc">doc</span>List of participants final EN, FR (30.01.)</a>
                    <div class="file-metas">
                        <div class="lang-tags">
                            <span>EN</span> +
                            <span>FR</span>
                        </div>
                        <span class="file-size">| 381 KB | 04/12/2018</span>
                    </div>
                </li>
                <li class="ipx-card-link">      
                    <a href="#" class="ipx-link-title"><span class="file-type file-type-pdf">pdf</span>Minutes of the Meeting of the Secretaries General of the European Union Parliaments (21.02.)</a>
                    <div class="file-metas">
                        <div class="lang-tags">
                            <span>EN</span> +
                            <span>FR</span>
                        </div>
                        <span class="file-size">| 381 KB | 04/12/2018</span>
                    </div>
                </li>
            </ul>
            </div>
            </section>
            <section>
                <h2 role="button" class="section-title ipx-collapse-section-title d-flex align-items-start justify-content-between mt-0" aria-expanded="true">
                    Classification
                    <button type="button" class="btn d-inline-flex justify-content-center align-items-center p-0 ml-4">
                        <i class="material-icons md-36">keyboard_arrow_down</i>
                    </button>
                </h2>
                <div class="ipx-collapse-section-content row">
                    <div class="col-sm-6">
                        <h5 class="pt-sm-0">EUROVOC descriptors</h5>
                        <ul class="ipx-list-links">
                            <li>
                                <a href="#" class="external-link">Atmospheric pollutant</a>
                            </li>
                            <li>
                                <a href="#" class="external-link">Consumption</a>
                            </li>
                            <li>
                                <a href="#" class="external-link">Environmental monitoring</a>
                            </li>
                            <li>
                                <a href="#" class="external-link">Environmental policy</a>
                            </li>
                            <li>
                                <a href="#" class="external-link">Motor vehicle pollution</a>
                            </li>
                            <li>
                                <a href="#" class="external-link">Petroleum product</a>
                            </li>
                            <li>
                                <a href="#" class="external-link">Pollution</a>
                            </li>
                            <li>
                                <a href="#" class="external-link">Vehicle fleet</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-6">
                        <h5 class="pt-sm-0">Subject matters</h5>
                        <ul class="ipx-list-links">      
                            <li>
                                <a href="#" class="external-link">Monitoring of atmospheric pollution</a>
                            </li>
                            <li>
                                <a href="#" class="external-link">Motor vehicles</a>
                            </li>
                            <li>
                                <a href="#" class="external-link">Relations in the context of the General Agreement on Tariffs and Trade (GATT)</a>
                            </li>
                            <li>
                                <a href="#" class="external-link">Asian countries</a>
                            </li>
                            <li>
                                <a href="#" class="external-link">Tariff classification</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
        </div>
    </div>
</template>

<script>
import Breadcrumbs from "~/components/navigation/Breadcrumbs";
import ContentHeaderDocument from "~/components/layout/ContentHeaderDocument";
import ContentLanding from "~/components/layout/ContentLanding";
import IpexWidget from "~/components/IpexWidget"
import TimelineDocument from "~/components/documents/TimelineDocument"
import ExternalContents from "~/components/documents/ExternalContents"
import FiltersScrutinies from "~/components/documents/FiltersScrutinies"
import Scrutinies from "~/components/documents/Scrutinies"
import Languages from "~/components/documents/Languages"
import ListFiles from "~/components/ListFiles"
import ListFilesByLanguages from "~/components/ListFilesByLanguages"

export default {
  layout: "default",
  components: {
    Breadcrumbs,
    ContentHeaderDocument,
    ContentLanding,
    IpexWidget,
    TimelineDocument,
    ExternalContents,
    FiltersScrutinies,
    Scrutinies,
    Languages,
    ListFiles,
    ListFilesByLanguages
  },
  data() {
    return {
      page: "landing",
      pagetitle: "COM/2006/0147FIN",
      breadcrumbs: [
        {
          text: "Home",
          link: "/"
        },
        {
          text: "Documents",
          link: "/"
        }
      ]
    }
  }
}
</script>
