<template>
    <div class="d-flex flex-column flex-grow-1">
        <div class="breadcrumb-container">
            <Breadcrumbs :breadcrumbs="breadcrumbs" :breadcurrent="pagetitle"/>
        </div>
        <ContentHeaderDocument class="yellow-card" :imgSrc="'/img/ipx-icon-news.svg'" :imgAlt="'This is the alt attribute for the image'" :imgCaption="'This is the thumbnail caption.'" :title="'Landing page template'" :description="'This is a landing page description. Nostrum sint distinctio iusto soluta corrupti suscipit ipsam atque modi exercitationem minus Inventore sapiente reiciendis omnis repellendus perspiciatis totam ducimus ipsum pariatur.'"/>
        <div class="container-regular flex-grow-1 ipx-content">
            <section>
                <h1 class="page-title">
                    COM/2006/0147FIN
                </h1>
                <p class="lead pt-3 pb-2">
                Proposal for a Council Regulation concerning the implementation of the Agreement concluded by the EC following negotiations in the framework of Article XXIV.6 of GATT 1994, amending Annex I to Regulation (EEC) No 2658/87 on the tariff and statistical nomenclature and on the Common Customs Tariff 
                </p>
                <div class="d-flex justify-content-between p-0 flex-wrap pt-3 mb-4">
                    <div class="document-activity mr-5">
                        <div>
                            <button type="button" class="btn btn-opinion rounded ipx-tag shadow-sm">
                                <span>R</span>
                                <span class="sr-only">Reasoned opinion</span>
                            </button>
                            <span>
                                <strong>3</strong> reasoned opinions have been sent
                            </span>
                        </div>
                        <div>
                            <button type="button" class="btn btn-dialog rounded ipx-tag shadow-sm">
                                <span>D</span>
                                <span class="sr-only">Political dialogue</span>
                            </button>
                            <span>
                                <strong>2</strong> political dialogues
                            </span>
                        </div>
                        <div>
                            <button type="button" class="btn btn-exchange rounded ipx-tag shadow-sm">
                                <span>E</span>
                                <span class="sr-only">Information</span>
                            </button>
                            <span>
                                <strong>1</strong>
                                <em>important information to exchange</em> notification
                            </span>
                        </div>
                    </div>
                    <TimelineDocument/>
                </div>
            </section>
            <section>
                <ExternalContents/>
            </section>
            <section>
                <h2 class="section-title">Scrutinies</h2>
                <FiltersScrutinies/>
                <Scrutinies/>
            </section>
            <section>
                <h2 class="section-title">Languages</h2>
                <Languages/>
            </section>
            <section>
                <h2 class="section-title">Other documents (8)</h2>
                <ul class="ipx-list-files ipx-list-2col collapse show" id="collapseFiles">
                <li>
                    <a href="#">Invitation</a>
                    <div class="file-metas d-flex align-items-center">
                        <span class="file-type file-type-pdf">pdf</span>
                        <div class="lang-tags">
                            <span>EN</span>
                        </div>
                        <span class="file-size">381 KB / 04/12/2018</span>
                    </div>
                </li>
                <li>
                    <a href="#">Draft Programme EUSC (12.02.)</a>
                    <div class="file-metas d-flex align-items-center">
                        <span class="file-type file-type-pdf">pdf</span>
                        <div class="lang-tags">
                            <span>EN</span>
                        </div>
                        <span class="file-size">435 KB / 04/12/2018</span>
                    </div>
                </li>
                <li>
                    <a href="#">Draft agenda Presidential troika</a>
                    <div class="file-metas d-flex align-items-center">
                        <span class="file-type file-type-doc">doc</span>
                        <div class="lang-tags">
                            <span>EN</span>
                        </div>
                        <span class="file-size">311 KB / 04/12/2018</span>
                    </div>
                </li>
                <li> 
                    <a href="#">General Information EUSC</a>
                    <div class="file-metas d-flex align-items-center">
                        <span class="file-type file-type-pdf">pdf</span>
                        <div class="lang-tags">
                            <span>EN</span>
                        </div>
                        <span class="file-size">319 KB / 04/12/2018</span>
                    </div>
                </li>
                <li>
                    <a href="#">Conclusions on IPEX 2018 test</a>
                    <div class="file-metas d-flex align-items-center">
                        <span class="file-type file-type-pdf">pdf</span>
                        <div class="lang-tags">
                            <span>EN</span>
                        </div>
                        <span class="file-size">232 KB / 04/12/2018</span>
                    </div>
                </li>
                <li>
                    <a href="#">IPEX Statistical Report 2018 (23.01.)</a>
                    <div class="file-metas d-flex align-items-center">
                        <span class="file-type file-type-doc">doc</span>
                        <div class="lang-tags">
                            <span>EN</span>
                        </div>
                        <span class="file-size">150 KB / 04/12/2018</span>
                    </div>
                </li>
                <li>
                    <a href="#">List of participants final EN, FR (30.01.)</a>
                    <div class="file-metas d-flex align-items-center">
                        <span class="file-type file-type-doc">doc</span>
                        <div class="lang-tags">
                            <span>EN</span>
                        </div>
                        <span class="file-size">347 KB / 04/12/2018</span>
                    </div>
                </li>
                <li>      
                    <a href="#">Minutes of the Meeting of the Secretaries General of the European Union Parliaments (21.02.)</a>
                    <div class="file-metas d-flex align-items-center">
                        <span class="file-type file-type-pdf">pdf</span>
                        <div class="lang-tags">
                            <span>EN</span>
                            <span>FR</span>
                        </div>
                        <span class="file-size">427 KB / 04/12/2018</span>
                    </div>
                </li>
            </ul>
            </section>
            <section>
                <h2 class="section-title">Classification</h2>
                <div class="row">
                    <div class="col-sm-6">
                        <h5 class="pt-sm-0">EUROVOC descriptors</h5>
                        <ul class="ipx-list-links">
                            <li>
                                <a href="#" class="external-link">Atmospheric pollutant</a>
                            </li>
                            <li>
                                <a href="#" class="external-link">Consumption</a>
                            </li>
                            <li>
                                <a href="#" class="external-link">Environmental monitoring</a>
                            </li>
                            <li>
                                <a href="#" class="external-link">Environmental policy</a>
                            </li>
                            <li>
                                <a href="#" class="external-link">Motor vehicle pollution</a>
                            </li>
                            <li>
                                <a href="#" class="external-link">Petroleum product</a>
                            </li>
                            <li>
                                <a href="#" class="external-link">Pollution</a>
                            </li>
                            <li>
                                <a href="#" class="external-link">Vehicle fleet</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-6">
                        <h5 class="pt-sm-0">Subject matters</h5>
                        <ul class="ipx-list-links">      
                            <li>
                                <a href="#" class="external-link">Monitoring of atmospheric pollution</a>
                            </li>
                            <li>
                                <a href="#" class="external-link">Motor vehicles</a>
                            </li>
                            <li>
                                <a href="#" class="external-link">Relations in the context of the General Agreement on Tariffs and Trade (GATT)</a>
                            </li>
                            <li>
                                <a href="#" class="external-link">Asian countries</a>
                            </li>
                            <li>
                                <a href="#" class="external-link">Tariff classification</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
        </div>
    </div>
</template>

<script>
import Breadcrumbs from "~/components/navigation/Breadcrumbs";
import ContentHeaderDocument from "~/components/layout/ContentHeaderDocument";
import ContentLanding from "~/components/layout/ContentLanding";
import IpexWidget from "~/components/IpexWidget"
import TimelineDocument from "~/components/documents/TimelineDocument"
import ExternalContents from "~/components/documents/ExternalContents"
import FiltersScrutinies from "~/components/documents/FiltersScrutinies"
import Scrutinies from "~/components/documents/Scrutinies"
import Languages from "~/components/documents/Languages"
import ListFiles from "~/components/ListFiles"

export default {
  layout: "default",
  components: {
    Breadcrumbs,
    ContentHeaderDocument,
    ContentLanding,
    IpexWidget,
    TimelineDocument,
    ExternalContents,
    FiltersScrutinies,
    Scrutinies,
    Languages,
    ListFiles
  },
  data() {
    return {
      page: "landing",
      pagetitle: "COM/2006/0147FIN",
      breadcrumbs: [
        {
          text: "Home",
          link: "/"
        },
        {
          text: "Documents",
          link: "/"
        }
      ]
    }
  }
}
</script>
