<template>
    <div class="d-flex flex-column flex-grow-1">
        <div class="breadcrumb-container">
        <Breadcrumbs :breadcrumbs="breadcrumbs" :breadcurrent="pagetitle"/>
        </div>
        <ContentHeader :hasThumbnail="false" :imgSrc="'/img/ipx-icon-folder.svg'" :imgCaption="'This is the thumbnail caption.'" :title="'Dossier ACC/2007/0060'" :description="'Proposal for a Council Regulation concerning the implementation of the Agreement concluded by the EC following negotiations in the framework of Article XXIV.6 of GATT 1994, amending Annex I to Regulation (EEC) No 2658/87 on the tariff and statistical nomenclature and on the Common Customs Tariff'"/>
        <div class="container-regular ipx-content">
            <section class="d-none">
                <div class="ipx-card-list ipx-card-list-2col">
                    <div class="ipx-card ipx-card-high" v-for="(item, index) in HotData.documents" v-if="item.isHot" :key="index" v-bind:class="{ 'is-yellow': item.yellowcard }">
                        <a href="/" class="ipx-card-content">
                            <h3>
                                {{item.reference}}
                                <span title="Yellow card" class="btn btn-yellowcard rounded ipx-tag shadow-sm ml-sm-2" v-if="item.yellowcard">Y<span class="sr-only">Yellow card</span></span>
                            </h3>
                            <p class="ipx-card-description">
                                {{item.title}}
                            </p>
                            <div class="document-activity mr-5 mt-3">
                                <div v-if="item.opinion">
                                    <button type="button" class="btn btn-opinion rounded ipx-tag shadow-sm">
                                        <span>R</span>
                                        <span class="sr-only">Reasoned opinion</span>
                                    </button>
                                    <span>
                                        <strong>{{item.opinion}}</strong> reasoned opinions have been sent
                                    </span>
                                </div>
                                <div v-if="item.dialogue">
                                    <button type="button" class="btn btn-dialog rounded ipx-tag shadow-sm">
                                        <span>D</span>
                                        <span class="sr-only">Political dialogue</span>
                                    </button>
                                    <span>
                                        <strong>{{item.dialogue}}</strong> political dialogues
                                    </span>
                                </div>
                                <div v-if="item.exchange">
                                    <button type="button" class="btn btn-exchange rounded ipx-tag shadow-sm">
                                        <span>E</span>
                                        <span class="sr-only">Information</span>
                                    </button>
                                    <span>
                                        <strong>{{item.exchange}}</strong>
                                        <em>important information to exchange</em> notification
                                    </span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                
            </section>
            <section>
                <div class="ipx-card-list">
                    <div class="ipx-card ipx-card-high" v-for="(item, index) in HotData.documents" v-if="item.isHot" :key="index" v-bind:class="{ 'is-yellow': item.yellowcard }">
                        <a href="/" class="ipx-card-content w-100 p-4">
                            <h3 class="ipx-card-title d-flex flex-column flex-sm-row">
                                <span class="flex-shrink-0">COM/2006/0147FIN<span title="Yellow card" class="btn btn-yellowcard rounded ipx-tag shadow-sm ml-sm-2" v-if="item.yellowcard">Y<span class="sr-only">Yellow card</span></span></span>
                                
                            </h3>
                            <p class="ipx-card-description">
                                Proposal for a Council Regulation concerning the implementation of the Agreement concluded by the EC
                                following negotiations in the framework of Article XXIV.6 of GATT 1994, amending Annex I to Regulation (EEC)
                                No 2658/87 on the tariff and statistical nomenclature and on the Common Customs Tariff.
                            </p>
                            <div class="d-flex justify-content-between p-0 flex-wrap pt-3 mt-3">
                                <div class="document-activity mr-5">
                                    <div v-if="item.opinion">
                                        <button type="button" class="btn btn-opinion ipx-tag shadow-sm">
                                            <span>R</span>
                                            <span class="sr-only">Reasoned opinion</span>
                                        </button>
                                        <span>
                                            <strong>{{item.opinion}}</strong> reasoned opinions have been sent
                                        </span>
                                    </div>
                                    <div v-if="item.dialogue">
                                        <button type="button" class="btn btn-dialog ipx-tag shadow-sm">
                                            <span>D</span>
                                            <span class="sr-only">Political dialogue</span>
                                        </button>
                                        <span>
                                            <strong>{{item.dialogue}}</strong> political dialogues
                                        </span>
                                    </div>
                                    <div v-if="item.exchange">
                                        <button type="button" class="btn btn-exchange ipx-tag shadow-sm">
                                            <span>E</span>
                                            <span class="sr-only">Information</span>
                                        </button>
                                        <span>
                                            <strong>{{item.exchange}}</strong>
                                            <em>important information to exchange</em> notification
                                        </span>
                                    </div>
                                </div>
                                <div class="timeline flex-grow-1 d-none align-items-center my-4 my-lg-0">
                                    <div class="adoption-block">
                                        <span>Adoption</span>
                                        <span class="date">02/01/19</span>
                                    </div>
                                    <div class="line flex-grow-1">
                                        <div class="progress">
                                            <div role="progressbar" :aria-valuenow="item.progress" aria-valuemin="0" aria-valuemax="100" class="progress-bar bg-success" :style="'width:'+item.progress+'%'"></div>
                                        </div>
                                        <div class="tl-event type-today" :style="'left: calc('+item.progress+'% - 0px);'" title="23/09/2019">
                                            <span style="height:70px;">Today</span>
                                        </div>
                                    </div>
                                    <div class="deadline-block">
                                        <span>Subsidiarity<br>deadline</span>
                                        <span class="date">{{item.deadline}}</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </section>
        </div>
    </div>
</template>

<script>
import Breadcrumbs from "~/components/navigation/Breadcrumbs";
import ContentHeader from "~/components/layout/ContentHeader";
import ContentLanding from "~/components/layout/ContentLanding";
import IpexWidget from "~/components/IpexWidget"
import LoadMore from "~/components/LoadMore"
import HotData from "~/data/HotData.json"

export default {
  layout: "default",
  components: {
    Breadcrumbs,
    ContentHeader,
    ContentLanding,
    IpexWidget,
    LoadMore
  },
  data() {
    return {
      page: "landing",
      pagetitle: "Dossier",
      HotData: HotData,
      breadcrumbs: [
        {
          text: "Home",
          link: "/"
        }
      ]
    }
  }
}
</script>