<template>
    <div class="d-flex flex-column flex-grow-1">
        <div class="breadcrumb-container">
        <Breadcrumbs :breadcrumbs="breadcrumbs" :breadcurrent="pagetitle"/>
        </div>
        <ContentHeader :imgSrc="'/icons/ipx-icon-highactivity-large.svg'" :imgAlt="'This is the alt attribute for the image'" :imgCaption="'This is the thumbnail caption.'" :title="'Documents with high activity'" :description="'Nostrum sint distinctio iusto soluta corrupti suscipit ipsam atque modi exercitationem minus Inventore sapiente reiciendis omnis repellendus perspiciatis totam ducimus ipsum pariatur.'"/>
        <div class="container-regular flex-grow-1 ipx-content">
            <section>
                <div class="ipx-card-list">
                    <div class="ipx-card ipx-card-high" v-for="(item, index) in HotData.documents" v-if="item.isHot" :key="index" v-bind:class="{ 'is-yellow': item.yellowcard }">
                        <a href="/" class="ipx-card-content w-100 p-4">
                            <h3 class="ipx-card-title d-flex flex-column flex-sm-row">
                                <span class="flex-shrink-0">COM/2006/0147FIN<span title="Yellow card" class="btn btn-yellowcard rounded ipx-tag shadow-sm ml-sm-2" v-if="item.yellowcard">Y<span class="sr-only">Yellow card</span></span></span>
                            </h3>
                            <p class="ipx-card-description">
                                Proposal for a Council Regulation concerning the implementation of the Agreement concluded by the EC
                                following negotiations in the framework of Article XXIV.6 of GATT 1994, amending Annex I to Regulation (EEC)
                                No 2658/87 on the tariff and statistical nomenclature and on the Common Customs Tariff.
                            </p>
                            <div class="d-flex justify-content-between p-0 flex-wrap pt-3 mt-3">
                                <div class="document-activity mr-5">
                                <div>
                                    <span title="3 reasoned opinions have been sent" class="btn btn-opinion ipx-tag shadow-sm">
                                        <span class="tag-symbol">R</span>
                                        <span class="tag-count">3</span>
                                        <span class="sr-only">3 Reasoned opinions</span>
                                    </span>
                                    <span>
                                        3 reasoned opinions have been sent
                                    </span>
                                </div>
                                <div>
                                    <span title="Political Dialogue" class="btn btn-dialog ipx-tag shadow-sm">
                                        <span class="tag-symbol">D</span>
                                        <span class="tag-count">2</span>
                                        <span class="sr-only">2 Political Dialogues</span>
                                    </span>
                                    <span>
                                        2 political dialogues
                                    </span>
                                </div>
                                <div>
                                    <span title="There is important information to exchange" class="btn btn-exchange ipx-tag shadow-sm">
                                        <span class="tag-symbol">E</span>
                                        <span class="tag-count">1</span>
                                        <span class="sr-only">1 important information to exchange</span>
                                    </span>
                                    <span>
                                        1 important information to exchange
                                    </span>
                                </div>
                            </div>
                                <div class="timeline flex-grow-1 d-flex align-items-center my-4 my-lg-0">
                                    <div class="adoption-block">
                                        <span>Adoption</span>
                                        <span class="date">02/01/19</span>
                                    </div>
                                    <div class="line flex-grow-1">
                                        <div class="progress">
                                            <div role="progressbar" :aria-valuenow="item.progress" aria-valuemin="0" aria-valuemax="100" class="progress-bar bg-success" :style="'width:'+item.progress+'%'"></div>
                                        </div>
                                        <div class="tl-event type-today" :style="'left: calc('+item.progress+'% - 0px);'" title="23/09/2019">
                                            <span style="height:70px;">Today</span>
                                        </div>
                                    </div>
                                    <div class="deadline-block">
                                        <span>Subsidiarity<br>deadline</span>
                                        <span class="date">{{item.deadline}}</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <LoadMore/>
            </section>
            <section class='d-none'>
                <div class="ipx-card-list ipx-card-list-2col">
                    <div class="ipx-card ipx-card-high" v-for="(item, index) in HotData.documents" v-if="item.isHot" :key="index" v-bind:class="{ 'is-yellow': item.yellowcard }">
                        <a href="/" class="ipx-card-content">
                            <h3>
                                {{item.reference}}
                                <span title="Yellow card" class="btn btn-yellowcard shadow-sm" v-if="item.yellowcard">
                                    Y<span class="sr-only">Yellow card</span>
                                </span>
                                <span title="Orange card" class="btn btn-orangecard shadow-sm" v-if="item.orangecard">
                                    O<span class="sr-only">Orange card</span>
                                </span>
                            </h3>
                            <p class="ipx-card-description">
                                {{item.title}}
                            </p>
                            <div class="timeline flex-grow-1 d-flex align-items-center my-4">
                                <div class="adoption-block">
                                    <span>Adoption</span>
                                    <span class="date">02/01/19</span>
                                </div>
                                <div class="line flex-grow-1">
                                    <div class="progress">
                                        <div role="progressbar" :aria-valuenow="item.progress" aria-valuemin="0" aria-valuemax="100" class="progress-bar bg-success" :style="'width:'+item.progress+'%'"></div>
                                    </div>
                                    <div class="tl-event type-today" :style="'left: calc('+item.progress+'% - 0px);'" title="23/09/2019">
                                        <span style="height:70px;">Today</span>
                                    </div>
                                </div>
                                <div class="deadline-block">
                                    <span>Subsidiarity<br>deadline</span>
                                    <span class="date">{{item.deadline}}</span>
                                </div>
                            </div>
                            <div class="document-activity mr-5">
                                <div v-if="item.opinion">
                                    <button type="button" class="btn btn-opinion ipx-tag shadow-sm">
                                        <span>R</span>
                                        <span class="sr-only">Reasoned opinion</span>
                                    </button>
                                    <span>
                                        <strong>{{item.opinion}}</strong> reasoned opinions have been sent
                                    </span>
                                </div>
                                <div v-if="item.dialogue">
                                    <button type="button" class="btn btn-dialog ipx-tag shadow-sm">
                                        <span>D</span>
                                        <span class="sr-only">Political dialogue</span>
                                    </button>
                                    <span>
                                        <strong>{{item.dialogue}}</strong> political dialogues
                                    </span>
                                </div>
                                <div v-if="item.exchange">
                                    <button type="button" class="btn btn-exchange ipx-tag shadow-sm">
                                        <span>E</span>
                                        <span class="sr-only">Information</span>
                                    </button>
                                    <span>
                                        <strong>{{item.exchange}}</strong>
                                        <em>important information to exchange</em> notification
                                    </span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <LoadMore/>
            </section>
        </div>
    </div>
</template>

<script>
import Breadcrumbs from "~/components/navigation/Breadcrumbs";
import ContentHeader from "~/components/layout/ContentHeader";
import ContentLanding from "~/components/layout/ContentLanding";
import IpexWidget from "~/components/IpexWidget"
import LoadMore from "~/components/LoadMore"
import HotData from "~/data/HotData.json"

export default {
  layout: "default",
  components: {
    Breadcrumbs,
    ContentHeader,
    ContentLanding,
    IpexWidget,
    LoadMore
  },
  data() {
    return {
      page: "landing",
      pagetitle: "Documents with high activity",
      HotData: HotData,
      breadcrumbs: [
        {
          text: "Home",
          link: "/"
        }
      ]
    }
  }
}
</script>