<template>
  <div class="d-flex flex-column flex-grow-1">
    <div class="ongoing">
      <div class="container-large d-flex justify-content-center">
          [ONGOING WORK] This page is not yet done and cannot be used as a reference.
      </div>
    </div>
    <div class="breadcrumb-container">
      <Breadcrumbs :breadcrumbs="breadcrumbs" :breadcurrent="pagetitle"/>
    </div>
    <ContentHeaderSearch :imgSrc="'/icons/ipx-icon-documents-large.svg'" :imgAlt="'This is the alt attribute for the image'" :imgCaption="'This is the thumbnail caption.'" :title="'Search legislative database'" :description="'This is a landing page description. Nostrum sint distinctio iusto soluta corrupti suscipit ipsam atque modi exercitationem minus Inventore sapiente reiciendis omnis repellendus perspiciatis totam ducimus ipsum pariatur.'"/>
    <div class="container-regular flex-grow-1 ipx-content">
        <section>
            <h2 class="section-title">Your criteria</h2>
            <form>
                <div class="form-row">
                    <h2 class="section-title col-12 mt-3">Scrutiny information</h2>
                    <div class="form-group col-md-6">
                        <label class="has-help" for="inputChamber">Chamber<span class="material-icons help-icon ml-2 md-18" data-toggle="popover" title="Reasoned opinion" data-content="A reasoned opinion has been sent by a national PArliament" data-placement="top">help</span></label>
                        <select id="inputChamber" class="form-control select-ipex">
                            <option selected>All</option>
                            <option>...</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="has-help" for="inputType">Type<span class="material-icons help-icon ml-2 md-18" data-toggle="popover" title="Reasoned opinion" data-content="A reasoned opinion has been sent by a national PArliament" data-placement="top">help</span></label>
                        <select id="inputType" class="form-control select-ipex">
                            <option selected>All</option>
                            <option>...</option>
                        </select>
                    </div>
                    <div class="d-flex col-12 mt-3">
                        <div class="">
                            <div class="custom-control custom-switch my-2" v-on:click="deadlineActive = !deadlineActive">
                                <input type="checkbox" class="custom-control-input" id="customSwitch1" v-on:click="deadlineActive = !deadlineActive">
                                <label class="custom-control-label d-flex align-items-center ml-0" for="customSwitch1">Reasoned opinion<span class="material-icons help-icon ml-2 md-18" data-toggle="popover" title="Reasoned opinion" data-content="A reasoned opinion has been sent by a national PArliament" data-placement="top">help</span></label>
                            </div>
                            <div class="custom-control custom-switch my-2">
                                <input type="checkbox" class="custom-control-input" id="customSwitch2">
                                <label class="custom-control-label d-flex align-items-center ml-0" for="customSwitch2">Political dialogue<span class="material-icons help-icon ml-2 md-18" data-toggle="popover" title="Reasoned opinion" data-content="A reasoned opinion has been sent by a national PArliament" data-placement="top">help</span></label>
                            </div>
                            <div class="custom-control custom-switch my-2">
                                <input type="checkbox" class="custom-control-input" id="customSwitch3">
                                <label class="custom-control-label d-flex align-items-center ml-0" for="customSwitch3">Veto<span class="material-icons help-icon ml-2 md-18" data-toggle="popover" title="Reasoned opinion" data-content="A reasoned opinion has been sent by a national PArliament" data-placement="top">help</span></label>
                            </div>
                            
                        </div>
                        <div class="flex-grow-1 ml-5">
                            <h5 class="has-help pt-0">Transmitted by NP<span class="material-icons help-icon ml-2 md-18" data-toggle="popover" title="Reasoned opinion" data-content="A reasoned opinion has been sent by a national PArliament" data-placement="top">help</span></h5>
                            <div class="d-flex flex-grow-1 mt-3">
                                <div class="form-group mb-0 mr-3 d-flex align-items-center">
                                    <label class="ml-0 my-0" for="From1">From</label>
                                    <input type="date" class="form-control ml-2" id="From1">
                                </div>
                                <div class="form-group mb-0 d-flex align-items-center">
                                    <label class="my-0" for="To1">To</label>
                                    <input type="date" class="form-control ml-2" id="To1">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="page-divider my-5 w-50 mx-auto border"></div>
                <div class="form-row">
                    <div class="col-12">
                        <h2 class="section-title">Procedure information</h2>
                        <h3 class="form-sub-section">Dossier</h3>
                    </div>
                    <div class="form-group col">
                        <label class="has-help" for="inputEmail4">Code<span class="material-icons help-icon ml-2 md-18" data-toggle="popover" title="Reasoned opinion" data-content="A reasoned opinion has been sent by a national PArliament" data-placement="top">help</span></label>
                        <select id="inputState" class="form-control select-ipex">
                            <option selected>All</option>
                            <option>...</option>
                        </select>
                    </div>
                    <div class="form-group col">
                        <label class="has-help" for="inputPassword4">Year<span class="material-icons help-icon ml-2 md-18" data-toggle="popover" title="Reasoned opinion" data-content="A reasoned opinion has been sent by a national PArliament" data-placement="top">help</span></label>
                        <select id="inputState" class="form-control select-ipex">
                            <option selected>All</option>
                            <option>...</option>
                        </select>
                    </div>
                    <div class="form-group col-sm-7">
                        <label class="has-help" for="inputNumber">Number<span class="material-icons help-icon ml-2 md-18" data-toggle="popover" title="Reasoned opinion" data-content="A reasoned opinion has been sent by a national PArliament" data-placement="top">help</span></label>
                        <input type="text" class="form-control" id="inputNumber" placeholder="Type a number">
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 mt-3">
                        <h3 class="form-sub-section">Document</h3>
                    </div>
                    
                    <div class="col" v-bind:class="{ 'grayedout': !deadlineActive }">
                        <h5 class="has-help">Subject to deadline<span class="material-icons help-icon ml-2 md-18" data-toggle="popover" title="Reasoned opinion" data-content="A reasoned opinion has been sent by a national PArliament" data-placement="top">help</span></h5>
                        <div class="d-flex flex-grow-1 mt-3">
                            <div class="form-group mr-3 d-flex align-items-center">
                                <label class="ml-0 my-0" for="From2">From</label>
                                <input type="date" class="form-control ml-2" id="From2" :disabled=!deadlineActive>
                            </div>
                            <div class="form-group d-flex align-items-center">
                                <label class="my-0" for="To2">To</label>
                                <input type="date" class="form-control ml-2" id="To2" :disabled=!deadlineActive>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="d-flex align-items-center">
                            <h5 class="has-help">NP threshold reached for card<span class="material-icons help-icon ml-2 md-18" data-toggle="popover" title="Reasoned opinion" data-content="A reasoned opinion has been sent by a national PArliament" data-placement="top">help</span></h5>
                        </div>
                        <div class="mt-2 d-flex align-items-center flex-shrink-0">
                            <button type="button" class="btn btn-card-yellow" v-bind:class="{ 'is-selected': isActive1 }" v-on:click="isActive1 = !isActive1">Yellow</button>
                            <button type="button" class="btn btn-card-orange ml-3" v-bind:class="{ 'is-selected': isActive2 }" v-on:click="isActive2 = !isActive2">Orange</button>
                        </div>
                    </div>
                </div>
            </form>
            <div class="text-center">
                <button type="submit" class="btn btn-action btn-search btn-flash" v-bind:class="{ 'disabled': !gdprOk }">Search</button>
            </div>
        </section>
    </div>
  </div>
</template>

<script>
import Breadcrumbs from "~/components/navigation/Breadcrumbs";
import ContentHeaderSearch from "~/components/layout/ContentHeaderSearch";
import IpexWidget from "~/components/IpexWidget"

export default {
  layout: "default",
  components: {
    Breadcrumbs,
    ContentHeaderSearch,
    IpexWidget
  },
  mounted: function() {
      $('[data-toggle="popover"]').popover(),
      $('body').on('click', function (e) {
          if ($(e.target).data('toggle') !== 'popover'
              && $(e.target).parents('.popover.in').length === 0) { 
              $('[data-toggle="popover"]').popover('hide');
          }
      })
    },
  data() {
    return {
      page: "landing",
      pagetitle: "Search legislative database",
      deadlineActive : true,
      gdprOk : true,
      isActive1 : false,
      isActive2 : false,
      breadcrumbs: [
        {
          text: "Home",
          link: "/"
        },
        {
          text: "Documents",
          link: "/"
        }
      ]
    }
  }
}
</script>