<template>
    <div class="d-flex flex-column flex-grow-1">
        <div class="breadcrumb-container">
            <Breadcrumbs :breadcrumbs="breadcrumbs" :breadcurrent="pagetitle"/>
        </div>
        <ContentHeaderScrutiny :imgSrc="'/img/ipx-icon-news.svg'" :imgAlt="'This is the alt attribute for the image'" :imgCaption="'This is the thumbnail caption.'" :title="'Landing page template'" :description="'This is a landing page description. Nostrum sint distinctio iusto soluta corrupti suscipit ipsam atque modi exercitationem minus Inventore sapiente reiciendis omnis repellendus perspiciatis totam ducimus ipsum pariatur.'"/>
        <div class="container-regular flex-grow-1 ipx-content">
            <section>
                <h2 class="section-title mb-0">
                    COM/2006/0147FIN
                </h2>
                <div class="dossier-ref d-flex align-items-center">
                    <i class="material-icons mr-2">folder_open</i>
                    <a href="/documents/dossier" title="Go to the dossier">Dossier ACC/2007/0060</a>
                </div>
                <p class="lead pt-3 pb-2">
                Proposal for a Council Regulation concerning the implementation of the Agreement concluded by the EC following negotiations in the framework of Article XXIV.6 of GATT 1994, amending Annex I to Regulation (EEC) No 2658/87 on the tariff and statistical nomenclature and on the Common Customs Tariff 
                </p>
                <div>
                    <ul class="ipx-list has-bullets">
                        <li id="Eventreferral">
                            <a href="#" target="_blank">
                                <strong class="mr-2">Letter of referral:</strong>29/01/2019
                            </a>
                        </li>
                        <li>
                            <strong class="mr-2">Adoption date:</strong>
                            <a href="#" target="_blank">02/01/19</a>
                        </li>
                        <li class="d-none">
                            <strong class="mr-2">Related documents:</strong>
                            <a class="mr-2" href="#" target="_blank">SWD/2017/0189</a>
                            <a class="mr-2" href="#" target="_blank">SWD/2017/0188</a>
                            <a class="mr-2" href="#" target="_blank">COM/2017/0279</a>
                        </li> 
                    </ul>
                </div>
                <h2 class="section-title">Scrutiny information</h2>
                <ul class="ipx-list has-bullets">
                    <li>
                        <strong class="mr-2">Scrutiny title:</strong>Lorem ipsum test
                    </li>
                    <li>
                        <strong class="mr-2">Subsidiarity deadline:</strong>02/04/19
                    </li>
                    <li>
                        <strong class="mr-2">Subsidiarity Concern:</strong>
                    </li>
                    <li>
                        <strong class="mr-2">Important information to exchange:</strong>No
                    </li>
                    <li>
                        <strong class="mr-2">Veto:</strong>No
                    </li>
                </ul>
                <h2 class="section-title">
                    Information on parliamentary scrutiny
                </h2>
                <p>Referred to Committees on:</p>
                <ul class="ipx-list has-bullets">
                    <li>European Union Questions</li>
                    <li>Agricultural Policy and Consumer protection</li>
                    <li>Environment, Nature protection and Reactor Safety</li>
                    <li>Economic Affairs</li>
                </ul>
                <h2 class="section-title">Linked files</h2>
                <ul class="ipx-list-files ipx-list-2col collapse show" id="collapseFiles">
                    <li>
                        <a href="#">Invitation</a>
                        <div class="file-metas d-flex align-items-center">
                            <span class="file-type file-type-pdf">pdf</span>
                            <div class="lang-tags">
                                <span>EN</span>
                            </div>
                            <span class="file-size">381 KB / 04/12/2018</span>
                        </div>
                    </li>
                    <li>
                        <a href="#">Draft Programme EUSC (12.02.)</a>
                        <div class="file-metas d-flex align-items-center">
                            <span class="file-type file-type-pdf">pdf</span>
                            <div class="lang-tags">
                                <span>EN</span>
                            </div>
                            <span class="file-size">435 KB / 04/12/2018</span>
                        </div>
                    </li>
                    <li>
                        <a href="#">Draft agenda Presidential troika</a>
                        <div class="file-metas d-flex align-items-center">
                            <span class="file-type file-type-doc">doc</span>
                            <div class="lang-tags">
                                <span>EN</span>
                            </div>
                            <span class="file-size">311 KB / 04/12/2018</span>
                        </div>
                    </li>
                    <li>
                        <a href="#">Draft agenda Presidential troika</a>
                        <div class="file-metas d-flex align-items-center">
                            <span class="file-type file-type-doc">doc</span>
                            <div class="lang-tags">
                                <span>EN</span>
                            </div>
                            <span class="file-size">311 KB / 04/12/2018</span>
                        </div>
                    </li>
                    <li>
                        <a href="#">Draft Programme EUSC (12.02.)</a>
                        <div class="file-metas d-flex align-items-center">
                            <span class="file-type file-type-pdf">pdf</span>
                            <div class="lang-tags">
                                <span>EN</span>
                            </div>
                            <span class="file-size">435 KB / 04/12/2018</span>
                        </div>
                    </li>
                </ul>
                </section>
                <section>
                <h2 class="section-title">
                    Lisbon Treaty procedures
                </h2>
                <p>On 7 February 2019, the Bureau of the Joint Committee for EU Affairs decided to appoint a rapporteur to examine the compliance of the initiative with the principle of subsidiarity.</p>
                <div id="Event2" class="lisbon-block dialog">
                    <div>
                        <button type="button" class="btn btn-dialog ipx-tag shadow-sm" title="Political dialogue">
                        
                        <span>Political dialogue</span>
                        </button>
                    </div>
                    <p class="lisbon-block-description">26/02/2019 | Report 8/2019 of 26/02/2019 on COM (2019) 38 final</p>
                    <p>On 26 February 2019, the Joint Committee for EU Affairs adopted a Resolution regarding the compliance of the initiative with the principle of subsidiarity.</p>
                    <p>The Resolution states that the proposal is in accordance with the principle of subsidiarity.</p>
                    <ul class="ipx-list">
                        <li>
                            <a href="#">Report 8/2019 of 26/02/2019 on COM (2019) 38 final (ES)</a>
                        </li>
                    </ul>
                </div>
                <div id="Event1" class="lisbon-block opinion">
                    <div>
                        <button type="button" class="btn btn-opinion ipx-tag shadow-sm" title="Political dialogue">
                            <span>Reasoned opinion</span>
                        </button>
                    </div>
                    <p class="lisbon-block-description">26/02/2019 | Report 8/2019 of 26/02/2019</p>
                    <p>The Resolution states that the proposal is in accordance with the principle of subsidiarity.</p>
                </div>
            </section>
            <div class="page-divider my-4 w-50 mx-auto border"></div>
            <section>
                <h2 class="section-title">Contact point for EU matters</h2>
                <div class="ipx-card-list">
                    <div class="ipx-card ipx-person-card ipx-nolink-card">
                        <div class="ipx-card-content d-flex flex-column">
                        <h5 class="pt-0 ipx-contact-name d-flex justify-content-between">Ms. Carmen Sanchez Abarca <span class="flag flag-md mr-2 ml-2 flag-es"></span></h5>
                        <span class="chamber">Cortes Generales</span>
                        <span class="d-none d-sm-flex email">
                            Email:
                            <a href="mailto:carmen.sanchezabarca@natparl.ep.europa.eu" title="Send an email">carmen.sanchezabarca@natparl.ep.europa.eu</a>
                        </span>
                        <span class="d-none d-sm-flex phone">
                            Phone:
                            <a href="tel:+32 2 28 44596" title="Call this number">+32 2 28 44596</a>
                        </span>
                        <div class="buttons d-flex align-items-end flex-grow-1 mt-3">
                            <a href="mailto:carmen.sanchezabarca@natparl.ep.europa.eu" class="btn btn-disc d-flex d-md-none mr-2" title="Send an email">
                            <i class="material-icons">mail</i>
                            </a>
                            <a href="tel:+32 2 28 44596" title="Call this number" class="btn btn-disc d-flex d-md-none mr-2">
                            <i class="material-icons">phone</i>
                            </a>
                            <div class="d-flex flex-grow-1 justify-content-end justify-content-md-start">
                            <a
                                class="btn btn-sm btn-icon-start export-vcard justify-self-end p-0 d-flex flex-row"
                            >
                                <i class="material-icons mr-2">contact_mail</i>Export v-card
                            </a>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</template>

<script>
import Breadcrumbs from "~/components/navigation/Breadcrumbs";
import ContentHeaderScrutiny from "~/components/layout/ContentHeaderScrutiny";
import ContentLanding from "~/components/layout/ContentLanding";
import IpexWidget from "~/components/IpexWidget"

import ExternalContents from "~/components/documents/ExternalContents"
import FiltersScrutinies from "~/components/documents/FiltersScrutinies"
import Scrutinies from "~/components/documents/Scrutinies"
import Languages from "~/components/documents/Languages"
import ListFiles from "~/components/ListFiles"

export default {
  layout: "default",
  components: {
    Breadcrumbs,
    ContentHeaderScrutiny,
    ContentLanding,
    IpexWidget,
   
    ExternalContents,
    FiltersScrutinies,
    Scrutinies,
    Languages,
    ListFiles
  },
  data() {
    return {
      page: "landing",
      pagetitle: "Cortes Generales",
      breadcrumbs: [
        {
          text: "Home",
          link: "/"
        },
        {
          text: "Documents",
          link: "/"
        }
      ]
    }
  }
}
</script>
