<template>
    <div>
        <div v-for="(chamber, index) in chambers" :key="index">
            <div class="d-flex flex-column flex-grow-1 visual-layout parliament-theme" v-if="chamber.chambercode == parlcode">
              <div class="breadcrumb-container">
                <nav class="container-regular noprint" aria-label="breadcrumb">
                  <ol class="breadcrumb ipx-breadcrumb ipextest">
                        <li class="breadcrumb-item">
                            <nuxt-link to="/">Home</nuxt-link>
                        </li>
                        <li class="breadcrumb-item">
                            <nuxt-link to="/list-parliaments">Parliaments</nuxt-link>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">{{chamber.chambername}}</li>
                    </ol>
                </nav>
              </div>
              <div class="bg-intro intro" :style="'background:linear-gradient(-45deg,rgba(23,82,135,.6) -20%,rgba(23,82,135,.85)),url(/parliaments/'+chamber.chambercode+'/'+chamber.banner+');background-size:cover;background-position:center;'">
                  <div class="container-regular d-flex flex-column">
                      <div class="d-flex justify-content-between flex-column flex-md-row align-items-start align-items-md-center mt-4">
                          <div class="d-flex align-items-start">
                            <img class="flag mr-3" :src="'/img/flags/'+chamber.countrycode+'.svg'" alt="">
                            <h1 class="flex-grow-1">{{chamber.chambername}}</h1>
                          </div>
                          <div class="sharing-title mt-3 mt-md-0">
                            <a target="_blank" v-if="chamber.socialmedia.facebook" :href="chamber.socialmedia.facebook" class="share-facebook" :title="chamber.chambername+' on Facebook'">
                                <svg xmlns='http://www.w3.org/2000/svg' width='512' height='512' viewBox='0 0 512 512'><title>{{chamber.chambername}} on Facebook</title><path d='M455.27,32H56.73A24.74,24.74,0,0,0,32,56.73V455.27A24.74,24.74,0,0,0,56.73,480H256V304H202.45V240H256V189c0-57.86,40.13-89.36,91.82-89.36,24.73,0,51.33,1.86,57.51,2.68v60.43H364.15c-28.12,0-33.48,13.3-33.48,32.9V240h67l-8.75,64H330.67V480h124.6A24.74,24.74,0,0,0,480,455.27V56.73A24.74,24.74,0,0,0,455.27,32Z'/></svg>
                            </a>
                            <a target="_blank" v-if="chamber.socialmedia.twitter" :href="chamber.socialmedia.twitter" class="share-twitter" :title="chamber.chambername+' on Twitter'">
                                <svg xmlns='http://www.w3.org/2000/svg' width='512' height='512' viewBox='0 0 512 512'><title>{{chamber.chambername}} on Twitter</title><path d='M496,109.5a201.8,201.8,0,0,1-56.55,15.3,97.51,97.51,0,0,0,43.33-53.6,197.74,197.74,0,0,1-62.56,23.5A99.14,99.14,0,0,0,348.31,64c-54.42,0-98.46,43.4-98.46,96.9a93.21,93.21,0,0,0,2.54,22.1,280.7,280.7,0,0,1-203-101.3A95.69,95.69,0,0,0,36,130.4C36,164,53.53,193.7,80,211.1A97.5,97.5,0,0,1,35.22,199v1.2c0,47,34,86.1,79,95a100.76,100.76,0,0,1-25.94,3.4,94.38,94.38,0,0,1-18.51-1.8c12.51,38.5,48.92,66.5,92.05,67.3A199.59,199.59,0,0,1,39.5,405.6,203,203,0,0,1,16,404.2,278.68,278.68,0,0,0,166.74,448c181.36,0,280.44-147.7,280.44-275.8,0-4.2-.11-8.4-.31-12.5A198.48,198.48,0,0,0,496,109.5Z'/></svg>
                            </a>
                            <a target="_blank" v-if="chamber.socialmedia.linkedin" :href="chamber.socialmedia.linkedin" class="share-linkedin" :title="chamber.chambername+' on Linked In'">
                                <svg xmlns='http://www.w3.org/2000/svg' width='512' height='512' viewBox='0 0 512 512'><title>{{chamber.chambername}} on LinkedIn</title><path d='M444.17,32H70.28C49.85,32,32,46.7,32,66.89V441.61C32,461.91,49.85,480,70.28,480H444.06C464.6,480,480,461.79,480,441.61V66.89C480.12,46.7,464.6,32,444.17,32ZM170.87,405.43H106.69V205.88h64.18ZM141,175.54h-.46c-20.54,0-33.84-15.29-33.84-34.43,0-19.49,13.65-34.42,34.65-34.42s33.85,14.82,34.31,34.42C175.65,160.25,162.35,175.54,141,175.54ZM405.43,405.43H341.25V296.32c0-26.14-9.34-44-32.56-44-17.74,0-28.24,12-32.91,23.69-1.75,4.2-2.22,9.92-2.22,15.76V405.43H209.38V205.88h64.18v27.77c9.34-13.3,23.93-32.44,57.88-32.44,42.13,0,74,27.77,74,87.64Z'/></svg>
                            </a>
                            <a target="_blank" v-if="chamber.socialmedia.instagram" :href="chamber.socialmedia.instagram" class="share-instagram" :title="chamber.chambername+' on Instagram'">
                                <svg xmlns='http://www.w3.org/2000/svg' width='512' height='512' viewBox='0 0 512 512'><title>{{chamber.chambername}} on Instagram</title><path d='M349.33,69.33a93.62,93.62,0,0,1,93.34,93.34V349.33a93.62,93.62,0,0,1-93.34,93.34H162.67a93.62,93.62,0,0,1-93.34-93.34V162.67a93.62,93.62,0,0,1,93.34-93.34H349.33m0-37.33H162.67C90.8,32,32,90.8,32,162.67V349.33C32,421.2,90.8,480,162.67,480H349.33C421.2,480,480,421.2,480,349.33V162.67C480,90.8,421.2,32,349.33,32Z'/><path d='M377.33,162.67a28,28,0,1,1,28-28A27.94,27.94,0,0,1,377.33,162.67Z'/><path d='M256,181.33A74.67,74.67,0,1,1,181.33,256,74.75,74.75,0,0,1,256,181.33M256,144A112,112,0,1,0,368,256,112,112,0,0,0,256,144Z'/></svg>
                            </a>
                            <a target="_blank" v-if="chamber.socialmedia.youtube" :href="chamber.socialmedia.youtube" class="share-youtube" :title="chamber.chambername+' on Youtube'">
                                <svg xmlns='http://www.w3.org/2000/svg' width='512' height='512' viewBox='0 0 512 512'><title>{{chamber.chambername}} on Youtube</title><path d="M472,147.4c-5.3-19-20.1-33.8-39.1-39.1c-35-9.4-176-9.4-176-9.4s-140.6-0.2-176,9.4c-19,5.3-33.8,20.1-39.1,39.1
                                  c-6.6,35.9-9.9,72.3-9.8,108.7c-0.1,36.3,3.2,72.6,9.8,108.3c5.3,19,20.1,33.8,39.1,39.1c35,9.4,176,9.4,176,9.4s140.6,0,176-9.4
                                  c19-5.3,33.8-20.1,39.1-39.1c6.5-35.7,9.6-72,9.4-108.3C481.6,219.7,478.5,183.3,472,147.4z M211.9,323.4V188.6l117.3,67.5
                                  L211.9,323.4z"/>
                                </svg>
                            </a>
                            <a target="_blank" v-if="chamber.socialmedia.vimeo" :href="chamber.socialmedia.vimeo" class="share-vimeo" :title="chamber.chambername+' on Vimeo'">
                                <svg xmlns='http://www.w3.org/2000/svg' width='512' height='512' viewBox='0 0 512 512'><title>{{chamber.chambername}} on Vimeo</title><path d="M479.4,150.7c-2,43.6-32.4,103.4-91.3,179.3c-61,79.2-112.4,118.9-154.7,118.9c-26.3,0-48.1-24.1-66.3-72.4l-35.8-132.7
                                  c-13.4-48.2-27.8-72.4-43.1-72.4c-3.3,0-15,7.1-35.1,21.1L32,165.3c22.1-19.5,43.9-38.9,65.3-58.4c29.5-25.5,51.6-38.9,66.3-40.3
                                  c34.8-3.4,56.3,20.5,64.3,71.6c8.7,55.1,14.7,89.4,18.1,102.8c10.1,45.7,21.1,68.6,33.1,68.6c9.4,0,23.4-14.9,42.3-44.5
                                  c18.7-29.6,28.7-52.2,30.1-67.7c2.7-25.6-7.4-38.5-30.1-38.5c-10.7,0-21.8,2.3-33.2,7.3C310.4,94,352.4,58.8,414.5,61
                                  c46.1,1.1,67.7,31,65.2,89.5C479.6,150.5,479.4,150.7,479.4,150.7z"/>
                                </svg>
                            </a>
                            <a target="_blank" v-if="chamber.socialmedia.flickr" :href="chamber.socialmedia.flickr" class="share-flickr" :title="chamber.chambername+' on Flickr'">
                                <svg xmlns='http://www.w3.org/2000/svg' width='512' height='512' viewBox='0 0 512 512'><title>{{chamber.chambername}} on Flickr</title><path d="M32,257C32,313.9,78.2,360,135.1,360c57,0,103.2-46.1,103.2-103.1s-46.2-103.1-103.2-103.1C78.2,153.9,32,200,32,257z
                                  M270.3,257c0,56.9,46.2,103.1,103.1,103.1c56.7,0,103.1-46.1,103.1-103.1s-46.2-103.1-103.1-103.1C316.5,153.9,270.3,200,270.3,257
                                  z"/>
                                </svg>
                            </a>
                            <a target="_blank" v-if="chamber.socialmedia.telegram" :href="chamber.socialmedia.telegram" class="share-telegram" :title="chamber.chambername+' on Telegram'">
                                <svg xmlns='http://www.w3.org/2000/svg' width='512' height='512' viewBox='0 0 512 512'><title>{{chamber.chambername}} on Telegram</title><path d="M477.5,101.7l-67.2,317.6c-4.7,22.5-18.3,27.9-37.3,17.5L270.6,361L221,408.8c-5.6,5.6-10.2,10.4-20.5,10.4
                                  c-13.4,0-11.2-5-15.6-17.7l-35.4-115.3L48,254.6c-22-6.5-22.2-21.6,4.8-32.6l396-152.7c18.1-8,35.4,4.5,28.5,32.2L477.5,101.7z"/>
                                </svg>
                            </a>
                          </div>
                      </div>
                      <div class="d-flex align-items-start p-4 w-100 shadow-sm white-box mt-4 mb-3 flex-wrap flex-md-nowrap"> 
                          <div class="p-2"  :class="{hasalot : chamber.contactpoints.length > 3}">
                              <h5 class="w-100 pt-0">Contact point for EU matters</h5>
                              <div v-for="(contact, index) in chamber.contactpoints" :key="index" class="contactpoint">
                                
                                <div class="my-2" v-if="chamber.contactpoints.length < 4">
                                  <h5 class="name">{{contact.title}} {{contact.firstname}} {{contact.name}}</h5>
                                  <div class="email">
                                      <span class="mr-1">Email:</span>
                                      <a :href="'mailto:'+contact.email" title="Send an email">{{contact.email}}</a>
                                  </div>
                                  <div class="phone">
                                      <span class="mr-1">Phone:</span>
                                      <a :href="'tel:'+contact.phone" title="Call this number">{{contact.phone}}</a>
                                  </div>
                                </div>
                                <a-tooltip v-else placement="top" overlayClassName="ipx-tooltip ipx-tooltip-align-left" trigger="click">
                                    <template slot="title">
                                    <div>
                                        <h5 class="name">{{contact.title}} {{contact.firstname}} {{contact.name}}</h5>
                                        <div class="email">
                                            Email:
                                            <a :href="'mailto:'+contact.email" title="Send an email">{{contact.email}}</a>
                                        </div>
                                        <div class="phone">
                                            Phone:
                                            <a :href="'tel:'+contact.phone" title="Call this number">{{contact.phone}}</a>
                                        </div>
                                    </div>
                                    </template>
                                    <h5 class="name">{{contact.title}} {{contact.firstname}} {{contact.name}}</h5>
                                </a-tooltip>
                              </div>
                          </div>
                          <div class="featured-image mt-5 ml-md-5 mt-md-0">
                              <a :data-fancybox="'gallery-'+chamber.chambercode" :href="'/parliaments/'+chamber.chambercode+'/'+chamber.featured_image">
                                  <img :src="'/parliaments/'+chamber.chambercode+'/'+chamber.featured_image" :alt="chamber.chambername">
                                  <i class="material-icons md-36">
                                  zoom_in
                                  </i>
                              </a>
                              <span class="legend">{{chamber.featured_image_description}}</span>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="container-regular flex-grow-1 ipx-content">
                  <section>
                      <div class="d-flex flex-column">
                          <div class="alert parliament-websites shadow-sm d-flex flex-column w-100">
                              <div class="d-flex flex-column flex-md-row">
                                    <div class="d-flex flex-column flex-grow-1">
                                        <h2 class="section-title">At a glance</h2>
                                        <p class="summary mb-4">{{chamber.summary}}</p>
                                    </div>
                                    <div class="d-flex align-items-start justify-content-center justify-content-md-start flex-shrink-0 p-3 mb-3 mb-md-0 ml-md-3">
                                        <img :src="'/parliaments/'+chamber.chambercode+'/'+chamber.logourl" :alt="chamber.chambername">
                                    </div>
                                </div>
                                <div class="website-links">
                                    <h4 v-if="chamber.websites.length == 1" class="mb-2 pt-0">Parliament website</h4>
                                    <h4 v-else class="mb-2 pt-0">Parliament websites</h4>
                                    <div class="d-flex flex-wrap">
                                        <a target="_blank" v-for="(website, index) in chamber.websites" :key="index" :href="website.url" class="d-flex align-items-center">{{website.description}}<i class="material-icons md-18 ml-1">launch</i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section>
                      <a-carousel arrows class="custom-carousel custom-gallery-carousel mb-4">
                          <div slot="prevArrow" class="custom-slick-arrow" style="left: 10px;zIndex: 1">
                              <a-icon type="left-circle" />
                          </div>
                          <div slot="nextArrow" class="custom-slick-arrow" style="right: 10px">
                              <a-icon type="right-circle" />
                          </div>
                          <div v-if="chamber.gallery.length != null">
                              <figure class="img-wrapper" :class="{default: !chamber.gallery[0]}">
                                  <a v-if="chamber.gallery[0]" data-fancybox="conference-gallery" :href="'/parliaments/'+chamber.chambercode+'/'+chamber.gallery[0].url" :data-caption="chamber.gallery[0].description">
                                      <img :src="'/parliaments/'+chamber.chambercode+'/'+chamber.gallery[0].url" :alt="chamber.gallery[0].description">
                                  </a>
                                  <img v-else src="/parliaments/gallery-default.jpg">
                              </figure>
                              <figure class="img-wrapper" :class="{default: !chamber.gallery[1]}">
                                  <a v-if="chamber.gallery[1]" data-fancybox="conference-gallery" :href="'/parliaments/'+chamber.chambercode+'/'+chamber.gallery[1].url" :data-caption="chamber.gallery[1].description">
                                      <img :src="'/parliaments/'+chamber.chambercode+'/'+chamber.gallery[1].url" :alt="chamber.gallery[1].description">
                                  </a>
                                  <img v-else src="/parliaments/gallery-default.jpg">
                              </figure>
                              <figure class="img-wrapper" :class="{default: !chamber.gallery[2]}">
                                  <a v-if="chamber.gallery[2]" data-fancybox="conference-gallery" :href="'/parliaments/'+chamber.chambercode+'/'+chamber.gallery[2].url" :data-caption="chamber.gallery[2].description">
                                      <img :src="'/parliaments/'+chamber.chambercode+'/'+chamber.gallery[2].url" :alt="chamber.gallery[2].description">
                                  </a>
                                  <img v-else src="/parliaments/gallery-default.jpg">
                              </figure>
                              <figure class="img-wrapper" :class="{default: !chamber.gallery[3]}">
                                  <a v-if="chamber.gallery[3]" data-fancybox="conference-gallery" :href="'/parliaments/'+chamber.chambercode+'/'+chamber.gallery[3].url" :data-caption="chamber.gallery[3].description">
                                      <img :src="'/parliaments/'+chamber.chambercode+'/'+chamber.gallery[3].url" :alt="chamber.gallery[3].description">
                                  </a>
                                  <img v-else src="/parliaments/gallery-default.jpg">
                              </figure>
                          </div>
                          <div v-if="chamber.gallery.length > 4">
                              <figure class="img-wrapper" :class="{default: !chamber.gallery[4]}">
                                  <a v-if="chamber.gallery[4]" data-fancybox="conference-gallery" :href="'/parliaments/'+chamber.chambercode+'/'+chamber.gallery[4].url" :data-caption="chamber.gallery[4].description">
                                      <img :src="'/parliaments/'+chamber.chambercode+'/'+chamber.gallery[4].url" :alt="chamber.gallery[4].description">
                                  </a>
                                  <img v-else src="/parliaments/gallery-default.jpg">
                              </figure>
                              <figure class="img-wrapper" :class="{default: !chamber.gallery[5]}">
                                  <a v-if="chamber.gallery[5]" data-fancybox="conference-gallery" :href="'/parliaments/'+chamber.chambercode+'/'+chamber.gallery[5].url" :data-caption="chamber.gallery[5].description">
                                      <img :src="'/parliaments/'+chamber.chambercode+'/'+chamber.gallery[5].url" :alt="chamber.gallery[5].description">
                                  </a>
                                  <img v-else src="/parliaments/gallery-default.jpg">
                              </figure>
                              <figure class="img-wrapper" :class="{default: !chamber.gallery[6]}">
                                  <a v-if="chamber.gallery[6]" data-fancybox="conference-gallery" :href="'/parliaments/'+chamber.chambercode+'/'+chamber.gallery[6].url" :data-caption="chamber.gallery[6].description">
                                      <img :src="'/parliaments/'+chamber.chambercode+'/'+chamber.gallery[6].url" :alt="chamber.gallery[6].description">
                                  </a>
                                  <img v-else src="/parliaments/gallery-default.jpg">
                              </figure>
                              <figure class="img-wrapper" :class="{default: !chamber.gallery[7]}">
                                  <a v-if="chamber.gallery[7]" data-fancybox="conference-gallery" :href="'/parliaments/'+chamber.chambercode+'/'+chamber.gallery[7].url" :data-caption="chamber.gallery[7].description">
                                      <img :src="'/parliaments/'+chamber.chambercode+'/'+chamber.gallery[7].url" :alt="chamber.gallery[7].description">
                                  </a>
                                  <img v-else src="/parliaments/gallery-default.jpg">
                              </figure>
                          </div>
                          <div v-if="chamber.gallery.length > 8">
                              <figure class="img-wrapper" :class="{default: !chamber.gallery[8]}">
                                  <a v-if="chamber.gallery[8]" data-fancybox="conference-gallery" :href="'/parliaments/'+chamber.chambercode+'/'+chamber.gallery[8].url" :data-caption="chamber.gallery[8].description">
                                      <img :src="'/parliaments/'+chamber.chambercode+'/'+chamber.gallery[8].url" :alt="chamber.gallery[8].description">
                                  </a>
                                  <img v-else src="/parliaments/gallery-default.jpg">
                              </figure>
                              <figure class="img-wrapper" :class="{default: !chamber.gallery[9]}">
                                  <a v-if="chamber.gallery[9]" data-fancybox="conference-gallery" :href="'/parliaments/'+chamber.chambercode+'/'+chamber.gallery[9].url" :data-caption="chamber.gallery[9].description">
                                      <img :src="'/parliaments/'+chamber.chambercode+'/'+chamber.gallery[9].url" :alt="chamber.gallery[9].description">
                                  </a>
                                  <img v-else src="/parliaments/gallery-default.jpg">
                              </figure>
                              <figure class="img-wrapper" :class="{default: !chamber.gallery[10]}">
                                  <a v-if="chamber.gallery[10]" data-fancybox="conference-gallery" :href="'/parliaments/'+chamber.chambercode+'/'+chamber.gallery[10].url" :data-caption="chamber.gallery[10].description">
                                      <img :src="'/parliaments/'+chamber.chambercode+'/'+chamber.gallery[10].url" :alt="chamber.gallery[10].description">
                                  </a>
                                  <img v-else src="/parliaments/gallery-default.jpg">
                              </figure>
                              <figure class="img-wrapper" :class="{default: !chamber.gallery[11]}">
                                  <a v-if="chamber.gallery[11]" data-fancybox="conference-gallery" :href="'/parliaments/'+chamber.chambercode+'/'+chamber.gallery[11].url" :data-caption="chamber.gallery[11].description">
                                      <img :src="'/parliaments/'+chamber.chambercode+'/'+chamber.gallery[11].url" :alt="chamber.gallery[11].description">
                                  </a>
                                  <img v-else src="/parliaments/gallery-default.jpg">
                              </figure>
                          </div>
                          <div v-if="chamber.gallery.length > 12">
                              <figure class="img-wrapper" :class="{default: !chamber.gallery[12]}">
                                  <a v-if="chamber.gallery[12]" data-fancybox="conference-gallery" :href="'/parliaments/'+chamber.chambercode+'/'+chamber.gallery[12].url" :data-caption="chamber.gallery[12].description">
                                      <img :src="'/parliaments/'+chamber.chambercode+'/'+chamber.gallery[12].url" :alt="chamber.gallery[12].description">
                                  </a>
                                  <img v-else src="/parliaments/gallery-default.jpg">
                              </figure>
                              <figure class="img-wrapper" :class="{default: !chamber.gallery[13]}">
                                  <a v-if="chamber.gallery[13]" data-fancybox="conference-gallery" :href="'/parliaments/'+chamber.chambercode+'/'+chamber.gallery[13].url" :data-caption="chamber.gallery[13].description">
                                      <img :src="'/parliaments/'+chamber.chambercode+'/'+chamber.gallery[13].url" :alt="chamber.gallery[13].description">
                                  </a>
                                  <img v-else src="/parliaments/gallery-default.jpg">
                              </figure>
                              <figure class="img-wrapper" :class="{default: !chamber.gallery[14]}">
                                  <a v-if="chamber.gallery[14]" data-fancybox="conference-gallery" :href="'/parliaments/'+chamber.chambercode+'/'+chamber.gallery[14].url" :data-caption="chamber.gallery[14].description">
                                      <img :src="'/parliaments/'+chamber.chambercode+'/'+chamber.gallery[14].url" :alt="chamber.gallery[14].description">
                                  </a>
                                  <img v-else src="/parliaments/gallery-default.jpg">
                              </figure>
                              <figure class="img-wrapper" :class="{default: !chamber.gallery[15]}">
                                  <a v-if="chamber.gallery[15]" data-fancybox="conference-gallery" :href="'/parliaments/'+chamber.chambercode+'/'+chamber.gallery[15].url" :data-caption="chamber.gallery[15].description">
                                      <img :src="'/parliaments/'+chamber.chambercode+'/'+chamber.gallery[15].url" :alt="chamber.gallery[15].description">
                                  </a>
                                  <img v-else src="/parliaments/gallery-default.jpg">
                            </figure>
                        </div>
                    </a-carousel>
                </section>
                <section class="parliament-content">
                    <Component :is="content"></Component>
                </section>
                
                <section v-if="chamber.webpages.length > 0">
                    
                     <div class="d-flex flex-column">
                            <h2 class="section-title">Webpages</h2>
<a-select
                                class="filter-input mb-3"
                                show-search
                                dropdownClassName="ant-custom"
                                default-value="All webpages"
                                option-filter-prop="children"
                                @focus="handleFocus"
                                @blur="handleBlur"
                                @change="handleChange"
                            >
                                <a-select-option value="All webpages">
                                    Show all webpages
                                </a-select-option>
                                <a-select-option  v-for="(category, index) in chamber.webpages" :key="index" :value="category.categoryDesc">
                                    {{category.categoryDesc}}
                                </a-select-option>
                            </a-select>
                        
                        </div>
                   
                        
                        
                       
                        
                            <div class="" v-for="(category, index) in chamber.webpages" :key="index">
                                <div class="row" v-if="category.categoryDesc == selectedCat || selectedCat == 'All webpages'">
                                    <div class="col-12">
                                        <h4>{{category.categoryDesc}}</h4>
                                    </div>
                                    <div v-if="category.linksEn.length > 0" class="col-md-6">
                                        <h5 class="sub-section-title">Webpages in English</h5>
                                        <ul class="ipx-list-links ipx-list-links-dense">
                                            <li v-for="(link, index) in category.linksEn" :key="index">
                                                <a :href="link.url" :title="link.displayLabel" target="_blank">{{link.displayLabel}}</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div v-if="category.links.length > 0" class="col-md-6">
                                        <h5 class="sub-section-title">National Webpages</h5>
                                        <ul class="ipx-list-links ipx-list-links-dense">
                                            <li v-for="(link, index) in category.links" :key="index">
                                                <a :href="link.url" :title="link.displayLabel" target="_blank">{{link.displayLabel}}</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                       
                    </section>
                  
                  <section v-if="chamber.publics.length > 0">
                      <div class="page-divider mt-3 mb-1 w-50 mx-auto border"></div>
                      <h2 class="section-title">Public documents</h2>
                      <ul class="ipx-list-files">
                          <li v-for="(link, index) in chamber.publics" :key="index">
                              <a :href="link.fileName" :title="'Download '+link.fileName" download>{{link.name}}</a>
                              <div class="file-metas d-flex align-items-center">
                                  <span :class="{
                                      'file-type-pdf': link.fileFormat == 'PDF',
                                      'file-type-doc': link.fileFormat == 'DOC'
                                    }" class="file-type">{{link.fileFormat}}</span>
                                  <div class="lang-tags">
                                      <span>{{link.language}}</span>
                                  </div>
                                  <span class="file-size">{{(link.size/1000).toFixed(0)}} KB / 01/01/2020</span>
                              </div>
                          </li>
                      </ul>
                  </section>
              </div>
            </div>
        </div>
    </div>
</template>

<script>
 import axios from 'axios'
 import Countries from "@/components/data/Countries.json";
 import Chambers from "@/components/data/parliaments.json";

  export default {  
    computed: {
        content() {
          return () => import(`@/components/data/${this.$route.params.parlcode}/content`)
        },
        thisdata() {
          return () => import(`@/components/data/${this.$route.params.parlcode}/${this.$route.params.parlcode}.json`)
        }
    },
    methods: {
        handleChange(value) {
            this.selectedCat = value;
        },
        hide() {
            console.log(111);
            this.visible = false;
        },
    },
    asyncData ({ params }) {
      return {
        chambers: Chambers.parliaments,
        parlcode: params.parlcode,
        visible: false,
        selectedCat: "All webpages",
        "isLegal": false,
        "isEU": false,
        "isOther": false,
        "isActors": false
      }
    }
  }
</script>

<style>

</style>

  