<template>
  <div class="d-flex flex-column flex-grow-1 visual-layout parliament-theme">
    <div class="breadcrumb-container">
      <nav class="container-regular noprint" aria-label="breadcrumb">
        <ol class="breadcrumb ipx-breadcrumb ipextest">
              <li class="breadcrumb-item">
                  <nuxt-link to="/">Home</nuxt-link>
              </li>
              <li class="breadcrumb-item">
                  <nuxt-link to="/">Parliaments</nuxt-link>
              </li>
              <li class="breadcrumb-item active" aria-current="page">{{parlement}}</li>
          </ol>
      </nav>
    </div>
    <div class="bg-intro intro">
        <div class="container-regular d-flex flex-column">
            <div class="d-flex align-items-center mt-4">
                <img class="flag mr-3 flag-de" src="/img/flags/de.svg" alt="">
                <h1 class="flex-grow-1">{{parlement}}</h1>
            </div>
            <div class="d-flex align-items-start p-4 w-100 shadow-sm white-box mt-4 mb-3 flex-wrap flex-md-nowrap"> 
                <div class="p-2">
                    <h5 class="pt-0">Contact point for EU matters</h5>
                    <div class="mt-3 mb-2">
                        <h5 class="name">Mrs. Joan Doe-Smith</h5>
                        <div class="d-flex email mt-2">
                            Email:
                            <a href="mailto:example@example.com" title="Send an email">example@example.com</a>
                        </div>
                        <div class="d-flex phone mt-1">
                            Phone:
                            <a href="tel:+ 01 (0) 02 03 45678" title="Call this number">+ 01 (0) 02 03 45678</a>
                        </div>
                    </div>
                    <div class="">
                        <h5 class="name">Mrs. Joan Doe-Smith</h5>
                        <div class="d-flex email mt-2">
                            Email:
                            <a href="mailto:example@example.com" title="Send an email">exampleverylongaddress@example.com</a>
                        </div>
                        <div class="d-flex phone mt-1">
                            Phone:
                            <a href="tel:+ 01 (0) 02 03 45678" title="Call this number">+ 01 (0) 02 03 45678</a>
                        </div>
                    </div>
                </div>
                <div class="featured-image mt-5 ml-md-5 mt-md-0">
                    <a data-fancybox="gallery" :href="'/img/parliaments/'+code+'/intro.jpg'">
                        <img :src="'/img/parliaments/'+code+'/intro.jpg'" :alt="parlement">
                        <i class="material-icons md-36">
                        zoom_in
                        </i>
                    </a>
                    <span class="legend">{{parlement}}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="container-regular flex-grow-1 ipx-content">
        <section>
            <div class="d-flex align-items-center">
                <div class="alert parliament-websites shadow-sm d-flex w-100">
                    <div class="d-flex flex-column flex-grow-1">
                        <h5>Parliament website(s):</h5>
                        <div class="d-flex flex-wrap">
                        <a href="#" class="d-flex align-items-center">Bundestag (DE)<i class="material-icons md-18 ml-1">launch</i></a>
                        <a href="#" class="d-flex align-items-center">Bundestag (FR)<i class="material-icons md-18 ml-1">launch</i></a>
                        <a href="#" class="d-flex align-items-center">Bundestag (EN)<i class="material-icons md-18 ml-1">launch</i></a>
                    </div></div>
                    <div>
                        <img src="/img/parliaments/germany/bundestag/logo-bundestag-square.png" alt="German Bundestag">
                    </div>
                </div>
            </div>
            <a-carousel arrows class="custom-carousel custom-gallery-carousel" :afterChange="onChange">
                <div slot="prevArrow" slot-scope="props" class="custom-slick-arrow" style="left: 10px;zIndex: 1">
                    <a-icon type="left-circle" />
                </div>
                <div slot="nextArrow" slot-scope="props" class="custom-slick-arrow" style="right: 10px">
                    <a-icon type="right-circle" />
                </div>
                <div>
                    <figure class="img-wrapper">
                        <a data-fancybox="conference-gallery" href="/img/parliaments/large/germany/bundestag02.jpg">
                            <img src="/img/parliaments/large/germany/bundestag02.jpg" alt="Sample image">
                        </a>
                    </figure>
                    <figure class="img-wrapper">
                        <a data-fancybox="conference-gallery" href="/img/parliaments/large/germany/bundestag03.jpg">
                            <img src="/img/parliaments/large/germany/bundestag03.jpg" alt="Sample image">
                        </a>
                    </figure>
                    <figure class="img-wrapper">
                        <a data-fancybox="conference-gallery" href="/img/parliaments/large/germany/bundestag04.jpg">
                            <img src="/img/parliaments/large/germany/bundestag04.jpg" alt="Sample image">
                        </a>
                    </figure>
                    <figure class="img-wrapper">
                        <a data-fancybox="conference-gallery" href="/img/parliaments/large/germany/bundestag05.jpg">
                            <img src="/img/parliaments/large/germany/bundestag05.jpg" alt="Sample image">
                        </a>
                    </figure>
                </div>
                <div>
                    <figure class="img-wrapper">
                        <a data-fancybox="conference-gallery" href="/img/conference/demo/05.jpg">
                            <img src="/img/conference/demo/05.jpg" alt="Sample image">
                        </a>
                    </figure>
                    <figure class="img-wrapper">
                        <a data-fancybox="conference-gallery" href="/img/conference/demo/06.jpg">
                            <img src="/img/conference/demo/06.jpg" alt="Sample image">
                        </a>
                    </figure>
                    <figure class="img-wrapper">
                        <a data-fancybox="conference-gallery" href="/img/conference/demo/07.jpg">
                            <img src="/img/conference/demo/07.jpg" alt="Sample image">
                        </a>
                    </figure>
                    <figure class="img-wrapper">
                        <a data-fancybox="conference-gallery" href="/img/conference/demo/08.jpg">
                            <img src="/img/conference/demo/08.jpg" alt="Sample image">
                        </a>
                    </figure>
                </div>
                <div>
                    <figure class="img-wrapper">
                        <a data-fancybox="conference-gallery" href="/img/conference/demo/09.jpg">
                            <img src="/img/conference/demo/09.jpg" alt="Sample image">
                        </a>
                    </figure>
                    <figure class="img-wrapper default">
                        <img src="/img/conference/demo/sample-gallery-default.jpg" alt="Sample image">
                    </figure>
                    <figure class="img-wrapper default">
                        <img src="/img/conference/demo/sample-gallery-default.jpg" alt="Sample image">
                    </figure>
                    <figure class="img-wrapper default">
                        <img src="/img/conference/demo/sample-gallery-default.jpg" alt="Sample image">
                    </figure>
                </div>
                <div>
                    <figure class="img-wrapper default">
                        <img src="/img/conference/demo/sample-gallery-default.jpg" alt="Sample image">
                    </figure>
                    <figure class="img-wrapper default">
                        <img src="/img/conference/demo/sample-gallery-default.jpg" alt="Sample image">
                    </figure>
                    <figure class="img-wrapper default">
                        <img src="/img/conference/demo/sample-gallery-default.jpg" alt="Sample image">
                    </figure>
                    <figure class="img-wrapper default">
                        <img src="/img/conference/demo/sample-gallery-default.jpg" alt="Sample image">
                    </figure>
                </div>
            </a-carousel>
        </section>
        <section class="editable">
            <i class="editable-icon material-icons" title="Open the editor">edit</i>
            <h2 class="section-title">At a glance</h2>
            <p>The German Bundestag is the Parliament of the Federal Republic of Germany. Elected every four years in general, direct, free, equal and secret elections by German citizens aged 18 and over, the Bundestag has its seat in Berlin.</p>
            <h2 class="section-title">EU matters</h2>
            <p>On the basis of Article 23 (1) to (3) of the Basic Law for the Federal Republic of Germany, and the scrutiny and participation rights enshrined in this article, the German Bundestag influences EU lawmaking via the Federal Government.</p><p>Before participating in EU legislative acts, the Federal Government shall provide the Bundestag with an opportunity to state its position, and shall take this position into account during the negotiations in the Council of the European Union. In addition, the Treaty of Lisbon enables parliaments to contact the Commission direct and to work together with other national parliaments and the European Parliament.</p>    
            <p>The Bundestag’s scrutiny and participation rights are fleshed out by the Act on Cooperation between the Federal Government and the German Bundestag in Matters concerning the European Union (EUZBBG) and the Responsibility for Integration Act (IntVG).</p>
            <p>In the wake of the Federal Constitutional Court’s judgment of June 2009 on the ratification of the Treaty of Lisbon, the Bundestag received additional participatory and decision making rights in EU affairs as a result of the Responsibility for Integration Act adopted in September 2009. Under this Act, the Federal Government can, in the case of specific EU proposals which fall within the scope of the Bundestag’s special responsibility for integration, only take final action in the Council on the basis of a law passed beforehand, or of a decision taken or instructions issued by the Bundestag. The Responsibility for Integration Act also contains provisions relating to the subsidiarity objection and action (Sections 11 and 12). Under the principle of subsidiarity, the EU shall act only if and in so far as the objectives of the proposed action cannot be sufficiently achieved by the Member States but can rather, by reason of the scale or effects of the proposed action, be better achieved at Union level (Article 5 (3) of the Treaty of Lisbon).</p>
            <p>The Basic Law, which enshrines fundamental rights and determines the structure of the state, stipulates in Article 45 that the Bundestag shall establish a Committee on the Affairs of the European Union in each electoral term. If empowered to do so by the Bundestag, the Committee exercises Parliament’s rights (Article 23) vis-à-vis the Federal Government as well as rights granted to the Bundestag in EU affairs. The Committee on the Affairs of the European Union deals with all aspects of the primary legislation of the European Union, as well as accession and general EU issues. It must be underlined that European affairs are dealt with by all the Bundestag’s committees in line with their tasks and the specialized area for which they are responsible.</p>
            <h3 class="section-title mt-5">Putting scrutiny of draft EU legislation into practice</h3>
            <p>The Administration of the Bundestag – and in particular its Directorate on European Affairs with offices in Berlin and Brussels – supports Members of Parliament, committees and the parliamentary groups in the parliamentary deliberations on EU proposals and in exercising their right to receive information and participatory rights in EU matters on the basis of the EUZBBG and the IntVG. Further regulations are contained in Rules 93, 93a and 93b of the German Bundestag Rules of Procedure. The Directorate on European Affairs is also involved in the implementation of these laws in its role as a liaison between the Bundestag and the Federal Government.</p>
            <p>Information updated on 12.03.2019</p>
        </section>
        <div class="page-divider mt-3 mb-1 w-50 mx-auto border"></div>
        <section>
            <h2 class="section-title">Public documents</h2>
            <ul class="ipx-list-files">
                <li>
                    <a href="#">IPEX Leaflet (EN)</a>
                    <div class="file-metas d-flex align-items-center">
                        <span class="file-type file-type-pdf">pdf</span>
                        <div class="lang-tags">
                            <span>EN</span>
                        </div>
                        <span class="file-size">381 KB / 04/12/2018</span>
                    </div>
                </li>
                <li>
                    <a href="#">Rules of procedure (EN)</a>
                    <div class="file-metas d-flex align-items-center">
                        <span class="file-type file-type-pdf">pdf</span>
                        <div class="lang-tags">
                            <span>EN</span>
                        </div>
                        <span class="file-size">435 KB / 04/12/2018</span>
                    </div>
                </li>
            </ul>
        </section>
    </div>
  </div>
</template>

<script>
import ContentParliamentDetails from "~/components/layout/ContentParliamentDetails";

export default {
  layout: "default",
  components: {
    ContentParliamentDetails,

  },
  data() {
    return {
      page: "landing",
      code: "be",
      parlement: "German Bundestag",
      introcaption: "Intro caption",
      breadcrumbs: [
        {
          text: "Home",
          link: "/"
        },
        {
          text: "Parliaments",
          link: "/"
        }
      ]
    }
  }
}
</script>