<template>
    <div class="ipx-filters d-flex align-items-center flex-wrap">
        <div class="mb-3 mb-sm-0">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="inlineCheckbox1" value="option1"
                    name="example" checked>
                <label class="form-check-label" for="inlineCheckbox1">All</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="inlineCheckbox2" value="option2"
                    name="example">
                <label class="form-check-label" for="inlineCheckbox2">This month</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="inlineCheckbox3" value="option3"
                    name="example">
                <label class="form-check-label" for="inlineCheckbox3">This year</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="inlineCheckbox4" value="option4"
                    name="example">
                <label class="form-check-label" for="inlineCheckbox4">Date range</label>
            </div>
        </div>
        <div class="d-inline-flex flex-grow-1 justify-content-sm-end">
            <a href="#" class="btn btn-sm btn-light">View calendar</a>
        </div>
    </div>
</template>

<script>
    import RadioInline from "~/components/forms/RadioInline";

    export default {
        components: {
            RadioInline
        },
        props: {
            hasDatepicker: {hasDatepicker: Boolean, default: false}
        }
    }
</script>

<style lang="scss">  
</style>