<template>
    <div class="input-group ipx-input-container  d-flex">
        <input type="text" value="Brexit" class="form-control has-button has-append" aria-label="Text input with dropdown button">
        <div class="input-group-append">
            <button class="btn btn-white dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Everything</button>
            <div class="dropdown-menu dropdown-menu-right shadow">
                <a class="dropdown-item active" href="#">Everything</a>
                <a class="dropdown-item" href="#">Documents</a>
                <a class="dropdown-item" href="#">Calendar events</a>
                <a class="dropdown-item" href="#">Parliaments files</a>
                <a class="dropdown-item" href="#">Conferences files</a>
                <a class="dropdown-item" href="#">News</a>
            </div>
        </div>
        <a href="#" class="btn btn-action btn-flash d-flex align-items-center px-4">Search</a>     
    </div>
</template>