<template>
    <div class="ipx-input-container ipx-input-container-large d-flex">
        <input :id="id" type="text" :value="value" :placeholder="placeholder" class="form-control ipx-input-large" :class="{ 'has-button': hasButton }" autofocus>
        <a v-if="hasButton" :href="linkButton" class="btn btn-action btn-flash d-flex align-items-center px-4">
            <span class="d-none d-md-flex">{{button}}</span>
            <i class="material-icons d-flex d-md-none">search</i>
        </a>
    </div>
</template>

<script>
    export default {
        components: {
        },
        props: {
            id: String,
            placeholder: String,
            button: String,
            value: String,
            hasButton: {hasButton: Boolean, default: true},
            linkButton: String
        }
    }
</script>

<style lang="scss">  
</style>