<template>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" :id="id" :value="value" :name="name" checked>
        <label class="form-check-label" :for="id">{{label}}</label>
    </div>
</template>

<script>
    export default {
        components: {
        },
        props: {
            id: String,
            value: String,
            name: String,
            label: String
        }
    }
</script>

<style lang="scss">  
</style>